<div ng-if="card.id" class="adminDareFeed" id="card-{{ ::card.id }}">
    <div ng-if="::card.comment_note_details.event">
        <div class="note-box">
            <div tr-label="note"  class="activity-log-box sti-cursor" ng-click="!loggedIn||openAdminDarePopup(card, isOwnProfile)">
                <div style="position: relative">
                    <span class="stich_comment_time" style="position: relative;float:right;max-width: 50px;right:0;" ng-bind="::(card.comment_note_details.action_time | timeStamp)"></span>
                    <div class="note-text-cnt1">
                        <div class="note-status">
                            <div class="note-action-para">
                                <p class="note-message"><a ui-sref="profile.dares(::{ profileId : card.comment_note_details.from_userId})" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><b class="name-color" ng-bind="::card.comment_note_details.from_user"></b></a><span ng-if="::(card.comment_note_details.count > 0)" > and <span ng-bind = "::card.comment_note_details.count" > </span> other</span><span ng-if="::(card.comment_note_details.count > 1)" >s</span> commented on this DARE</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="admin-dare-boundary" ng-class="{'bookmarked': card.is_bookmarked}">
        <bookmark tr-label="bookmark" ></bookmark>
        <!-- avatar & header -->
        <div style="display:flex;position: relative;">
            <div style="margin: 10px;display: flex; margin-bottom: 0px; width: 100%; ">
                <a ui-sref="profile.dares(::{ profileId : card.user.userId})" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><img style="width: 40px; height: 40px; border-radius: 50%; vertical-align: middle; margin-right: 10px;" lazy-src="{{::card.user.avatar}}" alt=""></a>
                <div style="margin: auto 0; flex: 1;">
                    <div><p style="line-height: 18px;font-size: 13.34px"><a ui-sref="profile.dares(::{ profileId : card.user.userId})" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><span style="color: black; font-weight: bold;">{{::card.user.username | firstWord}}</span></a> took a DARE <span ng-if="::card.admin_dare.isEventDare"> by <a ng-href="#/events/{{::card.admin_dare.eventUniqueName}}" target="_blank"> <span ng-bind="::card.admin_dare.creator" style="color:black;font-weight: bold"></span></a></span></p></div>
                    <div style="font-size: 9.34px; color: #9b9a9a; margin-top: 2px;" ng-show="::loggedIn"><p ng-if="::card.picked_dare" style="font-size: 10.34px; padding-top: 1px;">Picked for You</p><p ng-if="::!card.picked_dare">{{::(card.created_date | timeStamp : true)}}</p></div>
                </div>

                <div tr-label="follow_dare_feed" ng-show="!card.is_following_daree && !card.user.justFollowed && card.user_type != 'daree'" class="user-follow-btn sti-cursor" style="flex-shrink: 0; position: static;font-size: 11.88px;width: 84px; margin-bottom: auto;" ng-click="!loggedIn || followUser(card.user);card.is_following_daree=true">Follow</div>
                <div tr-label="unfollow_dare_feed" ng-show="card.user.justFollowed" class="user-follow-btn" style="flex-shrink: 0; border: 1px solid #53585f; color: #53585f; position: static; margin-bottom: auto;font-size: 11.88px;width: 84px" ng-click="!loggedIn || unFollowUser(card.user)">Following</div>
                <div ng-show="::(loggedIn && !card.isEventDare && !card.admin_dare.isEventDare)" style="width: 24px;"></div>
            </div>
        </div>

        <!-- dare text and image -->
        <div style="margin: 10px; display: flex;">
            <div tr-label="open_dare_image" style="width: 100px; height: 100px; margin-right: 10px;" ng-show="::card.admin_dare.image" bgc="{{::card.bg_color}}" back-image="{{::card.admin_dare.image_compressed}}" ng-click="openImagePopup(card.admin_dare.image_compressed, card, false, 'dareResponse')"></div>
            <div style="flex: 1">
                <div class="text" ng-class="{ 'dareText' : (card.admin_dare.dareText.length<170) }"><span ng-bind-html="::(card.admin_dare.dareText | parseUrl)"></span></div>
                <div style="margin-top: 10px;height: 15px">
                    <!--<button style="flex-shrink: 0; background: transparent; border: 1px solid #00bb5f; border-radius: 3px; color:#00bb5f; font-weight: normal; height: 28px; margin-bottom: 5px; font-weight: bold;">Take DARE</button>-->
                    <div style="line-height: 21px;font-size: 14px;">
                        <p ng-if="::card.showTicker && card.admin_dare.taken_dares_count" tr-label="n_others_took" style="color: #0365C0;min-width: 150px;float: left;margin-right: 5px;display: inline-block;" tooltips tooltip-template="Tap here to see all responses" place="dare_responses3" ng-click="openDareResponsesPopup(card.admin_dare);closeAdminDarePopup();">{{card.admin_dare.taken_dares_count}} user<span ng-if="card.admin_dare.taken_dares_count > 1">s</span> took this DARE</p>
                        <p ng-if="::!card.showTicker && card.admin_dare.taken_dares_count" tr-label="n_others_took" style="color: #0365C0;float: left;margin-right: 5px;display: inline-block;" ng-click="openDareResponsesPopup(card.admin_dare);closeAdminDarePopup();">{{::card.admin_dare.taken_dares_count}} user<span ng-if="::(card.admin_dare.taken_dares_count > 1)">s</span> took this DARE</p>
                        <p ng-if="::(card.admin_dare.creator_details && card.admin_dare.creator_details.userId)" ui-sref="profile.dares(::{ profileId : card.admin_dare.creator_details.userId})" style="vertical-align: top;display: inline-block;"> by <img class="creator_avatar" lazy-src="{{::card.admin_dare.creator_details.avatar}}"> </p>
                    </div>
                </div>
            </div>
            <div ng-show="::(loggedIn && !card.isEventDare && !card.admin_dare.isEventDare && !card.is_following_daree && card.user_type != 'daree')" style="width: 24px;"></div>
        </div>

        <hr style="margin: 10px;border-top: 1px solid #eee;" ng-hide="((card.response_type && !card.response_text) || card.text_background)">

        <!-- dare response text and image -->
        <div style="margin: 10px 0;">
            <!--<ion-content on-double-tap="!loggedIn || toggleDareUpvote(card)" >-->
                <div class="text dare-str response_text" style="margin: 10px; word-break: break-word;font-size: 20px" ng-if="::(card.response_text && !card.text_background)"  ng-class="{small_repsonse_text : card.response_image}" ng-bind-html="::(card.response_text | parseUrl)"></div>
                <div class="response_container"  ng-if="::(card.response_text && card.text_background)" back-image="{{::card.text_background}}">
                    <p class="text response_text"  ng-bind-html="::(card.response_text | parseUrl)"></p>
                </div>
                <hr ng-hide="::(card.response_type || dare.response_image)" style="border-top: 1px solid #eee; margin: auto 10px;">
                <div style="margin: 10px 0px;" class="dare-image-sec" ng-if="::(card.dare_submitted && card.response_type == 'image' && card.response_image)">
                    <img style="width: 100%; display: block;" ng-src="{{::card.response_image}}" alt="">
                </div>
                <div class="dare-image-sec" ng-if="::(!card.dare_submitted && card.response_type == 'image' && card.response_image)">
                    <img style="width: 100%; display: block;" tr-label="open_response_image" ng-if="::!card.inverseAspectRatio" lazy-src="{{::card.response_image_full}}" alt="" ng-click="openImagePopup(card.response_image_full, card, false, 'dareResponse')">
                    <div style="overflow: hidden; height: {{card.adminDare_res_h}}; width: 100%; background-color: {{card.res_bg_color}};" >
                        <img tr-label="open_response_image" style="width: 100%; display: block;" lazy-src="{{::card.response_image_full}}" alt="" ng-click="openImagePopup(card.response_image_full, card, false, 'dareResponse')">
                    </div>
                    <!--<div ng-if="card.inverseAspectRatio > ideal_iar" style="overflow: hidden; height: {{card.adminDare_res_h}}; width: 100%;" bgc="{{card.res_bg_color}}" back-image="{{card.response_image_full}}" ng-click="openImagePopup(card.response_image_full, dare, false, 'dareResponse')"></div>-->
                </div>
            <!--</ion-content>-->
            <div class="video-slot" >
                <div id="video-player" style="position: relative;height:{{card.adminDare_res_h}}" ng-if="::(card.response_type == 'video')">
                    <div style="width: 100%;height: 100%;" ng-show="::card.videoSrc">
                        <video-player-feed video-source="card.videoSrc" stop-auto-play="card.stopAutoPlay" dare="card" iar="card.inverseAspectRatio"></video-player-feed>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div style="margin: 10px;"><span>{{2123456 | formatNumber}} Views</span></div> -->
        <div class="dare-icons-cnt">
            <div class="sti-cursor" tr-label="nominate" style="display: inline-flex;height: 32px" ng-click="!loggedIn || open_dare_form(card); dare1.stage = 3;">
                <div class="arrow-icon-cnt" style="background-color: #acacac;">
                    <img src="images/dare_friend_white_arrow.png" style="width: 100%;">
                </div>
                <p style="line-height: 32px;margin-left: 5px"> Dare a Friend</p>
            </div>
            <div class="sti-cursor" style="display: inline-flex;height: 32px;margin-left: 10px;vertical-align: bottom" tr-label="take_dare_feed" ng-click="!loggedIn || openDareResponsesPopup(card.admin_dare, null, true);closeAdminDarePopup();">
                <div class="arrow-icon-cnt" style="background-color: #acacac;">
                    <img src="images/dare_mask_white.png" style="height: 100%;">
                </div>
                <p ng-if="::(card.user_type!='daree')" style="line-height: 32px;margin-left: 5px"> Take this DARE</p>
                <p ng-if="::(card.user_type=='daree')" style="line-height: 32px;margin-left: 5px"> Retake DARE</p>
            </div>
            <div style="display: inline-flex; float: right;">
                <img tr-label="whatsapp_share" src="images/whatsapp1.png" style="cursor: pointer; height: 30px; padding: 0 6px;" class="sti-cursor" social-share="card" share-type="whatsapp">
                <!-- <img src="images/weblink_Icon.png" style="cursor: pointer; height: 24px; margin-left: 5px;"> -->
                <div style="height:30px;padding:10px" ng-click="!loggedIn || openDareMenu('taken_dare', card, false, 'adminDare')"><img tr-label="more_options" src="images/3_Grey_Dots_Vertical.png" class="sti-cursor vert-center" style="cursor: pointer; height: 21px; " ></div>
            </div>
        </div>
        <!-- upvote, comments and share -->
        <div style="margin: 0px 10px;margin-top: 5px">
            <div style="display: flex;">
                <div style="width:40px;text-align: center;">
                    <div style="display: inline-block;padding:10px;padding-bottom:5px;padding-left:0px" ng-click="!loggedIn || toggleDareUpvote(card)">
                        <img tr-label="upvote" ng-show="card.vote_status != 'upvote'" style="width: 22px;margin-right: 3px;vertical-align: middle;" src="images/thumbs_up_outline_black.png" class="sti-cursor">
                        <img tr-label="un_upvote" ng-show="card.vote_status == 'upvote'" style="width: 22px;margin-right: 3px;vertical-align: middle;" src="images/Thumbs_Up_Icon_Red.png"  class="sti-cursor">
                    </div>
                    <div tr-label="likes_popup" style="display: flex;justify-content: center" ng-if="card.upvote_count" ng-click="!loggedIn || openAdminUp_DownvoteUser(card.adminDareId,card.id,'upvote',card.upvote_count)">
                        <p style="line-height: 22px" ng-bind="card.upvote_count"></p>
                        <img class="upvote-arrow-icon sti-cursor" style="height: 22px" src="images/Down_Arrow_Numbers.png">
                    </div>
                </div>
                <div tr-label="comment_icon" ng-click="openAdminDarePopup(card, isOwnProfile)" style=" text-align: center; padding:10px 10px;vertical-align: top">
                    <img src="images/comments_icon_black.png" style="height: 22px" class="sti-cursor">
                    <!--<p class="icon-label">Comment</p>-->
                </div>
                <div social-share="card" share-type="internal" tr-label="internal_share_icon"  style=" text-align: center; vertical-align: top;padding: 10px 10px;">
                    <img src="images/share_dare_icon_black.png" style="height: 22px" class="sti-cursor">
                </div>
            </div>

        </div>

        <div ng-show="!card.popup_display && card.comments_count" style="line-height: 18px; word-break: break-word; margin: 10px;" ng-click="openAdminDarePopup(card, isOwnProfile)">
            <span tr-label="view_all_comments" style="color: #9b9a9a; cursor: pointer;" ng-show="card.comments_count > 1" >view all {{card.comments_count}} comments</span>
            <p><a class="sti-cursor"><span style="font-weight: bold;color: black">{{card.last_comment.username}} </span></a><span ng-bind-html="card.last_comment.comment"></span></p>
        </div>
        <!-- dummy comment-box -->
    </div>
</div>