<style>
    .ta span{
        font-weight: normal;
        color: #0365C0 !important;
    }
    .ta:focus{
        outline: none;
    }
    [contenteditable]:empty:before {
        content: attr(placeholder);
    }

</style>

<div class="modal admin-dare-popup" id="admin-dare-popup">

    <div  class="modal-content" id="admin-dare-popup-content" tabindex="0" style="height: 100%;" ng-click="$event.stopPropagation();">
        <!--<div class="popup-header-new white">-->
            <!--<div class="popup-back-new sti-cursor" ng-click="closeAdminDarePopup()"><i class="left-arrow"></i></div>-->
            <!--<div ng-if="card.id" class="vert-center">-->
                <!--<p style="font-size: 14.34px"> {{::card.user.username | firstWord}}'s dare</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="new-header-cnt-parent">
            <div class="sti-home-header new-header-cnt">
                <div class="new-header grey" style="display: block !important;">
                    <div style="position:relative;height:100%">
                        <p ng-if="card.id" class="vert-center popup-header-title">{{::card.user.username | firstWord}}'s dare</p>
                        <div class="header-new-back" ng-click="closeAdminDarePopup()"><img src="images/left_arrow_thin_black.png"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style=" ">
            <div ng-show="!card.id">
                <div ng-include="'shared/templates/dummyDareTemplate.html'">

                </div>
            </div>

            <div ng-show="card.id">
                <admin-dare  popup="true"></admin-dare>

                <!-- comments -->
                <div style="margin-bottom: 75px; min-height: 300px;">
                    <hr style="border-top: 1px solid #eee; margin: 10px;">
                    <!--<div class="progress comment-loading-icon" style="margin: 0 auto;"></div>-->
                    <loading-icon ng-show="card.loadingComments"></loading-icon>
                    <div id="darecommentbox">
                        <div ng-repeat="comment in card.comments" class="stich-comment">
                            <div class="" style="display: flex; margin:10px">
                                <div>
                                    <div class="user-wrapper" style="text-align: center; width: 60px;">
                                        <a ng-href="#/profile/{{comment.userId}}">
                                            <img class="dare-body-profile-pic" data-ng-src="{{ comment.avatar }}"/>
                                            <div style="text-align: center">
                                                <p class="user-name-tdc ellipsis">{{comment.username | firstWord}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #eee; padding-bottom: 5px; display: flex; flex: 1; margin-left: 20px;">
                                    <div style="flex: 1;">
                                        <div ng-if="comment.comment_image" class="dare-image-box1">
                                            <div style="position: relative; height: 100%" >
                                                <div tr-label="open_comment_image" ng-click="openImagePopup(comment.comment_image, comment, false, 'commentImage')" back-image="{{comment.comment_image}}" style="height: 100%;"></div>
                                            </div>
                                        </div>
                                        <div ng-if="comment.comment" class="dare-response-box">
                                            <p style="text-decoration: none;" class="truth-dare-text text" style="display: table-cell;vertical-align: middle" ng-bind-html="comment.comment"></p>
                                        </div>
                                    </div>
                                    <div style="position: relative; text-align: center;">
                                        <span class="stich_comment_time" ng-bind="(comment.created_date | timeStamp) || 'Just Now'"> </span>
                                        <div tr-label="comment_delete" ng-if="::(loggedInUserId == comment.userId || loggedInUserId == card.userId)" ng-click="delete_comment(comment, card)" style="width: 100%; position: absolute; bottom: 0;">
                                            <img class="sti-cursor" style="width: 13px;" src="images/Delete_Icon_Grey_V1.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="progress comment-image-loading" style="border: 1px solid #ddd; margin-left: calc(15% + 24px);"><p><b ng-bind="progressPercentage"></b>% done...</p></div>
                    </div>
                </div>

                <!-- <div class="whiteSpace"></div> -->

                <!-- add comment -->
                <div class="comment-box-cnt">
                    <div class="comment-box">
                        <tag-users friend-details="friendDetails" text-data="commentData" people-involved="peopleInvolved"></tag-users>
                        <div class="ta" contenteditable ng-model="commentData" placeholder="Write a comment..." style=""></div>
                    </div>
                    <div style="margin: 5px 10px; width: 50px; text-align: center;">
                        <img ng-if="loggedIn" style="margin: 0; height: 22px; width: auto !important;" ngf-resize="{width: 600}" ng-click="selectImageAdminDareComment()" class="camera-icon" src="images/Camera_Icon_Grey.png" />
                        <button tr-label="comment_submit" class="comment-send-button" ng-click="!loggedIn || submit_comment(card)" ng-disabled="!commentData">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
