<div ng-if="loggedIn && showToolTipBookmark" tooltips tooltip-template="Bookmark your favorite DARE. It might vanish overnight!" place="bookmark" ng-show="loggedIn && !card.isEventDare && !card.admin_dare.isEventDare" class="bookmark-icon-wrapper sti-cursor" ng-click="!loggedIn || toggle_bookmark(card, $event)">

		<div class="bookmark-icon"></div>
		<div ng-show="card.is_bookmarked" class="bookmark-tooltip">Remove Bookmark</div>
		<div ng-hide="card.is_bookmarked" class="bookmark-tooltip">Bookmark</div>

</div>
<div ng-if="!showToolTipBookmark" ng-show="loggedIn && !card.isEventDare && !card.admin_dare.isEventDare" class="bookmark-icon-wrapper sti-cursor" ng-click="!loggedIn || toggle_bookmark(card, $event)">

	<div class="bookmark-icon"></div>
	<div ng-show="card.is_bookmarked" class="bookmark-tooltip">Remove Bookmark</div>
	<div ng-hide="card.is_bookmarked" class="bookmark-tooltip">Bookmark</div>

</div>