<style>
    /*.chat-background:before {*/
    /*content: ' ';*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*opacity: 0.4;*/
    /*background-image: url('images/chat_background.png');*/
    /*background-repeat: repeat-y;*/
    /*background-position: 50% 0;*/
    /*-ms-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/

    #chat-header {
        background: white;
        width: 100%;
        background: linear-gradient(#005493, #002545);
        height: 100%;
    }

    #individual-chat-header {
        background: white;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid grey;
    }

    #chat-popup-back, #individual-chat-popup-back {
        color: white;
        font-size: 18px;
        line-height: 36px;
        width: 44px;
        text-align: center;
        height: 45px;
        position: absolute;
    }

    #individual-chat-popup-back {
        color: grey !important;
        margin-top: 5px;
    }

    .chat-right-arrow {
        border: solid lightgrey;
        border-width: 0 2px 2px 0;
        display: inline-block;
        /*float: right;*/
        padding: 4px;
        /*margin-left: 50px;*/
        margin-top: 5px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .dialogues {
        height: 72px;
        width: 100%;
        /*display: flex;*/
    }
    .other_user_message .chat-user-avatar-small{
        left: 10px;
    }
    .own_message .chat-user-avatar-small{
        right:10px;
    }

    .other_user_message .indiv-msg{
        background-color: white;
        margin-left: 45px;
    }
    .own_message .indiv-msg{
        float: right;
        margin-right: 15px;
        background-color: #AFEEEE;
    }

    .img-msg {
        width:calc(100vw - 120px);
        max-width: 480px;
        border-radius: 3px;
        height:calc(100vw - 120px);
        max-height: 480px;
    }
    .other_user_message .img-msg{
        margin-left:45px;
    }
    .own_message .img-msg{
        float:right;
        margin-right: 15px;
    }
    .chat-send-button img[disabled]{
        opacity: 0.4;
    }



</style>

<div id="openModal" class="modal new-chat-popup sti-popup" ng-click="$event.stopPropagation();" >
    <div style="max-width: 600px; min-height: 100%;background-color: white;padding-bottom: 10px" class="modal-content chat-popup-box" >
        <!--header starts-->
        <div id="chatWindow" style="position: relative">
            <div class="new-header-cnt-parent">
                <div class="sti-home-header new-header-cnt headerSticky">
                    <div class="new-header grey" style="display: block !important;">
                        <div style="position:relative;height:100%">
                            <div style="width: calc(100% - 60px);height: 32px;margin:0 auto;position: relative;margin-left:45px" class="vert-center">
                                <div class="search-button" style="left:0;border:none;background-color:lightgrey;width:30px;border-radius: 3px;">
                                    <div style="padding:2px 7px;border-left:1px solid #ddd;position:relative;height:100%">
                                        <img style="height: 18px" class="vert-center" src="images/search_grey1.png">
                                    </div>
                                </div>
                                <input type="text" class="user-search-input" style="padding-left:33px!important;border-radius: 3px !important;width:100%;border: none !important;    height: 32px;background-color:lightgrey" placeholder="Search users to chat" ng-model="search_user" />
                                <div ng-show="search_user" class="cross-cnt" ng-click="clearUserSearchBox()" style="right:10px"><img style="height: 17px;border: 1px solid grey;border-radius:50%"  src="images/cross_grey_white_circle.png"></div>
                            </div>
                            <div class="header-new-back" ng-click="closeNewChatPopup($event)"><img src="images/left_arrow_thin_black.png"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div style="height: 45px;position:relative">-->
                <!--<div class="popup-header-new grey">-->

                    <!--<div style="width: calc(100% - 65px);height: 32px;margin-left:40px;position: absolute;top:6px">-->
                        <!--<input type="text" class="user-search-input" style="border-radius: 3px !important;width:100%;border: none !important;    height: 32px;" ng-style="{'background-color': (search_user) ? 'white' : 'lightgrey' }" placeholder="Search users to chat" ng-model="search_user" />-->
                        <!--<div ng-show="search_user" class="cross-cnt" ng-click="clearUserSearchBox()" style="right: 10px;"><img style="height: 17px"  src="images/Cross_White_X_Grey_Circle_Icon.png"></div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="popup-back-new sti-cursor" ng-click="closeNewChatPopup($event)"><i class="left-arrow"></i></div>&ndash;&gt;-->
                    <!--<div class="header-user-image-cnt"><a  tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar"  ui-sref="profile.dares({nav_from:'header'})"><img ng-if="::loggedIn" style=""  class="user-image sti-cursor header-user-image" data-ng-src="{{userLoggedInDetails.avatar}}"/><div ng-show="unseenPendingDaresCount" class="numberCircle">{{ unseenPendingDaresCount }}</div></a></div>-->
                    <!--<img tr-label="hamburger_menu" class="header-hamburger"  ng-click="toggleMenu()" src="images/hamburger_icon_black.png">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div ng-if="search_error && search_user" style="margin-bottom: 6px; margin-top:12px; font-size: 13.34px; margin-left: 40px; color: red" ng-bind="search_error"> </div>-->
            <!-- List of all conversations begin -->
            <div style="padding: 0 5px;" ng-if="!active_convo.other_user">
                <div ng-if="!sharing" class="dialogues" ng-repeat="conversation in conversations  | orderBy: '-last_msg_time' | filter:{username : search_user} " ng-click="showConversation(conversation)">
                    <div>
                        <div style="display:flex;    margin-bottom: 8px;">
                            <img style="width: 65px; height: 65px; padding: 10px; border-radius: 50%" ng-src="{{ ::conversation.other_user.avatar }}" >
                            <div style="height: 65px; padding: 10px; width: calc(100% - 140px); display: block">
                                <div style = "color:black;padding-bottom: 10px; text-align: left"> <b> {{ ::conversation.other_user.username }} </b> </div>
                                <div style = "display: flex">
                                    <img style="height: 20px; width: 20px; border-radius: 50%" ng-if= "(conversation.last_sender == 'other_user')" ng-src="{{ ::conversation.other_user.avatar }}"/>
                                    <img style="height: 18px; width: 18px; border-radius: 50%" ng-if= "(conversation.last_sender == 'self')" ng-src="{{ ::userLoggedInDetails.avatar }}"/>
                                    <div ng-if="conversation.last_message.message" class="text chat-ellipsis" ng-bind= "conversation.last_message.message" style="max-width: calc(100% - 25px);"> </div>
                                    <span ng-if="!conversation.last_message.message" style="height:20px; position:relative;display:flex">
                                            <img style="height: 12px; margin: 4px 0px 4px 5px" ng-src="images/Camera_Icon_Grey.png">
                                            <span style="display:inline-block; height:21px; line-height:20px; vertical-align:middle;text-align:center; font-size:12px; margin-left:5px"> image </span>
                                        </span>
                                </div>
                            </div>

                            <div style="display: block; padding:10px; position:relative;text-align: right;padding-bottom: 0px;padding-right: 0px;min-width: 66px">
                                <div class="stich_comment_time" ng-bind="( conversation.last_msg_time*1000 | date : 'EEE, MMM d')"> </div>
                                <div><div class="chat-right-arrow"> </div></div>
                                <div  ng-if="conversation.unread_count > 0" style="text-align: center; border-radius: 3px; width:27px; height: 18px; line-height: 21px; background-color: dodgerblue; color: white; font-size: 9px;margin-top:5px;display:inline-block;font-weight:bold" ng-bind="conversation.unread_count"> </div>
                            </div>
                        </div>
                        <hr style="margin-left:75px; color:rgba(255, 255, 255, 0.3);margin-bottom: 0px;margin-top:0px;">
                    </div>
                </div>
                <div ng-if="sharing" class="dialogues" ng-repeat="conversation in conversations  | orderBy: '-last_msg_time' | filter:{username : search_user} " ng-click="showConversation(conversation)">
                    <div>
                        <div style="display:flex">
                            <img style="width: 65px; height: 65px; padding: 10px; border-radius: 50%" ng-src="{{ ::conversation.other_user.avatar }}" >
                            <div style="width: calc(100% - 140px)">
                                <div style = "color:black;padding-left:10px; height: 65px; line-height:64px; vertical-align: middle; text-align: left"> <b> {{ ::conversation.other_user.username }} </b> </div>
                            </div>
                            <button style="font-size:85%; color:#007ad5;border: 1px solid #007ad5;border-radius: 3px;height:25px; vertical-align: middle; text-align: center; margin:auto 10px auto auto;width: 82px;background: #fff;line-height: 22px">
                                Send
                            </button>
                        </div>
                        <hr style="margin-left:75px; color:rgba(255, 255, 255, 0.3)">
                    </div>
                </div>
                <div class="dialogues" ng-repeat="user in new_users | filter:{username : search_user}" ng-click="showConversation(null,user)">
                    <div>
                        <div style="display:flex">
                            <img style="width: 65px; height: 65px; padding: 10px; border-radius: 50%" ng-src="{{ ::user.avatar }}" >
                            <div style="width: calc(100% - 140px)">
                                <div style = "color:black;padding-left:10px; height: 65px; line-height:64px; vertical-align: middle; text-align: left"> <b> {{ ::user.username }} </b> </div>
                            </div>
                            <button ng-if="!sharing" style="font-size:85%; color:#007ad5;border: 1px solid #007ad5;border-radius: 3px;height:25px; vertical-align: middle; text-align: center; margin:auto 10px auto auto;width: 82px;background: #fff;line-height: 22px">
                                Start Chat
                            </button>
                            <button ng-if="sharing" style="font-size:85%; color:#007ad5;border: 1px solid #007ad5;border-radius: 3px;height:25px; vertical-align: middle; text-align: center; margin:auto 10px auto auto;width: 82px;background: #fff;line-height: 22px">
                                Send
                            </button>
                        </div>
                        <hr style="margin-left:75px; color:rgba(255, 255, 255, 0.3)">
                    </div>
                </div>
                <div ng-if="!search_user" class="dialogues" ng-repeat="user in default_users" ng-click="showConversation(null, user)">
                    <div>
                        <div style="display:flex">
                            <img style="width: 65px; height: 65px; padding: 10px; border-radius: 50%" ng-src="{{ ::user.avatar }}" >
                            <div style="width: calc(100% - 140px)">
                                <div style = "color:black;padding-left:10px; height: 65px; line-height:64px; vertical-align: middle; text-align: left"> <b> {{ ::user.username }} </b> </div>
                            </div>
                            <button ng-if="!sharing" style="font-size:85%; color:#007ad5;border: 1px solid #007ad5;border-radius: 3px;height:25px; vertical-align: middle; text-align: center; margin:auto 10px auto auto;width: 82px;background: #fff;line-height: 22px">
                                Start Chat
                            </button>
                            <button ng-if="sharing" style="font-size:85%; color:#007ad5;border: 1px solid #007ad5;border-radius: 3px;height:25px; vertical-align: middle; text-align: center; margin:auto 10px auto auto;width: 82px;background: #fff;line-height: 22px">
                                Send
                            </button>
                        </div>
                        <hr style="margin-left:75px; color:rgba(255, 255, 255, 0.3)">
                    </div>
                </div>
            </div>
        </div>
        <!-- Individual Conversation header starts -->
        <div id="msgWindow" class="chat-background messageWindow" style="display:none;height: calc(100% - 40px);">
            <div ng-if="active_convo.other_user" style="padding-bottom: 10px;background: linear-gradient(rgba(5, 5, 5, 0.84), rgba(5, 5, 5, 0.84)), url('images/chat_background.png');background-size: cover;height: 100%;">
                <div style="z-index:100; max-width: 600px; height: 55px!important; position: fixed !important
                        ;top:0px!important; background-color: white; width: 100%;padding: 5px 0">
                    <div id="individual-chat-popup-back" class="sti-cursor" ng-click="closeConversation()"> <i class="left-arrow"></i> </div>
                    <a href="#/profile/{{::active_convo.other_user.userId}}"><img style="float: left; margin-left: 45px; margin-top:5px; width: 35px; height: 35px; border-radius: 50%" data-ng-src="{{ ::active_convo.other_user.avatar }}"/></a>
                    <div style="float:left; margin-left: 10px; margin-top: 6px">
                        <p style="color:black"> <b ng-bind="::active_convo.other_user.username | limitTo : 20 "> </b> </p>
                        <p style="color:#53585f; font-size: 11px; margin-top:5px">
                            {{ ::active_convo.other_user.dare_count }} DARE<span ng-if="::active_convo.other_user.dare_count >1">S</span> | {{ ::active_convo.other_user.upvote_count }} Upvote<span ng-if="::active_convo.other_user.upvote_count>1">s</span>
                        </p>
                    </div>

                    <div ng-click="giveDareToSelectedUser(active_convo.other_user)" style="float:right; width: 75px; height: 25px; margin: 8px 10px 5px 5px; line-height: 23px; text-align: center; border: 1px solid gray; border-radius: 3px;border-radius: 3px;font-weight: bold;font-size: 11.88px;"> give dare </div>
                </div>

                <div style="height: 45px; width: 100%"> </div>

                <!-- Messages between 2 users -->

                <div class="message-body">
                    <div ng-repeat="message in active_convo.messages" style="clear:both">
                        <div style="width: 100%; max-width: 600px; text-align: center;
                               height: 15px; line-height: 14px; margin-top: 15px; margin-bottom: 10px;
                                font-weight: bold; font-size: 11px; color: white; z-index:10" ng-if="::(( message.msg_time - active_convo.messages[$index -1].msg_time) > 600)">
                            {{ ::message.msg_time*1000 | date : 'EEE, MMM d, h:mma' }}
                        </div>
                        <!--<p> {{$index}}</p>-->
                        <!--<p> {{active_convo.messages[$index -1].message}}</p>-->
                        <!--<p> {{active_convo.messages[$index].message}}</p>-->
                        <div ng-class="::message.other_user? 'other_user_message' : 'own_message'" ng-style="{'margin-top' : (message.other_user == active_convo.messages[$index-1].other_user)? '3px' : '10px'}" style = "height: auto; min-height: 30px; overflow: hidden; margin-top: 3px">
                            <div style="position: relative; width: 100%">
                                <img ng-if="::message.other_user" ng-hide="::((message.other_user == active_convo.messages[$index-1].other_user) && (( message.msg_time - active_convo.messages[$index-1].msg_time) < 600))" style="position:absolute;"  class="chat-user-avatar-small" ng-src="{{ active_convo.other_user.avatar }}"/>
                                <div ng-if="::message.message" class="text indiv-msg" ng-bind-html="::message.message | parseUrl"> </div>
                                <div ng-if="::message.image" class="img-msg" ng-click="openImagePopup(message.image, message, false, 'chatImage')" back-image="{{ ::message.image }}" style="background-color: #ddd"></div>
                            </div>
                        </div>
                        <!-- Message from logged in user has 2 design cases -->
                    </div>
                    <div class="own_message" style="margin-top: 5px">
                        <div ng-if="active_convo.chatImageUploading" class="img-msg" style="background-color: #DDDDDD;margin-top:5px;">
                            <div class="vert-center">
                                <p style="text-align: center"><b ng-bind="active_convo.chatImageLoadingPercentage"></b> %</p>
                                <loading-icon></loading-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="chattextcontainer"  class="comment-box-cnt" style="height: 45px;min-height:45px">
                <div class ="comment-box chat-message-box" style="height:auto">
                    <textarea ng-blur="shouldBlur($event)" on-touch="scrollToBottom();" id="chattextbox" msd-elastic style="border: 1px solid lightgrey; border-radius:5px;width:100%;resize:none; min-height: 30px;max-height:103px" type="text" ng-model="chat_message"> </textarea>
                </div>
                <div style="padding:5px; width: 60px; text-align: center" class="chat-send-button">
                    <img on-touch="flipBlur()" on-touch-cancel="resetBlur()" ng-show="!chat_message"  style="margin:0;position:absolute;bottom:10px;right:5px;width:45px;padding:0 5px;padding-bottom: 2px" ng-disabled="!online" ng-click="selectChatImage()" ng-src="images/Camera_Icon_Grey.png" />
                    <img on-touch="flipBlur()" on-touch-cancel="resetBlur()" ng-show="chat_message"  class="comment-send-button" style="margin:0;position:absolute;bottom:10px;right:5px" ng-click="sendMessage($event)" ng-disabled="!online" ng-src = "images/feedback_icon_blue.png">
                </div>
            </div>
        </div>
    </div>
</div>