<style>

</style>
<div class="modalDialog chat-popup" ng-click="$event.stopPropagation();">
    <div style="width: 100%; height: 100%; position: absolute; background: none;" ng-click="closeChatPopup()"></div>
    <div class="" style="max-width: 600px; height: 100%; margin: 0 auto; background-color: #fff; position: relative; z-index: 3;">
        <div class="new-header-cnt-parent">
            <div class="sti-home-header new-header-cnt">
                <div class="new-header grey" style="display: block !important;">
                    <div style="position:relative;height:100%">
                        <p  class="vert-center popup-header-title">Alerts</p>
                        <div class="header-new-back" ng-click="closeChatPopup()"><img src="images/left_arrow_thin_black.png"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- nav1 -->
        <div class="save padding-cnt add-contributors chat-mob-cnt nav1 notifications" tabindex="0">
            <div style="display: flex;border-bottom: 1px solid #ddd;padding: 20px;margin-bottom: 55px" ng-click="contactUs();">
                <div style="display:flex;margin: 0 auto">
                    <img src="images/feedback_icon_blue.png" style="height: 35px">
                    <div style="margin-left: 10px;height: 35px">
                        <b style="line-height: 20px;font-size: 16px">Send Feedback</b>
                        <p style="line-height: 20px;font-size: 13px;">We would love to hear from you</p>
                    </div>
                </div>
            </div>
            <p style="font-size: 10.5px;color: #53585f;" class="mark-all-read-notif mark-all-read sti-cursor"><span ng-show="!allUnread">Mark All as Read</span></p>
            <p style="position: absolute; top: 80px; left: 10px; padding: 8px;text-align: center;font-size: 10.5px"  ng-click="loadNotifications(true)">Refresh</p>
            <loading-icon style="display: none;position: absolute;width: 100%;top:55px" id="top-loading-notif"></loading-icon>
            <div tr-label="notification_click" ng-repeat="notif in notifications" class="notiflist add-contributor-cnt chat-sticher-cnt" ng-click="readNotification(notif.notificationId, $index)">
                <p class="notif-timestamp" style="top:-19px" ng-if="::($index == 0)">{{ ::(notif.timestamp | date: 'EEE, MMM d') }}</p>
                <p class="notif-timestamp" ng-if="::(showNotifTimeStamp($index) && $index > 0)">{{::(notif.timestamp | date: 'EEE, MMM d') }}</p>
                <hr ng-show="::(showNotifTimeStamp($index) && $index > 0)" style="margin: 7px 0">
                <hr ng-hide="::((showNotifTimeStamp($index) && $index > 0) || ($index == 0))">
                <div class="inner-share-cnt">
                    <a ng-if="::notif.from_users[0].userId" style="margin: 10px 10px auto 0;" href="#/profile/{{::notif.from_users[0].userId }}" ng-click="closeChatPopup()"><img  class="user-image" data-ng-src="{{ ::notif.from_users[0].avatar }}"/></a>
                    <div ng-if="::!notif.from_users[0].userId" style="margin: 10px 10px auto 0;">
                        <img ng-if="::!notif.image1" class="user-image" src="images/hot_dares_green.png"/>
                        <img ng-if="::notif.image1" class="user-image" data-ng-src="{{::notif.image1}}"/>
                    </div>

                    <a style="flex: 1; margin: auto;" ng-if="::!(notif.action == 'follow_user' || notif.action == 'facebook_friend_signup' || notif.action == 'google_friend_signup')"  ng-click="openNotif(notif);closeChatPopup()">
                        <div ng-click="closeChatPopup()" style="padding: 5px 0;">
                            <p class="text" style="line-height: 18px; font-size: 13px;" ng-class="{'blue-text' : notif.unread}" ng-bind-html="::notif.message"></p>
                            <p class="text" style="line-height: 18px; font-size: 13px; margin-top: 5px;" ng-class="{'blue-text' : notif.unread}"  ng-if="::notif.dare_text" ng-bind-html="::notif.dare_text"></p>
                        </div>
                    </a>

                    <a style="flex: 1; margin: auto;" ng-if="::(notif.action == 'follow_user' || notif.action == 'facebook_friend_signup' || notif.action == 'google_friend_signup')" href="#/profile/{{ ::notif.from_users[0].userId }}" ng-click="closeChatPopup()">
                        <div  ng-click="closeChatPopup()" style="width: calc(100% - 70px);">
                            <p class="text" style="line-height: 18px; color:#007ad5;font-size: 13px;" ng-if="notif.unread" ng-bind-html="::notif.message"></p>
                            <p class="text" style="line-height: 18px; font-size: 13px;" ng-if="!notif.unread" ng-bind-html="::notif.message"></p>
                        </div>
                    </a>
                    <a style="margin: 10px 0 10px 10px;" ng-if="notif.image_url && !(notif.action == 'follow_user')">
                        <div style="width: 60px; height: 60px;position: relative">
                            <div style="width: 100%;height: 100%" ng-click="openNotif(notif);closeChatPopup()" class="" back-image="{{ ::notif.image_url }}"></div>
                            <div ng-if="::notif.response_type ==='video'" class="play-icon-dummy-chat"></div>
                        </div>
                    </a>

                    <!--<button class="unfilled-btn-notifs unfilled-enabled-btn-notifs btn-border sti-cursor ng-scope" style="top: 23.5px;" ng-if="!notif.from_users[0].is_following && !notif.from_users[0].is_own"  ng-click="!loggedIn || followUser(notif.from_users[0])">Follow</button>-->
                    <!--<button class="unfilled-btn-notifs unfilled-disabled-btn btn-border sti-cursor ng-scope" style="top: 23.5px;" ng-if="notif.from_users[0].is_following && !notif.from_users[0].is_own && notif.from_users[0].justFollowed">Following</button>-->
                    <div ng-if="::(notif.action == 'follow_user' || notif.action == 'facebook_friend_signup' || notif.action == 'google_friend_signup')">
                        <button class="unfilled-btn unfilled-enabled-btn btn-border sti-cursor" style="margin-top:10px;width: 70px" ng-if="!notif.from_users[0].is_following && !notif.from_users[0].is_own" ng-click="followUser(notif.from_users[0])">Follow</button>
                        <button class="unfilled-btn unfilled-disabled-btn btn-border sti-cursor" style="margin-top:10px;width: 70px" ng-if="notif.from_users[0].is_following && !notif.from_users[0].is_own && notif.from_users[0].justFollowed">Following</button>
                    </div>
                </div>
            </div>
            <loading-icon style="display: none" id="bottom-loading-notif"></loading-icon>
        </div>
    </div>
</div>