<style>
    .formError{
        border-color: red !important;
    }
    .contact-button[disabled]{
		opacity: 0.6;
	}
</style>
<div id="stichioform" class="stichio-form modal">
    <div style="display: flex; height: 100%; outline: none;" class="contact-us-form-wrapper" tabindex="0" ng-click="$event.stopPropagation();">
        <div style="width: 100%; max-width: 600px; margin: auto; padding: 5px; min-height: 200px;">
            <form ng-controller="contactController" name="myForm"  style="width: 100%; display: inline-block; padding: 10px 0px; background-color: #fff;padding-top: 10px;" ng-click="$event.stopPropagation()">
                <div style="display: flex;padding: 10px;">
                    <div style="display:flex;margin: 0 auto">
                        <img src="images/feedback_icon_blue.png" style="height: 40px">
                        <b style="line-height: 40px;font-size: 17px;margin-left: 5px">Send Message</b>
                    </div>
                </div>

                <div class="name-cnt" style="padding: 0px 10px;margin-bottom: 20px">
                    <input class="cu_input" style="font-size: 14.34px; border-radius: 3px !important;border: 1px solid #ddd;padding-left: 5px" ng-class="{'formError' : myForm.email.$dirty && (myForm.email.$error.email ||myForm.email.$error.required)}" ng-click="$event.stopPropagation();" type="email" id="email" name="email" ng-model="formData.email" placeholder="Your Email"  required/>
                     <!--<span ng-show="myForm.email.$error.required && myForm.email.$dirty">required</span>-->
                     <!--<span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>-->
                </div>

                <div class="desc-cnt padding-cnt" id="descr-cnt" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd" ng-class="{'formError' : myForm.ContactMessage.$dirty && myForm.ContactMessage.$error.required}">
                    <textarea class="cu_input"  style="font-size: 14.34px; border: none !important;" ng-click="$event.stopPropagation();" id="ContactMessage" ng-required="true" name="ContactMessage" rows="6" cols="" maxlength="500" placeholder="Write to us..." ng-model="formData.message"></textarea>
                </div>
                <div class="contact-button-cnt">
                    <button class="contact-button" style="display: flex; height: 33px; border: none !important;" ng-disabled="!myForm.$valid" ng-click="submitDetails();$event.stopPropagation();">
                        <span style="margin: auto;">SUBMIT</span>
                        <img style="height: 20px; margin: auto; display: none;" src="images/loading-icon1.gif" alt="">
                    </button>
                </div>
                <div>
                    <p class="submit-success-msg" ng-if="success_msg">Thank you for writing to us. We will connect with you shortly.</p>
                </div>
            </form>
            <img src="images/Cross_White_X_Grey_Circle_Icon.png" style="width: 35px; margin: 10px auto;" ng-click="closeContactPopup()">
        </div>
    </div>
</div>