<style>
	#give-dare-header{
		background: linear-gradient(#005493, #002545);
		width: 100%;
		height: 45px;
		text-align: center;
	}
	#give-dare-back{
		color: white;
		/* padding-left: 5px; */
		font-size: 17px;
		line-height: 45px;
		width: 44px;
		text-align: center;
		height: 45px;
		position: absolute;
		z-index: 1;
	}
    .left-arrow-createDare {
        border: solid currentColor;
        border-width: 0 .2em .2em 0;
        display: inline-block;
        padding: .30em;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    #create-dare-popup-back{
        color: grey;
        margin-top: 5px;
        font-size: 17px;
        line-height: 45px;
        width: 27px;
        text-align: center;
        height: 45px;
    }
	.create-dare-popup div[disabled], .create-dare-popup button[disabled]{
		opacity: 0.6;
	}
</style>

<div class="modal modalDialog create-dare-popup" style="z-index: 9999999;">
	<div ng-if="forward_card" class="modal-content" id="create-dare-popup-content" tabindex="0" ng-click="$event.stopPropagation();">
		<div class="new-header-cnt-parent">
			<div class="sti-home-header new-header-cnt">
				<div class="new-header grey" style="display: block !important;">
					<div style="position:relative;height:100%">
						<p ng-if="dare1.stage == 1" class="vert-center popup-header-title" > create a dare</p>
						<p ng-if="dare1.stage == 2" class="vert-center popup-header-title" > created by {{::userLoggedInDetails.username}}</p>
						<p ng-if="dare1.stage >2" class="vert-center popup-header-title" > Dare a Friend</p>
						<div class="header-new-back" ng-click="close_create_dare()"><img src="images/left_arrow_thin_black.png"></div>
					</div>
				</div>
			</div>
		</div>
		<p style="font-weight: bold;text-align: center;font-size: 16px;margin-top: 20px;color: black" ng-if="dare1.stage==2"> Your dare was successfully created!</p>
		<p style="text-align: center;font-size: 14px;margin-top: 10px;margin-bottom: 30px" ng-if="dare1.stage==2"> You can find this dare in <a style="color:#0365C0"  ng-click="goToGiven();">Given</a> section of your profile</p>
		<!-- A dared B -->
		<div ng-if="dare1.stage === 4 || dare1.stage === 6">
			<div style="display: flex; margin: 16px auto; width: 200px; position: relative;">
				<div style="text-align: center;">
					<a ng-href="#/profile/{{::userLoggedInDetails.userId}}"><img class="user-image-note sti-cursor" ng-src="{{ ::userLoggedInDetails.avatar }}"/></a>
					<span class="user-name-tdc">{{::userLoggedInDetails.username}}</span>
				</div>
				<div style="font-weight: bold; margin: 18px;">DARED</div>
				<div style="text-align: center;">
					<a ng-href="#/profile/{{daree.userId}}"><img class="user-image-note sti-cursor" ng-src="{{ daree.avatar }}"/></a>
					<span class="user-name-tdc">{{daree.username}}</span>
				</div>
				<div ng-show="num_other_users> 0" style="position: absolute; width: 64px; left: calc(100% + 10px); top: 18px;">
					<span> & {{num_other_users}} more</span>
				</div>
			</div>
		</div>

		<!-- dare text and image -->
		<div style="display: flex; margin: 20px 15px;">
			<div ng-show="forward_card.image" ng-click="$event.stopPropagation();">
				<div style="width: 100px; height: 100px; margin-right: 10px; position: relative; cursor: pointer;" bgc="{{::forward_card.bg_color}}" back-image="{{(forward_card.image_compressed || forward_card.image)}}" ng-click="openImagePopup((forward_card.image_compressed|| forward_card.image), forward_card, false, 'dareResponse')">
					<div class="progress cd_progress" style="width: 100%; height: 100%; background-size: 50px 50px; text-align: center; padding-top: 10px;"><span><b ng-bind="progressPercentage"></b>% done...</span></div>
					<!-- <img ng-show="(dare1.stage === 1 || dare1.stage === 5 || dare1.stage === 7)" ng-click="forward_card.image = ''; resetDimension();" style="position: absolute; top: 0; right: 0; z-index: 3; width: 16px; margin: 5px; background-color: white; border-radius: 50%;" src="images/Cross_X_Icon_Grey.png" alt=""> -->
				</div>
				<p style="font-size: 11px; line-height: 18px; cursor: pointer; margin-right: 10px; text-align: center;" ng-show="(dare1.stage === 1 || dare1.stage === 5 || dare1.stage === 7)" ng-click="removePhoto();">Remove Photo</p>
			</div>
			<div style="flex: 1;" ng-click="$event.stopPropagation();">
				<div class="text dare-str" ng-if="dare1.stage === 2 || dare1.stage === 3 || dare1.stage === 4 || dare1.stage === 6"><span style="font-weight: bold;">DARE: </span><span ng-bind-html="(forward_card.dareText | parseUrl)"></span></div>
				<textarea class="cd_ta" autofocus auto-grow ng-if="(dare1.stage === 1 || dare1.stage === 5 || dare1.stage === 7)" placeholder="Type your DARE here..." ng-model="forward_card.dareText" style="height: 20px; min-height: 100%; width: 100%; padding: 0; border: 1px solid transparent; resize: none; font-size: 14.34px; line-height: 18px;"></textarea>
				<div ng-if="dare1.stage === 8" style="padding: 10px 6px;">By <span style="font-weight: bold; color: black;">{{userLoggedInDetails.username}}</span></div>
			</div>
		</div>

		<!-- confirmation -->
		<div ng-show="dare1.stage === 4 || dare1.stage === 6 || dare1.stage === 8" style="padding: 10px;">
			<div style="padding: 10px 0; border-bottom: 1px solid #ddd;" ng-click="dare1.stage = 7;" ng-if="dare1.stage === 8">
				<img lazy-src="images/Dare_Icon_Green_HomePage.png" style="width: 32px; vertical-align: middle; margin: 0 10px;">
				<span>Create another DARE Suggestion</span>
			</div>
			<div style="padding: 10px 0; border-bottom: 1px solid #ddd;" ng-click="dareFriend();">
				<img lazy-src="images/Friends_Icon_Red.png" style="width: 32px; vertical-align: middle; margin: 0 10px;">
				<span>Give this DARE to another Friend</span>
			</div>
			<div style="padding: 10px 0; border-bottom: 1px solid #ddd;" tr-label="facebook_share_create" social-share="forward_card" share-type="facebook">
				<img lazy-src="images/facebook_Icon_blue.png" style="width:32px;vertical-align: middle; margin: 0 10px;">
				<span>Share on Facebook</span>
			</div>
		</div>

		<!-- camera and genre -->
		<div ng-show="dare1.stage === 1 || dare1.stage === 5 || dare1.stage === 7" style="padding: 8px 15px;">
			<div style="text-align: left; font-size: 12px; display: inline-flex; width: calc(100% - 155px); min-width: 290px; vertical-align: middle; margin-bottom: 10px;">
				<img style="display: inline-block; margin: 0; width: auto !important; cursor: pointer;" ng-click="selectImageCreateDare()"  class="camera-icon" lazy-src="images/Camera_Icon_Grey.png" />
				<div style="margin-left: 5px; display: inline-block" ng-click="selectImageCreateDare()">
					<p ng-hide="forward_card.image" style="color: #3987cc; margin-bottom: 5px; cursor: pointer;">Add Photo</p>
					<p ng-show="forward_card.image" style="color: #3987cc; margin-bottom: 5px; cursor: pointer;">Replace Photo</p>
					<p style="color: #808080;">DARES with Photos become more popular</p>
				</div>
			</div>
			<div tr-label="select_genre" style="display: inline-block; vertical-align: middle; margin-bottom: 10px; position: relative;">
				<div arrow side="top" color="#3987cc" hd="10" vd="9" style="position: absolute; top: 12px; right: 12px;"></div>
				<select ng-options="item as item.name for item in dareGenres track by item.id" class="mod" style="width: 150px; height: 32px; padding: 8px; border: 1px solid #ddd; border-radius: 3px; color: #3987cc; background: none;" ng-model="forward_card.selGenre">
					<option value="">Select Genre</option>
				</select>
			</div>
		</div>

		<div ng-show="dare1.stage===1" style="margin-top: 40px">
			<div style="position: relative;" ng-disabled="!forward_card.dareText || (forward_card.image==true)" >
				<div style="display: flex;width: 260px;margin: 0 auto" ng-click="submit_public_dare(true)">
					<loading-icon id="public_ds_loading" style="display: none;width: 35px;margin-top: -12px;"></loading-icon>
					<img id="public_ds_icon" style="width: 35px;height: 35px" src="images/privacy_public_blue.png">
					<div style="margin-left: 13px">
						<p style="font-weight: bold;font-size: 15.34px;line-height: 20px">submit as dare idea</p>
						<p style="font-size: 12px;line-height: 15px">you or anyone can take this dare</p>
					</div>
				</div>
				<div style="display: flex;width: 260px;margin: 0 auto;margin-top: 30px" ng-click="submit_public_dare(false)">
					<loading-icon id="dare_friend_loading" style="display: none;width: 35px;margin-top: -12px;"></loading-icon>
					<img id="dare_friend_icon" style="width: 35px;height: 35px;border-radius: 50%" src="images/dare_friend_icon.png">
					<div style="margin-left: 13px">
						<p style="font-weight: bold;font-size: 15.34px;line-height: 35px">dare a friend</p>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="dare1.stage===2">
			<div style="display: flex;padding: 0 15px;justify-content: space-between;">
				<div style="border: 1px solid #53585f;border-radius: 6px;text-align: center;padding: 10px;font-weight: bold;" tr-label="take_dare_create" ng-click="openDareResponsesPopup(forward_card, null, true);close_create_dare();"> take dare yourself </div>
				<div style="display: flex;" tr-label="nominate_create" ng-click="dareFriend()">
					<img style="width: 35px;height: 35px;border-radius: 50%" src="images/dare_friend_icon.png">
					<div style="margin-left: 10px">
						<p style="font-size: 16px;line-height: 35px">Dare a friend</p>
					</div>
				</div>
			</div>
		</div>

		<!-- <div ng-if="dare1.stage === 3" style="display: flex; border-bottom: 1px solid #ddd; padding: 10px 15px;">
			<img style="width: 30px; height: 30px;" lazy-src="images/Following_Icon_Header_Filled_White_SS_FINAL.png">
			<input class="dare_ta" style="flex: 1; height: 30px; border: none;" placeholder="Tag Friends" type="text" name="">
		</div> -->
		<!-- select friends to give dare -->
		<div ng-if="dare1.stage === 3" style="margin: 10px 0;" id="shareDareBox">
			<div ng-if="forward_card.id">
				<div  style="padding-bottom: 10px;width: 250px;margin: auto;display: flex;justify-content: space-between;text-align: center">

					<div style="width: 75px">
						<div  tr-label="copy_link_nominate" label-text="DS: {{::forward_card.dareText}}" back-image="images/weblink_icon_square.png" class="share_icon copybtn1 sti-cursor"   data-clipboard-text="{{dareLink}}"> </div>
						<p ng-if="!isCopied" style="margin-top:5px;font-weight: 300;font-size: 13px">Copy Link</p>
						<p ng-if="isCopied" style="margin-top:5px;font-weight: 300;font-size: 13px">Link Copied</p>
					</div>
					<div style="width: 75px">
						<div tr-label="fb_share_nominate" label-text="DS: {{::forward_card.dareText}}" back-image="images/facebook_square.png" class="share_icon sti-cursor"  social-share="forward_card" share-type="facebook"></div>
						<p style="margin-top:5px;font-weight: 300;font-size: 13px">Facebook</p>
					</div>
					<div style="width: 75px">
						<img tr-label="whatsapp_share_nominate" label-text="DS: {{::forward_card.dareText}}" src="images/whatsapp1.png" class="share_icon sti-cursor"  social-share="forward_card" share-type="whatsapp" style="border-radius: initial">
						<p style="margin-top:5px;font-weight: 300;font-size: 13px">Whatsapp</p>
					</div>
				</div>
				<div style="margin-bottom: 10px; padding: 10px; text-align: center; font-weight: bold;margin-top: 10px;">Find on STICHIO</div>
				<div class="dare-friend-box">
					<div class="user-image-cnt" ng-repeat="user in forward_card.top_friends">
						<div back-image="{{ user.user.avatar }}" ng-click="select_friend(user)" ng-if="!user.selected" class="user-image-note desk-user-image sti-cursor"></div>
						<div back-image="{{ user.user.avatar }}" ng-click="unselect_friend(user)" ng-if="user.selected" class="user-image-note desk-user-image sti-cursor">
							<div class="selected-user">
								<img style="width: 50px !important; padding: 16px;" lazy-src="images/Tick_Icon_White.png"/>
							</div>
						</div>
						<span style="font-size: 10px; white-space: nowrap !important;" ng-bind="user.user.username | limitTo:10"></span>
					</div>
					<div ng-hide="forward_card.top_friends.length > 4" ng-click="open_search()" class="user-image-note user-image-cnt">
						<img style="width: 50px !important;" lazy-src="images/Search_Icon_Red_TD.png" />
					</div>
				</div>
			</div>
		</div>

		<div ng-show="dare1.stage === 5">
			<div style="margin-top: 10px; padding: 10px; text-align: center; font-weight: bold;">You are DARING</div>
			<div style="display: flex; margin: 10px auto; width: 175px; position: relative;">
				<div style="text-align: center;">
					<a ng-href="#/profile/{{userLoggedInDetails.userId}}"><img class="user-image-note sti-cursor" ng-src="{{ userLoggedInDetails.avatar }}"/></a>
					<p class="user-name-tdc">{{userLoggedInDetails.username}}</p>
				</div>
				<div style="margin: 18px;"><img src="images/Infinity_Icon_Red.png" style="width: 38px;" alt=""></div>
				<div style="text-align: center;">
					<a ng-href="#/profile/{{daree.userId}}"><img class="user-image-note sti-cursor" ng-src="{{ daree.avatar }}"/></a>
					<p class="user-name-tdc">{{daree.username}}</p>
				</div>
				<div ng-show="num_other_users> 0" style="position: absolute; width: 60px; left: calc(100% + 10px); top: 18px;">
					<span> & {{num_other_users}} more</span>
				</div>
			</div>
		</div>

		<!-- buttons -->
		<div ng-show="dare1.stage === 3 || dare1.stage === 5 || dare1.stage === 7" style="text-align: center; margin: 20px auto;">
			<button style="width: 150px; height: 35px; position: relative;" ng-show="dare1.stage === 3" class="green-button"  ng-disabled="!(forward_card.dareText && selected_friends.length > 0)" ng-click="forwardDare();">
				<span>Give DARE</span>
				<img class="fd-loading-icon" lazy-src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; top: 8px; right: 8px;">
			</button>
			<button style="width: 150px; height: 35px; position: relative;" ng-show="dare1.stage === 5;" class="green-button"  ng-disabled="!forward_card.dareText" ng-click="giveDare();">
				<span>Give DARE</span>
				<img class="fd-loading-icon" lazy-src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; top: 8px; right: 8px;">
			</button>
			<button style="width: 150px; height: 35px;" ng-show="dare1.stage === 7;" class="button"  ng-click="dare1.stage = 8; suggest_dare();">Suggest DARE</button>
		</div>

		<div class="modal search-friends" ng-show="forward_card.searching" style="display: flex;">
			<div class="modal-content">
				<div style="display: flex; padding: 10px 15px;">
					<div id="create-dare-popup-back" class="sti-cursor" ng-click="forward_card.searching = false"><i class="left-arrow-createDare"></i></div>
					<div style="flex: 1;">
						<div style="border: 1px solid #53585f; border-radius: 2px; margin: 0 10px;position: relative;top: 8px;">
							<input class="cd-friend-search" style="padding: 3px 3px 3px 7px;border-radius:5px !important; border: none !important; width: 100%; height: 35px; font-size: 14px;" autofocus autocomplete="off" type='text' placeholder="Search" name='searchInput123' ng-model="forward_card.searchText"/>
							<p style="font-size: 13px; color: #cb0000; padding: 3px;" ng-show="dare1.search_error" ng-bind="dare1.search_error"></p>
							<div class="suggested-users-cnt" style="padding: 0 15px; text-align: left; border-top: 1px solid rgba(0, 0, 0, 0.2) !important;height: 250px;overflow-y: scroll;" ng-show="suggested_users.length > 0">
								<div ng-repeat="user in suggested_users| filter:{username : forward_card.searchText}" ng-click="select_friend_from_search(user)" style="border-bottom: 1px solid #ddd; height: 46px; padding: 10px 0;">
									<img class="small-avatar" style="margin-right: 20px;" ng-src="{{ user.avatar }}"/>
									<div class="ellipsis" style="width: calc(100% - 50px); display: inline-block;">{{ user.username }}</div>
								</div>
							</div>
						</div>
						<p style="margin: 18px 10px; font-size: 12px;" ng-show="forward_card.searchText.length < 3"> Please type at least 3 characters to Search </p>
					</div>
				<!--	<div><img style="width: 30px; margin-top: 10px;" lazy-src="images/search_icon_round.png"></div> -->
				</div>
			</div>
		</div>

	</div>
</div>