<div ng-if="dare.id" class="home-feed-dare" id="card-{{ ::dare.id }}" >

    <div ng-if="::dare.comment_note_details.event">
        <div class="note-box">
            <div tr-label="note" class="activity-log-box sti-cursor" ng-click="!loggedIn||openDarePopup(dare, true)">
                <div style="position: relative">
                    <span class="stich_comment_time" style="position: relative;float:right;max-width: 50px;right:0;" ng-bind="::(dare.comment_note_details.action_time | timeStamp)"></span>
                    <div class="note-text-cnt1">
                        <div class="note-status">
                            <div class="note-action-para">
                                <p class="note-message"><a ui-sref="profile.dares(::{ profileId : dare.comment_note_details.from_userId})" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><b class="name-color" ng-bind="::dare.comment_note_details.from_user"></b></a><span ng-if="::(dare.comment_note_details.count > 0)" > and <span ng-bind = "::dare.comment_note_details.count" > </span> other</span><span ng-if="::(dare.comment_note_details.count > 1)" >s</span> commented on this DARE</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="dare-body" ng-class="{'bookmarked': card.is_bookmarked}">
        <bookmark tr-label="bookmark"></bookmark>
        <div style="display: flex;width: 100%">
            <div style="margin: 10px;margin-bottom: 0px;width: 100%">
                <div class="dare-thumbnail" style="width: 100%">
                    <div style="width: 100%">
                        <div style="display: flex; margin-right: 10px;">
                            <a style="min-width: 40px" href="#/profile/{{::dare.user1.userId}}" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><img class="sti-cursor profile-pic" lazy-src="{{ ::dare.user1.avatar }}"/></a>
                            <img src="images/Infinity_Icon_grey.png" style="width: 20px; margin: auto 5px;margin-top: 16px;">
                            <a style="min-width: 40px" href="#/profile/{{::dare.user2.userId}}" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><img class="sti-cursor profile-pic" lazy-src="{{ ::dare.user2.avatar }}"/></a>
                            <div style="margin-left: 10px;height: 45px">
                                <div class="vert-center">
                                    <div  style="font-weight: bold; line-height: 18px;font-size: 13.34px"><a href="#/profile/{{::dare.user1.userId}}" ><span style="color: black;font-weight: bold;" ng-click="!loggedIn||removePopups();$event.stopPropagation();">{{::(dare.user1.username | firstWord)}}</span></a><span style="font-size: 13.34px;font-weight: normal"> dared </span> <a href="#/profile/{{::dare.user2.userId}}" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><span ng-show="::(dare.user_type != 'daree')" style="color: black;font-weight: bold">{{::(dare.user2.username | firstWord)}}</span><span ng-show="::(dare.user_type == 'daree')" style="color:black">You</span></a></div>
                                    <div style="font-size: 9.34px; color: #9b9a9a;" ng-show="::loggedIn">
                                        <p ng-if="::dare.picked_dare" style="font-size: 10.34px; padding-top: 1px;">Picked for You</p>
                                        <!--<p style="font-size: 10.34px; padding-top: 1px;">Picked for You</p>-->
                                        <p ng-if="::(dare.pending_dare && dare.status<3)" style="font-size: 10.34px; padding-top: 1px;">Want to pick this today?</p>
                                        <p ng-if="!dare.picked_dare && !dare.pending_dare">{{dare.updated_date | timeStamp : true}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tr-label="follow_dare_feed" ng-show="!dare.is_following_daree && !dare.user2.justFollowed && dare.user_type != 'daree'" class="user-follow-btn sti-cursor" style="flex-shrink: 0; position: static; margin-bottom: auto;font-size: 11.88px;width: 84px;" ng-click="!loggedIn || followUser(dare.user2);dare.is_following_daree=true">Follow</div>
                    <div tr-label="unfollow_dare_feed" ng-show="dare.user2.justFollowed" class="user-follow-btn" style="flex-shrink: 0; border: 1px solid #53585f; color: #53585f; position: static; margin-bottom: auto;font-size: 11.88px;width: 84px;" ng-click="!loggedIn || unFollowUser(dare.user2)">Following</div>
                    <div ng-show="::(loggedIn && !card.isEventDare && !card.admin_dare.isEventDare)" style="width: 24px;"></div>
                </div>
            </div>
        </div>

        <div style="display: flex; margin: 10px;">
            <div tr-label="open_dare_image" class="sti-cursor" style="width: 100px; height: 100px; margin-right: 10px; background: {{dare.background_color}};" back-image="{{::(dare.image || dare.orig_image)}}" ng-if="::(dare.image && dare.orig_image)" ng-click="openImagePopup(dare.image, dare, false, 'stich')"></div>
            <div id="dare_text" style="flex: 1">
                <div class="text" ng-class="{ 'dareText' : (dare.dareText.length<170) }" ng-bind-html="::(dare.dareText | parseUrl)"></div>
                <div style="margin-top: 10px;line-height: 21px;font-size: 14px;min-height: 15px" ng-if="::dare.admin_dare">
                    <p tr-label="n_others_took" style="color: #0365C0;float: left;margin-right: 5px;display: inline-block" ng-click="openDareResponsesPopup(dare.admin_dare);closeAdminDarePopup();" ng-if="::(dare.admin_dare.taken_dares_count != 0)">{{::dare.admin_dare.taken_dares_count}} user<span ng-if="::(dare.admin_dare.taken_dares_count > 1)">s</span> took this DARE</p>
                    <p ng-if="::dare.admin_dare.creator_details" ui-sref="profile.dares(::{ profileId : dare.admin_dare.creator_details.userId})" style="display: inline-block"> by <img class="creator_avatar" lazy-src="{{::dare.admin_dare.creator_details.avatar}}"></p>
                </div>
                <button tr-label="accept_dare" ng-if="dare.pending_dare && dare.status==0"  style="color: #00bb5f; border: 1px solid #00bb5f; padding: 0; margin-right: 20px; margin-top: 15px" class="accept-button" ng-click="!loggedIn || acceptDare()"> Accept to Respond</button>
                <!--<div style="margin-top: 10px;" ng-if="dare.status > 2 && dare.likes_count && (dare.user_type!='visitor')">-->
                    <!--<span tr-label="likes_popup" class="sti-cursor"  ng-click="!loggedIn || openDareLikePopup(dare.id,dare.likes_count,'dare')">-->
                        <!--<img src="images/Heart_Icon_Grey_Filled_SS.png" style="cursor: pointer; height: 12px; vertical-align: middle;" />-->
                        <!--<span class="sti-cursor" style="font-size: 10px; font-weight: 300;"> {{dare.likes_count}} Like<span ng-show="dare.likes_count > 1">s</span></span>-->
                    <!--</span>-->
                <!--</div>-->
                <div style="font-size: 10px; margin-top: 10px; color: #9b9a9a;" ng-show="dare.status < 3">
                    <p ng-show="dare.user_type != 'daree' && dare.status == 0">Not Accepted</p>
                    <p ng-show="dare.status == 1">Accepted</p>
                    <p ng-show="dare.status == 2">Rejected</p>
                </div>
            </div>
        </div>

        <!-- dare response -->
        <hr style="margin: 10px;border-top: 1px solid #eee;" ng-hide="(dare.user_type == 'daree' && dare.status == 1) || (dare.status ==0 && dare.pending_dare) || (dare.status >2 && ((dare.response_type && !dare.response_text) || dare.text_background))">

        <!--<div style="display: flex; margin: 0 10px;" ng-show="(dare.status==3 || dare.status==4)">-->
            <!--<a href="#/profile/{{dare.user2.userId}}"><img class="dare-body-profile-pic" style="margin-right: 10px;" lazy-src="{{ dare.user2.avatar }}"/></a>-->
            <!--<div style="margin: auto 0; flex: 1;">-->
                <!--<div style="margin-right: 10px; line-height: 18px; word-break: break-word;">-->
                    <!--<span ng-if="::(dare.user_type=='darer')"><span class="black-bold" ng-bind="::dare.user2.username"></span> has completed your DARE</span>-->
                    <!--<span ng-if="::(dare.user_type=='daree')">You completed this DARE</span>-->
                    <!--<span ng-if="::(dare.user_type=='visitor')"><span class="black-bold" ng-bind="::dare.user2.username"></span> completed this DARE.</span>-->
                <!--</div>-->
                <!--<p ng-hide="dare.status == 0" style="font-size: 9.34px; color: #9b9a9a;">{{dare.updated_date | timeStamp : true}}</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="" style="display: block;padding-left: 0px;padding-right: 0px">
            <div class="dare-text-box" style="width: 100%;padding: 0px">

                <div ng-if="dare.status === 0 && dare.user_type=='daree' && !dare.pending_dare" style="margin: 10px; text-align: left;">
                    <button tr-label="accept_dare" style="color: #00bb5f; border: 1px solid #00bb5f; padding: 0; margin-right: 20px;" class="accept-button" ng-click="!loggedIn || acceptDare()"> Accept to Respond</button>
                    <button tr-label="reject_dare" style="color: #53585f; border: 1px solid #53585f; padding: 0;" class="reject-button" ng-click="!loggedIn || rejectDare()"> Reject Dare</button>
                </div>

                <div ng-if="loggedIn && dare.status==1 && dare.user_type=='daree'" style="margin: 10px;">
                    <textarea required placeholder="Put your DARE response" style="display:inline-block;height: 60px;padding: 5px;border-color: #00bb5f; border-radius: 3px; font-size: 14.34px; width: calc( 100% - 70px)" ng-model="dare.response_text" />
                    <div style="width: 65px;display: inline-block;text-align: center;margin: 0 auto;vertical-align: top;padding-top: 10px; cursor: pointer;" ng-click="selectSource()">
                        <img src="images/Camera_Icon_Grey.png" class="camera-icon" style="margin: 0" />
                        <p style="font-size: 10px;">Photo/Video</p>
                    </div>
                </div>
                <!-- <hr style="margin: 10px;"> -->

                <!-- response text / image / video -->
                <div style="width: 100%;">
                    <div ng-if="dare.status > 2 && !dare.text_background" style="margin: 10px;">
                        <p class="text response_text"  style="font-size: 20px;word-break: break-word;" ng-bind-html="dare.response_text | parseUrl" ng-class="{small_repsonse_text : dare.response_image}"></p>
                    </div>

                    <div class="response_container"  ng-if="dare.status > 2 &&  dare.text_background" back-image="{{dare.text_background}}">
                        <p class="text response_text"  ng-bind-html="dare.response_text | parseUrl"></p>
                    </div>

                    <div style="margin: 10px auto; display: block; height: 150px; background-position: center 40px; background-size: 80px 80px;" class="progress" ng-if="dare.loading.status"><p><b ng-bind="dare.loading.progress"></b>% done...</p></div>
                    <div ng-if="dare.response_type || dare.response_image" class="dareResponseContainer" style=" margin: 10px 0; min-height: 125px;">
                        <div ng-if="dare.response_type!='video' && dare.response_image">
                            <div  ng-if="dare.dare_response_iar<ideal_resp_image_iar" style="height: 100%; background: {{dare.resp_background_color}};height: {{dare.resp_height}};overflow: hidden;display: inline-block; border-top-left-radius: 0px;width: 100%;min-width: 100%" >
                                <img tr-label="open_response_image" style="width: 100%; min-height: 125px;" lazy-src="{{::dare.response_image_full}}" ng-click="openImagePopup(dare.response_image_compressed, dare, false, 'dareResponse')">
                            </div>
                            <div tr-label="open_response_image" ng-if="dare.dare_response_iar>=ideal_resp_image_iar" style="height: {{respimageboxht}};" bgc="{{dare.resp_background_color}}" back-image="{{dare.response_image_full}}" ng-click="openImagePopup(dare.response_image_compressed, dare, false, 'dareResponse')"></div>
                        </div>
                        <!--<div ng-if="dare.response_type=='video' && dare.response_image && dare.status == 1 && dare.user_type == 'daree'" class="dare-video-box" style="background-color: black;">-->
                        <!--<div ng-if="dare.response_image" back-image="{{dare.poster}}" style="width: 100%;height: 100%;display: table;" ng-click="openVideo(dare.response_image, dare.id)">-->
                        <!--<div style="display: table-cell;vertical-align: middle;height: 100px">-->
                        <!--<div class="play-icon"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="video-slot" >
                            <div id="video-player-{{dare.id}}" class="video-player1" style="position: relative;" ng-if="dare.response_type=='video' && dare.status > 2 && dare.videoSrc">
                                <div style="width: 100%;height: {{dare.resp_height}}">
                                    <video-player-feed video-source="dare.videoSrc" stop-auto-play="dare.stopAutoPlay" dare="dare"></video-player-feed>
                                </div>
                            </div>
                        </div>

                        <div class="video-player1" style="position: relative;" ng-if="dare.response_type=='video' && dare.response_image && dare.status == 1 && dare.user_type == 'daree' && dare.videoSrc">
                            <div style="width: 100%;height: 80vw;">
                                <videogular vg-native-controls="false" vg-native-fullscreen="false"  >
                                    <vg-media vg-src="dare.videoSrc" vg-preload="'metadata'">
                                    </vg-media>
                                    <vg-overlay-play></vg-overlay-play>

                                    <vg-buffering></vg-buffering>
                                    <vg-poster vg-url='dare.videoSrc | videoPoster'></vg-poster>
                                </videogular>
                            </div>
                        </div>
                    </div>

                    <div ng-if="dare.status > 2" style="margin: 10px;">
                        <div>
                            <hr style="border-top: 1px solid #eee;" ng-if="::(!dare.response_type && !dare.text_background)">
                            <div class="stars-cnt">
                                <div ng-repeat="starvalue in stars" ng-click="!loggedIn || rateDare($index)">
                                    <img tr-label="rate_dare" ng-if="starvalue>dare.rating" src="images/Star_Icon_Grey_Unfilled.png">
                                    <img tr-label="rate_dare" ng-if="starvalue<=dare.rating" src="images/Star_Icon_Red.png">
                                </div>
                            </div>
                            <span style="margin-left: 20px; vertical-align: middle;color: black;font-weight: bold"><b>{{ ::(dare.user1.username | firstWord) }}</b>
                                <span ng-if="dare.status==3">to rate</span>
                                <span ng-if="dare.status==4">rated</span>
                            </span>
                            <hr style="border-top: 1px solid #eee;">
                        </div>
                        <!-- <span>{{2123456 | formatNumber}} Views</span> -->
                    </div>
                </div>

                <div ng-if="dare.status==1 && dare.user_type=='daree'" ng-show="(dare.response_image_compressed || dare.response_text)" style="margin: 10px; text-align: center;">
                    <button class="green-button" ng-click="submitDareResponse()" style="padding: 5px 70px;height: 35px;position: relative">
                        <span style="color: white">Submit</span>
                        <img class="submitdareresponse" src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; top: 8px; right: 8px;">
                    </button>
                    <hr style="border-top: 1px solid #eee; margin: 10px 0;">
                </div>
            </div>
        </div>
        <div class="dare-icons-cnt">
            <div class="sti-cursor" tr-label="nominate" style="display: inline-flex;height: 32px" ng-if="!(dare.pending_dare && dare.status<3)"  ng-click="!loggedIn || open_dare_form(dare); dare1.stage = 3;">
                <div class="arrow-icon-cnt" style="background-color: #acacac;">
                    <img src="images/dare_friend_white_arrow.png" style="width: 100%;">
                </div>
                <p style="line-height: 32px;margin-left: 5px"> Dare a Friend</p>
            </div>
            <div class="sti-cursor" ng-if="::dare.admin_dare" style="display: inline-flex;height: 32px;margin-left: 10px;vertical-align: bottom" tr-label="take_dare_feed" ng-click="!loggedIn || openDareResponsesPopup(dare.admin_dare, null, true);closeAdminDarePopup();" ng-hide="::(dare.user_type=='daree')">
                <div class="arrow-icon-cnt" style="background-color: #acacac;">
                    <img src="images/dare_mask_white.png" style="height: 100%;">
                </div>
                <p style="line-height: 32px;margin-left: 5px"> Take this DARE</p>
            </div>
            <div ng-if="!(dare.pending_dare && dare.status<3)" class="" style="display: inline-flex; float: right;">
                <img tr-label="whatsapp_share" class="sti-cursor" src="images/whatsapp1.png" alt="" style="cursor: pointer; height: 30px; padding: 0 6px;" social-share="dare" share-type="whatsapp">
                <!-- <img src="images/weblink_Icon.png" style="cursor: pointer; height: 24px; margin-left: 5px;"> -->
               <div style="height:30px;padding:10px" ng-click="!loggedIn || openDareMenu('dare', dare, false, 'dare')"> <img tr-label="more_options" class="sti-cursor vert-center" src="images/3_Grey_Dots_Vertical.png" style="cursor: pointer; height: 21px;" ></div>
            </div>
        </div>
        <!-- buttons -->
        <div style="margin: 0px 10px;margin-top: 5px;margin-bottom: 10px">
            <div style="display: flex;">
                <div ng-hide="dare.pending_dare" class="sti-cursor" style="display: inline-block; text-align: center;" ng-if="dare.status < 3" >
                    <div style="width:35px;">
                        <div style="display: inline-block;padding:10px;padding-bottom:5px;padding-left:0px" ng-click="!loggedIn||likeDare(dare, $index, $event)">
                            <img tr-label="like_dare" ng-if="!dare.like_status" src="images/heart_icon_black_boundary.png" style="cursor: pointer;height: 22px;vertical-align: top;margin-right: 3px;"/>
                            <img tr-label="unlike_dare" ng-if="dare.like_status" src="images/Heart_Icon_REd_Filled.png" style="cursor:pointer;width: 22px;vertical-align: top;margin-right: 3px;"/>
                        </div>
                        <div tr-label="likes_popup" style="display: flex;justify-content: center;" ng-if="dare.likes_count && (dare.user_type!='visitor')" ng-click="!loggedIn || openDareLikePopup(dare.id,dare.likes_count,'dare')">
                            <p style="line-height: 22px" ng-bind="dare.likes_count"></p>
                            <img class="upvote-arrow-icon sti-cursor" style="height: 22px" src="images/Down_Arrow_Numbers.png">
                        </div>
                    </div>
                </div>

                <div style="display: inline-block; text-align: center" ng-if="dare.status > 2">
                    <div style="width:40px;">
                        <div style="display: inline-block;padding:10px;padding-bottom:5px;padding-left:0px" ng-click="!loggedIn || toggleUpvoteResponse()">
                            <img tr-label="upvote" ng-show="dare.dare_response_vote_status != 'upvote'" style="width: 22px;margin-right: 3px;vertical-align: middle;" src="images/thumbs_up_outline_black.png" class="sti-cursor">
                            <img tr-label="un_upvote" ng-show="dare.dare_response_vote_status == 'upvote'" style="width: 22px;margin-right: 3px;vertical-align: middle;" src="images/Thumbs_Up_Icon_Red.png"  class="sti-cursor">
                        </div>
                        <div tr-label="likes_popup" style="display: flex;justify-content: center;" ng-if="dare.dare_response_upvote_count" ng-click="!loggedIn || openUpvoDownvoUsers(dare.id,dare.dare_response_upvote_count,dare.dareResponseId,'upvote')">
                            <p style="line-height: 22px" ng-bind="dare.dare_response_upvote_count"></p>
                            <img class="upvote-arrow-icon sti-cursor" style="height: 22px" src="images/Down_Arrow_Numbers.png">
                        </div>
                    </div>
                </div>
                <div tr-label="comment_icon" ng-if="!(dare.pending_dare && dare.status<3)" class="sti-cursor" ng-click="openDarePopup(dare, true)" style=" text-align: center; padding:10px 10px;vertical-align: top">
                    <img src="images/comments_icon_black.png" style="height: 22px" class="sti-cursor">
                    <!--<p class="icon-label">Comment</p>-->
                </div>
                <div social-share="card" share-type="internal" tr-label="internal_share_icon"  style=" text-align: center; vertical-align: top;padding: 10px 10px;">
                    <img src="images/share_dare_icon_black.png" style="height: 22px" class="sti-cursor">
                </div>
            </div>


        </div>
        <div ng-click="openDarePopup(dare, true)" style="margin-bottom: 10px;margin-left:5px">
            <div class="dare-comments" ng-show="dare.comments_count && !(dare.pending_dare && dare.status<3)" style="line-height: 18px; word-break: break-word; margin: 5px;">
                <span tr-label="view_all_comments" style="color: #9b9a9a; cursor: pointer;" ng-show="dare.comments_count > 1" >view all {{dare.comments_count}} comments</span>
                <p><a class="sti-cursor"><span style="font-weight: bold;color: black">{{dare.last_comment.username}} </span></a><span ng-bind-html="(dare.last_comment.comment)"></span></p>
            </div>
        </div>
    </div>

</div>
<div class="modal media-selection-popup" style="display: block;" ng-if="dare.medium_selection" ng-click="closeSelectMedia()">
    <div class="modal-content" style="background: transparent; display: flex; flex-wrap: wrap;">
        <ul class="source-list">
            <li ng-click="captureImage()"><img src="images/Camera_Icon_Red_Boundary.png"><span>Photo</span></li>
            <li ng-click="captureVideo()"><img src="images/Video_icon_red_boundary.png"><span>Video</span></li>
            <li ng-click="selectFile()"><img src="images/Gallery_Icon_Red_Boundary.png"><span>Gallery</span></li>
        </ul>
    </div>
</div>
</div>