<style>
    .share-dare .share-dare-cnt{
        position: absolute;
        top: 100px;
        /* bottom: 0; */
        left: 0;
        right: 0;
        height: auto;
        padding: 10px;
    }
    .share-dare-cnt{
        max-width:350px;
        width:90%;
        z-index: 9999999999;
        margin: 0 auto;
        border-radius:3px;
        opacity: 1;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
    }
    .dare-cross-icon{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .share-dare-cnt h1,.weblink-cnt p{
        color:#53585f;
        font-size: 14.34px;
        text-align:center;
        line-height: 20px;
    }
    .congrats-box{
        text-align: center;
        height: 50px;
    }
    .congrats-box img{
        width: 32px;
        display: inline-block;
    }
    .congrats-box p{
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
    .congrats-box > div, .take_next_dare > div{
        display: inline-block;
        height: 100%;
        margin-left: 10px;
        vertical-align: top
    }
    .take_next_dare img{
        display: inline-block;
        width: 25px;
    }
    .take_next_dare{
        height: 45px;
        text-align: center;
    }
    .bottom-border{
        border-bottom: 1px solid #ddd
    }
    .share_icon{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid white;
        display: inline-block;
    }

    .answer_box{
        min-height: 30px;
        text-align: center;
        padding: 20px 10px;
        line-height: 21px;
        font-size: 19px;
    }
    .answer_box p{
        font-size: 20px;
        line-height: 24px;
        font-weight: 300
    }
    .answer_box p.big_font{
        font-size: 26px;
        line-height: 32px;
    }


    .animateOpen.takeAnotherDareBox{
        opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    }

    .takeAnotherDareBox{
        -moz-perspective: 1000;
	-webkit-perspective: 1000;
	-ms-perspective: 1000;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
        transform: scale(0.1);

	-webkit-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
        opacity: 0;
    }

    .whatsapp_icon{
        height: 50px;
        width: 50px;
        text-align: center;
        margin: 0 auto;
        background: #fff;
        border-radius: 50%;
        padding: 1.5px;
    }
    .whatsapp_icon > div{
            height: 47px;
            width: 47px;
            margin: 0 auto;
    }
    /*.share-popup-content .genreItemImage:hover{*/
        /*width: 30px;*/
        /*height: 30px;*/
    /*}*/
</style>
<!--<div class="modalDialog share-dare sti-popup" id ='SHARE'>-->
<div  class="body-overlay" ng-show="showShareDarePopup" ng-click="closeShareDare()"></div>
<div class="share-dare-cnt" ng-show="showShareDarePopup">
    <div id="sharePopupBox" ng-if="dare.justCompleted && !takeAnotherDare">
        <div ng-if="answer_text" class="congrats-box">
            <img class="vert-center share-popup-content" ng-src="{{smiley}}">
            <div class="share-popup-content">
                <p class="vert-center">Here's the Answer</p>
            </div>
        </div>
        <div style="background: #fff;border-radius: 5px;padding: 5px" class="share-popup-content">
            <div ng-if="answer_text" class="answer_box bottom-border">
                <p  ng-class="{'big_font' : answer_text.length<120}" style="color:{{rand_color}}" ng-bind-html="answer_text| parseUrl"> </p>
            </div>
            <div ng-if="!answer_text && !completed_text" class="answer_box" style="padding:10px 10px;padding-bottom: 0px;">
                <p style="color:#EA8600;font-weight: bold;font-size: 16px"> {{congrats_text}}! You completed a DARE!</p>
            </div>
            <div ng-if="!answer_text && completed_text" class="answer_box" style="padding:5px 0px">
                <div style="height: 50px;width: 50px;display: inline-block" back-image="{{comp_rand_image}}"></div>
                <div style="height: 55px;width: calc(100% - 70px);margin-left: 5px;display: inline-block;vertical-align: top"><p style="font-size:18px;line-height:20px;color:#0096FF" ng-bind-html="completed_text" class="vert-center"></p></div>
            </div>
            <div tr-label="take_next_dare" ng-if="answer_text || !completed_text" class="take_next_dare sti-cursor share-popup-content" ng-click="takeNextDare(genreId)">
                <div style="margin-right: 10px;">
                    <p class="vert-center" style="font-weight: 300;">Take Another DARE</p>
                </div>
                <img class="vert-center" src="images/next_1.png">
            </div>
        </div>

        <div style="text-align: center;margin-top: 20px">
            <p class="share-popup-content" ng-if="!answer_text && completed_text" style=" color: white;font-size: 14px;font-weight:bold;margin-bottom: 15px"> Share with Friends now </p>
            <div style="display: flex">
                <div style="display: inline-block; width: calc(100% / 3);">
                    <div tr-label="fb_share" back-image="images/facebook_square.png" class="share_icon sti-cursor share-popup-content"  social-share="dare" share-type="facebook"></div>
                </div>
                <div style="display: inline-block;width: calc(100% / 3);">
                    <div class="whatsapp_icon">
                        <div tr-label="whatsapp_share_submit" back-image="images/whatsapp1.png" class="sti-cursor share-popup-content"  social-share="dare" share-type="whatsapp"></div>
                    </div>
                </div>
                <div style="display: inline-block;vertical-align: top;width: calc(100% / 3);position: relative">
                    <div id="copybtn" tr-label="copy_link" back-image="images/weblink_icon_square.png" class="share_icon copybtn sti-cursor"   data-clipboard-text="{{dareLink}}"> </div>
                    <p ng-if="isCopied" style="width:100%;margin-top:5px;font-weight: 300;font-size: 12px;color: white;position: absolute;">Link Copied</p>
                </div>
            </div>
        </div>
    </div>
    <div id="sharePopupBox" ng-if="takeAnotherDare" ng-class="{'animateOpen' : showAnotherDareBox}" class="takeAnotherDareBox">
        <div class="congrats-box">
            <div class="share-popup-content">
                <p class="vert-center" style="font-size: 19px" > Choose One</p>
            </div>
        </div>
        <div class=" share-popup-content" style="background: #fff;border-radius: 5px;padding: 20px 0px;" >
            <div class="genreItem" ng-repeat="genreData in nextGenres|limitTo:3" ng-click="selectGenre(genreData)" style="width:calc(100% / 3);height: 100px;vertical-align: top">
                <div tr-label="take_another_genre" ui-sref="explore.dares({genreId: genreData.id})"  class="genreItemImage sti-cursor" ng-click="delayCloseSharePopup()">
                    <div back-image="{{genreData.image}}" > </div>
                </div>
                <p ng-bind="genreData.name" style="line-height: 24px;color: black;font-weight: bold;font-size: 13px"></p>
            </div>
            <div style="margin-top: 10px;text-align: center">
                <div class="genreItem" style="width:100px;margin-right: 25px;">
                    <div tr-label="take_another_pending" ui-sref="profile.dares({ profileId : loggedInUserId, dareType:'remaining'})"  class="genreItemImage sti-cursor" ng-click="delayCloseSharePopup();" >
                        <div back-image="images/pending_dares_round.jpg" > </div>
                    </div>
                    <p tr-label="take_another_pending"  class="sti-cursor" style="line-height: 24px;color: black;font-weight: bold;font-size: 13px">From Friends </p>
                </div>
                <div class="genreItem" style="width:100px;vertical-align: top;">
                    <div tr-label="take_another_bookmarks" ui-sref="profile.dares({ profileId : loggedInUserId, dareType:'bookmarks'})"  class=" genreItemImage sti-cursor" ng-click="delayCloseSharePopup();">
                        <div back-image="images/bookmark_round.jpg" > </div>
                    </div>
                    <p tr-label="take_another_bookmarks" ui-sref="explore.dares" class="sti-cursor" style="line-height: 24px;color: black;font-weight: bold;font-size: 13px">  Favourites </p>
                </div>
            </div>
        </div>

    </div>

</div>
<!--</div>-->