<div ng-if="card" ng-class="{'bookmarked': card.is_bookmarked}" class="dareSug border-stc" style="background-color: #fff; padding: 10px; position: relative;" id="card-{{ ::card.id }}">
    <bookmark tr-label="bookmark"></bookmark>
    <!-- dare taker details -->
    <div style="display:flex; width: 100%" ng-if="::card.dares">
        <div style="margin-bottom: 10px; width: 100%">
            <div class="dare-thumbnail" style="width: 100%">
                <div style="width: 100%">
                    <div style="display: flex; margin-right: 10px;">
                        <a style="min-width: 40px" href="#/profile/{{ ::card.dares[0].daree_details.userId }}" ng-click="!loggedIn||removePopups();$event.stopPropagation();"><img class="sti-cursor profile-pic" lazy-src="{{ ::card.dares[0].daree_details.avatar }}"/></a>
                        <div style="margin-left: 10px;height: 45px">
                            <div class="vert-center">
                                <div style="font-weight: bold; line-height: 18px;font-size: 13.34px">
                                    <p style="color:black; display: inline-block">{{::card.dares[0].daree_details.username}}<span ng-if="card.taken_dares_count !== 1"> & {{ ::(card.taken_dares_count -1)}} other<span ng-if="card.taken_dares_count > 2">s</span></span> <span style="font-weight: normal;color:#53585f">took this DARE</span></p>
                                </div>
                                <div style="font-size: 9.34px; color: #9b9a9a; margin-top: 2px;" ng-show="::loggedIn"><p ng-if="::card.picked_dare" style="font-size: 10.34px; padding-top: 1px;">Picked for You</p><p ng-if="::!card.picked_dare">{{::(card.dares[0].created_date | timeStamp : true)}}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- dare text and image -->
    <div style="margin-bottom: 10px; display: flex; line-height: 18px; position: relative;">
        <div tr-label="open_dare_image" style="width: 100px; height: 100px; margin-right: 10px;" ng-show="::card.image" class="back-image-center" file-cache-src="{{::(card.image_compressed || card.image) }}" src-is="background" image-type="genre_pic" ng-click="openImagePopup(card.image_compressed, card, false, 'dareResponse')"></div>
        <div style="flex: 1; position: relative; overflow: hidden; margin-right: auto;">
            <div class="text dare-str"><span ng-class="{ 'dareText' : (card.dareText.length<1000) }" ng-bind-html="::card.dareText | parseUrl"></span></div>
            <div style="font-size: 14px;line-height: 21px;margin-top: 10px">
                <p ng-click="openDareResponsesPopup(card);closeAdminDarePopup();" tr-label="n_others_took" ng-if="::(card.taken_dares_count >0)" style="color: #0365C0;display: inline-block">{{card.taken_dares_count}} <span ng-if="card.taken_dares_count === 1">user</span><span ng-if="card.taken_dares_count !== 1">users</span> took this DARE</p>
                <p ng-if="::(card.creator_details && card.creator_details.userId)" style="display: inline-block" ui-sref="profile.dares(::{ profileId : card.creator_details.userId})"> by <img class="creator_avatar" ng-src="{{::card.creator_details.avatar}}"> </p>
            </div>
        </div>
        <div ng-show="::(loggedIn && !card.isEventDare && !card.admin_dare.isEventDare)" style="width: 24px;"></div>
    </div>


    <!-- Show Responses -->
    <div ng-if="::card.dares" style="margin: 0 -10px">
        <div ng-if="::(card.dares[0].response_type == 'text')">
            <div class="ds_responses_outer_text">
                <div class="ds_responses_text">
                    <div ng-repeat="dare in ::card.dares" style="display:inline-block; margin-right:3px;" class="text_response">
                        <div ng-if="dare.response_type == 'text'" ng-click="openDare(dare.dare_type,dare.dareId, dare)">
                            <div style="position:relative">
                                <div ng-click="$event.stopPropagation();" style="margin-left:5px; margin-bottom: 5px; width: 20px;height: 20px;border-radius: 50%" back-image="{{::dare.daree_details.avatar }}" ui-sref="profile.dares({ profileId : dare.daree_details.userId})" class="sti-cursor">
                                    <span style="height:20px; line-height: 19px; margin-left: 25px;font-size:11.34px; color:black" ng-bind="::dare.daree_details.username | firstWord"></span>
                                </div>
                                <div class="indiv_response_container" back-image="{{::dare.text_background}}">
                                    <p class="text response_text"  style="max-height: 160px; overflow:hidden; width: 80%" ng-bind-html="::dare.response_text | parseUrl"></p>
                                </div>
                                <div style="position: absolute;left:0px; bottom:0px">
                                    <div style="display: flex" ng-click="toggleUpvote(dare);dare.upvoted=!dare.upvoted;$event.stopPropagation();">
                                        <div style="padding: 10px" class="sti-cursor">
                                            <img tr-label="upvote"  ng-if="!dare.upvoted" style="width: 17px;margin-right: 3px;vertical-align: middle;" class="sti-cursor" src="images/thumbs_up_boundary_icon_white.png">
                                            <img tr-label="un_upvote" ng-if="dare.upvoted" style="width: 17px;margin-right: 3px;vertical-align: middle;" class="sti-cursor" src="images/thumbs_up_filled_icon_white.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display:inline-block; width: 70px; margin-left:-3px" ng-if="::(card.taken_dares_count > card.dares.length)" ng-click="openDareResponsesPopup(card);closeAdminDarePopup();">
                        <div style="position: relative">
                            <div style="height:25px"></div>
                            <div class="indiv_response_container" style="padding:0px;opacity: 0.9; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url({{::card.image_compressed}});background-size: cover">
                                 <p class="text response_text" style="font-size: 16px; line-height:18px; overflow:hidden;width:60px">+{{card.taken_dares_count-card.dares.length}} more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="::(card.dares[0].response_type != 'text')">
            <div class="ds_responses_outer_media">
                <div class="ds_responses_media">
                    <div ng-repeat="dare in ::card.dares" style="display:inline-block; margin-right:3px; vertical-align: top" class="media_response" ng-click="openDare(dare.dare_type,dare.dareId, dare)">
                        <div ng-if="::(dare.response_type != 'text')">
                            <div style="position:relative">
                                <div ng-click="$event.stopPropagation();" style="margin-left:5px; margin-bottom: 5px; width: 20px;height: 20px;border-radius: 50%" back-image="{{::dare.daree_details.avatar }}" ui-sref="profile.dares({ profileId : dare.daree_details.userId})" class="sti-cursor">
                                    <span style="height:20px; line-height: 19px; margin-left: 25px;font-size:11.34px; color:black" ng-bind="::dare.daree_details.username | firstWord"></span>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; position: relative; max-width:240px; max-height: 240px; height:40vw; width:40vw" back-image="{{::dare.response_image}}">
                            <div ng-if="::(dare.response_type=='video')" class="play-icon-dummy-ds"></div>
                        </div>
                    </div>
                    <div style="display:inline-block; width: 60px; margin-left:-3px" ng-if="::(card.taken_dares_count > card.dares.length)" ng-click="openDareResponsesPopup(card);closeAdminDarePopup();">
                        <div style="position: relative">
                            <div style="height:25px"></div>
                            <div class="indiv_response_container" style="padding:0px;height: 40vw;max-height: 240px;opacity: 0.9;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url({{::card.image_compressed}});background-size: cover">
                                <p class="text response_text" style="font-size: 16px; line-height:18px; overflow:hidden;width:60px">+{{::(card.taken_dares_count-card.dares.length)}} more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- share, forward-->
    <div ng-if="::(ancestor == 'event')" style="text-align: right;width: 100%;height: 25px">
        <img tr-label="show_more_dare_suggestions" style="width: 8px; vertical-align: middle;" src="images/Left_Arrow_Blue.png" ng-show="((card.index || 0) > 0)" ng-click="showDareSuggestion(card.index - 1)">
        <span>{{card.index + 1}} of {{eventAdminDares.length}}</span>
        <img tr-label="show_more_dare_suggestions"  style="width: 8px; vertical-align: middle;" src="images/Right_Arrow_Blue.png" ng-show="((card.index || 0) < (eventAdminDares.length - 1))" ng-click="showDareSuggestion(card.index + 1)">
    </div>
    <div style="display: flex;" class="dare-sugg-opts" >
        <div style="margin: auto; line-height: 18px; flex: 1; text-align: left;">
            <div tr-label="nominate" ng-if="!card.isEventDare" ng-click="!loggedIn || open_dare_form(card); dare1.stage = 3;" style="display: flex; text-align: center; margin-right: 20px;">
                <img class="sti-cursor" src="images/dare_friend_icon.png" style="height: 30px;border-radius: 50%"/>
                <p style="margin-left: 5px;line-height: 30px"> Dare a friend </p>
            </div>
            <!--<div ng-if="card.prize" style="margin-top: 5px;line-height: 18px;margin-right: 20px;">-->
            <!--<img src="images/Crown_Icon_Colored.png" style="height: 20px; margin-right: 5px;vertical-align: middle;display: inline-block">-->
            <!--<span ng-if="!card.prizeText" style="color: #0365C0; width: calc(100% - 40px);">Winner gets Paytm Voucher worth <span style="color: #EC5D57; font-weight: bold; font-size: 16px;">Rs. {{card.prize}} !!</span></span>-->
            <!--<span ng-if="card.prizeText" style="color: #0365C0;vertical-align: middle; width: calc(100% - 40px);">Winner gets prizes worth <span style="color: #EC5D57; font-weight: bold; font-size: 16px;">Rs. {{card.prizeText}}</span> & Amazon e-gift card of <span style="color: #EC5D57; font-weight: bold; font-size: 16px;">Rs. {{card.prize}} !!</span></span>-->
            <!--</div>-->
        </div>
        <div style="float: right;margin: auto;display:flex">

            <img tr-label="whatsapp_share_ds" src="images/whatsapp1.png" style="cursor: pointer; height: 30px" class="sti-cursor" social-share="card" share-type="whatsapp">
            <!-- <img src="images/weblink_Icon.png" style="cursor: pointer; height: 24px; margin-left: 5px;"> -->
            <div style="height:30px;padding:10px;padding-right:5px;padding-left:15px" ng-click="!loggedIn || openDareMenu('dare_sug', card, false, 'adminDare')"><img tr-label="more_options" src="images/3_Grey_Dots_Vertical.png" class="sti-cursor vert-center" style="cursor: pointer; height: 21px;" ></div>
        </div>
    </div>

    <!-- event data -->
    <hr style="margin: 8px -10px; border-top: 1px solid #eee;">

    <!-- comment-box -->
    <div ng-show="ancestor == 'event' && !card.accepted;" style="text-align: right">
        <button tr-label="take_dare_event" ng-click="card.accepted=true;" style="background-image: -webkit-linear-gradient(top, #00D084, #00BB5F); background-image: -moz-linear-gradient(top, #00D084, #00BB5F); background-image: -ms-linear-gradient(top, #00D084, #00BB5F); background-image: -o-linear-gradient(top, #00D084, #00BB5F); width: 150px; height: 28px;">Take DARE</button>
    </div>
    <div ng-show="ancestor != 'event' || (card.isEventDare && card.accepted)" style="display: flex; position: relative;">
        <div ng-show="!loggedIn" class="sti-cursor" style="width: 100%; height: 31px;"><p class="ellipsis" style="padding: 8px;">Login to take this DARE</p></div>
        <div ng-if="card.genre_name=='whatsay' || card.genre_name == 'quickies'" style="display:flex; width:35px" ng-click="chooseSubmitOption()">
            <div style="width:25px">
                <img ng-if="!card.anonym || card.anonym == false" style="width: 25px; height: 25px; border-radius:50%" ng-src="{{ userLoggedInDetails.avatar }}">
                <img ng-if="card.anonym == true" style="width: 25px; height: 25px; border-radius:50%" src="images/hot_dares_green.png">
            </div>
            <div style="margin-top:10px" class="ds-down-arrow"></div>
        </div>
        <textarea tr-label="dare_response_box_ds"auto-grow class="dare_ta" style="margin-left: 5px; padding-bottom: 11px;" ng-if="loggedIn" name="" placeholder="Put your DARE response..." ng-model="card.response_text_tmp"></textarea>
        <!-- <textarea auto-grow class="dare_ta" style="padding-bottom: 11px;" ng-if="!loggedIn" name="" placeholder="Login to put your DARE Response..." ng-model="card.response_text_tmp"></textarea> -->
        <div ng-if="loggedIn" style="cursor: pointer; text-align: center; padding: 0 5px; display: inline-block; border-left: 1px solid #ddd;" ng-click="selectSource()">
            <img tr-label="camera_ds" style="margin: 0 auto; height: 25px; display: flex;" src="images/Camera_Icon_Grey.png">
        </div>
    </div>
    <!-- response image -->
    <div style="margin: 10px auto; display: block; height: 150px; background-position: center 40px; background-size: 80px 80px;" class="progress" ng-if="card.loading.status"><p><b ng-bind="card.loading.progress"></b>% done...</p></div>
    <div style="margin: 10px -10px;" class="dare-image-sec" ng-if=" card.response_type == 'image' && card.response_image_tmp">
        <img style="width: 100%; display: block;" ng-src="{{card.response_image_tmp}}" alt="">
    </div>
    <div ng-if="card.response_type == 'video' && card.response_image_tmp" class="dare-video-box" style="margin-top: 20px">
        <div ng-if="card.response_image_tmp" back-image="{{card.response_image_tmp | videoPoster}}" style="width: 100%;height: 100%;display: table;background: black" ng-click="openVideo(card.response_image_tmp, dare.id)">
            <div style="display: table-cell;vertical-align: middle;height: 100px">
                <div class="play-icon"></div>
            </div>
        </div>

    </div>
    <div style="text-align: center; margin-top: 10px;" ng-if="card.response_image_tmp || card.response_text_tmp">
        <button style="width: 150px; height: 35px; position: relative;" class="green-button" ng-click="!loggedIn || submit_dare_admin(card, eventDetails)">
            <span style="color: white">SUBMIT</span>
            <img id="submitsuggestion" src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; top: 8px; right: 8px;">
        </button>

    </div>
    <div class="modal media-selection-popup" style="display: block;" ng-show="card.medium_selection" ng-click="closeSelectMedia()">
        <div class="modal-content" style="background: transparent; display: flex; flex-wrap: wrap;">
            <ul class="source-list">
                <li tr-label="capture_image" ng-click="captureImage()"><img src="images/Camera_Icon_Red_Boundary.png"><span>Photo</span></li>
                <li tr-label="capture_video" ng-click="captureVideo()"><img src="images/Video_icon_red_boundary.png"><span>Video</span></li>
                <li tr-label="select_file" ng-click="selectFile()"><img src="images/Gallery_Icon_Red_Boundary.png"><span>Gallery</span></li>
            </ul>
        </div>
    </div>

    <div class="modal"  id="selectPostOption-{{ ::card.id }}" style="display:none; height: 100vh">
        <div class="modal-content" style="display:flex; flex-wrap:wrap; background: transparent">
            <div style="background: white; margin: auto; width:80%; max-width: 300px">
                <div style="margin:0 auto; border-bottom: 1px solid #53585f; height: 30px">Take this DARE as</div>
                <div style="position:relative; margin-left:10px; margin-top: 15px; height: 50px" ng-click="selectAnonymous()">
                    <img style="position:absolute; width: 30px; height: 30px; border-radius: 50%" src="images/hot_dares_green.png">
                    <div style="margin-left: 40px">
                        <div><span style="font-weight:bold">Anonymous</span> (text only)</div>
                        <div style="margin: 5px 0px">no one with know you took this dare</div>
                    </div>
                </div>
                <div style="position:relative; margin-left:10px; margin-top: 15px; height: 50px" ng-click="selectOwn()">
                    <img style="position:absolute; width: 30px; height: 30px; border-radius: 50%" ng-src="{{ userLoggedInDetails.avatar }}">
                    <div style="margin-left: 40px">
                        <div><span style="font-weight:bold" ng-bind="userLoggedInDetails.username"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>