<style>
    .RepeatImage:before {
        width:100%;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: inherit;
        content: ' ';
    }

    .photo-grid .col{
        padding: 0.5px;
        position: relative;
        height:100%;
    }

    .photo-grid .col > div{
        height: 100%;
    }
    .photo-grid .row{
        padding: 0px;
        height: 33.33vw;
    }
    .photo-grid .row.row1{
        padding: 0px;
        height: 50vw;
    }
    .photo-grid .play-icon-dummy{
        width: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 13px solid white;
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 10px !important;
        opacity: 0.8;
    }
    .photo-grid .play-icon-dummy.bigger-size{
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 18px solid white;
    }
    .photo-grid .play-icon-dummy.big-size{
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid white;
    }
    .RepeatImage a{
        color : #f0f0f0!important;
    }

    .RepeatImage hr{
        border-top:none;
    }

</style>
<div id="openModal" class="modal dare-responses-popup sti-popup close-popup-btn" ng-click="$event.stopPropagation()">
    <div style="max-width: 600px; min-height: 100%;background-color: #f0f0f0;padding-bottom: 20px" class=" modal-content dareResponses" ng-click="$event.stopPropagation()">
        <!--header starts-->
        <div ng-repeat="card in cards">
            <!--<div class="popup-header-new white">-->
                <!--<div class="popup-back-new sti-cursor" ng-click="closeDareResponsesPopup()"><i class="left-arrow"></i></div>-->
                <!--<div class="vert-center">-->
                <!--</div>-->
            <!--</div>-->
            <div class="new-header-cnt-parent">
                <div class="sti-home-header new-header-cnt">
                    <div class="new-header grey" style="display: block !important;">
                        <div style="position:relative;height:100%">
                            <p  class="vert-center popup-header-title">dare by <span ng-bind="::((card.creator || 'STICHIO') | firstWord)"></span></p>
                        <div class="header-new-back" ng-click="closeDareResponsesPopup()"><img src="images/left_arrow_thin_black.png"></div>
                    </div>
                </div>
            </div>
        </div>
            <div style="margin-bottom: 5px">

                <dare-suggestion ></dare-suggestion>

                <div ng-repeat="card in card.just_completed_dares" style="margin-top: 10px">
                    <admin-dare ></admin-dare>
                </div>
            </div>
            <div style="overflow-y: scroll; background-color: white">

                <div style="width: 100%;padding: 0.5px 0px" class="photo-grid">
                    <div class="row" ng-repeat="dare in card.dareResponses" ng-if="(($index) % 3 === 0) && card.dareResponses[$index+2]">
                        <div class="col col-33" style="padding-left:0px">
                            <div tr_label="popular_dare" back-image="{{::(card.dareResponses[$index].image)}}" width="100%" ng-click="openDareResponse(card.dareResponses[$index])"></div>
                            <div ng-if="::(card.dareResponses[$index].response_type==='video')" class="play-icon-dummy"></div>
                        </div>
                        <div class="col col-33">
                            <div tr_label="popular_dare" back-image="{{::(card.dareResponses[$index +1].image)}}" width="100%" ng-click="openDareResponse(card.dareResponses[$index+1])"></div>
                            <div ng-if="::(card.dareResponses[$index+1].response_type==='video')" class="play-icon-dummy"></div>
                        </div>
                        <div class="col col-33" style="padding-right:0px">
                            <div tr_label="popular_dare" back-image="{{::(card.dareResponses[$index+2 ].image)}}" width="100%" ng-click="openDareResponse(card.dareResponses[$index+2])" ></div>
                            <div ng-if="::(card.dareResponses[$index+2].response_type==='video')" class="play-icon-dummy"></div>
                        </div>
                    </div>
                    <div ng-if="card.offset==1">
                        <div style="height: 70vw;position: relative;padding: 0.5px;">
                            <div tr_label="popular_dare" back-image="{{::(card.dareResponses[imagesCount-1].image)}}" style="width: 100%;height: 100%" ng-click="openDareResponse(card.dareResponses[imagesCount-1])"></div>
                            <div ng-if="::(card.dareResponses[imagesCount-1].response_type==='video')" class="play-icon-dummy bigger-size"></div>
                        </div>
                    </div>
                    <div ng-if="card.offset==2">
                        <div class="row row1">
                            <div class="col col-50">
                                <div tr_label="popular_dare" back-image="{{::(card.dareResponses[imagesCount-2].image)}}" width="100%" ng-click="openDareResponse(card.dareResponses[imagesCount-2])"></div>
                                <div ng-if="::(card.dareResponses[imagesCount-2].response_type==='video')" class="play-icon-dummy big-size"></div>
                            </div>
                            <div class="col col-50">
                                <div tr_label="popular_dare" back-image="{{::(card.dareResponses[imagesCount-1].image)}}" width="100%" ng-click="openDareResponse(card.dareResponses[imagesCount-1])"></div>
                                <div ng-if="::(card.dareResponses[imagesCount-1].response_type==='video')" class="play-icon-dummy big-size"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="response in card.textResponses" style="margin-bottom: 3px; position:relative" ng-click="openDareResponse(response);$event.stopPropagation();">
                    <div style="height:200px; overflow: hidden;margin-bottom: 0px">
                        <div class="indiv_response_container" style="height:200px" back-image="{{response.text_background}}">
                            <div style="position: absolute;top:6px;left:9px">
                                <div ng-click="$event.stopPropagation();" style="width: 25px;height: 25px;border-radius: 50%;border: 1px solid #f0f0f0" back-image="{{::response.avatar }}" ui-sref="profile.dares({ profileId : response.userId})" class="sti-cursor">
                                    <span style="height:25px; line-height: 24px; margin-left: 30px;font-size:11.34px; font-weight: bold" ng-bind="::response.username | firstWord"></span>
                                </div>
                            </div>
                            <div style="position: absolute;top:0px;right:0px">
                                <div style="display: flex">
                                    <div style="padding: 9px;" class="sti-cursor" ng-click="!loggedIn ||toggleUpvoteDareResponses(response);response.upvoted=!response.upvoted;$event.stopPropagation();">
                                        <img tr-label="upvote"  ng-if="!response.upvoted" style="width: 17px;margin-right: 3px;vertical-align: middle;" class="sti-cursor" src="images/thumbs_up_boundary_icon_white.png">
                                        <img tr-label="un_upvote" ng-if="response.upvoted" style="width: 17px;margin-right: 3px;vertical-align: middle;" class="sti-cursor" src="images/thumbs_up_filled_icon_white.png">

                                    </div>
                                </div>
                            </div>
                            <p class="text response_text"  style="max-height:150px; padding-top: 6px; padding-bottom: 10px; overflow:hidden; width: 250px" ng-bind-html="response.response_text | parseUrl"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading-icon id="dare-responses-loading-icon" style="display: none"></loading-icon>
    </div>
</div>


