<style>
    .dare-menu-cnt{
        max-width:350px;
        width:90%;
        z-index: 9999999999;
        margin: 0 auto;
        border-radius:3px;
        opacity: 1;
        position: fixed;
        /*top:50%;*/
        left:50%;
        bottom: 20px;
        transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        font-size: 17.34px
    }
    .dare-menu h1,.weblink-cnt p{
        color:#53585f;
        font-size: 14.34px;
        text-align:center;
        line-height: 20px;
    }
    .dare-menu-opt{
        padding: 18px;
        border-top: 1px solid #ddd;
    }
    .dare-menu-box{
        background: #fff;
        border-radius: 5px;
        padding:0px 10px;
        text-align: center
    }
</style>
<!--<div class="modalDialog share-dare sti-popup" id ='SHARE'>-->
<div  class="body-overlay" ng-show="showDareMenu" ng-click="closeDareMenu()"></div>
<div class="dare-menu-cnt" ng-show="showDareMenu">
    <div id="dare-menu-box" ng-if="dare">
        <div class="dare-menu-box" >
            <div id="take_dare_opt" tr-label="internal_share" class="dare-menu-opt"  ng-click="!loggedIn || openDareResponsesPopup(dare, null, true);closeDareMenu()" style="border:none;border-bottom: 1px solid #ddd;display:none">
                <p>Take this Dare</p>
            </div>
            <div id="dare_friend_opt" tr-label="internal_share" class="dare-menu-opt" style="border:none;border-bottom: 1px solid #ddd;display:none" ng-click="!loggedIn || open_dare_form(dare); dare1.stage = 3;closeDareMenu()">
                <p>Dare a Friend</p>
            </div>
            <div id="share_chat" tr-label="internal_share" class="dare-menu-opt" social-share="dare" share-type="internal" ng-click="delayCloseDareMenu()" style="border:none;border-bottom: 1px solid #ddd;display:none">
                <p>Share via Chat</p>
            </div>
            <div id="share_whatsapp" tr-label="internal_share" class="dare-menu-opt" social-share="dare" share-type="whatsapp" ng-click="delayCloseDareMenu()" style="border:none;border-bottom: 1px solid #ddd;display:none">
                <p>Share on Whatsapp</p>
            </div>
            <div tr-label="fb_share" class="dare-menu-opt" social-share="dare" share-type="facebook" ng-click="delayCloseDareMenu()" style="border:none">
                <p>Share on Facebook</p>
            </div>
            <div id="copybtn1" class="dare-menu-opt copybtn1 sti-cursor" tr-label="copy_link" data-clipboard-text="{{dareLink}}">
                <p ng-if="!isCopied">Copy Link</p>
                <p ng-if="isCopied">Link Copied</p>
            </div>
            <div class="dare-menu-opt" tr-label="delete_dare" ng-click="hideDareClick()" ng-show="showHideDareOpt">
                <p>Delete DARE</p>
            </div>
        </div>
        <div class="dare-menu-box" style="margin-top: 10px;padding:18px 10px;" ng-click="closeDareMenu()">
            <p>Cancel</p>
        </div>
    </div>
    <div class="dare-menu-box"  id="hide-dare-conf" style="display:none;padding: 35px 30px;padding-bottom: 30px;line-height: 22px;margin-bottom: 50px;">
        <p style="color: black;">Are you sure you want to Delete your DARE?</p>
        <div style="display: flex;color: black;justify-content: space-around;font-size:14px;margin-top: 20px;font-weight: bold;">
            <div style="border: 1px solid black;padding: 4px;border-radius: 5px;width: 75px;" ng-click="hideDare()">
                <p>Yes</p>
            </div>
            <div style="border: 1px solid black;padding: 4px;border-radius: 5px;width: 75px;" ng-click="cancelHideDareClick()">
                <p>No</p>
            </div>
        </div>
    </div>
</div>
<!--</div>-->