<style>
    .dare-comment-input span{
        font-weight: normal;
        color: #0365C0 !important;
    }
    .dare-comment-input{
        width: calc(100% - 80px);
        margin-left: 10px;
        height: 100%;
        resize: none;
        line-height: 18px;
        border: none;
        font-size: 14.34px;
    }
    .dare-comment-input:focus{
        outline: none;
    }
    [contenteditable]:empty:before {
        content: attr(placeholder);
    }
</style>
<div id="openModal" class="modalDialog dare-view-popup sti-popup " tabindex="0" ng-click="$event.stopPropagation();" style="z-index:9999998;">

    <div id="dareviewpopup" style="min-height: 100%">
        <!--<div class="popup-header-new white">-->
            <!--<div class="popup-back-new sti-cursor" ng-click="hideDarePopup()"><i class="left-arrow"></i></div>-->
            <!--<div ng-if="dare.id" class="vert-center">-->
                <!--<p style="font-size: 14.34px"> {{::dare.user2.username | firstWord}}'s dare</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="new-header-cnt-parent">
            <div class="sti-home-header new-header-cnt">
                <div class="new-header grey" style="display: block !important;">
                    <div style="position:relative;height:100%">
                        <p ng-if="dare.id" class="vert-center popup-header-title">{{::dare.user2.username | firstWord}}'s dare</p>
                        <div class="header-new-back" ng-click="closeAdminDarePopup()"><img src="images/left_arrow_thin_black.png"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="">
            <div ng-show="!dare.id">
                <div ng-include="'shared/templates/dummyDareTemplate.html'">

                </div>
            </div>
            <div ng-show="dare.id">
                <dare-feed card="dare" popup="true"  ></dare-feed>


                <div>
                    <hr style="border-top: 1px solid #eee; margin: 10px;">

                    <div class="dare-comments-box" id="darecommentbox">
                        <div ng-repeat="comment in dare.comments" class="stich-comment">
                            <div class="" style="margin: 10px; display: flex;">
                                <div style="position: relative;">
                                    <div class="user-wrapper" style="text-align: center; width: 60px;">
                                        <a href="#/profile/{{comment.userId}}"><img class="dare-body-profile-pic" data-ng-src="{{ comment.avatar }}"/></a>
                                        <div style="text-align: center">
                                            <p class="user-name-tdc ellipsis">{{comment.username | firstWord}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #eee; padding-bottom: 5px; display: flex; flex: 1; margin-left: 20px;">
                                    <div style="flex: 1; position: relative;">
                                        <div ng-if="comment.comment_image" class="dare-image-box1">
                                            <div style="position: relative; height: 100%" >
                                                <div tr-label="open_comment_image" ng-click="openImagePopup(comment.comment_image, comment, false, 'commentImage')" back-image="{{comment.comment_image}}" style="height: 100%;"></div>
                                            </div>
                                        </div>
                                        <div ng-if="comment.comment" class="dare-response-box">
                                            <p class="truth-dare-text tag text" style="white-space: pre-wrap; display: table-cell;vertical-align: middle" ng-bind-html="comment.comment"></p>
                                        </div>
                                    </div>
                                    <div style="position: relative; text-align: center;">
                                        <span class="stich_comment_time" ng-bind="(comment.created_date | timeStamp) || 'Just Now'"></span>
                                        <div tr-label="comment_delete" ng-if="::(loggedInUserId == comment.userId || loggedInUserId==dare.user2.userId)" ng-click="deleteDareComment(comment)" style="width: 100%; position: absolute; bottom: 0;">
                                            <img class="sti-cursor" style="width: 13px;" src="images/Delete_Icon_Grey_V1.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="progress comment-image-loading" class="" style="margin-left: calc(15% + 15px);"><p><b ng-bind="progressPercentage"></b>% done...</p></div>
                        <loading-icon ng-show="dare.loadingComments"></loading-icon>
                    </div>

                </div>
                <div class="chat-window-footer sti-popup" style="z-index: 9998;height:auto">
                    <div class="footer-inner-cnt">
                        <div style="width: 100%;">
                            <tag-users friend-details="tagDetails" text-data="dare.new_comment_text" people-involved="peopleInvolvedDare"></tag-users>
                            <div class="dare-comment-input" contenteditable ng-model="dare.new_comment_text" placeholder="Write a comment..." style=""></div>
                            <div style="float: right; margin: 5px 10px; width: 50px; text-align: center;">
                                <img tr-label="comment_image_upload" ng-if="loggedIn" tooltips tooltip-template="You can now send images on comments" place="camera" style="margin: 0; height: 22px; width: auto !important;" ng-click="selectImageDareComment()"  class="camera-icon" src="images/Camera_Icon_Grey.png" />
                                <button tr-label="comment_submit" class="comment-send-button" ng-click="!loggedIn || submitComment()" ng-disabled="!(commentImageUpload || dare.new_comment_text)">Send</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



