

<div style="margin:0 10px;overflow: hidden;position: relative">
    <div style="height: 70px;margin:20px 0px 10px 0px;">
        <div class="template-box" style="width:40px;height: 40px;border-radius: 50%;position: relative;left: 10px;top: 10px;"></div>
        <div class="template-line animated-background" style="width: calc(100% - 130px);top: -32px;position: relative;margin: 20px 0px 20px 10px;left: 60px;" ></div>
    </div>

    <div style="width: 90%;height: 100px;margin-bottom: 25px;">
        <div class="template-box" style="width: 100px;height: 100px;position: absolute;left: 10px;"></div>
        <div class="template-line animated-background" style="width: calc(100% - 112px);position: relative;left: 134px;"></div>
        <div class="template-line animated-background" style="width: calc(100% - 112px);position: relative;left: 134px;margin-top:13px;" ></div>
        <div class="template-line animated-background" style="width: calc(100% - 185px);margin-top: 13px;position: relative;left: 134px;" ></div>
    </div>

    <div style="width: 100%;height: 90px;border-top: 1px solid #EBEBEB;/* padding-bottom: 20px; */">
        <div class="template-box" style="width:40px;height: 40px;border-radius: 50%;position: relative;left: 10px;top: 20px;"></div>
        <div class="template-line animated-background" style="width: calc(100% - 130px);top: -23px;position: relative;margin: 20px 0px 20px 10px;left: 60px;" ></div>
    </div>
    <div class="template-box" style="width: 100%;height: 75vw;max-height:270px;/* margin-top: 10px; */" ></div>
</div>