<style>

    .edit-selection-cnt .user-about-cnt .info-label{
        width:100% !important;
    }
    .edit-selection-cnt .user-about-cnt .info-value{
        width:100% !important;
        margin-top:6px;

    }
    textarea:focus, input:focus{
    outline: none;
}
    .editUsername{
		height: 37px;
		padding: 3px;
		border-color: rgb(221, 221, 221);
		border-radius: 2px;
		font-size: 12.34px;
		resize: none;
		width: 70%;
	}
    .edit-profile-btn{
        font-size:11.88px;height:30px;padding: 0 10px;border-radius:3px;background:#ddd;color:#53585f
    }

</style>

<div id="openModal" class="modalDialog edit-profile-popup sti-popup" tabindex="1" ng-click="$event.stopPropagation();">
	<div class="second-container" id="editProfilepopup" style="max-width: 600px;">
		<div class="sti-pop-header left-title edit-profile-main" style="position: relative">
            <button id="editProfileSaveBtn" class="info-value save-profile-btn" ng-click="saveAllDetails()" ng-hide="changeProfilePicReq"><span style="margin: auto;font-size: 11.88px;color: white;">Save</span></button>
            <loading-icon id="editProfileLoadingIcon" class="save-profile-btn" style="display: none;margin-top: -25px"></loading-icon>
           <h2 class="header">Edit Profile</h2>
            <div style="padding: 10px;position: absolute;right: 0px;bottom: 5px" class="close-popup-btn close-edit-popup"><button  title="Close" class="cross-circle-button  no-shadow-btn " style="height: 20px; width: 20px;"></button></div>
        </div>
        <hr style="margin-bottom:10px;"/>
        <div class="sti-pop-body edit-profile-body edit-profile-main" ng-show="!emailReqSent && !changeProfilePicReq">
            <div class="edit-info-cnt" style="display: flex;">
                <div style="width: 50px;text-align: center">
                    <img ng-click="changeProfilePic()" class="user-image sti-cursor" ng-src="{{ userLoggedInDetails.avatar }}" ng-if="!profilePicSet"/>
                    <img ng-click="changeProfilePic()" class="user-image sti-cursor user-profile-pic" ng-src="{{ croppedImage}}" ng-if="profilePicSet"/>
                    <span style="font-size: 12px;margin-left: 0px" ng-click = changeProfilePic()>Edit</span>
                </div>
                <div style="width: calc(100% - 50px);margin-left:45px;position: relative">
                    <textarea style="margin-top: 10px;width: 90%" class="editUsername" ng-if="userLoggedInDetails.name_change" required maxlength=70 ng-trim="false"  placeholder="username" ng-model="userLoggedInDetails.new_username" />
                    <p style="color:red" ng-if="userLoggedInDetails.name_change && username_error">This username is not valid.</p>
                    <div ng-if="!userLoggedInDetails.name_change" tr-label="edit_username" style="position:absolute;right: -10px;padding: 10px" ng-click="editUsername()"><img  src="images/pencil_icon_black.png" style="height: 12px;"></div>
                    <div ng-if="!userLoggedInDetails.name_change" tr-label="edit_username" ng-click="editUsername()" style="position: relative;padding: 20px 0px"><p class="sti-cursor" style="font-size: 14.34px; line-height: 15px;font-weight: bold;word-break: break-all;">{{userLoggedInDetails.username}}</p></div>
                </div>
            </div>
            <hr>
            <div class="user-email-cnt user-info" ng-click="$event.stopPropagation();" style="display: flex">
                <p class="info-label" style="line-height: 50px">About me</p>
                <!--<textarea required maxlength=90 ng-trim="false" ng-if="userLoggedInDetails.bio_change==true" placeholder="Who am I - a philosopher, daredevil, painter, Kohli fan, etc." ng-model="userLoggedInDetails.edit_bio" />-->

                <div style="width: calc(100% - 100px);">
                    <div ng-if="userLoggedInDetails.bio_change" style="position: relative;display: flex;">
                        <div style="width: 100%;margin-top: 5px;" class="edit-bio-box" ng-click="$event.stopPropagation();">
                            <textarea  style="width:100% !important;" required maxlength=90 ng-trim="false" placeholder="Who am I - a philosopher, daredevil, painter, Kohli fan, etc." ng-model="userLoggedInDetails.user_bio_temp" />
                            <span style="position: absolute;bottom: -15px;right: 0px;font-size: 11px;" ng-bind="90-userLoggedInDetails.user_bio_temp.length"></span>
                        </div>
                    </div>
                    <div style="position: relative;height:50px" ng-if="!userLoggedInDetails.bio_change" tr-label="edit_bio" ng-click="editBio()">
                        <p class="text user-bio-text vert-center" style="margin-top:0px" ng-bind-html="userLoggedInDetails.user_bio | parseUrl"></p>
                        <div style="position:absolute;right: -21px;top:-13px;padding: 10px"><img src="images/pencil_icon_black.png" style="height: 12px;"></div>
                    </div>
                </div>
                <!--<p class="info-value email-ellipsis" ng-click="editBio()" ng-if="!userLoggedInDetails.bio_change" style="max-width: 180px;"><span style="font-size: 14px;line-height: 15px;">{{userLoggedInDetails.user_bio}}</span>-->
                    <!--&lt;!&ndash;<input ng-if="editEmail" type="text" ng-model="newEmail.email" class="edit-profile-email">&ndash;&gt;</p>-->
                <!--<div style="position:absolute;right: 9px;top:150px;padding: 10px" ng-click="editBio()"><img ng-if="!userLoggedInDetails.bio_change" src="images/pencil_icon_black.png" style="height: 12px;"></div>-->
            </div>
            <hr>
            <div class="user-email-cnt user-info" ng-click="$event.stopPropagation();" style="display: flex;height:34px">
                <div ng-if="userLoggedInDetails.is_featured" style="height:34px" class="vert-center">
                    <p class="info-label" >Phone no.</p>
                    <p  style="font-size:12px">(paytm linked)</p>
                </div>
                <p ng-if="!userLoggedInDetails.is_featured" class="info-label" style="line-height:34px">
                    Phone no.
                </p>
                <!--<textarea required maxlength=90 ng-trim="false" ng-if="userLoggedInDetails.bio_change==true" placeholder="Who am I - a philosopher, daredevil, painter, Kohli fan, etc." ng-model="userLoggedInDetails.edit_bio" />-->

                <div style="width: calc(100% - 100px);">
                    <div ng-if="userLoggedInDetails.phone_num_change || phone_num_error" style="position: relative;display: flex;">
                        <div style="width: 100%;margin-top: 5px;" class="edit-bio-box" ng-click="$event.stopPropagation();">
                            <input type="number" oninput="checkNumberFieldLength(this, 10);" style="width:100% !important;padding:5px 0;border:1px solid rgb(221, 221, 221) !important;border-radius:3px !important" required  ng-trim="false" placeholder="Mobile number" ng-model="userLoggedInDetails.phone_num_temp" />
                            <p ng-bind="phone_num_error" style="color:red"></p>
                        </div>
                    </div>
                    <div style="position: relative;height:34px" ng-if="!userLoggedInDetails.phone_num_change && !phone_num_error" tr-label="edit_bio" ng-click="editPhoneNum()">
                        <p style="padding:8px 0" class="text vert-center" ng-bind="userLoggedInDetails.phone_num"></p>
                        <div style="position:absolute;right: -21px;top:-13px;padding: 10px"><img src="images/pencil_icon_black.png" style="height: 12px;"></div>
                    </div>
                </div>
                <!--<p class="info-value email-ellipsis" ng-click="editBio()" ng-if="!userLoggedInDetails.bio_change" style="max-width: 180px;"><span style="font-size: 14px;line-height: 15px;">{{userLoggedInDetails.user_bio}}</span>-->
                <!--&lt;!&ndash;<input ng-if="editEmail" type="text" ng-model="newEmail.email" class="edit-profile-email">&ndash;&gt;</p>-->
                <!--<div style="position:absolute;right: 9px;top:150px;padding: 10px" ng-click="editBio()"><img ng-if="!userLoggedInDetails.bio_change" src="images/pencil_icon_black.png" style="height: 12px;"></div>-->
            </div>
            <hr>
            <div class="user-email-cnt" ng-if="::showEmailBox" style="display:flex">
                <p class="info-label" style="width:85px;line-height:30px">Email</p>
                <p class="info-value email-ellipsis" style="font-size: 14px;line-height: 30px;"><span >{{userLoggedInDetails.email}}</span>  </p>
                <button class="edit-profile-btn" ng-click="sendVerifyEmail()" style="margin-left:5px" ng-if="!userLoggedInDetails.verified">Verify</button>
            </div >
            <hr ng-if="::showEmailBox">
            <div ng-show="!editEmailReqStarted">
                <div class="edit-gender-cnt">
                    <div class="user-email-cnt"><p class="info-label">Gender</p><p class="info-value gender">
                        <label style="padding: 10px;">
                            <input type="radio" name="editgender" value="female" ng-model="userLoggedInDetails.gender"/><span style="font-size: 14px;">Female</span>
                        </label>
                        <label style="padding: 10px;">
                            <input type="radio" name="editgender" value="male" ng-model="userLoggedInDetails.gender"/><span style="font-size: 14px;">Male</span>
                        </label>
                    </p>
                        <!--<label>
                            <input type="radio" name="editList" value="Intersex"/>Intersex
                        </label></p>-->
                    </div>
                </div>
                <hr/>
                <div class="edit-password-cnt">
                    <div ng-if="userHasPassword" class="user-email-cnt"><p class="info-label">Password</p><button class="info-value edit-profile-btn" ng-click="requestNewPassword()" ng-show="!passwordChangeReqStarted">Change</button></div>
                    <div ng-if="!userHasPassword" class="user-email-cnt"><p class="info-label">Password</p><button class="info-value edit-profile-btn" ng-click="requestNewPassword()" ng-show="!passwordChangeReqStarted">Set Password</button></div>
                </div>
                <hr>
                <!--<div ng-show="!passwordChangeReqStarted">-->
                <!--<div class="edit-selection-cnt">-->
                <!--<div class="user-email-cnt">-->
                <!--<p class="info-label interestId">Select More Interests</p><br/><p class="info-value"><input type="text" style="padding: 0 0 0 5px !important;" class="filter-input edit-profile-clear clearable" ng-minlength="3" placeholder="Search more interests here (enter at least 3 characters)" ng-model="filterTopics"></p>-->
                <!--<br/>-->
                <!--<p class="error-message editProfile-err err2"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="select-topics-cnt">-->
                <!--<div class="single-topic" ng-repeat="topic in filteredTopics=(topics|filter:{name:filterTopics})"  ng-click="selectTopic(topic.interestId)">-->
                <!--<div back-image="{{ topic.pic }}" class="topic-content block">-->
                <!--<div class="hover-tick2" ng-show="topic.selected">-->
                <!--<img src="../images/Tick_Icon_White.png">-->
                <!--</div>-->
                <!--<div class="single-topic-name">-->
                <!--{{ topic.name }}-->
                <!--</div>-->

                <!--</div>-->

                <!--</div>-->
                <!--<p class="error-message editProfile-err err1" ng-show="!filteredTopics.length">Match Not found</p>-->
                <!--</div>-->
                <!--<br><br>-->
                <!--<p class="interests-error-message"></p>-->
                <!--<div class="loading-div loading-div-ep"></div>-->

                <!--<br><br>-->
                <!--</div>-->
            </div>
            <div ng-if="editEmailReqStarted && userHasPassword" class="change-email-form">
                <table>
                    <tr>
                        <td><input type="password" ng-model='editEmailDet.passCheck' placeholder = 'Enter Current Password'></td>
                    </tr>
                    <tr>
                        <td><input type="email" ng-model="editEmailDet.newEmail" placeholder = 'Enter New Email ID'></td>
                    </tr>
                    <tr>
                        <td><p class="email-error-msg"></p></td>
                    </tr>
                </table>
                <div style="width: 70%;max-width: 490px;position: relative;">
                    <button ng-click="closeEditEmailAddress()" class="sti-main-btn close-email-btn edit-profile-btn" style="float:left;width:50px !important;font-size: 12.34px;">Close</button>
                    <div class="loading-div email-loading-div"></div>
                    <button class="sti-main-btn change-email-btn edit-profile-btn" ng-click = "checkEmail1()" style="font-size: 12.34px;">Change</button>
                </div>
            </div>
        </div>
        <div class="sti-pop-body edit-profile-body edit-profile-main" ng-show = "changeProfilePicReq" style="height:400px">
            <div class="upload-pic-cnt">
                <input type="text" ng-model="fileName"  maxlength="100" placeholder="Browse to upload"  required style="border-radius:3px !important"/>
                <button ngf-model="images" ngf-select="selectProfilePic($files, $invalidFiles)" multiple accept="image/*"  ngf-max-size="50MB" ngf-max-files="20" style="border-radius:3px">Browse</button>
            </div>
            <div class="cropArea" ng-class="{'big':size=='big', 'medium':size=='medium', 'small':size=='small'}">
                <div ng-if="!image.imageDataURI" back-image="{{userProfile.userDetails.avatar}}" style="width: 100%; height: 100%;"></div>
                <img-crop ng-if="image.imageDataURI" image="image.imageDataURI"
                          result-image="image.resImageDataURI"
                          area-type="{{type}}"
                          change-on-fly="false"
                          area-min-size="selMinSize"
                          result-image-format="{{resImgFormat}}"
                          result-image-quality="resImgQuality"
                          result-image-size="resImgSize"
                          on-change="onChange($dataURI)"
                          on-load-begin="onLoadBegin()"
                          on-load-done="onLoadDone()"
                          on-load-error="onLoadError()"
                </img-crop>
                <!--aspect-ratio="aspectRatio"-->
            </div>
            <div class="upload-pic-cnt-bottom">
                <button ng-click="displayProfileEditPage()" class="edit-profile-btn">Back</button>
                <button ng-click="setProfilePic()" class="">Set</button>
            </div>

        </div>
        <div class="sti-pop-body edit-profile-body edit-profile-main" ng-show="emailReqSent">
            <p class="edit-profile-verify-msg">{{ verificationMessage }}</p>
        </div>
        <div class="change-password-form" ng-show="passwordChangeReqStarted" style="height:300px;">
            <div class="input-grp-cp">
                <table><tr ng-if="userHasPassword">
                    <td><input type="password" ng-model="changePassword.old_password" class="edit-profile-password" placeholder="Enter Old Password" autocomplete="off"></td></tr>
                    <tr>
                        <td><input type="password" ng-model="changePassword.new_password" class="edit-profile-password" placeholder="Enter New Password" autocomplete="off"></td></tr>
                    <tr><td>
                        <div style="margin-left: 10px;">
                            <div class="password-words">
                                <p><i class="fa fa-times"></i>&nbsp;8 Characters</p>
                                <p><i class="fa fa-times"></i>&nbsp;Number</p>
                                <p><i class="fa fa-times"></i>&nbsp;Letter</p>
                            </div>
                            <!--<div class="password-bar-cnt">
                                <div class="password-bar"></div>
                            </div>-->
                        </div></td>
                    </tr>
                    <tr><td> <p style="color:red;" class="error-msg-cp"></p></td></tr>
                </table>
            </div>
            <div class="button-grp-cp">
                <button class=" sti-main-btn edit-profile-btn" style="float:none;font-size: 12.34px;" ng-click="cancelReq()">Cancel</button>
                 <button class="sti-main-btn" style="position: relative;border-radius:3px;">
                     <loading-icon class="password-loading-div" style="position:absolute;left:0;top:5px;width:55px;display: none"></loading-icon>
                    <div id="resetPasswordButton" ng-if="userHasPassword" ng-click="resetPassword()" style="float:none;font-size: 12.34px;">Change</div>
                    <div id="resetPasswordButton" ng-if="!userHasPassword" ng-click="resetPassword()"  style="float:none;font-size: 12.34px;">Set</div>
                 </button>
            </div>
        </div>
        <div ng-if="userLoggedInDetails.is_featured && !changeProfilePicReq"  class="user-email-cnt user-info" ng-click="$event.stopPropagation();" style="padding:0 23px">
            <div style="display: flex;height:45px">
                <div style="line-height: 34px">
                    <p class="info-label" >Referral code</p>
                </div>
                    <div style="position: relative;margin-left:20px;width:100px" tr-label="edit_bio" >
                        <p style="padding:8px 0" class="text" ng-bind="userLoggedInDetails.referral_code"></p>
                    </div>
                <button class="edit-profile-btn" ng-click="openReferralPopup();closeEditProfile();">Refer friends</button>

                <!--<p class="info-value email-ellipsis" ng-click="editBio()" ng-if="!userLoggedInDetails.bio_change" style="max-width: 180px;"><span style="font-size: 14px;line-height: 15px;">{{userLoggedInDetails.user_bio}}</span>-->
                <!--&lt;!&ndash;<input ng-if="editEmail" type="text" ng-model="newEmail.email" class="edit-profile-email">&ndash;&gt;</p>-->
                <!--<div style="position:absolute;right: 9px;top:150px;padding: 10px" ng-click="editBio()"><img ng-if="!userLoggedInDetails.bio_change" src="images/pencil_icon_black.png" style="height: 12px;"></div>-->
            </div>
            <hr>
        </div>
    </div>
</div>


