<style>
	.errorBox{
		background: white;
		border-radius: 10px;
		width: 80%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 20px;
		text-align: center;
		font-size: 17px;
		line-height: 20px;
		position: relative;
	}
</style>
<div class="modal modalDialog error-popup">
	<div class="modal-content" id="error-popup-content" tabindex="0" ng-click="$event.stopPropagation();" style="background: linear-gradient(rgba(240,240,240,.97), rgba(240,240,240,.97)), url('images/banned_url_background.jpg')">
		<div class="popup-header-new blue">
			<div class="popup-back-new sti-cursor" ng-click="closeErrorPopup()"><i class="left-arrow"></i></div>
		</div>
		<div style="height: 45px;"></div>
		<div>
			<div class="errorBox">
				<img src="images/smileys/surprised.png" style="position: absolute;width: 60px;left: -30px;top:-30px">
				<p style="font-weight: bold;margin-bottom: 10px;font-size: 18px">Something is wrong!</p>
				<p style="line-height: 20px;">This page is not available anymore.</p>
				<p style="line-height: 20px;">You may try other dares.</p>
			</div>
		</div>
	</div>
</div>