<div class="border-stc" style="background-color: #fff; padding: 5px;">
	<div style="display: flex; overflow: hidden; margin-bottom: 10px;">
		<p class="sti-cursor" style="color: #3987CC; margin: 7px 0 7px 10px; flex: 1; cursor: pointer;" ng-click="!loggedIn || viewEventFollowers();">
			<span ng-show="!loggedIn || !eventDetails.follow_status">{{eventDetails.follows}} Follower<span ng-show="eventDetails.follows > 1">s</span></span>
			<span ng-show="loggedIn && eventDetails.follow_status && eventDetails.follows !== 1">You and {{eventDetails.follows - 1}} other<span ng-if="(eventDetails.follows - 1) === 1"> is</span><span ng-if="(eventDetails.follows - 1) > 1">s are</span> following</span>
			<span ng-show="loggedIn && eventDetails.follow_status && eventDetails.follows === 1">You are following</span>
		</p>
		<button ng-hide="eventDetails.follow_status" ng-click="!loggedIn || followEvent()" style="height: auto; padding: 6px 12px; border: 1px solid #EC5D57; border-radius: 3px; color: #EC5D57; background: #fff !important;">FOLLOW</button>
	</div>
	<div class="eventFollowersList" style="margin: 0 -2px;">
		<a class="sti-cursor" style="display: inline-block;" href="#/profile/{{follower.userId}}" ng-repeat="follower in topFollowers">
			<div style="margin: 3px; width: 80px; height: 80px; position:relative;" back-image="{{follower.avatar}}">
				<div style="height: 100%; background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));"></div>
                <p style="position:absolute; bottom: 3px; left: 0; max-height: 28px; width: 100%; text-align:center; overflow: hidden;"><span class="text" style="font-size: 11px; line-height: 14px; vertical-align: top; color: #fff;">{{ follower.username }}</span></p>
            </div>
		</a>
	</div>
</div>