<style>.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

#follow-all-button{
    background: #07d625;
    padding: 7px 70px;
    border-radius: 3px;
    height: 35px;
    font-size: 17px;
    color: black;
    width: 200px;
}
#follow-skip-button{
    position: absolute;
    right: 10px;
    bottom: 17px;
    color: rgb(125, 125, 125);
    font-size: 13px;
}
.checkmark {
    display: inline-block;
}
.checkmark:after {
    content: '';
    display: block;
    width: 5px;
    height: 12px;
    border: solid mediumseagreen;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.selection-circle{
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    bottom: 5px;
    border: 2px solid mediumseagreen;
    border-radius: 50%;
    right: 0px;
}
.selection-circle.unchecked{
    border: 2px solid black;
}

.box{
    height: 100%;

}
ion-slides{
    height: 100vh !important;
}
.video-slide-header{
    position: absolute;
    height: 90px;
    background: #002545;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
}
.video-text{
    font-size: 26px;
    font-weight: bold;
    max-width: 250px;
    margin: 0 auto;
    line-height: 34px;
}


.welcome-screen{
    background:#002545 !important;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#right-arrow-cnt{
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* padding: 10px 10px; */
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 90px;
    height: 98px;
    text-align: center;
    z-index: 15;
}

</style>

<div id="openModal" class="modal  follow-sugg-popup sti-popup noselect " style="background: white" ng-click="$event.stopPropagation();">
    <div ng-if="stepNum!=3 && stepNum!=5"  id="welcomeInfo" class="box welcome-screen">
        <div ng-if="stepNum==1 " style="margin:0 auto;color:white;line-height: 39px">
            <img style="height:100px" src="images/smileys/wink.png">
            <p  style="font-size: 23px;font-weight: bold;">Welcome to STICHIO</p>
            <p style="font-size: 20px">Your world of DARES</p>
        </div>
        <div ng-if="stepNum==2" style="margin:0 auto;color:white;line-height: 39px">
            <div style="position: relative">
                <span style="line-height: 33px;font-size: 25px;font-weight: bold;"> What is a DARE? </span>
                <img style="height:30px;margin-left: 10px;position: absolute;" src="images/smileys/crazy.png">
            </div>
            <p style="font-size: 20px">A fun challenge you can do anywhere!</p>
        </div>
        <div ng-if="stepNum==4" style="margin:0 auto;color:white;line-height: 39px">
            <img style="height:100px" src="images/smileys/cool.png">
            <p  style="font-size: 23px;font-weight: bold;margin-bottom: 20px;">Get. Set. DARE.</p>
            <p style="font-size: 20px;line-height: 23px">You are now going to enter</p>
            <p style="font-size: 20px;line-height: 23px">your world of DARES</p>
        </div>

    </div>
    <div ng-if="stepNum==3"  id="videoSlides">
        <ion-slides options="data.sliderOptions" slider="data.slider">
            <ion-slide-page ng-repeat="slide in data.slides">
                <div class="box" ng-click="slideNext();">
                    <div class="video-slide-header">
                        <div style="position: relative">
                            <span style="line-height: 33px;font-size: 25px;font-weight: bold;"> What is a DARE? </span>
                            <img style="height:30px;margin-left: 10px;position: absolute;" ng-src="{{::slide.smiley}}">
                        </div>
                        <p style="font-size: 18px;line-height: 23px;"> A fun challenge you can do anywhere!</p>
                    </div>
                    <div style="text-align: center;position: absolute;width: 100%;top:120px"><p class="video-text" ng-bind="::slide.videoText" ng-style="{'color' : slide.textColor}">  </p></div>
                    <video preload="auto" id="intro_video_{{$index}}" ng-src="{{::slide.video}}"  style="width: 100%" poster='images/transparentbackground.png' loop webkit-playsinline requestFullScreen>

                    </video>
                </div>

            </ion-slide-page>
            <ion-slide-page>
                <div class="box" style="background-image:url('images/Get_Followers.jpg');background-repeat: round;">
                    <div class="video-slide-header">
                        <p style="line-height: 33px;font-size: 26px;font-weight: bold;"> Take DARE . Get Followers</p>
                        <p style="font-size: 19px;line-height: 30px;"> It's nice to be popular. Isn't it?</p>
                    </div>
                    <div style="text-align: center;position: absolute;width: 100%;top:140px"><p class="video-text" ng-bind="::slide.videoText">  </p></div>
                    <div style="position: absolute;top: 45%;right: 25px;color: white;line-height: 38px;">
                        <p style="    font-size: 45px;"> 3100</p>
                        <p style="    font-size: 23px;"> Followers </p>
                    </div>
                    <div tr_label="signup_last_step_arrow" id="right-arrow-cnt" ng-click="nextStep();">
                        <div class="right-arrow" style="color:lightgrey;" ng-click="nextStep();$event.stopPropagation();"></div>
                    </div>
                </div>

            </ion-slide-page>
        </ion-slides>
    </div>
    <!--</div>-->
    <div ng-if="stepNum==5" class="modal-content noselect" style="background-color: #f0f0f0;min-height:100%;width:100%;max-width: 600px;position: relative">
        <!--header-->
        <div style="width:100%;position: fixed;max-width: 600px;;padding-bottom: 5px;background-color: #f0f0f0;z-index: 999">

            <div style="width:100%;padding:10px 5px;background-color: #fff;text-align: center;">
                <div style="display: table;margin: 0 auto;">
                    <div style="height: 50px;width: 50px;display: inline-block" back-image="'images/smileys/happy.png'"></div>
                    <div style="margin-left: 10px;margin-top:5px;display: inline-block;vertical-align: top">
                        <p style="font-size:16px;line-height:20px;color:#002545;font-weight: bold"> Get Started by Following some</p>
                        <p style="font-size:16px;line-height:20px;color:#002545;font-weight: bold"> Cool People on STICHIO</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 77px;">

        </div>
        <!--header ends-->

        <div style="margin: 0 auto;width: 100%;max-width: 470px">
            <loading-icon style="display: none" id="followsuggs-loading"></loading-icon>
            <div ng-repeat="user in userSuggestions" class="user-suggestion-card">
                <div style="height: 50px;position: relative">
                    <div style="border-radius: 50%;width:50px;height: 50px;display: inline-block" back-image="{{::user.avatar}}"></div>
                    <div class="vert-center" style="display: inline-block;vertical-align: top;margin-left: 15px;">
                        <p style="color: black;font-size: 16px;line-height: 22px" ng-bind="user.username"></p>
                        <p style="color: darkgray;font-weight: 300;font-size: 12px;line-height: 22px"> {{::user.completed_dares}} DARES | {{::user.upvotes_count}} Upvotes </p>
                    </div>
                    <div class="selection-circle sti-cursor" ng-click="user.unchecked=!user.unchecked" ng-class="{'unchecked' : user.unchecked}">
                        <div ng-if="!user.unchecked" class="checkmark vert-center"></div>
                    </div>
                </div>
                <div style="display: flex;justify-content: space-between;margin-top: 10px">
                    <div ng-repeat="dareImage in user.images" class="wrapper">
                        <div back-image="{{::dareImage}}" class="imageCover">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--footer-->
        <div style="position: fixed !important;width: 100%;height: 50px;background: linear-gradient(#005493, #002545);bottom: 0 !important;max-width: 600px;text-align: center;z-index: 999999999">
            <button id="follow-all-button" class="vert-center"  ng-click="followAll()">
                Follow
                <div class="spinner" style="position: absolute;bottom: 7px;right: 5px;display: none">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </button>
            <!--<p id="follow-skip-button" class="sti-cursor" ng-click="closeFollowSuggestionPopup()">-->
            <!--Skip >>-->
            <!--</p>-->
        </div>
        <div style="height: 50px"></div>
        <!--footer ends-->
    </div>
</div>



