<style>
    .unread_notif_pic{
        width: 45px;
        height: 45px;
        position: absolute;
        top: -25px;
        left: calc(50% - 20px);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1.5px solid white;
        box-shadow: 1px 3px 3px 0px grey;
        -moz-perspective: 1000;
        -webkit-perspective: 1000;
        -ms-perspective: 1000;

        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;

        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);

        -webkit-transition: all .25s ease-in;
        -moz-transition: all .25s ease-in;
        -ms-transition: all .25s ease-in;
        opacity: 0;
    }

    .unread_notif_pic.animateOpen{
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
    }
    .sti-profile-footer tip {
        min-width: 120px !important;
    }

    .numberDisplay {
        position: absolute;
        top:4px;
        right:5px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 2px;
        background:#59f90e;
        border: 1px solid white;
        color: black;
        text-align: center;
        font: 12px Arial, sans-serif;
    }
    .explore-help-box{
        background: #53585f;
        height: 105px;
        width: 260px;
        position: absolute;
        bottom: 64px;
        margin: 0 auto;
        transform: perspective(1px) translateX(-50%);
        -webkit-transform: translate(-50%,0);
        left: 50%;
        border-radius: 5px;
        padding:10px 20px 20px 20px;
        box-shadow: 5px 5px 11px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 5px 5px 11px rgba(0, 0, 0, .5);
    }
    .explore-help-box:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 20px;
        height: 20px;
        background: #53585f;
        border-right: none;
        border-bottom: none;
        transform: rotate(45deg);
        margin-left: -11px;
        margin-top: -11px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);


    }
    .explore-help-box p{
        color:white;
        text-align:center;
    }
    .explore-help-box .genreImage{
        width:40px;
        height:40px;
        border:1px solid white;
        border-radius:50%;
    }

</style>
<div class="sti-profile-footer sti-profile" style="z-index: 99999;" ng-click="$event.stopPropagation();">
    <div id="newUserExploreHelpBox" style="display:none" ng-if="footerSelectedOption === 'home'">
        <div class="explore-help-box" ui-sref="explore.dares">
        <p style="font-weight:bold;">Tap to find cool DARES</p>
        <div style="display: flex;justify-content: space-between;margin-top:10px">
            <div ng-repeat="genreData in allDareGenres|limitTo : 4">
                <div class="back-image-center genreImage" back-image="{{::genreData.image}}" src-is="background" image-type="genre"> </div>
                <p ng-bind="::genreData.name" style="font-size:11px;margin-top:5px"></p>
            </div>
        </div>
    </div>
    </div>
    <div class="options-cnt">
        <div  class="equalize-width" ng-class="{'selected-page': footerSelectedOption === 'home'}">
            <a tr-label="home_footer" ui-sref="home1.stiches" class=" home-scroll-top" ng-click="changeOption('home')">
                <div class="option-icon house-icon img-div"></div>
            </a>
        </div><!--
        --><a tr-label="search_footer" ng-class="{'selected-page': (footerSelectedOption === 'popular' || footerSelectedOption === 'search')}" style="width: 19vw" ui-sref="popular.dares" ng-if="::userLoggedIn && (currentState == 'home1.stiches' || currentState == 'home.stiches')" class="equalize-width">
            <div class="option-icon search-icon-footer img-div"></div>
        </a><!--
        --><a tr-label="search_footer" ng-class="{'selected-page': (footerSelectedOption === 'popular' || footerSelectedOption === 'search')}" style="width: 19vw" ui-sref="popular.dares" ng-if="::userLoggedIn && currentState != 'home1.stiches' && currentState != 'home.stiches'" class="equalize-width" tooltips tooltip-template="See who is Popular" place="friends">
            <div class="option-icon search-icon-footer img-div"></div>
        </a><!--
        --<div  class="equalize-width" ng-class="{'selected-page': footerSelectedOption === 'own_profile'}">
            <a tr-label="own_profile_footer" ui-sref="profile.dares({ profileId : loggedInUserId})" class="equalize-width" ng-if="userLoggedIn" ng-click="changeOption('own_profile')">
                <div class="option-icon activity-icon-footer img-div" ></div>
            </a>
        </div><!--
        --><div class="equalize-width" ng-class="{'selected-page': footerSelectedOption === 'explore'}" >

            <a tr-label="explore_footer" ui-sref="explore.dares" class="equalize-width" ng-click="changeOption('explore')" ng-if="userLoggedIn">
                <div class="option-icon browse-icon-footer img-div"></div>
            </a>
        </div><!--
        --><div  class="equalize-width" ng-class="{'selected-page': footerSelectedOption === 'chat'}">
            <a style="position:relative" tr-label="chat_footer" class="equalize-width" ng-if="userLoggedIn" ng-click="openNewChatPopup()">
                <div class="option-icon chat-icon-footer img-div" >
                    <div ng-if="unread_chat_count" class="numberDisplay" ng-bind="unread_chat_count"> </div>
                </div>
            </a>
        </div><!--
        --><a tr-label="notifications_footer" ng-if="::userLoggedIn" style="width: 19vw;position: relative" class="equalize-width" ng-click="openChatPopup($event, false)" >
            <div class="option-icon message-icon-footer img-div"></div>
            <!--<span class="notif-icon" ng-class="{'blink_me': newNotification}" ng-if="unread_notifs_alert||unread_chats_alert"></span>-->
            <div ng-click="unread_notif_pic && openChatPopup($event, false)" class="unread_notif_pic" ng-class="{'animateOpen': unread_notif_pic}" back-image="{{unread_notif_pic}}"></div>
    </a><!--
        --><a tr-label="login_footer" href="" class="equalize-width ng-scope" ng-click="displayLoginPopup($event)" ng-if="::!userLoggedIn" style="width: auto;float: right;margin-right: 20px;margin-top: 3px;"><button style="height: 30px;font-size: 11px;margin-top:4px;padding: 10px;border-radius: 3px;">Login / Signup</button>
        </a>
        <span class="stretch"></span>
        <!--<div class="message-icon-num-cnt"><span class="message-icon-num">2</div></div>-->
    </div>
</div>

<!--<search-contacts></search-contacts>-->

<!--<invited-friends-popup></invited-friends-popup>-->
<!--<import-friends-popup></import-friends-popup>-->