<div class="genresContainer genreBox">
    <p style="text-align: center;font-size: 13px">Find Mindblastic DARES</p>
    <div ng-show="(randomGenres.length>0)" class="genresList" style="display: flex;justify-content: space-between;">
        <div class="genreItem" ng-repeat="genreData in randomGenres|orderBy:'rank'|limitTo : 4" ng-click="selectGenre(genreData)">
            <div tr-label="home_genre" ui-sref="explore.dares(::{genreId: genreData.item.id})" class="genreItemImage sti-cursor" >
                <div class="back-image-center" back-image="{{::genreData.item.image}}" src-is="background" image-type="genre"> </div>
            </div>
            <p ng-bind="::genreData.item.name"></p>
        </div>
        <div class="genreItem">
            <div tr-label="home_genre_see_more" ui-sref="explore.dares" class="genreItemImage sti-cursor" >
                <div class="back-image-center" style="background-image: url('images/search_seemore.jpg')" src-is="background" > </div>
            </div>
            <p tr-label="home_genre_see_more" ui-sref="explore.dares" class="sti-cursor"> See More </p>
        </div>
    </div>
</div>