<div class="sti-home-header" style="height: 46px; border-bottom: 1px solid #ddd; z-index: 100; position: fixed; top: 0; width: 100%;">
	<div class="profile-header-top" style="display: block !important;padding-top: 7px">
		<img tr-label="stichio_logo" ui-sref="home.stiches"  style="height: 19px;margin: 6px 10px; cursor: pointer;" src="images/Stichio_Logo_Green_THICK.png">
		<div style="float: right; display: flex;" id="homeiconscnt">
		    <!--<div ng-show="loggedIn" class="refresh-button" ng-click="refreshHome()"><img src="images/refresh_icon_white.png" style="margin: auto 0; height: 14px; width: 14px; vertical-align: middle;"> <span style="vertical-align: middle; font-size: 13.34px;"><b>Refresh</b></span></div>-->
            <div tr-label="refresh_home" ng-if="::loggedIn" class="refresh-icon-cnt" ng-click="refreshHome('top')" tooltips tooltip-template="Tap this to see updates" place="refresh_home"  tooltip-side="bottom" style="margin-top:3px;"><img src="images/refresh_icon_white.png"></div>
            <a ng-if="!unseenPendingDares" tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar"  href="#/profile/{{::loggedInUserId}}"><img ng-if="::loggedIn" style="width: 30px; margin: auto 5px;"  class="user-image sti-cursor header-user-image" data-ng-src="{{userLoggedInDetails.avatar}}"/></a>
            <div ng-if="unseenPendingDares"><a  tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar"  href="#/profile/{{::loggedInUserId}}?dareType=remaining"><img ng-if="::loggedIn" style="width: 30px; margin: auto 5px;"  class="user-image sti-cursor header-user-image" data-ng-src="{{userLoggedInDetails.avatar}}"/><div class="numberCircle">{{ unseenPendingDares }}</div></a></div>

            <button tr-label="login_button_header" class="login-button" style="width: auto; margin: auto 10px;" ng-click="displayLoginPopup($event)" ng-if="::!loggedIn">Login / Signup</button>
			<img tr-label="hamburger_menu" style="height: 18.22px;width: 20.65px; z-index: 9999999; cursor: pointer; margin: 6px 10px" ng-click="toggleMenu()" src="images/hamburger_icon_white.png">
		</div>
    </div>
</div>
<div class="sti-home-header-alias" style="height: 46px;"></div>