<div>
	<div id="imagePopup" class="imagePopup modalDialog noselect" ng-click="closeImagePopup();$event.stopPropagation();" >
        <div id="innerDiv"></div>
        <div id="popupContent">
            <img id="popupImage" ng-src="" class="blur">
            <!--<div  id="actionIcons" ng-show="icons" style="">-->
                <!--<img class="equalize-width sti-cursor" src="images/Truth_Icon_White_SS.png" ng-if="randVal" ng-click="openTruth(imageCard, $index, $event);closeImagePopup();"/>-->
                <!--<img class="equalize-width sti-cursor" src="images/Dare_Icon_White_SS.png" ng-if="!randVal" ng-click="openDareSuggestion(imageCard, $index, $event);closeImagePopup();"/>-->
                <!--<img class="equalize-width sti-cursor" src="images/Share_Icon_White_SS.png" ng-if="!imageCard.is_pick_stich" ng-click="!loggedIn||shareStich($event, imageCard); closeImagePopup();" />-->
                <!--<img class="equalize-width sti-cursor" src="images/Save_Icon_White_SS.png" ng-click="!loggedIn||restichImage(imageCard, $index, $event); closeImagePopup();"/>-->
            <!--</div>-->

            <div id="weblink" ng-show="imageCard.sourceUrl || (!source && imageCard.sourceImageUrl)">
                <p class="imageUrl" ng-show="source" style="color: #53585f; font-size: 14px; white-space: nowrap;"><a ng-href="http://{{imageCard.sourceUrl}}" target="_blank">{{imageCard.sourceUrl}}</a></p>
                <p class="imageUrl" ng-show="!source && imageCard.sourceImageUrl" style="color: #53585f; font-size: 14px; white-space: nowrap;"><a ng-href="http://{{imageCard.sourceImageUrl}}" target="_blank">{{imageCard.sourceImageUrl}}</a></p>
                <ul ng-click="toggleWeblink($event)" style="cursor: pointer">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
