<div id="openModal" class="modalDialog import-friends-popup sti-popup noselect">
    <div style="max-width: 600px;height: 100%" class="noselect">

        <div ng-show="invite_stage != 3" style="height: 100%;">
            <div style="padding-top: 11px;border-bottom: 1px solid #ddd;padding-bottom: 8px;">
                <div style="width: 90%;display: flex; margin: 0 auto;"> <!-- max-width: 315px; width:34%; -->
                    <div style="margin: 10px 0;display:inline-block;text-align: center;">
                        <p style="font-family: inherit;color:#53585f;font-weight: bold;">Invite Friends</p>
                    </div>
                    <div style="display: inline-block;min-width: 100px;margin-left: 20px;text-align:center;">
                        <div style=";display: inline-block;float: left;" class="fb-icon" ng-click="get_contacts('facebook',$event);">
                            <img src="images/facebook_Icon_blue.png" style="width:35.44px;"/>
                        </div>
                        <div style="display: inline-block;float: right;" class="google-plus-icon" ng-click="get_contacts('google',$event);">
                            <img src="images/Goople_Plus_Icon_Red.png" style="width:35.44px;"/>
                        </div>
                    </div>
                </div>
                <img style="width: 25px!important;position: absolute;top: 15px;right: 5%;"  src="images/Cross_White_X_Grey_Circle_Icon.png" ng-click="close_import_friends($event)"/>
            </div>
            <div style="padding-top: 10px;padding-bottom: 10px; width: 90%; margin: 0 auto;" ng-if="invite_stage == 2">
                <img src="images/Back_Icon_Grey.png" class="back-to-main-share sti-cursor" style="margin-top: 15px; margin-left: 0; display: inline;" ng-click="stage1()">
                <p ng-if="req_count" class="confirmation-text">You Followed {{req_count}} Friend<span ng-if="req_count > 1">s</span>!<br> Invite More Friends to Stichio!</p>
                <p ng-if="!req_count" class="confirmation-text">Didn't Find Friends on STICHIO?</p>
                <p ng-if="!req_count" class="confirmation-text">Invite them!</p>
            </div>
            <div ng-if="invite_stage === 2" style="border-bottom: 1px solid #ddd; margin: 8px 0;"></div>
            <div style="position: relative;height: 40px;margin: 0 auto; width: 90%;">
                <div>
                    <img src="images/BlankTickBoxIconNew.png" class="share-checkbox" style="top: 8px;" ng-show="!selectAll" ng-click="add_all()"/>
                    <img src="images/FilledTickBoxIconNew.png" class="share-checkbox" style="top: 8px;" ng-show="selectAll" ng-click="remove_all()"/>
                    <p style="position:absolute;top:18px; bottom:0;left:0;right:0;margin-left: 40px;font-size:12.34px;font-family:inherit;color: #53585f;">Select All</p>
                </div>

                <button class="unfilled-enabled-btn" style="position: absolute;right: 0;top:13px;height: 25px;font-size: 12.34px; border-radius: 3px;" ng-show="add_count && invite_stage != 2" ng-click="send_invites()">Follow</button>
                <button  class="unfilled-enabled-btn" style="position: absolute;right: 0;top:13px;height: 25px;width:92px;font-size: 12.34px; border-radius: 3px;" ng-show="add_count && invite_stage == 2" ng-click="send_invites();">Invite</button>
            </div>
            <div style="height: 16px;"></div>
            <div class="search-contact-input-cnt" style="width: 90%;height: 40px;margin: auto;margin-bottom: 15px;">
                <div style="border: 1px solid #797979 !important; border-radius: 3px;">
                    <input type="text" class="search-contact-input search-contact-clear import-friends-search" style="height:40px; border: none !important; width: calc(100% - 30px); margin-left: 2px" placeholder="Search G+ Friends on STICHIO" ng-model="searchFriends">
                    <img src="images/Cross_White_X_Grey_Circle_Icon.png" style="width: 18px; vertical-align: middle;" ng-click="clearSearch();" ng-show="searchFriends">
                </div>
                <!-- <input type="text" class="search-contact-input clearable search-contact-clear" style="height:40px;" ng-show="invite_stage == 0" placeholder="Search Facebook Friends on STICHIO" ng-model="searchFriends"> -->
                <p style="color: #cb0000;font-size: 11.34px;line-height: 20px;" ng-show="searchFriends && !friendListfiltered.length">Match Not Found!</p>
            </div>

            <div class="save1 save padding-cnt add-contributors share-mob-cnt invite-user-list" style="max-height: none !important;" ng-show="friendList.length">
                <div ng-repeat="sticher in friendList | filter: searchFriends as friendListfiltered" class="add-sticher-cnt add-contributor-cnt  share-sticher-cnt">
                    <div class="inner-share-cnt">
                        <img class="share-checkbox" ng-if="!sticher.added && !sticher.status && invite_stage != 2" src="images/BlankTickBoxIconNew.png" ng-click="add_to_invite(sticher)">
                        <img class="share-checkbox" ng-if="sticher.added && !sticher.status && invite_stage != 2" src="images/FilledTickBoxIconNew.png" ng-click="remove_from_invite(sticher)">
                        <img class="share-checkbox" ng-if="!sticher.added && !sticher.invited && invite_stage == 2" src="images/BlankTickBoxIconNew.png" ng-click="add_to_invite(sticher)">
                        <img class="share-checkbox" ng-if="sticher.added && !sticher.invited && invite_stage == 2" src="images/FilledTickBoxIconNew.png" ng-click="remove_from_invite(sticher)">
                        <img class="user-image share-img-avatar" data-ng-src="{{ sticher.avatar }}"/>
                        <div class="user-name-cnt share-user-name" ng-if="sticher.name"><p class="user-name contributor-name share-name" style="font-size: 14.34px;">{{ sticher.name }}</p></div>
                        <div class="user-name-cnt share-user-name" ng-if="!sticher.name"><p class="user-name contributor-name share-name" style="font-size: 14.34px;">{{ sticher.email }}</p></div>
                        <div class="">
                            <button class="unfilled-btn unfilled-enabled-btn" ng-if="!sticher.status && invite_stage != 2" ng-click="send_invite(sticher)">Follow</button>
                            <button class="unfilled-btn unfilled-disabled-btn" ng-if="sticher.status && invite_stage != 2">Following</button>
                            <button class="unfilled-btn unfilled-enabled-btn" ng-if="!sticher.invited && invite_stage == 2" ng-click="send_invite(sticher)">Invite</button>
                            <button class="unfilled-btn unfilled-disabled-btn" ng-if="sticher.invited && invite_stage == 2">Invite Sent</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div style="height: 40px;" ng-if="invite_stage == 1"></div>
            </div>
            <div style="width: 60%; margin:50px auto 0 auto; min-width: 250px;">
                <div ng-if="invite_stage == 0 && contacts_retrieved && !friendList.length" style="text-align: center; margin: 0 30px;">
                    <div style="color: #53585f; font-size: 14.34px; margin-top: 40px;"><p style="line-height: 18px;">Sorry, we couldn't find new Facebook friends to add on STICHIO.</p></div>
                    <div class="" style="height: 36px; background-color: #d34836; color: #fff; border-radius: 5px; margin-top: 40px; padding: 10px 10px;" ng-click="get_contacts('google',$event);"><p>Find Google Friends</p></div>
                </div>
                <div ng-if="invite_stage == 1 && contacts_retrieved && !friendList.length" style="text-align: center; margin: 0 30px;">
                    <div style="color: #53585f; font-size: 14.34px; margin-top: 40px;"><p style="line-height: 18px;">Sorry, we couldn’t find new Google friends to add on STICHIO.</p></div>
                    <div class="" style="height: 36px; border: 1px solid #ec5d57; color: #ec5d57; border-radius: 5px; margin-top: 40px; padding: 10px 10px;" ng-click="stage2();"><p>Invite Them</p></div>
                </div>
            </div>
            <div class="friends-loading-icon" style="display: none; text-align: center; color: #53585f; font-size: 15px;">
                <div class="import-loading-div" style="margin-top: 10px;"></div>
                <p>Loading Friends</p>
            </div>
            <div style="background-color: #ec5d57; height: 40px;width: 100%; max-width: 600px; border-top: 1px solid rgba(0,0,0,0.2); margin:0;position: fixed;bottom: 0;" ng-if="navFrom == 'google' && invite_stage == 1">
                <p ng-click="stage2()" style="text-align: center;font-size: 14.34px;color:white;line-height: 38px;">SKIP</p>
            </div>
            <!--<div style="background-color: #ec5d57; height: 40px;width: 100%; max-width: 600px; border-top: 1px solid rgba(0,0,0,0.2); margin:0;position: fixed;bottom: 0;" ng-if="navFrom == 'google' && invite_stage == 2">-->
                <!--<p ng-click="stage3()" style="text-align: center;font-size: 14.34px;color:white;line-height: 38px;">Stage 3</p>-->
            <!--</div>-->
        </div>


        <div ng-if="invite_stage == 3" style="height: 100%;">
            <div style="width: 100%;height: 45px;">
                <div style="position:absolute;left: 0;right: 0;display:inline-block;text-align: center ;padding-top: 20px;">
                    <p style="font-family: inherit;color:#53585f;font-weight: bold;">Invite Friends</p>
                </div>
            </div>
            <img style="width: 25px!important;position: absolute;top: 15px;right: 15px;"  src="images/Cross_White_X_Grey_Circle_Icon.png" ng-click="close_import_friends($event)"/>
            <hr/>
            <div style="width: 60%;margin:0 auto;margin-top: 50px; min-width: 250px;">
                <div style="">
                    <div style="width: 100%; margin: 10px 0; text-align: center; color: #53585f;">
                        <p style="margin: 10px 0;" ng-if="navFrom == 'facebook' && req_count">You Followed {{req_count}} Friend<span ng-if="req_count > 1">s</span>!</p>
                        <p style="margin: 10px 0;" ng-if="invite_count">{{invite_count}} <span ng-if="invite_count == 1">Friend</span> <span ng-if="invite_count > 1">Friends</span> Invited!</p>
                    </div>
                    <div style="display:flex; height: 36px;background-color: #3b5998;border-radius: 5px;margin-top: 40px;" ng-if="!(navFrom == 'google')" ng-click="get_contacts('facebook',$event);">
                        <div class="share-icon-btn" style="border-right: 1px groove #fff;"> <img src="images/facebook_Icon_blue.png" style="width:35.44px;height: 35.44px;"></div>
                        <div class="" style="padding: 10px 10px;"><p style="color: #fff;">Invite more FB Friends</p></div>
                    </div>
                    <div style="display:flex; height: 36px;background-color: #d34836;border-radius: 5px;margin-top: 40px;" ng-click="get_contacts('google',$event);">
                        <div class="share-icon-btn" style="border-right: 1px groove #fff;"> <img src="images/Goople_Plus_Icon_Red.png" style="width:35.44px;height: 35.44px;"></div>
                        <div class="" style="padding: 10px 10px;"><p style="color: #fff;">Invite <span ng-if="(navFrom == 'google')">more</span> G+ Friends</p></div>
                    </div>
                    <div style="display:flex; height: 36px;background-color: #3b5998;border-radius: 5px;margin-top: 40px;" ng-if="(navFrom == 'google')" ng-click="get_contacts('facebook',$event);">
                        <div class="share-icon-btn" style="border-right: 1px groove #fff;"> <img src="images/facebook_Icon_blue.png" style="width:35.44px;height: 35.44px;"></div>
                        <div class="" style="padding: 10px 10px;"><p style="color: #fff;">Invite FB Friends</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>