<div class="modalDialog imp-alert-popup" ng-click="$event.stopPropagation();" style="z-index:10000000">
    <!--<div style="width: 100%; height: 100%; position: absolute; background: none;" ng-click="closeChatPopup()"></div>-->
    <div class="" style="background: linear-gradient(rgba(210, 210, 210, 0.94), rgba(210, 210, 210, 0.94)), url('images/chat_background.png');background-size: cover;height: 100%;">
        <div class="popup-header-new blue"></div>
        <div class="vert-center" style="background: #fff;width: 80vw;margin: auto;border-radius: 5px;">
            <div style="text-align: center;display: flex;padding: 15px;justify-content: center">
                <img src="images/stichio_app_icon.png" style="width:40px;height: 40px">
                <img src="images/stichio_blue_lr.png" style="margin-left: 5px;height: 25px;margin-top: 8px">
            </div>
            <div style="padding: 30px;padding-top:10px;border-bottom:1px solid #DDDDDD;text-align: center;font-size: 17.34px;line-height: 20px">
                <p ng-bind-html="importantAlert.message_text"></p>
            </div>
            <div ng-if="!importantAlert.is_mandatory" style="display: flex;font-size: 17.34px;padding: 0px 40px;">
                <div tr-label="imp_alert_notNow" style="width: 50%;padding: 20px 0" ng-click="closeImportantAlertsPopup()">Not Now</div>
                <div tr-label="imp_alert_action_opt" ng-click="openLink(importantAlert.link);closeImportantAlertsPopup()" style="font-weight: bold;color:black;padding: 20px 0;text-align: right;width: 50%" ng-bind-html="importantAlert.button_text"></div>
            </div>
            <div tr-label="imp_alert_action_mand" ng-if="importantAlert.is_mandatory" ng-click="openLink(importantAlert.link)" style="font-size: 17.34px;font-weight: bold;color:black;padding: 20px 0;text-align: center;" ng-bind-html="importantAlert.button_text"></div>
        </div>
        <div class="popup-header-new blue" style="bottom: 0;height: 25px"></div>
    </div>
</div>