<div class="modalDialog reactivate-popup sti-popup">
	<div>
		<p class="reactivate-message">Do you want to re-activate your account ?</p>
		<div class="reactivate-buttons">
			<button ng-click="reactivateAccount()">Yes</button>
			<button ng-click="noReactivateAccount()" class="sti-disabled-btn">No</button>
		</div>
	</div>
</div><div  class="modalDialog login-popup sti-popup">
	<div class="exclude">
		<div class="sign-in-cnt">
			<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.8); display: flex; z-index: 3;" ng-show="authenticating">
				<div class="" style="margin: auto;">
					<img src="images/loading-icon1.gif" alt="" style="margin-bottom: 10px; height: 50px;">
					<p style="color: rgba(0,0,0,0.4);">Authenticating...</p>
				</div>
			</div>
            <form id="sign-in-form" method="post" autocomplete="on">
			<div class="intro-text-cnt">
				<p class="sti-name-logo">
					STICHIO
				</p>
				<p class="info-text">join 100,000+ daring people</p>
			</div>
				<div class="actions-cnt">
					<div style="cursor: pointer; display:flex; height: 36px;background-color: #3b5998;border-radius: 5px;" ng-click="login_bk('facebook')">
						<div class="share-icon-btn" style="border-right: 1px groove #fff;"> <img src="images/facebook_Icon_blue.png"  style="width:35.44px;height: 35.44px;"/></div>
						<div class="" style="padding: 10px 10px;"><p style="color: #fff;">Login with Facebook</p></div>
					</div>
					<div style="cursor: pointer; display:flex; height: 36px;background-color: #d34836;border-radius: 5px;margin-top: 20px;" ng-click="login_bk('google')">
						<div class="share-icon-btn" style="border-right: 1px groove #fff;"> <img src="images/Goople_Plus_Icon_Red.png"  style="width:35.44px;height: 35.44px;"/></div>
						<div class="" style="padding: 10px 10px;"><p style="color: #fff;">Login with Google</p></div>
					</div>
					<div class="seperator-cnt" style="margin-top: 21px">
						<hr>
						<span>OR</span>
					</div>
					<div class="fields-cnt" style="margin-top: 21px">
						<input type="email" name="email" ng-model="loginDetails.email" class="input-email" placeholder="Enter Email ID" autocomplete="off" style="font-size: 15.34px"/>
						<p class="email-error-msg error-msg" ng-bind="loginDetails.emailErrorMsg" style="height: 21px"></p>
						<input type="password" name="password" ng-model="loginDetails.password" class="sign-in-password input-password" style="font-size: 15.34px" placeholder="Enter Password" autocomplete="off"/>
						<p class="pass-error-msg error-msg" ng-bind="loginDetails.passwordErrorMsg"></p>
					</div>
					<div class="additional-actions-cnt">
						<span ng-click="displayResetPassword()" class="forgot-pass sti-cursor">Forgot Password</span>
					</div>
				</div>
				<div class="action-btns-cnt">
					<!--<div class="not-now-login">-->
						<!--<button class="sti-main-btn sti-disabled-btn" ng-click="closeLoginPopup()">Not Now</button>-->
					<!--</div>&lt;!&ndash;-->
					<div style="width: 100%">
						<div style="position: relative; display: inline-block; width: 100%">
							<img class="loading-div1" lazy-src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; left: 50%; top: 6px; margin-left: -10px;">
							<button ng-mousedown="signin()" class="sign-in-btn sti-main-btn" style="width: 70%" type="submit">Login / Sign Up</button>
						</div>
                    <input type="submit" style="position:absolute;top:-100000px;">

					</div>

				</div>
            </form>
		</div>
		<div class="sign-up-cnt">
			<div class="intro-text-cnt">
				<p class="sti-name-logo">
					STICHIO
				</p>
				<!--<p class="info-text">Meet Social. Connect Real.</p>-->
			</div>
			<form name="form" novalidate>
				<div class="actions-cnt">
					<div class="fields-cnt">
						<input type="email" ng-model="loginDetails.email" name="email" class="input-email sign-up-email" style="font-size: 15.34px" placeholder="Enter Email ID" autocomplete="off"/>
						<p class="email-error-msg error-msg"><span ng-bind="loginDetails.emailErrorMsg"></span></p>
						<div class="password-cnt">
							<input type="password" ng-model="loginDetails.password" class="input-password sign-up-input" style="font-size: 15.34px" placeholder="Enter Password" autocomplete="off"/>
							<!--<div class="password-info">
								<button class="password-info-btn"></button>
							</div>-->
						</div>
						<div class="password-words">
							<p><i class="fa fa-times"></i>&nbsp;8 Characters</p>
							<p><i class="fa fa-times"></i>&nbsp;Number</p>
							<p><i class="fa fa-times"></i>&nbsp;Letter</p>
						</div>
						<!--<div class="password-bar-cnt">
							<div class="password-bar"></div>
						</div>-->
						<p class="pass-error-msg error-msg" ng-bind="loginDetails.passwordErrorMsg"></p>
						<!--<input type="password" ng-model="loginDetails.confirmPassword" class="input-password sign-up-input" placeholder="Confirm Password"/>
						<p class="pass-error-msg error-msg" ng-bind="loginDetails.confirmPasswordErrorMsg"></p>-->

						<input type="text" ng-model="loginDetails.displayName" name="email" class="input-display-name sign-up-input" style="font-size: 15.34px" placeholder="Enter a Display Name" autocomplete="off"/>
						<p class="name-error-msg error-msg" ng-bind="loginDetails.displayNameErrorMsg"></p>
                        <div class="sign-up-gender">
                            <input type="radio" name ="gender" value="female" class="sign-up-input" ng-model="loginDetails.gender" checked="checked"><span>Female</span>
                            <input type="radio" name ="gender" value="male" class="sign-up-input" ng-model="loginDetails.gender"><span>Male</span>
                        </div>
						<p class="sti-cursor already-registered" ng-click="alreadyRegistered()"><u>Already registered</u></p>
						<p class="terms-and-conditions">By Signing Up you agree to Stichio's <a ui-sref="policy.terms">Terms & Conditions</a> & <a ui-sref="policy.privacy">Privacy Policy</a></p>
					</div>
				</div>
				<div class="action-btns-cnt">
					<div style="width: 50%">
						<button class="sti-main-btn sti-disabled-btn" style="width: 80%" ng-click="backToLogin()">Back To Login</button>
					</div><!--
					--><div style="width: 50%">
						<div style="position: relative; display: inline-block;width: 100%">
							<img class="loading-div1" lazy-src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; left: 50%; top: 6px; margin-left: -10px;">
							<button style="width: 80%" type="submit" ng-mousedown="signup()" class="sign-up-btn sti-main-btn">Sign Up</button>
						</div>
                        <!--<input type="submit" ng-click="signup()" class="button" value="Sign Up" style="color:white;">-->
					</div>
				</div>
				<p style="font-size: 11.34px;margin-top: 10px">Referral code, if any, can only be applied after sign up via Facebook button</p>
			</form>
			<div class="sign-up-success-cnt">
				<div><span>Congratulations!</span></div>
				<div><span>You have successfully signed up!</span></div>
			</div>
		</div>
		<div class="forgot-pass-cnt">
			<div class="intro-text-cnt">
				<p class="sti-name-logo">
					STICHIO
				</p>
				<!--<p class="info-text">Meet Social. Connect Real.</p>-->
			</div>
			<div class="actions-cnt">
				<div class="fields-cnt">
					<p>Forgot Password </p>
					<input type="email" ng-model="loginDetails.email" name="email" class="input-email" placeholder="Enter Email ID" autocomplete="off"/>
					<p class="email-error-msg error-msg" ng-bind="loginDetails.emailErrorMsg"></p>
				</div>
			</div>
			<div class="action-btns-cnt">
				<div>
					<button class="sti-main-btn sti-disabled-btn" ng-click="backToLogin()">Back To Login</button>
				</div><!--
				--><div>
					<div style="position: relative; display: inline-block;">
						<img class="loading-div1" lazy-src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; left: 50%; top: 6px; margin-left: -10px;">
						<button type="submit" ng-click="getForgotPassword()" class="forgot-pass-btn sti-main-btn">Submit</button>
					</div>
				</div>
			</div>
			<div class="reset-link-cnt">
				<div><span>To reset password,</span></div>
				<div><span>Please go to the verification email that has been sent to your registered Email ID</span></div>
			</div>
		</div>
		<div class="reset-pass-cnt">
			<div class="intro-text-cnt">
				<p class="sti-name-logo">
					STICHIO
				</p>
				<!--<p class="info-text">Meet Social. Connect Real.</p>-->
			</div>
			<form name="form" novalidate>
				<div class="actions-cnt">
					<div class="fields-cnt">
						<div class="password-cnt">
							<input type="password" ng-model="loginDetails.password" class="input-password" placeholder="Enter Password" autocomplete="off"/>
							<!--<div class="password-info">
								<button class="password-info-btn"></button>
							</div>-->
						</div>

						<div class="password-words">
							<p><i class="fa fa-times"></i>&nbsp;8 Characters</p>
							<p><i class="fa fa-times"></i>&nbsp;Number</p>
							<p><i class="fa fa-times"></i>&nbsp;Letter</p>
						</div>
						<!--<div class="password-bar-cnt">
							<div class="password-bar"></div>
						</div>-->
						<p class="pass-error-msg error-msg" ng-bind="loginDetails.passwordErrorMsg"></p>
						<!--<input type="password" ng-model="loginDetails.confirmPassword" class="input-password" placeholder="Confirm Password" autocomplete="off"/>
						<p class="pass-error-msg error-msg" ng-bind="loginDetails.confirmPasswordErrorMsg"></p>-->
					</div>
				</div>
				<div class="action-btns-cnt">
					<div>
						<button class="sti-main-btn sti-disabled-btn" ng-click="takeToHome()">Not Now</button>
					</div><!--
					--><div>
						<div style="position: relative; display: inline-block;">
							<img class="loading-div1" lazy-src="images/loading-icon1.gif" style="height: 20px; display: none; position: absolute; left: 50%; top: 6px; margin-left: -10px;">
							<button type="submit" ng-click="resetPassword()" class="reset-pass-btn sti-main-btn">Submit</button>
						</div>
					</div>
				</div>
			</form>
			<div class="reset-success-cnt">
				<div><span>Your password</span></div>
				<div><span>has been successfully reset</span></div>
			</div>
		</div>
	</div>
</div>
<p class="password-info-msg">Password should be at least 8 characters containing numbers and letters</p>