<style>
	.red_dot{
		    color: red;
    position: absolute;
    /* right: 10px; */
    top: 12px;
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 50%;
    margin-left: 8px;
	}
</style>
<div id="openModal" class="menuPopup border-stc" style="box-shadow: 0 3px 8px rgba(0, 0, 0, .5); max-height: calc(100% - 45px); position: fixed; top: 45px; right: 5px; z-index: 107; display: none;">
	<div class="menuPopup-content noselect" style="max-width: 400px; height: 100%; background-color: white; padding-top: 10px; position: relative;" ng-click="$event.stopPropagation();">
		<div class="border-stc" style="box-shadow: 0 3px 8px rgba(0, 0, 0, .5); width: 14px; height: 14px; background: #fff; border-right: none; border-bottom: none; transform: rotate(45deg); position: absolute; top: -7px; right: 10px; z-index: -1;"></div>
		<div class="menu-nav" style="height: 100%; overflow-y: scroll;">
			<ul class="menu">
				<li tr-label="ham_explore"  ui-sref="popular.dares" ng-click="$event.stopPropagation();">Hot DARES</li>
				<li tr-label="create_dare_ham" ng-if="loggedIn" ng-click="!loggedIn || open_dare_form(); dare1.stage = 1;" class="sti-cursor" id="give-dare-menu">Give DARE</li>
				<!-- <li>College Festivals</li> -->
				<hr ng-if="loggedIn" style="margin: 2px 5px; border-top: 1px solid #eee; border-bottom: none;">
				<li tr-label="ham_find_people" ng-if="loggedIn" ui-sref="popular.people" ng-click="$event.stopPropagation();">Find People to Follow</li>
				<li tr-label="ham_edit_profile" ng-if="loggedIn" ui-sref="profile.dares" >My Profile</li>
				<li tr-label="ham_edit_profile" ng-if="loggedIn" ng-click="openEditProfileNew()">Edit Profile</li>
				<hr ng-if="userLoggedInDetails.referral_prog.enabled" style="margin: 2px 10px; border-top: 1px solid #eee; border-bottom: none;">
				<li ng-if="userLoggedInDetails.referral_prog.enabled  && enterReferralCode" tr-label="ham_edit_profile"  ng-click="openReferralPopup()">Enter Referral Code</li>
				<li ng-if="userLoggedInDetails.referral_prog.enabled && !enterReferralCode" tr-label="ham_edit_profile"  ng-click="openReferralPopup()">Refer a Friend</li>
				<hr style="margin: 2px 10px; border-top: 1px solid #eee; border-bottom: none;">
				<li id="update_opt" tr-label="ham_update_app" ng-click="takeToPlayStore()" style="position:relative">Update App<span class="red_dot"></span></li>
					<li tr-label="ham_rate_app" ng-if="loggedIn" ng-click="takeToPlayStore()">Rate App</li>
				<hr id="careers_opt_border" style="margin: 2px 10px; border-top: 1px solid #eee; border-bottom: none;">
				<li id="careers_opt" tr-label="ham_careers" ui-sref="contact.hiring">Careers</li>
				<!-- <hr style="margin: 2px 10px; border-top: 1px solid #eee; border-bottom: none;"> -->
				<!-- <li>Report a Problem</li> -->
				<hr ng-if="loggedIn" style="margin: 2px 10px; border-top: 1px solid #eee; border-bottom: none;">
				<li tr-label="ham_logout" ng-click="logout()" ng-if="loggedIn">Log Out</li>
			</ul>
			<hr style="margin: 2px 10px;">
			<ul class="menu2" style="display: inline-flex; width: 100%; padding: 0;">
				<li tr-label="ham_terms" ui-sref="policy.terms" style="">Terms</li>
				<span style="margin: auto 0;">&bull;</span>
				<li tr-label="ham_privacy" ui-sref="policy.privacy" style="">Privacy</li>
				<span style="margin: auto 0;">&bull;</span>
				<li tr-label="ham_contact_us" ng-click="contactUs()">Contact Us</li>
			</ul>
		</div>
	</div>
</div>
<edit-profile ng-if="userloggedIn"></edit-profile>