<hr class="search-contact-hr" ng-if="user && $index !== 0">
<div style="position: relative">
    <a ui-sref="profile.dares(::{ profileId : user.userId})"><img class="user-image" data-ng-src="{{ ::user.avatar }}" ng-if="::user.avatar" style="vertical-align: top;margin-top:10px;"/></a>
    <div class="user-name-cnt contact-name user-name-cntnew" style="padding-left: 16px; display: inline-block;">
        <div style=""><p style="display:block; max-width: 100%;" ng-class="{noCategory :   sticher.user.top_categories == null}" class="user-name search-contact-name"><a ui-sref="profile.dares(::{ profileId : user.userId})">  {{ ::user.username }}</a></p></div>
        <div style="display: flex; font-size: 12px;margin-bottom: 5px;line-height: 25px;max-width: 100%;">
            <p style="max-width: 100%;text-overflow:ellipsis;overflow: hidden;color: #53585f; height: 25px; " >
                <span style="color: rgba(0,0,0,0.4);" ng-if="::user.completed_dares">{{::user.completed_dares}} DARE<span ng-if="::(user.completed_dares > 1)">S</span> Completed</span>
            </p>
        </div>
    </div>
    <div ng-if="::(user.userId!=userLoggedInDetails.userId)">
        <button tr-label="follow_user_thumb" class="unfilled-btn unfilled-enabled-btn btn-border sti-cursor" style="top: 16.5px;" ng-if="!user.is_following " ng-click="!loggedIn || followUser(user)">Follow</button>
        <button tr-label="unfollow_user_thumb" class="unfilled-btn unfilled-disabled-btn btn-border sti-cursor" style="top: 16.5px;" ng-if="user.is_following && user.justFollowed" ng-click="!loggedIn || unFollowUser(user)">Following</button>
        <button tr-label="give_dare_user_thumb" class="unfilled-btn unfilled-enabled-btn btn-border sti-cursor" style="top: 16.5px;color:#007ad5;border: 1px solid #007ad5;" ng-if="user.is_following && !user.justFollowed" ng-click="!loggedIn || giveDareToSelectedUser(user)">Give a DARE</button>
    </div>
</div>
