<style>
    #searchfollowers{
        width: 98% ;
        box-sizing: border-box;
        border: none !important;
        border-radius: 4px !important;
        font-size: 16px;
        background-color: #e7eef1;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 9px 40px;

    }
    .Bottom-Border{
        border-bottom:2px solid black;
    }

    #search-header{
        background: white;
        width: 100%;
        background: linear-gradient(#005493, #002545);
        height: 100%;
    }


    #search-header input{
        height: 32px;
        border: none !important;
        border-radius: 3px !important;
    }
    .nav2-selected {

        border-bottom: 5px solid white;
    }

    #dummy-search-button-Follow_popup{
        width: 40px;
        height: 23px;
        position: absolute;
        left:33%;
        right: 0;
        bottom: 3px;
        padding-left: 8px;
        border: none !important;
        padding-bottom: 0px;
        margin-bottom: 3.5px;
    }

    #search-popup-back2{
        color: white;
        position: absolute;
        left: 5px;
        bottom: 0px;
        font-size: 18px;
        line-height: 40px;
        width: 40px;
        text-align: center;
    }

    .follow-button{
        width: 90px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        border-radius: 3px;
        /* display: inline-block; */
        position: absolute;
        right: 0;
        top: 5px;
    }
    .follow-button.following{
        border: none;
        font-size: 12px;
        color:#90949c;
    }
    .follow-button p{
        line-height: 30px;
    }
</style>
<div id="openModal" style="background-color: white" class="modalDialog  user_followers  sti-popup noselect close-popup-btn">
    <div style="max-width: 600px; min-height: calc(100% + 10px);background-color: white" class="noselect" >
        <!--header starts-->
        <!--<div style="max-width: 600px;height: 45px;background-color: #f0f0f0;position: fixed;width: 100%;z-index: 10">-->
            <!--<div id="search-header">-->

                <!--<div id="search-popup-back2" class="sti-cursor" ng-click="closeFollowerPopup()"><i class="left-arrow"></i></div>-->
                <!--<div tr-label="alerts"  ng-class="{ 'Bottom-Border' : selectedOptFoll == 'follower'}"  style="height: 26px; width: 24%;text-align:center ;position: absolute;left: 20%;bottom:-1px;font-weight: bold;color: white;" ng-click="switchFollowers('follower')"><p>Followers</p></div>-->
                <!--<div tr-label="chat"   ng-class="{ 'Bottom-Border' : selectedOptFoll == 'following'}" style="height: 26px; width: 24%;text-align:center ;position: absolute;left: 54%;bottom:-1px;font-weight: bold;color: white;" ng-click="switchFollowers('following')"><p>Following</p></div>-->


            <!--</div>-->
        <!--</div>-->
        <div class="new-header-cnt-parent">
            <div class="sti-home-header new-header-cnt">
                <div class="new-header grey" style="display: block !important;">
                    <div style="position:relative;height:100%">
                        <div tr-label="followers"  ng-class="{ 'Bottom-Border' : selectedOptFoll == 'follower'}"  style="height: 26px; width: 24%;text-align:center ;position: absolute;left: 20%;bottom:-1px;font-weight: bold;color: black;" ng-click="switchFollowers('follower')"><p>Followers</p></div>
                        <div tr-label="following"   ng-class="{ 'Bottom-Border' : selectedOptFoll == 'following'}" style="height: 26px; width: 24%;text-align:center ;position: absolute;left: 54%;bottom:-1px;font-weight: bold;color: black;" ng-click="switchFollowers('following')"><p>Following</p></div>
                        <div class="header-new-back" ng-click="closeFollowerPopup()"><img src="images/left_arrow_thin_black.png"></div>
                    </div>
                </div>
            </div>
        </div>


        <div style="position: relative;">
            <div tr-label="whatsapp_invite_friends" social-share="userLoggedInDetails" share-type="whatsapp" share-element="profile"  style="background-color: white;height: 60px;display: flex;">
                <div style="margin: auto">
                    <img style="height: 35px;    display: inline-block;" src="images/whatsapp1.png">
                    <p ng-if="::!userLoggedInDetails.is_featured || (!userLoggedInDetails.referral_prog.enabled)"  style="text-align: center;display: inline-block;line-height: 43px;vertical-align: top;margin-left: 10px;font-size: 14.34px;"> Invite Whatsapp Friends</p>
                    <p ng-if="::userLoggedInDetails.is_featured && userLoggedInDetails.referral_prog.enabled" style="text-align: center;display: inline-block;line-height: 43px;vertical-align: top;margin-left: 10px;font-size: 14.34px;"> Refer Whatsapp Friends & Get Paytm Cash</p>
                </div>
            </div>

            <div style="margin: 0 auto;width: 100%;max-width: 600px;height:100%;min-height:100%;overflow-y:scroll">
                <div class="tab" style="height:38px; max-width: 100%;background:#f3f5f4;  padding:11px 100px 0px 100px;text-align: center;font-weight: bold;color: #656464;font-size: 16px">
                    <div ng-if="selectedOptFoll=='follower'">
                        <span  ng-if="::(userProfile.userDetails.followees_count<5000)" style="padding-right: 10px;">{{ ::(userProfile.userDetails.followers_count | thousandSuffix:1)  }}</span><span>Followers</span>
                    </div>
                    <div ng-if="selectedOptFoll=='following'">
                        <span  ng-if="::(userProfile.userDetails.followees_count<5000)" style="padding-right: 10px;">{{ ::(userProfile.userDetails.followees_count | thousandSuffix:1)  }}</span><span>Following</span>
                    </div>
                </div>
                <div style="padding: 0 20px;"><new-user-thumbnail ng-repeat="user in userFriends"  style="display: block;"></new-user-thumbnail></div>

            </div>
            <loading-icon ng-show="loadingFollowers"></loading-icon>

        </div>

    </div>
</div>

