<style>
    .referral-popup input{
    border: none;
    height: 30px;
    font-size: 20px;
        /*padding-bottom: 10px;*/
        line-height:30px
}
    .referral-popup input::-webkit-input-placeholder{
        font-size:14.34px
    }
    .referral-popup-opt-box{
        text-align: left;
        font-size: 17.34px;
        line-height: 20px;
        margin-left: 30px;
        padding-bottom: 10px;
        overflow: hidden;
        min-height: 55px;
    }
    .referral_ok[disabled]{
        opacity: 0.4;
    }
    .referral-popup li{
        font-size:13.34px;
        margin-top: 10px;
        line-height: 17px;
        list-style-type:disc
    }

</style>
<div class="modalDialog referral-popup"  ng-click="$event.stopPropagation();" style="z-index:9999999">
    <!--<div style="width: 100%; height: 100%; position: absolute; background: none;" ng-click="closeChatPopup()"></div>-->
    <div class="" style="background-color: rgba(0,0,0,0.3);height: 100%;" ng-click="closeReferralForm()">
        <!--<div class="popup-header-new blue"></div>-->
        <div class="vert-center" style="background: #fff;width: 80vw;margin: auto;border-radius: 5px;" ng-click="$event.stopPropagation();">
            <div ng-if="enterReferral">
                <div id="referral_form" style="display: none">
                    <div style="text-align: center;display: flex;padding: 20px;padding-top: 35px;justify-content: center">
                        <p style="font-size:17.34px;font-weight: bold;color:black" >Enter Referral Code</p>
                    </div>
                    <div style="display: flex;padding: 10px 30px;">
                        <img style="min-width:25px;height: 25px;margin-top: 10px;" src="images/referral_code.png">
                        <div class="referral-popup-opt-box">
                            <input style="border-bottom: 1px solid #ddd;" placeholder="referral code" ng-model="referral_data.code" maxlength="8">
                            <p style="color:red;text-align: left;font-size: 13px" ng-bind="referral_data.code_error"></p>
                        </div>
                    </div>

                    <div style="display: flex;padding: 10px 30px;">
                        <img style="min-width:23px;height: 35px;margin-top: 10px;" src="images/mobile_icon.png">
                        <div class="referral-popup-opt-box" >
                            <div style="border-bottom: 1px solid #ddd;display: flex"> <span style="min-width: 50px;color:black;font-size:20px;line-height:30px">+91 -</span> <input type="number"  placeholder="phone number" style="margin-left: 5px" ng-model="referral_data.phone_num" oninput="checkNumberFieldLength(this, 10);"></div>
                            <p style="text-align: left;font-size: 13px" ng-show="!referral_data.num_error">paytm linked mobile number</p>
                            <p style="color:red;text-align: left;font-size: 13px" ng-bind="referral_data.num_error"></p>
                        </div>
                    </div>
                    <div style="display: flex;font-size: 17.34px;padding: 0px 40px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_notNow" style="width: 50%;padding: 20px 0" ng-click="closeReferralForm()">Cancel</div>
                        <div class="referral_ok"  ng-disabled="referral_data.phone_num<1000000000 || referral_data.code.length!=8 || !referral_data.phone_num"  tr-label="imp_alert_action_opt" ng-click="(referral_data.phone_num<1000000000 || referral_data.code.length!=8 || !referral_data.phone_num)  || showConfirmMessage()" style="font-weight: bold;color:#007ad5;padding: 20px 0;text-align: right;width: 50%">OK</div>
                    </div>
                </div>
                <div id="referral_phone_conf" style="display:none;">
                    <div style="text-align: center;padding: 20px;justify-content: center">
                        <p style="font-size:17.34px;font-weight: bold;color:black">Are you sure?</p>
                        <p style="font-size:16px;margin-top: 30px;line-height: 24px">You are submitting <b>+91 - {{referral_data.phone_num}}</b> as your paytm linked mobile number</p>
                    </div>
                    <div style="display: flex;font-size: 17.34px;padding: 0px 40px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_notNow" style="width: 50%;padding: 20px 0" ng-click="backToReferralForm()">Back</div>
                        <div tr-label="imp_alert_action_opt" ng-click="submitReferralForm()" style="font-weight: bold;color:#007ad5;padding: 20px 0;text-align: right;width: 50%">Confirm</div>
                    </div>
                </div>
                <div id="referral_success" style="display:none;">
                    <div style="text-align: center;padding: 20px;justify-content: center">
                        <div style="display: flex;justify-content: center"><img style="width: 30px;height: 30px" src="images/smileys/blushing.png"><p style="font-size:17.34px;font-weight: bold;color:black;margin-left: 10px;line-height: 30px">Referral Code Submitted</p></div>
                        <p style="font-size:17.34px;margin-top: 30px;line-height: 20px">You will receive Rs. {{userLoggedInDetails.referral_prog.amount}} cash in your paytm wallet within 24 hours</p>
                    </div>
                    <div style="font-size: 17.34px;padding: 0px 40px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_action_opt" ng-click="closeReferralForm()" style="font-weight: bold;color:black;padding: 20px 0;text-align: center">OK</div>
                    </div>
                </div>
            </div>
            <div ng-if="!userLoggedInDetails.is_featured && !enterReferral">
                <div id="refer_friend_steps">
                    <div style="text-align: center;padding: 10px;justify-content: center">
                        <p style="font-size:15.34px;font-weight: bold;color:black;margin: 15px 0">Refer a Friend</p>
                        <ul style="text-align: left;padding-left:25px;padding-right: 10px" >
                            <li style="">Only featured users can refer a friend & Get Rs.{{userLoggedInDetails.referral_prog.amount}} paytm Cash when a friend signs up</li>
                            <li style="">You can become a featured user by regularly taking dares</li>
                        </ul>
                    </div>
                    <div style="font-size: 14.34px;padding: 0px 40px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_action_opt" ui-sref="explore.dares" style="font-weight: bold;color:#007ad5;padding: 20px 0;text-align: center">Find Dares</div>
                    </div>
                    <div style="font-size: 14.34px;padding: 0px 40px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_action_opt" ng-click="closeReferralForm()" style="font-weight: bold;color:black;padding: 20px 0;text-align: center">Cancel</div>
                    </div>
                </div>
            </div>
            <div ng-if="userLoggedInDetails.is_featured && !enterReferral">
                <div id="refer_friend_steps">
                    <div style="text-align: center;padding: 10px;padding-top:20px;justify-content: center">
                        <p><b style="font-size: 18.34px">{{::userLoggedInDetails.username}}</b></p>
                        <p style="margin-top: 10px"> referral code: <b> {{userLoggedInDetails.referral_code}}</b></p>
                        <p style="margin-top: 10px"> paytm phone no: <b ng-bind="userLoggedInDetails.phone_num || '----------'"></b></p>
                        <p style="font-size:15.34px;font-weight: bold;color:black;margin: 25px 0">Refer a friend & get Paytm cash</p>
                        <ul style="text-align: left;padding-left:25px;padding-right: 10px" >
                            <li>Refer a friend & get Rs.{{userLoggedInDetails.referral_prog.amount}} Paytm cash for every friend who signs up using your code</li>
                            <li >Your friend will also get Rs.{{userLoggedInDetails.referral_prog.amount}}</li>
                            <li >Friend should sign-up using Facebook button (email or google button signups are not applicable)</li>
                            <li >Ensure your paytm mobile number is updated in edit profile section</li>
                        </ul>
                    </div>
                    <div style="font-size: 14.34px;padding: 0px 40px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_action_opt" tr-label="whatsapp_invite_friends" social-share="userLoggedInDetails" share-type="whatsapp" share-element="profile"  style="font-weight: bold;color:#007ad5;padding: 20px 0;text-align: center">refer friends via whatsapp</div>
                    </div>
                    <div style="font-size: 14.34px;padding: 0px 20px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_action_opt" ng-click="openEditProfileNew();closeReferralForm()" style="font-weight: bold;color:#007ad5;padding:20px 0;text-align: center">edit paytm linked phone number</div>
                    </div>
                    <div style="font-size: 14.34px;padding: 0px 40px;border-top:1px solid #DDDDDD;">
                        <div tr-label="imp_alert_action_opt" ng-click="closeReferralForm()" style="font-weight: bold;color:black;padding: 20px 0;text-align: center">Cancel</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="popup-header-new blue" style="bottom: 0;height: 25px"></div>-->
    </div>
</div>