<div>
    <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A8889%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=stichio_in&tw_p=followbutton" target="popup">
        <div class="tw-widget-clone-cnt">
            <div style="color: white; margin: auto 10px;">
                <img src="images/twitter.png" style="display: inline-block;width: 24px;vertical-align: middle">
                <p style="display: inline-block; font-weight: bold;"> Follow on Twitter </p>
            </div>
        </div>
    </a>
    <a href="https://www.instagram.com/stichio.in/" target="popup" onclick="window.open('https://www.instagram.com/stichio.in/','popup','width=480,height=480'); return false;">
        <div class="ig-follow-btn">
            <div style="color: white; margin: auto 10px;">
                <img src="images/instagram-white-icon.png" style="display: inline-block;width: 16px;vertical-align: middle; margin: 4px;" alt="Instagram" />
                <p style="display: inline-block; font-weight: bold;"> Follow on Instagram </p>
            </div>
        </div>
    </a>
    <div class="border-stc contact_us_widget" style="background-color: #fff; height: 30px; display: flex; cursor: pointer;" ng-click="contactUs()">
        <div style="color: #53585f; margin: auto 10px;">
            <img src="images/contact_us.png" style="display: inline-block;width: 16px;vertical-align: middle; margin: 4px;" alt="contact us" />
            <p style="display: inline-block; font-weight: bold;"> Contact Us </p>
        </div>
    </div>
</div>