<style>
    .user-like-top{
        padding: 10px;
        padding-top: 18px;
        padding-bottom: 0;
    }
    .user-like-top p{
        width: 15px;
        display:inline-block;
       margin-left:5px;
    }
    .like-popup-close{
        margin: 0;
        width: 15px;
    }
    .user-name-cnt1 p{
        position: absolute;
    top: 42%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
        color: #53585f;font-family:Helevitica;
        font-size: 13.34px;
        font-weight:bold;line-height: 16px;    padding-left: 8px;

    }
    /*@media screen and (min-width:500px){*/
        /*.userLikes-popup > div:first-child{*/
            /*tranform: translate(-50%,0)*/
        /*}*/

    /*}*/
    .remove-trans{
        position:absolute !important;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        /*min-height: 400px;*/
    }
</style>
<div id="openModal" class="modalDialog userLikes-popup sti-popup noselect" style="z-index: 999999999;height: auto;outline: 0;" ng-click="$event.stopPropagation();">
    <div class="remove-trans userLikesModal" style="background-color: #fff;width:50% ;min-width: 240px;height: 80%;margin:0 auto;padding-right: 5px;padding-left:5px;max-width: 400px; ">
        <div class="user-like-top">
            <div style="display: inline-block;" ng-if="!showFollowers">
                <p ng-if="objname == 'stich' || objname == 'dare'"><img src="images/Heart_Icon_REd_Filled.png" style="width:15px;vertical-align:middle;"/></p>
                <p ng-if="objname == 'upvote'"><img src="images/Thumbs_Up_Icon_Red.png" style="width:15px;vertical-align:middle;"/></p>
                <p ng-if="objname == 'downvote'" style="-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);"><img src="images/Thumbs_Up_Icon_Red.png" style="width:15px;vertical-align:middle;"/></p>
                <p ng-if="objname == 'comment'"><img src="images/User_Description_Icon_Grey_NEW.png" style="width:15px;vertical-align:middle;"/></p>
                <p style="color: #53585f;font-family:inherit;font-size:14.34px;width: 140px;">
                    <span style="color:#cb0000;">{{noOflikes}}</span>
                    <span ng-if="(objname == 'stich' || objname == 'dare') && noOflikes > 1">Likes</span>
                    <span ng-if="(objname == 'stich' || objname == 'dare') && noOflikes == 1">Like</span>
                    <span ng-if="(objname == 'upvote') && noOflikes > 1">Upvotes</span>
                    <span ng-if="(objname == 'upvote') && noOflikes == 1">Upvote</span>
                    <span ng-if="(objname == 'downvote') && noOflikes > 1">Downvotes</span>
                    <span ng-if="(objname == 'downvote') && noOflikes == 1">Downvote</span>
                    <span ng-if="(objname == 'comment') && noOflikes > 1">Comments</span>
                    <span ng-if="(objname == 'comment') && noOflikes == 1">Comment</span>
                </p>
            </div>
            <div ng-if="showFollowers" style="display: inline-block;">
                <span>{{eventDetails.follows}}</span> Follower<span ng-show="eventDetails.follows > 1">s</span>
            </div>
            <div style="display: inline-block;height: 24px;float: right; margin-top: -2px;"><buton class="close-popup cross-circle-button no-shadow-btn like-popup-close" style="margin-right: 4px;height: 20px;width:20px;" ng-click="closeLikePopup()"></buton></div>

        </div>
        <hr class="search-contact-hr" style="margin-top: 14px;"/>
        <div id="userLikesPopup" style="max-height: calc(100% - 55px);overflow-y: auto;overflow-x:hidden; outline: none;" tabindex="0">
        <div class="add-contact-cnt" ng-repeat="user in userLists" style="height:64px;">
            <div style="position: relative;padding-top:12px;">
                <a href="#/profile/{{user.userId}}">
                    <img class="user-image" data-ng-src="{{user.avatar}}" style="float:left; margin-left: 4.88px;"/>
                </a>
                <div class="user-name-cnt user-name-cnt1 contact-name" style="width: 80%;padding-left: 4px;">
                    <div><p style="position: absolute;top: 42%;"><a href="#/profile/{{user.userId}}">{{user.username}}</a></p>
                    </div>
                    <hr class="search-contact-hr" style="margin-top: 50px;" ng-if="userLists.length > 1">
                </div>

            </div>

        </div>
        </div>
        <div class="search-loading-div like-search-loading"></div>
    </div>
</div>