<style>
    .TagFriends{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 3px;
    }
    .Hover:hover{
        background-color: #dadad3;
    }
    .friend-Name{
        font-size:13.34px;
        height:auto;
        line-height: 19px;
        color: #53585f;
    }
    .friend-image{
        width:32px;
        height:32px;
        border-radius:50%;
    }

</style>
<div style="z-index: 9999999;width: 85%;position: absolute;bottom: 75px;margin: auto;left: 0px;right: 0px;max-width: 290px;" ng-show="YourFriends.length>0&&TagSug==true&&textData" >
    <div class="TagFriends" style="background-color: #fff;padding-top: 3px">
        <div  class="followerBox" style="">
            <div class="Hover" ng-repeat="user in YourFriends | filter:{username : res} | limitTo : 5 " ng-mousedown="AppendName(user, $event);">
                <div style="position: relative">
                    <a ><img class="friend-image" data-ng-src="{{ user.avatar }}" ng-if="user.avatar" style="vertical-align: top;margin:4px 4px 4px 12px;"/></a>
                    <div class="user-name-cnt contact-name user-name-cntnew" style="width: calc(100% - 70px);height: 40px;border-bottom: 1px solid rgba(0, 0, 0, 0.1);padding: 9px 0px 0px 5px;display: inline-block;">
                        <div style=""><p style="display:block;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"  class="friend-Name"><a>  {{ user.username }}</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>