<!--<style>-->


<!--*::-webkit-media-controls-start-playback-button {-->
  <!--display: none!important;-->
  <!-- -webkit-appearance: none !important;-->
<!--}-->
<!--video::-webkit-media-controls-start-playback-button {-->
  <!--display: none !important;-->
<!--}-->

<!--video::-webkit-media-controls {-->
    <!--display:none !important;-->
<!--}-->

<!--</style>-->
<div style="height: 100%;position: relative">
<videogular style="position: relative" ng-if="videoSource" vg-auto-play="autoplayvid" vg-player-ready="onPlayerReady($API, $index)" vg-update-state="onUpdateState($state, $index)"  vg-native-controls="false" vg-native-fullscreen="false"  in-view="lineInView($inview, $inviewInfo)" in-view-options="inViewConfig">
    <div style="max-height: 130vw;width:100%;position: absolute;overflow: hidden;height: 100%">
        <div class="crop-top-bottom">
            <vg-poster vg-url='::(videoSource | videoPoster)'></vg-poster>
        </div>
    </div>
    <div style="max-height: 130vw;position: relative;overflow: hidden;height: 100%">
        <div class="crop-top-bottom">
        <vg-media vg-src="sources">
    </vg-media>
        </div>
    </div>

    <vg-controls ng-if="sources">
        <div style="position:absolute;right:10px;bottom:15px;background-color: rgba(0, 0, 0, 0.7);border-radius: 50%;">
        <vg-volume class="video-volume-button">
            <vg-mute-button ></vg-mute-button>
        </vg-volume>
            </div>
        <div ng-show="timeLeft >=0" class="video-time-display" style="position:absolute;left:10px;padding: 4px 6px;background-color: rgba(0, 0, 0, 0.7);border-radius: 2px;bottom: 15px"><vg-time-display  style="width: 100%">{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display></div>
        <vg-scrub-bar style="position:absolute;bottom:-10px;width: 100%">
            <vg-scrub-bar-current-time><div class="video-cue-end"></div></vg-scrub-bar-current-time>

        </vg-scrub-bar>
    </vg-controls>
    <vg-analytics ng-if="::analytics" vg-track-info="::analytics"></vg-analytics>
    <vg-buffering></vg-buffering>
    <vg-overlay-play></vg-overlay-play>


</videogular>
    </div>