<style>


*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none !important;
}
</style>

<div id="openModal" class="modalDialog video-popup sti-popup " tabindex="0">
    <div style="position:absolute;right:5px;padding: 10px;height: 45px;z-index: 9999999;background: none;" class="exclude" ng-click="hideVideo($event)">
        <img style="width: 25px!important;"  src="images/Cross_White_X_Grey_Circle_Icon.png" />
    </div>
    <div style="width: 100%;height: 100%;">
        <div style="position: fixed;top: 0;bottom: 0;left:0;right: 0;width:100%">
            <videogular vg-player-ready="onPlayerReady($API, $index)" vg-update-state="onUpdateState($state, $index)" vg-native-controls="false"  vg-error="changeSource()" vg-native-fullscreen="false" vg-auto-play="true">
                <vg-media vg-src="video.sources">
                </vg-media>

                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display ng-show="currentTime">{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar >
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display ng-show="timeLeft">{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume >
                        <vg-mute-button></vg-mute-button>
                        <!--<vg-volume-bar></vg-volume-bar>-->
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
                <vg-buffering></vg-buffering>
                <vg-overlay-play></vg-overlay-play>
                <!--<vg-poster></vg-poster>-->
            </videogular>

        </div>
    </div>

</div>


