<div ng-show="searchContactError" style="background-color: white;height: 30px;padding: 5px;line-height: 20px;margin-bottom: 10px;margin-top:5px">
    <p style="text-align: center;color:red" ng-bind="searchContactError"></p>
</div>
<div style="height: 100%;padding-bottom: 40px">
    <div class="user-follow" style="background-color: #fff; padding: 0 30px;">
        <div ng-show="(!noUser)">
            <div ng-show="allStichers.length" class="followerBox">
                <new-user-thumbnail ng-repeat="user in allStichers" style="display: block;"></new-user-thumbnail>
            </div>
        </div>
    </div>
<loading-icon id="search-users-loading-icon" style="display: none"></loading-icon>
</div>
