<style>
    .search-dare-text{
        max-height: 30px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
</style>
<div id="searchDareSuggestions" style="max-width: 600px; margin:0 auto;">
    <!--<div class="search-loading-div explore-dare" style="margin: 0; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"></div>-->
    <div ng-show="!noResults" class="searched_dares" style="margin-bottom: 40px">
        <div ng-repeat="card in suggestions" style="">
            <div style="display:flex;padding:10px;background: white;border-bottom:1px solid #ddd;position:relative" ng-click="openDare(card)">
                <div style="min-width: 80px; height: 80px; margin-right: 10px;position:relative">
                    <div tr-label="open_dare_image" style="min-width: 80px; height: 80px;" ng-show="::card.image" class="back-image-center" file-cache-src="{{::(card.image_compressed || card.image) }}" src-is="background" image-type="genre_pic" ng-click="card.response_type=='video' || openImagePopup(card.image_compressed, card, false, 'dareResponse',$event);"></div>
                    <div ng-if="card.upvotes" style="position:absolute;bottom:3px;right:4px;display:flex;;height:19px;padding:5px 5px;line-height:19px;background-color:rgba(0, 0, 0, 0.6);border-radius: 3px;">
                        <img src="images/thumbs_up_boundary_icon_white.png" style="height:9px;margin-right:3px" ">
                        <p style="font-size:8.34px;color:white;line-height:11px">{{::card.upvotes}}</p>
                    </div>
                    <div ng-if="::(card.response_type=='video')" class="play-icon-dummy-chat"></div>
                </div>
                <div style="position:relative;width:100%">
                    <div class="search-dare-text">
                        <p ng-bind-html="::card.dareText" style="color:black;font-weight: bold;font-size:13px;line-height: 15px"></p>
                    </div>
                    <p style="margin-top: 10px;font-size:11px" ng-if="card.taken_dares_count"><span>{{::card.taken_dares_count}}</span> user</span><span ng-if="card.taken_dares_count > 1">s</span> took this DARE</p>
                    <div style="position:absolute;bottom: 0px;left:0px;display: flex;" ng-if="::card.daree_info">
                        <img lazy-src="{{::card.daree_info.avatar}}" style="border-radius:50%;min-width:20px;height:20px;margin-right: 5px">
                        <p style="line-height: 20px;font-size:12.34px">{{::card.daree_info.username | firstWord}}</p>
                    </div>
                    <div style="position:absolute;bottom: 0px;right:0px;display: flex">
                        <button style="font-size:11px; color:#007ad5;border: 1px solid #007ad5;border-radius: 3px;height:25px; vertical-align: middle; text-align: center; width: 72px;background: #fff;line-height: 22px" ng-click="openDare(card);$event.stopPropagation();">
                            <span ng-if="card.daree_info">Watch</span>
                            <span ng-if="!card.daree_info">Take Dare</span>
                        </button>
                        <div style="height:25px;padding:10px;padding-right:5px;padding-left:15px;width:26px" ng-click="!loggedIn || openDareMenu('dare_sug', card, false, 'adminDare', true);$event.stopPropagation();"><img tr-label="more_options" src="images/3_Grey_Dots_Vertical.png" class="sti-cursor vert-center" style="cursor: pointer; height: 21px;" ></div>
                    </div>
                </div>
            </div>
        </div>
        <loading-icon ng-show="loadingDares"></loading-icon>
    </div>

    <div ng-if="noResults" style="height: 100vh;background: white;position: fixed">
        <div style="padding: 20px;display: flex">
            <img src="images/smileys/surprised.png" style="height: 60px">
            <div style="margin-left: 10px;font-size: 16px;line-height: 22px;width: calc(100% - 60px);">
                <p>Oops! Sorry buddy! Could not find any dare for <span style="font-weight: bold" ng-bind="::searchSuggText"></span>.</p>
                <p style="margin-top: 20px">Are you looking for a friend? Go to <span style="color: #0365C0;text-decoration: underline;font-weight: bold" ui-sref="search.people({query :searchSuggText})">People</span></p>
            </div>
        </div>
        <p style="text-align: center;margin-top: 30px;margin-bottom: 10px;font-size: 16px"> Or choose one from below</p>
        <div ng-if="::randomGenres">
            <div class="row" style="text-align: center">
                <div class="col col-33">
                    <div tr-label="create_dare_search" ng-click="!loggedIn || open_dare_form();$event.stopPropagation();" class="genreItemImage sti-cursor" >
                        <div back-image="images/create_dare_icon.png" > </div>
                    </div>
                    <p style="margin-top: 5px">Create Dare</p>
                </div>
                <div class="col col-33">
                    <div ui-sref="explore.dares({genreId: randomGenres[0].id})" class="genreItemImage sti-cursor" >
                        <div back-image="{{::randomGenres[0].image}}" > </div>
                    </div>
                    <p style="margin-top: 5px" ng-bind="::randomGenres[0].name"></p>
                </div>
                <div class="col col-33">
                    <div tr-label="home_genre" ui-sref="explore.dares({genreId: randomGenres[1].id})" class="genreItemImage sti-cursor" >
                        <div back-image="{{::randomGenres[1].image}}" > </div>
                    </div>
                    <p style="margin-top: 5px" ng-bind="::randomGenres[1].name"></p>
                </div>
            </div>
            <div class="row" style="text-align: center">
                <div class="col col-33">
                    <div tr-label="home_genre" ui-sref="explore.dares({genreId: randomGenres[2].id})" class="genreItemImage sti-cursor" >
                        <div back-image="{{::randomGenres[2].image}}" > </div>
                    </div>
                    <p style="margin-top: 5px" ng-bind="::randomGenres[2].name"></p>
                </div>
                <div class="col col-33">
                    <div ui-sref="explore.dares({genreId: randomGenres[3].id})" class="genreItemImage sti-cursor" >
                        <div back-image="{{::randomGenres[3].image}}" > </div>
                    </div>
                    <p style="margin-top: 5px" ng-bind="::randomGenres[3].name"></p>
                </div>
                <div class="col col-33">
                    <div tr-label="home_genre" ui-sref="explore.dares({genreId: randomGenres[4].id})" class="genreItemImage sti-cursor" >
                        <div back-image="{{::randomGenres[4].image}}" > </div>
                    </div>
                    <p style="margin-top: 5px" ng-bind="::randomGenres[4].name"></p>
                </div>
            </div>
        </div>
    </div>

</div>

