<style>

        #dummy-search-button2{
        width: 40px;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        /* padding-left: 8px; */
        /* border-left: 1px solid white; */
        /* padding-bottom: 0px; */
        /* margin-bottom: 3.5px; */
        background-color: rgb(129, 161, 181);
        padding: 7px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border-left: 1px solid white;
    }
    #dummy-search-button2 tip{
        min-width: 140px !important;
    }
     #dummy-search-button2 #close-button{
        right: 5px !important;
    }

    #dummy-search-button1{
        width: 40px;
        height: 45px;
        line-height: 45px;
        position: absolute;
        right: 0;
        bottom: 0;

    }

    #search-dares-back{
        color: white;
        /* padding-left: 5px; */
        font-size: 18px;
        line-height: 45px;
        width: 44px;
        text-align: center;
        height: 45px;
        position: absolute;
    }

</style>
<div class="new-header-cnt-parent">
	<div class="sti-home-header new-header-cnt headerSticky">
		<div class="new-header" style="display: block !important;">
			<div style="position:relative;height:100%">
				<div class="search-box-cnt vert-center">
                    <input type="text" class="dare-search-input" placeholder="search dares or people" ng-model="searchSuggText" />
                    <div ng-show="searchSuggText" class="cross-cnt" ng-click="clearSearchBox()"><img style="height: 17px;border: 1px solid grey;border-radius:50%"  src="images/cross_grey_white_circle.png"></div>
                    <div class="search-button" ng-style="{'background-color': (searchSuggText) ? 'lightgrey' : '#f0f0f0' }" ng-click="searchQuery()">
                        <div style="padding:2px 7px;border-left:1px solid #ddd;position:relative;height:100%">
                            <img style="height: 20px" class="vert-center" src="images/search_grey1.png">
                        </div>
                    </div>
                </div>
                <div class="header-user-image-cnt" ui-sref="profile.dares({nav_from:'header'})"><img tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar" ng-if="::loggedIn" style=""  class=" sti-cursor header-user-image vert-center" data-ng-src="{{::userLoggedInDetails.avatar}}"/><div ng-show="unseenPendingDares" class="numberCircle">{{ unseenPendingDares }}</div></div>
                <div class="header-hamburger"><img ng-if="::loggedIn" tr-label="hamburger_menu"  class="vert-center" ng-click="toggleMenu()" src="images/hamburger_icon_black.png"></div>
				<!--<div class="refresh-icon-new" ><div tr-label="refresh_home" ng-if="::loggedIn" class="refresh-icon-cnt" ng-click="refreshProfile('top')" tooltips tooltip-template="Tap this to see updates" place="refresh_home"  tooltip-side="bottom"><img src="images/refresh_icon_black.png"></div></div>-->

			</div>
		</div>
	</div>
</div>
<div style="background: white;border-bottom:1px solid #e6e9eb;height: 40px;display: flex;justify-content: space-around;padding: 0 30px">
    <div class="search-option" ng-class="{'selected' : ('search.dares' | isState)}" ui-sref="search.dares({query : searchSuggText})">
        <p>Dares </p>
    </div>
    <div class="search-option" ng-class="{'selected' : ('search.people' | isState)}" ui-sref="search.people({query :searchSuggText})">
        <p>People</p>
    </div>
</div>
<p>{{'search.dares1' | isState}}</p>
<div class="home-container">
    <!-- center box -->
    <div class="center-box" style="max-width: 600px; float: left;">
        <div ui-view></div>
    </div>
</div>