<div style="position: relative; height: 46px;">
    <div class="sti-home-header headerSticky" style="height: 46px; border-bottom: 1px solid #ddd; z-index: 100; position: static; top: 0; width: 100%;">
        <div class="profile-header-top" style="display: block !important;padding-top: 7px">
            <img tr-label="stichio_logo" ui-sref="home.stiches" style="height: 19px;cursor: pointer;margin-top: 6px;" src="images/Stichio_Logo_Green_THICK.png">
            <img  tr-label="hamburger_menu" class="exclude" style="height: 18.22px;width: 20.65px; float: right; z-index: 9999999; cursor: pointer; margin: 6px 10px" ng-click="toggleMenu()" src="images/hamburger_icon_white.png">
            <a tr-label="own_profile_header" ng-if="loggedIn" href="/#/profile/{{userLoggedInDetails.userId}}"><div style="float: right;"><img ng-if="userLoggedInDetails.avatar"  class="user-image mob-user-image sti-cursor header-user-image" data-ng-src="{{userLoggedInDetails.avatar}}"/></div></a>
            <a tr-label="login_button_header" href="" class="equalize-width ng-scope" ng-click="displayLoginPopup($event)" ng-if="!loggedIn" style="width: auto;float: right;margin-top: 4px;">
                <button class="login-button">Login / Signup</button>
            </a>
        </div>
    </div>
</div>

<div class="home-container" style="margin-bottom: 46px;">

    <!-- center box -->
    <div class="center-box" style="max-width: 600px; margin-top: 5px; float: left;padding: 0 5px;">
        <dare-suggestion ></dare-suggestion>
        <div ng-repeat="card in completed_dares" style="margin-top: 10px">
            <admin-dare ></admin-dare>
        </div>
    </div>

    <!-- right box -->

</div>
