<div class="new-header-cnt-parent">
    <div class="sti-home-header new-header-cnt">
        <div class="new-header grey" style="display: block !important;">
            <div style="position:relative;height:100%">
                <p  class="vert-center popup-header-title">More DareDevils</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div tr-label="whatsapp_invite_friends" social-share="userLoggedInDetails" share-type="whatsapp" share-element="profile"  style="background-color: white;height: 60px;display: flex">
        <div style="margin: auto">
            <img style="height: 35px;    display: inline-block;" src="images/whatsapp1.png">
            <p style="text-align: center;display: inline-block;line-height: 40px;vertical-align: top;margin-left: 10px;font-size: 14.34px;"> Invite Whatsapp Friends</p>
        </div>
    </div>
    <div style="height: 30px;padding: 5px;line-height: 30px;margin-bottom: 10px">
        <p style="text-align: center;font-size: 16px;font-weight:bold"> Follow on STICHIO</p>
    </div>
    <div style="margin: 0 auto;width: 100%;max-width: 470px">
        <loading-icon style="display: none" id="people-loading"></loading-icon>
        <div ng-repeat="user in userSuggestionsNew" class="user-suggestion-card">
            <div style="height: 50px;position: relative">
                <div tr-label="user_suggestions_profile" ui-sref="profile.dares({ profileId : user.userId})" class="sti-cursor" style="border-radius: 50%;width:50px;height: 50px;display: inline-block" back-image="{{user.avatar}}"></div>
                <div tr-label="user_suggestions_profile" ui-sref="profile.dares({ profileId : user.userId})" class="vert-center sti-cursor" style="display: inline-block;vertical-align: top;margin-left: 15px;">
                    <p style="color: black;font-size: 16px;line-height: 22px" ng-bind="user.username | limitTo: 25"></p>
                    <p style="color: darkgray;font-weight: 300;font-size: 12px;line-height: 22px"> {{user.completed_dares}} DARES | {{user.upvotes_count}} Upvotes </p>
                </div>
                <div class="follow-button" ng-class="{'following' :  user.is_following, 'sti-cursor' : !user.is_following} ">
                    <p tr-label="follow_user_suggestions" ng-show="!user.is_following" ng-click="followUser(user, 'follow_suggestions');user.is_following=true;$event.stopPropagation()">Follow</p>
                    <p ng-show="user.is_following">Following</p>
                </div>
            </div>
            <div style="display: flex;justify-content: space-between;margin-top: 10px">
                <div ng-repeat="dareImage in user.images" class="wrapper">
                    <div tr-label="user_suggestions_profile" ui-sref="profile.dares({ profileId : user.userId})"  back-image="{{dareImage}}" class="imageCover sti-cursor">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>