<style>
    .photo-grid .col{
        padding: 0.5px;
        position: relative;
        height:100%;
    }

    .photo-grid .col > div{
        height: 100%;
    }
    .photo-grid .row{
        padding: 0px;
        height: 33.33vw;
    }
    .photo-grid .play-icon-dummy{
        width: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 13px solid white;
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 10px !important;
        opacity: 0.8;
    }
    .popularDares .genresContainer p {
        line-height: 23px;
        font-size: 12px;
        font-weight: normal;
        color: black;
        max-width: 70px;
        text-overflow: ellipsis;
        margin: 0 auto;
        overflow: hidden;
    }
    .popular-topic-name{
        background: white;
        height: 40px;
        font-weight: bold;
        line-height: 40px;
        font-size: 20px;
        padding: 0 5px;
        color: black;
    }
</style>

<div class="new-header-cnt-parent">
	<div class="sti-home-header new-header-cnt headerSticky">
		<div class="new-header" style="display: block !important;">
			<div style="position:relative;height:100%">
				<div class="search-box-cnt vert-center">
                    <input type="text" class="dare-search-input" placeholder="search dares or people" ng-model="searchSuggText" />
                    <div ng-show="searchSuggText" class="cross-cnt" ng-click="searchSuggText=''"><img style="height: 17px;border: 1px solid grey;border-radius:50%"  src="images/cross_grey_white_circle.png"></div>
                    <div class="search-button" ng-style="{'background-color': (searchSuggText) ? 'lightgrey' : '#f0f0f0' }" ng-click="searchQuery()">
                        <div style="padding:2px 7px;border-left:1px solid #ddd;position:relative;height:100%">
                            <img style="height: 20px" class="vert-center" src="images/search_grey1.png">
                        </div>
                    </div>
                </div>
                <div class="header-user-image-cnt" ui-sref="profile.dares({nav_from:'header'})"><img tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar" ng-if="::loggedIn" style=""  class=" sti-cursor header-user-image vert-center" data-ng-src="{{::userLoggedInDetails.avatar}}"/><div ng-show="unseenPendingDares" class="numberCircle">{{ unseenPendingDares }}</div></div>
                <div class="header-hamburger"><img ng-if="::loggedIn" tr-label="hamburger_menu"  class="vert-center" ng-click="toggleMenu()" src="images/hamburger_icon_black.png"></div>

				<!--<div class="refresh-icon-new" ><div tr-label="refresh_home" ng-if="::loggedIn" class="refresh-icon-cnt" ng-click="refreshProfile('top')" tooltips tooltip-template="Tap this to see updates" place="refresh_home"  tooltip-side="bottom"><img src="images/refresh_icon_black.png"></div></div>-->

			</div>
		</div>
	</div>
</div>

<div class="popularDares" style="padding-bottom: 50px">
    <div style="background:white;position:relative;height:30px;text-align:left;line-height:30px;color: black;font-weight: bold;font-size: 14.34px;padding:0 6px">
        <span style="font-size:17.34px">Popular</span>
        <div style="display:flex;position:absolute;right:5px;top: 0px;height:30px" ui-sref="popular.people">
            <span style="margin-right:10px">More</span>
            <img src="images/right_arrow_icon_black.png" class="vert-center"  style="height:16px">
        </div>
    </div>
    <div id="genresContainerExplore" class="genresContainerOuter popular" style="height: 90px;">
        <div class="genresContainer" style="box-shadow:none;-webkit-box-shadow:none;">
            <div class="genresList popular-user">
                <div tr_label="popular_user" label_text="{{::(user.userId + ' ' +  user.username)}}" class="genreItem popular-user" ng-repeat="user in popularDarees" ui-sref="profile.dares({ profileId : user.userId})">
                    <div class="genreItemImage sti-cursor" style="border:none">
                        <div back-image="{{::user.avatar}}" > </div>
                    </div>
                    <p ng-bind="::user.username | firstWord"></p>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 75vw;overflow: hidden;position: relative;background: black;" ng-click="expandVideo();"  in-view="videoInView($inview)">
        <videogular vg-auto-play="true" vg-player-ready="onPlayerReadyNew1($API, $index)" vg-native-controls="false" vg-native-fullscreen="false"  >
            <div class="crop-top-bottom">
                <vg-media vg-src="::popular_dare.video" vg-preload="'metadata'" vg-loop="true">
                </vg-media>
            </div>

            <vg-buffering></vg-buffering>
            <vg-analytics ng-if="::analytics" vg-track-info="::analytics"></vg-analytics>
            <!--<vg-poster vg-url='videoSource | videoPoster'></vg-poster>-->
        </videogular>
        <div style="bottom: 0px;position: absolute;right: 10px;padding: 10px;z-index: 10" ng-click="muteVideo();$event.stopPropagation();">
            <a class="speaker" >
                <span></span>
            </a>
        </div>

        <div style="position: absolute;bottom: 5px;left:10px">
            <p style="color:white;font-weight: bold;font-size: 17px" ng-bind="::popular_dare.dare_info"></p>
            <div style="display: flex">
                <div style="padding: 10px" ng-click="toggleUpvotePopularDare(popular_dare);popular_dare.upvoted=!popular_dare.upvoted;$event.stopPropagation();">
                    <img tr-label="upvote"  ng-if="!popular_dare.upvoted" style="width: 22px;margin-right: 3px;vertical-align: middle;" class="sti-cursor" src="images/thumbs_up_boundary_icon_white.png">
                    <img tr-label="un_upvote" ng-if="popular_dare.upvoted" style="width: 22px;margin-right: 3px;vertical-align: middle;" class="sti-cursor" src="images/thumbs_up_filled_icon_white.png">

                </div>
                <div style="padding: 10px;margin-left: 10px;" ng-click="openDare(popular_dare.dare_type,popular_dare.dareId);$event.stopPropagation();">
                    <img tr-label="comment" style="width: 22px;margin-right: 3px;vertical-align: middle;" class="sti-cursor" src="images/comments_icon_white.png">

                </div>
            </div>
        </div>

    </div>
    <div style="width: 100%" class="photo-grid">
        <div style="width: 100%" ng-repeat="dare in popularDares" ng-if="$index % 3 === 0">
            <p class="popular-topic-name" ng-if="topic_index[$index]">{{topic_index[$index]}}</p>
            <div class="row">
                <div class="col col-33" ng-if="$index < popularDares.length" style="padding-left:0px">
                    <div tr_label="popular_dare" label_text="{{::popularDares[$index]}}" back-image="{{::(popularDares[$index].image)}}" width="100%" ng-click="openDare(popularDares[$index].dare_type,popularDares[$index].dareId)"></div>
                    <div ng-if="::(popularDares[$index].response_type==='video')" class="play-icon-dummy"></div>
                </div>
                <div class="col col-33" ng-if="$index + 1 <  popularDares.length">
                    <div tr_label="popular_dare" label_text="{{::popularDares[$index+1]}}" back-image="{{::(popularDares[$index+1].image)}}" width="100%" ng-click="openDare(popularDares[$index+1].dare_type,popularDares[$index+1].dareId)"></div>
                    <div ng-if="::(popularDares[$index+1].response_type==='video')" class="play-icon-dummy"></div>
                </div>
                <div class="col col-33" ng-if="$index + 2 <  popularDares.length" style="padding-right:0px">
                    <div tr_label="popular_dare" label_text="{{::popularDares[$index+2]}}" back-image="{{::(popularDares[$index+2 ].image)}}" width="100%" ng-click="openDare(popularDares[$index+2].dare_type,popularDares[$index+2].dareId)" ></div>
                    <div ng-if="::(popularDares[$index+2].response_type==='video')" class="play-icon-dummy"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<loading-icon id="search-users-loading-icon"></loading-icon>