

<div id="genresContainerExplore" class="genresContainerOuter">
    <div class="genresContainer">
        <div class="genresList">
            <div id="{{::genreData.id}}" class="genreItem" ng-repeat="genreData in ::allDareGenres" ng-click="selectGenre(genreData)">
                <div tr-label="suggsPage_genre" class="genreItemImage sti-cursor" ng-class="{'selectedGenre' : selectedGenreId==genreData.id}" >
                    <div back-image="{{::genreData.image}}" > </div>
                </div>
                <p ng-bind="::genreData.name"></p>
            </div>
        </div>
    </div>
</div>
<div id="dummygenresContainerOuter"></div>
<div style="display:none;margin-bottom: 5px;text-align:center" id="new-user-explore"><div style="height:120px;width:100%;background:#53585f;display:flex;padding:15px"><p style="margin:auto;color:white;font-size:19px;line-height:23px;font-weight:bold;">Find below, today’s featured DARES for each category. Tap on icons above to change category</p></div></div>

<!--<div ng-if="::new_user" class="help-card" style="margin-top: 0px;margin-bottom: 5px">-->
    <!--<div style="display: flex">-->
        <!--<img style="width:40px;height: 40px" src="images/smileys/blushing.png">-->
        <!--<b style="margin-left:10px;line-height: 40px;font-size: 18px;">Take a DARE from here!</b>-->
    <!--</div>-->
    <!--<p>Simply tap on the category icons above & find the DARES you love!</p>-->
<!--</div>-->

<div id="exploreDareSuggestion" style="max-width: 600px; margin:0 auto 40px;">
    <!--<div class="search-loading-div explore-dare" style="margin: 0; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"></div>-->
    <div ng-repeat="card in exploreSuggestionApi" style="margin-bottom: 5px;">
        <dare-suggestion index="{{$index}}" ng-if="!card.dare_submitted"></dare-suggestion index="{{$index}}" ng-if="!card.dare_submitted">
        <admin-dare ng-if="card.dare_submitted"></admin-dare>
    </div>
    <div style="background:white;margin-bottom:5px" ng-if="exploreTrendingDare">
        <div style="display:flex;padding:10px">
            <img src="images/Trending_Icon_Red.png" style="height:25px;margin-right:10px">
            <p style="line-height:25px;font-size:16px"> <b>More</b> in {{::exploreTrendingDare.admin_dare.genre_name}}</p>
        </div>
        <div style="margin: 5px 0;">
            <!--<ion-content on-double-tap="!loggedIn || toggleDareUpvote(card)" >-->
                <div class="response_container"  ng-if="::(exploreTrendingDare.response_text && exploreTrendingDare.text_background)" back-image="{{::exploreTrendingDare.text_background}}">
                    <p class="text response_text"  ng-bind-html="::(exploreTrendingDare.response_text | parseUrl)"></p>
                </div>
                <div class="dare-image-sec" ng-if="::(!exploreTrendingDare.dare_submitted && exploreTrendingDare.response_type == 'image' && exploreTrendingDare.response_image)">
                    <img style="width: 100%; display: block;" tr-label="open_response_image" ng-if="::!exploreTrendingDare.inverseAspectRatio" lazy-src="{{::exploreTrendingDare.response_image_full}}" alt="" ng-click="openImagePopup(exploreTrendingDare.response_image_full, exploreTrendingDare, false, 'dareResponse')">
                    <div style="overflow: hidden; height: {{exploreTrendingDare.adminDare_res_h}}; width: 100%; background-color: {{exploreTrendingDare.res_bg_color}};" >
                        <img tr-label="open_response_image" style="width: 100%; display: block;" lazy-src="{{::exploreTrendingDare.response_image_full}}" alt="" ng-click="openImagePopup(exploreTrendingDare.response_image_full, exploreTrendingDare, false, 'dareResponse')">
                    </div>
                    <!--<div ng-if="exploreTrendingDare.inverseAspectRatio > ideal_iar" style="overflow: hidden; height: {{exploreTrendingDare.adminDare_res_h}}; width: 100%;" bgc="{{exploreTrendingDare.res_bg_color}}" back-image="{{exploreTrendingDare.response_image_full}}" ng-click="openImagePopup(exploreTrendingDare.response_image_full, dare, false, 'dareResponse')"></div>-->
                </div>
            <!--</ion-content>-->
            <div class="video-slot" >
                <div id="video-player" style="position: relative;height:{{exploreTrendingDare.adminDare_res_h}}" ng-if="::(exploreTrendingDare.response_type == 'video')">
                    <div style="width: 100%;height: 100%;" ng-show="::exploreTrendingDare.response_image">
                        <video-player-feed video-source="exploreTrendingDare.response_image" stop-auto-play="false" dare="exploreTrendingDare" iar="exploreTrendingDare.inverseAspectRatio"></video-player-feed>
                    </div>
                </div>
            </div>

        </div>
        <div style="padding: 10px;padding-bottom: 20px;" ng-click="openAdminDarePopup(exploreTrendingDare, isOwnProfile)">
            <div class="text" ng-class="{ 'dareText' : (exploreTrendingDare.admin_dare.dareText.length<170) }"><span ng-bind-html="(exploreTrendingDare.admin_dare.dareText | parseUrl)"></span></div>
        </div>
    </div>
    <div style="background:white;margin-bottom:5px;padding-bottom:5px" ng-if="exploreTrendingPeople">
        <div style="display:flex;padding:10px">
            <img src="images/Trending_Icon_Red.png" style="height:25px;margin-right:10px">
            <p style="line-height:25px;font-size:16px"> <b>Popular</b> in {{::exploreTrendingDare.admin_dare.genre_name}}</p>
        </div>
        <div  class="genresList popular" style="display: flex;justify-content: space-between;height:auto">
            <div class="genreItem" ng-repeat="user in exploreTrendingPeople" ui-sref="profile.dares({ profileId : user.userId})" style="height:auto">
                <div tr-label="home_genre" class="genreItemImage sti-cursor" style="border:none">
                    <div class="back-image-center" back-image="{{::user.avatar}}" src-is="background" image-type="genre"> </div>
                </div>
                <p style="color:black;font-size:12px;max-width:100%;text-overflow:ellipsis;overflow:hidden;line-height: 20px;" ng-bind="::user.username | firstWord"></p>
            </div>
        </div>
    </div>
    <!--<div>{{ exploreTrendingPeople}}</div>-->
    <loading-icon id="explore-loading-dares" style="display: none"></loading-icon>
    <div id="explore-add-sugg"  style="display: none;margin-top: 10px">
        <div style="padding: 20px;background: white;padding-top: 10px">
            <p style="line-height: 25px;font-size: 15px;text-align: center;">Didn't find what you were looking for?</p>
            <div style="display: flex; justify-content: space-between;margin-top: 10px">
                <div style="display: flex;width: 150px" tr-label="search_dares_explore" ui-sref="search.dares">
                    <div style="width: 40px;height: 40px;border-radius: 50%;background-color: #002545;padding: 11px;text-align: center">
                        <img style="width: 18px;" src="images/Search_Icon_White_FINAL.png">
                    </div>
                    <p style="line-height: 40px;margin-left: 10px;;color: black"> search dares</p>
                </div>
                <div style="display: flex;width: 150px" tr-label="create_dare_explore" ng-click="!loggedIn || open_dare_form();">
                    <div style="width: 40px;height: 40px;border-radius: 50%" back-image="images/create_dare_icon_sq_dark.png"></div>
                    <p style="line-height: 40px;margin-left: 10px;color: black"> post own dare</p>
                </div>
            </div>
        </div>
    </div>
</div>

