<style>

    .profile-header-top input{
        height: 32px;
        border: none !important;
        border-radius: 3px !important;
        font-size: 14px;
        padding: 10px;
        width: calc(100% - 38px);
    }

    #dummy-search-button2{
        width: 40px;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        /* padding-left: 8px; */
        /* border-left: 1px solid white; */
        /* padding-bottom: 0px; */
        /* margin-bottom: 3.5px; */
        background-color: rgb(129, 161, 181);
        padding: 7px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border-left: 1px solid white;
    }
    #dummy-search-button2 tip{
        min-width: 140px !important;
    }
     #dummy-search-button2 #close-button{
        right: 5px !important;
    }
    /*#search-button{*/
        /*width: 40px;*/
        /*height: 100%;*/
        /*position: absolute;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*!* padding-left: 8px; *!*/
        /*!* border-left: 1px solid white; *!*/
        /*!* padding-bottom: 0px; *!*/
        /*!* margin-bottom: 3.5px; *!*/
        /*background: darkgray;*/
        /*padding: 7px;*/
        /*border-bottom-right-radius: 3px;*/
        /*border-top-right-radius: 3px;*/
    /*}*/

    #dummy-search-button1{
        width: 40px;
        height: 45px;
        line-height: 45px;
        position: absolute;
        right: 0;
        bottom: 0;

    }

    #search-dares-back{
        color: white;
        /* padding-left: 5px; */
        font-size: 18px;
        line-height: 45px;
        width: 44px;
        text-align: center;
        height: 45px;
        position: absolute;
    }

    .cross-cnt{
    padding: 10px;
    position: absolute;
    right: 50px;
    top: -2px;
    text-align: center;
    padding-right: 0;
    }
    .cross-cnt .cross-icon{
    background: lightgrey;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    }

</style>

<div class="new-header-cnt-parent">
	<div class="sti-home-header new-header-cnt headerSticky">
		<div class="new-header" style="display: block !important;">
			<div style="position:relative;height:100%">
				<div class="search-box-cnt vert-center">
                    <input type="text" class="dare-search-input" placeholder="search dares..." ng-model="searchSuggText" />
                    <div ng-show="searchSuggText" class="cross-cnt" ng-click="searchSuggText=''"><img style="height: 17px;border: 1px solid grey;border-radius:50%"  src="images/cross_grey_white_circle.png"></div>
                   <div class="search-button" ng-style="{'background-color': (searchSuggText) ? 'lightgrey' : '#f0f0f0' }" ng-click="searchQuery()">
                        <div style="padding:2px 7px;border-left:1px solid #ddd;position:relative;height:100%">
                            <img style="height: 20px" class="vert-center" src="images/search_grey1.png">
                        </div>
                    </div>
                </div>
                <div class="header-user-image-cnt" ui-sref="profile.dares({nav_from:'header'})"><img tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar" ng-if="::loggedIn" style=""  class=" sti-cursor header-user-image vert-center" data-ng-src="{{::userLoggedInDetails.avatar}}"/><div ng-show="unseenPendingDares" class="numberCircle">{{ unseenPendingDares }}</div></div>
                <div class="header-hamburger"><img ng-if="::loggedIn" tr-label="hamburger_menu"  class="vert-center" ng-click="toggleMenu()" src="images/hamburger_icon_black.png"></div>

                <!--<div class="refresh-icon-new" ><div tr-label="refresh_home" ng-if="::loggedIn" class="refresh-icon-cnt" ng-click="refreshProfile('top')" tooltips tooltip-template="Tap this to see updates" place="refresh_home"  tooltip-side="bottom"><img src="images/refresh_icon_black.png"></div></div>-->

			</div>
		</div>
	</div>
</div>
<!--<div style="position: relative; height: 46px;">-->
    <!--<div class="sti-home-header headerSticky" style="height: 46px; border-bottom: 1px solid #ddd; z-index: 100; position: static; top: 0; width: 100%;">-->
        <!--<div class="profile-header-top">-->
            <!--<div style="height: 45px">-->
                <!--<div id="search-dares-back" class="sti-cursor" ng-click="goBackSearch()"><i class="left-arrow"></i></div>-->

                <!--<div style="width: calc(100% - 90px);height: 32px;margin-left: 40px;position: absolute;top:6px">-->
                    <!--<input type="text" class="dare-search-input" ng-style="{'background-color': (searchSuggText) ? 'white' : '#81a1b5' }" placeholder="Find DARES" ng-model="searchSuggText" />-->
                    <!--<div ng-show="searchSuggText" class="cross-cnt" ng-click="searchSuggText=''"><img style="height: 17px"  src="images/Cross_White_X_Grey_Circle_Icon.png"></div>-->
                    <!--<div ng-show="!searchSuggText"  id="dummy-search-button2" >-->
                        <!--<img  style="height: 20px" src="images/Search_Icon_White_FINAL.png">-->
                    <!--</div>-->
                    <!--<div ng-show="searchSuggText"  id="search-button" ng-click="searchQuery()">-->
                        <!--<img style="height: 20px" src="images/Search_Icon_White_FINAL.png">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<img tr-label="stichio_logo" ui-sref="home.stiches" style="margin: auto 10px; height: 19px; cursor: pointer;" src="images/Stichio_Logo_Green_THICK.png">&ndash;&gt;-->
            <!--<div style="float: right; display: flex; height: 100%; margin-left: auto;">-->
                <!--&lt;!&ndash;<button tr-label="login_button_header" ng-click="displayLoginPopup($event)" ng-if="!loggedIn" class="login-button" style="width: auto; margin: auto 0;">Login / Signup</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<div tr-label="refresh_profile_header" ng-show="loggedIn" class="refresh-icon-cnt" ng-click="refreshExplore()"><img src="images/refresh_icon_white.png"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<a tr-label="own_profile_header" style="margin: auto 5px;" ng-if="loggedIn" href="#/profile/{{userLoggedInDetails.userId}}"><img ng-if="userLoggedInDetails.avatar" style="width: 30px; height: 30px; display: block;" class="user-image sti-cursor header-user-image" data-ng-src="{{userLoggedInDetails.avatar}}"/></a>&ndash;&gt;-->
                <!--<img tr-label="hamburger_menu" style="height: 40px;width: 40px; cursor: pointer; margin: auto 0; padding: 10px;" ng-click="toggleMenu()" src="images/hamburger_icon_white.png">-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<div class="home-container" style="margin-bottom: 46px;">
    <!-- center box -->
    <div class="center-box" style="max-width: 600px; float: left;">
        <div ui-view ></div>
    </div>

</div>