<style>
    .wrapper1 {
        display:inline-block;
        flex-flow: row wrap;
        margin:0px 2px;
    }
    .box1 {
        font-size: 10.2px;
        max-width: 140px;
        max-height: 140px;
        width:calc( 33.33vw - 6px);
        height:calc( 33.33vw - 6px);
        background: white;
        float: left;
        border-radius: 3px;
        position: relative;
    }
    .greyopacity{
        background-color:rgba(64, 55, 55, 0.4);
        width: 100%;
        height: 34px;

    }
    #home-loading-icon > div{
        margin-bottom: 50px;
    }
</style>
<div  style="min-height:100vh" class="home-container">
    <div class="center-box">
        <loading-icon style="display: none" ng-show="::loggedIn" id="home_first_load" ></loading-icon>
        <ion-content overflow-scroll="true" >
            <ion-refresher ng-if="refreshActive" on-refresh="refreshHome()"  pulling-icon="" spinner="none">

            </ion-refresher>
            <!--<div id="header_genre_box" style="margin-bottom: 7px;position: relative">-->
                <!--<div id="watch-dare-help-box" style="display: none" ng-click="$event.stopPropagation();" class="noselect">-->
                    <!--<div class="help-text-box" style="height: 135px;">-->
                        <!--<div style="background-color:rgba(0, 0, 0, 0.9);height: 100%;border-radius: 5px; text-align: center;position: relative">-->
                            <!--<div class="help-text" style="height: 80px;">-->
                                <!--<p>Scroll to Watch Others!</p>-->
                            <!--</div>-->
                            <!--<div class=" pointing-down"><img style="height: 100px;" src="images/tilted_arrow.png"></div>-->
                            <!--<button tr-label="okay_signup_help2" class="okay-btn" ng-click="closeHelpBoxes()"> OK </button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<genre-box home-top="true"></genre-box>-->
            <!--</div>-->

            <!--<div id="find-friends-tab-cnt1" style="padding: 0 5px;"></div>-->
            <!--<div class="search-loading-div home-body"></div>-->
            <!--<div class="noselect" style="display: none" id="take-dare-help-box" ng-click="$event.stopPropagation();">-->
                <!--<div ng-show="::(allDareGenres)"  class="help-text-box" style="height: calc(100vh - 240px)">-->
                    <!--<div style="background-color:rgba(0, 0, 0, 0.9);height:  calc(100vh - 240px);border-radius: 5px; text-align: center;position: relative">-->
                        <!--<div class="help-text" style="height: 140px;">-->
                            <!--<p>You can take a DARE from here</p>-->
                        <!--</div>-->
                        <!--<div class="pointing-top"><img style="height: 100px;" src="images/tilted_arrow.png"></div>-->
                        <!--<button tr-label="okay_signup_help1" class="okay-btn" ng-click="showNextHelpText()"> OK </button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div ng-show="::recentDareTiles" id="continuous_activity" style="padding-bottom: 4px;background:white;text-align: center; width: 100%;overflow: hidden; margin: auto;max-width: 590px;margin-bottom: 7px;">
                <div  style="position:relative;height:35px;text-align:left;line-height:35px;color: black;font-weight: bold;font-size: 14px;padding:0 6px">
                    <span>Latest</span>
                    <div style="display:flex;position:absolute;right:5px;top: 0px;height:30px" ui-sref="popular.dares">
                        <span style="margin-right:10px">See Popular</span>
                        <img src="images/right_arrow_icon_black.png" class="vert-center"  style="height:16px">
                    </div>
                </div>
                <div class="wrapper1" ng-repeat="card in recentDareTiles" >
                    <div class="box1" tr_label="recent_dares_home"  back-image="{{::card.admin_dare.image_compressed}}" ng-click="openDareResponsesPopup(card.admin_dare)">
                        <div class="greyopacity" style="padding-top:6px; margin: auto;;position: absolute;bottom: 6px;">
                            <div style="width: calc( 100% - 10px);margin:auto;"><div  style="display: inline-block;text-align: left;max-width: calc(100% - 40px);height: 10px;color: white;text-overflow: ellipsis;overflow: hidden; white-space: nowrap" ng-bind="::card.username"></div>
                                <div style="position: relative;top: -2px; display: inline-block;color: white;font-weight: bold"> dared</div></div><div style="padding-top:2px; width: 100%;color: white;text-align: center;font-weight: bold" ng-bind="::(card.completed_time | timeStamp)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:none;margin-bottom: 5px;" id="new-user-home"><div style="height:120px;width:100%;background:#53585f;display:flex;"><p style="margin:auto;color:white;font-size:20px;font-weight:bold;">See Your Home Feed Below</p></div></div>
            <div ng-show="loggedIn" class="main-stiches-cnt" style="min-height:30px" id="main-home-cnt">


                <!--<ion-list>-->
                <!--<ion-item ng-repeat="item in items">{{tem}}</ion-item>-->

                <!--<ion-content style="position: absolute;width: 100%;z-index: 999">-->
                <!--<ion-refresher  pulling-icon="images/Down_Arrow_Numbers.png" on-refresh="refreshHome()">-->
                <!--</ion-refresher>-->

                <!--</ion-content>-->
                <div ng-repeat="card in stiches" style="padding:0">
                    <!--<genre-box ng-if="$index==4" id="top_genre_box"></genre-box>-->
                    <dare-feed ng-if="::(card.feed_type==='dare')"> </dare-feed>

                    <div ng-if="card.feed_type == 'admin_dare'" style="margin-bottom:5px;overflow: hidden;">
                        <!--<div ng-if="!card.dare_submitted" class="pattern dare-banner">-->
                            <!--<div class="ellipsis banner-text">{{card.dareText}}</div>-->
                        <!--</div>-->
                        <dare-suggestion></dare-suggestion>
                    </div>
                    <div  ng-if="$index > 0 && $index%10==0" style="margin-bottom:5px;overflow: hidden;">

                        <genre-box ></genre-box>
                    </div>


                    <div ng-if="card.feed_type === 'taken_dare'" style="overflow: hidden;">
                        <admin-dare></admin-dare>
                    </div>
                    <div ng-if="::(card.feed_type === 'follow_suggestion')" style="overflow: hidden;">
                        <div class="user-suggestion-card" style="padding: 10px 10px !important;">
                            <div style="height: 50px;position: relative">
                                <div tr-label="user_suggestions_profile" ui-sref="profile.dares({ profileId : card.userId})" class="sti-cursor" style="border-radius: 50%;width:50px;height: 50px;display: inline-block" back-image="{{::card.avatar}}"></div>
                                <div tr-label="user_suggestions_profile" ui-sref="profile.dares({ profileId : card.userId})" class="vert-center sti-cursor" style="display: inline-block;vertical-align: top;margin-left: 15px;">
                                    <p style="color: black;font-size: 16px;line-height: 22px" ng-bind="::card.username | limitTo: 25"></p>
                                    <p style="color: darkgray;font-weight: 300;font-size: 12px;line-height: 22px"> {{::card.completed_dares | thousandSuffix:1}} DARES | {{::card.upvotes_count | thousandSuffix:1}} Upvotes </p>
                                </div>
                                <div class="follow-button" ng-class="{'following' :  card.is_following, 'sti-cursor' : !card.is_following} ">
                                    <p tr-label="follow_user_suggestions" ng-show="!card.is_following" ng-click="followUser(card, 'follow_suggestions');card.is_following=true;$event.stopPropagation()">Follow</p>
                                    <p ng-show="card.is_following">Following</p>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: space-between;margin-top: 10px">
                                <div ng-repeat="dareImage in ::card.images" class="wrapper">
                                    <div tr-label="user_suggestions_profile" ui-sref="profile.dares({ profileId : card.userId})"  back-image="{{::dareImage}}" class="imageCover sti-cursor">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="::card.last_sugg" style="background: white;height: 100%;margin-bottom: 5px;" tr-label="see_more_follow_sugg" ui-sref="popular.people" ng-click="$event.stopPropagation();">
                            <p style="text-align:center;line-height: 45px;color:black;font-size: 17px">+ see more people to follow</p>
                        </div>
                    </div>
                </div>
                <!--</ion-list>-->

                <!--<div ng-show="inside" style="text-align: center;padding-bottom: 10px">-->
                <!--<img src="images/loading-icon1.gif" style="height: 30px; margin: 10px;">-->
                <!--</div>-->


            </div>
        </ion-content>
        <loading-icon id="home-loading-icon" ng-show="::loggedIn"></loading-icon>

    </div>

</div>


<!--<stich-view></stich-view>-->
<!--<restich-view></restich-view>-->