<div class="new-header-cnt-parent">
	<div class="sti-home-header new-header-cnt home-header-sticky">
		<div class="new-header" style="display: block !important;">
			<div style="position:relative;height:100%">
				<p  class="vert-center header-title">Stichio</p>
				<div class="header-user-image-cnt" ui-sref="profile.dares({nav_from:'header'})"><img tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar" ng-if="::loggedIn" style=""  class=" sti-cursor header-user-image vert-center" data-ng-src="{{::userLoggedInDetails.avatar}}"/><div ng-show="unseenPendingDares" class="numberCircle">{{ unseenPendingDares }}</div></div>
				<button tr-label="login_button_header" class="login-button" ng-click="displayLoginPopup($event)" ng-if="::!loggedIn">Login / Signup</button>
				<div class="header-hamburger"><img ng-if="::loggedIn" tr-label="hamburger_menu"  class="vert-center" ng-click="toggleMenu()" src="images/hamburger_icon_black.png"></div>
				<div class="refresh-icon-new-cnt"><div class="refresh-icon-new vert-center" ><div tr-label="refresh_home" ng-if="::loggedIn" class="refresh-icon-cnt " ng-click="refreshHome('top')" tooltips tooltip-template="Tap this to see updates" place="refresh_home"  tooltip-side="bottom"><img src="images/refresh_icon_black.png"></div></div></div>

			</div>
		</div>
	</div>
</div>
<!--<header></header>-->
<div ui-view>
</div>


<!--<footer ng-show="userLoggedIn"></footer>-->
<!--<edit-profile></edit-profile>-->
