<style>
	.user-info textarea{
		height: 50px;
		padding: 3px;
		border-color: rgb(221, 221, 221);
		border-radius: 2px;
		font-size: 12.34px;
		resize: none;
		width: 100%;
	}
	#savebiobutton{
		position: absolute;
		height: 16px;
		top: -33px;
		right: -11px;
		padding: 15px;
		text-align: center;
		padding-bottom: 25px;
	}
	.user-info textarea::-webkit-input-placeholder{
        color:#A6AAA9 !important;
    }
	.user-bio-text{
		color: #666666;
    font-size: 12.34px;
    line-height: 17px;
    margin-top: 5px;
    padding-right: 5px;
		max-height: 51px;
		overflow: hidden;
	}
	    .give-dare-btn {
    font-weight: bold;
    text-align: center;
    color: #007ad5;
    border: 1px solid #007ad5;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
}
    .userprofile-follow-btn {
		font-weight: bold;
		width: 92px;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
	}
    .override{
        background-color: white;
    }

	.highlighter .tab-text{
		font-weight: bold;
		color: black;
		padding-top: 6px;
		font-size: 16px;
		line-height: 16px;
		min-height: 22px;
	}
	.user-dp {
    width: 120px;
    height: 120px;
    border-radius: 3px 0 0 0;
}
    .numberCircle_othersProfile {
        position: absolute;
        top:-3px;
        right:-8px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 2px 1px 2px 1px;
        background:#59f90e;
        border: 1px solid white;
        color: black;
        text-align: center;
        font: 12px Arial, sans-serif;
    }
</style>

<div class="new-header-cnt-parent">
	<div class="sti-home-header new-header-cnt">
		<div class="new-header" style="display: block !important;">
			<div style="position:relative;height:100%">
				<p  class="vert-center header-title">Stichio</p>
				<div class="header-user-image-cnt" ui-sref="profile.dares({nav_from:'header', profileId: userLoggedInDetails.userId})"><img tr-label="own_profile_header" ng-show="::userLoggedInDetails.avatar" ng-if="::loggedIn" style=""  class=" sti-cursor header-user-image vert-center" data-ng-src="{{::userLoggedInDetails.avatar}}"/><div ng-show="unseenPendingDaresCount" class="numberCircle">{{ unseenPendingDaresCount }}</div></div>
				<button tr-label="login_button_header" class="login-button" ng-click="displayLoginPopup($event)" ng-if="::!loggedIn">Login / Signup</button>
				<div class="header-hamburger"><img ng-if="::loggedIn" tr-label="hamburger_menu"  class="vert-center" ng-click="toggleMenu()" src="images/hamburger_icon_black.png"></div>
				<div class="refresh-icon-new-cnt"><div class="refresh-icon-new vert-center" ><div tr-label="refresh_home" ng-if="::loggedIn" class="refresh-icon-cnt " ng-click="refreshProfile('top')" tooltips tooltip-template="Tap this to see updates" place="refresh_home"  tooltip-side="bottom"><img src="images/refresh_icon_black.png"></div></div></div>

			</div>
		</div>
	</div>
</div>

<!--<div style="height: 46px; position: relative;">-->
	<!--<div class="sti-content sti-profile sti-my-profile profileHeader" style="position: fixed; top: 0; width: 100%; border-bottom: 1px solid #e6e9eb; z-index: 100;">-->
		<!--<div class="profile-header-top">-->
			<!--<img tr-label="stichio_logo" ui-sref="home.stiches" style="margin: auto 10px; height: 19px; cursor: pointer;" src="images/Stichio_Logo_Green_THICK.png">-->
			<!--<div  style="float: right; display: flex; height: 100%; margin-left: auto;">-->
				<!--<button tr-label="login_button_header" class="login-button" ng-click="displayLoginPopup($event)" ng-if="!loggedIn" style="width: auto; margin: auto 0;">Login / Signup</button>-->
				<!--<div tr-label="refresh_button_profile" ng-show="loggedIn" class="refresh-icon-cnt" ng-click="refreshProfile('top')"><img src="images/refresh_icon_white.png"></div>-->
				<!--<img tr-label="edit_profile_header" style="height: 30px;width: 30px; margin: auto 5px" ng-if="loggedIn && isOwnProfile" class="user-image sti-cursor" data-ng-src="{{userLoggedInDetails.avatar}}" ng-click="openEditProfileNew()"/>-->
				<!--<a tr-label="others_profile_header" style="margin: auto 5px;position: relative;" ng-if="loggedIn && !isOwnProfile&&!unseenPendingDaresCount" ng-href="#/profile/{{::userLoggedInDetails.userId}}"><img style="height: 30px;width: 30px; display: block;" class="user-image sti-cursor" data-ng-src="{{userLoggedInDetails.avatar}}"/></a>-->
				<!--<a tr-label="others_profile_header" style="margin: auto 5px;position: relative;" ng-if="loggedIn && !isOwnProfile&&unseenPendingDaresCount" ng-href="#/profile/{{::userLoggedInDetails.userId}}?dareType=remaining"><div class="numberCircle_othersProfile">{{ unseenPendingDaresCount }}</div><img style="height: 30px;width: 30px; display: block;" class="user-image sti-cursor" data-ng-src="{{userLoggedInDetails.avatar}}"/></a>-->
                <!--<img tr-label="hamburger_menu" style="height: 40px;width: 40px; cursor: pointer; margin: auto 0; padding: 10px;" ng-click="toggleMenu()" src="images/hamburger_icon_white.png">-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div class="home-container" style="margin-bottom: 46px;">

	<!-- center box -->
	<div class="center-box user-profile-body" style="max-width: 600px; float: left; margin: 0px auto 0; padding: 0 0px;">
		<div style="border-radius: 3px;overflow: hidden">
		<div class="user-info" style="display: flex; background-color: white; ">
			<div ng-if="::isOwnProfile" tr-label="open_profile_pic" class="user-dp background" style="cursor: pointer; position: relative;" back-image="{{ userLoggedInDetails.avatar }}" ng-click="openImagePopup(userLoggedInDetails.avatar, userLoggedInDetails, false, 'avatar')">
				<img tr-label="edit_profile_pic" ng-show="::isOwnProfile" src="images/Camera_Icon_Grey_Transp_SS.png" style="width: 30px; padding: 5px; z-index: 5; position: absolute; bottom: 0; right: 0;" ng-click="openEditProfileFromHam(); changeProfilePic();">
			</div>
			<div ng-if="::!isOwnProfile" tr-label="open_profile_pic" class="user-dp background" style="cursor: pointer; position: relative;" back-image="{{ userProfile.userDetails.avatar }}" ng-click="openImagePopup(userProfile.userDetails.avatar, userProfile.userDetails, false, 'avatar')">
			</div>
			<div style="padding: 10px; flex: 1; position: relative;max-width: calc(100% - 100px);" ng-show="::userProfile.userDetails.username">
				<div style="text-transform: capitalize; font-weight: bold;color: black;display: flex">
					<span style="font-size: 16px;line-height: 20px;word-break: break-all;" ng-if="::isOwnProfile" ng-bind-html="userLoggedInDetails.username"></span>
                    <span style="font-size: 16px;line-height: 20px;word-break: break-all;" ng-if="::!isOwnProfile" ng-bind-html="::userProfile.userDetails.username"></span>
					<div style="min-width: 30px"><img ng-if="::userProfile.userDetails.is_featured" src="images/crown_featured.png" style="height: 20px;margin-left: 5px"></div>
				</div>
				<div ng-if="::isOwnProfile">
					<div ng-if="!userLoggedInDetails.user_bio && !userLoggedInDetails.bio_change" tr-label="edit_bio" style="display: flex;margin-top: 7px" ng-click="editBio();"><img src="images/pencil_icon_grey.png" style="height: 15px"><p style="color:#A6AAA9;margin-left: 5px;font-size: 11px;line-height: 15px">Write a few words about yourself</p></div>
					<div ng-if="userLoggedInDetails.bio_change" style="position: relative;display: flex">
						<div style="width: 100%;margin-top: 5px;" class="edit-bio-box" ng-click="$event.stopPropagation();">
							<textarea required maxlength=90 ng-trim="false" placeholder="Who am I - a philosopher, daredevil, painter, Kohli fan, etc." ng-model="userLoggedInDetails.user_bio_temp" />
							<span style="position: absolute;bottom: -15px;right: 0px;font-size: 11px;" ng-bind="90-userLoggedInDetails.user_bio_temp.length"></span>
						</div>
						<div id="savebiobutton"><img src="images/unlocked.png" style="height: 18px;" ng-click="submitUserBio();"></div>
					</div>
					<div style="position: relative" ng-if="!userLoggedInDetails.bio_change" ng-click="editBio()">
						<p class="text user-bio-text" ng-bind-html="userLoggedInDetails.user_bio | parseUrl"></p>
						<div style="position:absolute;right: -10px;top:-26px;padding: 10px"><img ng-if="userLoggedInDetails.user_bio" src="images/pencil_icon_black.png" style="height: 12px;"></div>
					</div>
				</div>
				<div ng-if="::!isOwnProfile">
					<p class="text user-bio-text" ng-bind-html="::userProfile.userDetails.user_bio | parseUrl "></p>
				</div>
				<div style="min-height: 23px;display: flex;position: absolute;bottom: 0;">
					<button  tr-label="follow_profile_header" ng-show="userProfile.userDetails && !isOwnProfile && !userDetailsGlobal.is_following" class="userprofile-follow-btn unfilled-enabled-btn" ng-click="!loggedIn || followUser(userProfile.userDetails)">Follow</button>
					<img src="images/following_icon_profile.png" style="height:22px;width:25px;padding-right: 5px;padding-top:2.5px;padding-bottom: 2.5px;" tr-label="unfollow_profile_header" ng-show="userProfile.userDetails && !isOwnProfile && userDetailsGlobal.is_following"   ng-click="!loggedIn || unFollowUser(userProfile.userDetails)">
					<button style="font-weight: bold;width: 67px" tr-label="chat_from_profile" ng-show="userProfile.userDetails && !isOwnProfile && userDetailsGlobal.is_following" class="userprofile-follow-btn unfilled-disabled-btn"  ng-click="!loggedIn || openNewChatPopup(null,userProfile.userDetails)">Chat</button>

					<button style="margin-left: 15px;position:relative;" tr-label="give_dare_others_profile" ng-hide="isOwnProfile "  class="give-dare-btn unfilled-enabled-btn"  ng-click="!loggedIn || giveDareToSelectedUser(userProfile.userDetails);">


						<span>Give DARE</span>

					</button>
				</div>
               <!--This is a comment-->


			</div>
		</div>
		<div style="background-color: white;min-height: 50px">
			<div ng-if="::(userDaresStats && userProfile.userDetails.userId)" class="event_dares" style="display: flex; text-align: center; background-color: white; padding:12px 0px 0px;">
				<div class="highlighter activity" style="cursor: pointer; padding-bottom: 6px;"  ui-sref="profile.dares">
					<div ng-if="::userDaresStats" class="tab-text" ng-bind="::(userDaresStats.completed_count | thousandSuffix:1)"></div>
					<div class="tab" >dares</div>
				</div>

				<div class="highlighter upvotes">
					<div class="tab-text" ng-bind="::(userDaresStats.upvote_count | thousandSuffix:1)"></div>
					<div class="tab" >upvotes</div>
				</div>
				<div class="highlighter followers" style="cursor: pointer; position: relative; padding-bottom: 6px;" ng-click="!loggedIn || openFollowerPopup('follower')">
					<div class="tab-text" ng-if="::(userProfile.userDetails.followers_count<5000)">{{ ::(userProfile.userDetails.followers_count | thousandSuffix:1) }}</div>
					<div class="tab-text" ng-if="::(userProfile.userDetails.followers_count>5000)">  <span style="font-weight: normal"> ></span> 5k  </div>
					<div class="tab" >followers </div>
				</div>
				<div class="highlighter following" style="cursor: pointer; position: relative; padding-bottom: 6px;" ng-click="!loggedIn || openFollowerPopup('following')">
					<div class="tab-text" ng-if="::(userProfile.userDetails.followees_count<5000)" >{{ ::(userProfile.userDetails.followees_count | thousandSuffix:1)  }}</div>
					<div class="tab-text" ng-if="::(userProfile.userDetails.followees_count>5000)"> <span style="font-weight: normal"> ></span> 5k </div>
					<div class="tab">following </div>
				</div>
			</div>
		</div>
		</div>
		<div ui-view></div>
		<loading-icon id="profile-loading-icon"></loading-icon>
	</div>
</div>


<profile-followers></profile-followers>

