<style>
    .numberCircle_profilepage {
        display: inline;
    top: -6px;
    left: -16px;
    /* margin-left: -18px; */
    position: absolute;
    border-radius: 50%;
    min-width: 24px;
    height: 24px;
    padding: 3px;
    background: #59f90e;
    border: 2px solid white;
    color: black;
    text-align: center;
    font: 12px Arial, sans-serif;
    }
    .Pending_dares{
        background: #F5FEEF;
        text-align: center;
        width: 100%;
        max-width: 600px;
        margin-bottom:5px;
        height: 29px;
        line-height: 28px;
        font-weight: bold;
        border-radius: 2px;
        border: 1px solid #e6e9eb;

    }
</style>
<div class="sti-content sti-profile sti-my-profile" style="margin-top: 5px;">
    <div id="new-user-profile"  class="help-card" style="display:none"">
        <div style="display: flex">
            <img style="width:40px;height: 40px" src="images/smileys/blushing.png">
            <b style="margin-left:10px;line-height: 40px;font-size: 18px;">Buddy, This is Your Profile</b>
        </div>
        <p>You can see pending DARES that others have given you.</p>
        <p>As you complete DARES, they will show in Done section.</p>
        <p>Bookmarks are DARES that you save for later.</p>
        <p ng-if="enterReferralCode && userLoggedInDetails.referral_prog.enabled" style="text-align:center;color: #0365C0;font-size:12px" ng-click="openReferralPopup();">Have a referral code? Tap here</p>
    </div>
     <div id="featured-user-profile" class="help-card" style="padding : 20px 30px;display:none">
        <div style="display: flex">
            <img style="width:40px;height: 40px" src="images/smileys/cool.png">
            <b style="margin-left:10px;line-height: 40px;font-size: 18px;color : #009193;">Congratulations!</b>
        </div>
        <p>You are a featured DAREDevil. Check out  your crown above! More people will now see your DARES. Enjoy the love!</p>
        <p>You can now refer a friend & get paytm cash when any friend signs up using your referral code <span style="color: #0365C0;" ng-click="openReferralPopup();">know more..</span></p>
    </div>
    <!-- activity info -->
    <div style="height: 53px; position: relative;"  ng-show="isOwnProfile" >
        <div class="dare-stats-widget" style="position: static; top: 0; width: 100%; max-width: 600px; z-index: 100;  background-color: #f0f0f0;">
            <div class="border-stc" style="background-color: #fff;">
                <div class="stich-action-icons-cnt dare-filter-tab-cnt" style="width: 100%; margin: 0; display: flex; justify-content: space-around;">
                    <div class="completed" style="flex: 1; padding: 4px 0;">
                        <div tr-label="profile_completed" style="cursor: pointer; border-right: 1px solid #e6e9eb;" ng-click="setDareType('completed')">
                            <img src="images/Trophy_Icon_Yellow_SS.png" style="height: 20px; margin-bottom: 4px;"/>
                            <span ng-bind="userDaresStats.completed_count| thousandSuffix:1"></span>
                            <p class="dare-label" style="font-size: 12.34px;">Done</p>
                        </div>
                    </div>
                    <div class="remaining" style="flex: 1; padding: 4px 0;">
                        <div tr-label="profile_remaining" style="cursor: pointer; border-right: 1px solid #e6e9eb;" ng-click="setDareType('remaining')">
                            <div style="position: relative;width: 14px;height:20px;display: inline"><div  ng-if="dare_type != 'remaining'&&unseenDaresCount>0&&isOwnProfile" class="numberCircle_profilepage">{{unseenDaresCount}}</div>
                                <img src="images/Sand_Clock_Icon_SS.png" style="height: 20px;"/>
                            </div>
                            <span ng-bind="userDaresStats.remaining_count| thousandSuffix:1"></span>
                            <p class="dare-label" style="font-size: 12.34px;margin-top: 3px">Pending</p>
                        </div>
                        </div>
                    <div class="bookmarks" style="flex: 1; padding: 4px 0;" ng-show="isOwnProfile">
                        <div tr-label="profile_bookmarks" style="cursor: pointer; border-right: 1px solid #e6e9eb;" ng-click="showBookmarks()">
                            <img src="images/bookmark_selected.png" style="height: 20px; margin-bottom: 4px;"/>
                            <span ng-bind="userDaresStats.bookmarks_count| thousandSuffix:1"></span>
                            <p class="dare-label" style="font-size: 12.34px;">Bookmarks</p>
                        </div>
                    </div>
                    <div class="given" style="flex: 1; padding: 4px 0;">
                        <div tr-label="profile_given" style="cursor: pointer; " ng-click="setDareType('given')">
                            <img src="images/Infinity_Icon_Red.png" style="height: 15px; margin: 3px 0px 6px 0px ;"/>
                            <!--<span ng-bind="userDaresStats.created_count| thousandSuffix:1"></span>-->
                            <p class="dare-label" style="font-size: 12.34px;">Given</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- dares container -->
    <div  class="main-dares-cnt">
        <div ng-if="dare_type === 'all'">
            <div ng-repeat="card in userDares.all">
                <!-- dare-banner -->
                <div ng-if="card.feed_type === 'taken_dare'">
                    <admin-dare></admin-dare>
                </div>
                <dare-feed style="margin-bottom: 10px;" ng-if="card.feed_type === 'dare'"></dare-feed>
            </div>
        </div>
        <div ng-if="dare_type === 'completed'">
            <div ng-repeat="card in userDares.completed">
                <!-- dare-banner -->
                <div ng-if="card.feed_type === 'taken_dare'">
                    <admin-dare></admin-dare>
                </div>
                <dare-feed style="margin-bottom: 10px;" ng-if="card.feed_type === 'dare'"></dare-feed>
            </div>
        </div>
        <div ng-if="dare_type === 'remaining'">
            <div ng-repeat="card in userDares.remaining" >
                <div class="Pending_dares" style="margin-top: 0px" ng-if="dare_type == 'remaining'&&unseenDaresList>0&&isOwnProfile&& $index == 0" >{{ unseenDaresList }} new dare<span ng-if="unseenDaresList>1">s</span> you haven't seen</div>
                <div class="Pending_dares" style="margin-top: -5px" ng-if="dare_type == 'remaining'&&unseenDaresList>0&&isOwnProfile && $index == unseenDaresList&&(userDaresStats.remaining_count-unseenDaresList)>0" >old pending dares</div>
                <!-- dare-banner -->
                <div ng-if="card.feed_type === 'taken_dare'">
                    <admin-dare></admin-dare>
                </div>
                <dare-feed style="margin-bottom: 10px;" ng-if="card.feed_type === 'dare'"></dare-feed>

            </div>
        </div>
        <div ng-if="dare_type === 'bookmark'">
            <div ng-repeat="card in dareBookmarks">
                <div ng-if="card.feed_type === 'admin_dare'" style="margin-bottom:10px;overflow: hidden;">
                    <!--<div class="pattern dare-banner">-->
                        <!--<div class="ellipsis banner-text">{{card.dareText}}</div>-->
                    <!--</div>-->
                    <dare-suggestion></dare-suggestion>
                </div>
                <div ng-if="card.feed_type === 'taken_dare'" style="overflow: hidden;">
                    <admin-dare></admin-dare>
                </div>
                <dare-feed style="margin-bottom: 10px;" ng-if="card.feed_type === 'dare'"></dare-feed>
            </div>
        </div>
        <div ng-if="dare_type === 'given'">
            <div style="background: white;border-radius: 3px;padding: 10px;display: flex;border: 1px solid #e6e9eb;margin-bottom: 5px" tr-label="create_dare_profile_given" ng-click="!loggedIn || open_dare_form();">
                <img src="images/create_dare_icon.png" style="width: 35px;height: 35px;border-radius: 50%;">
                <p style="line-height: 35px;font-size:15px;margin-left: 10px"> Post your own DARE...</p>
            </div>
            <div ng-repeat="card in userDares.given">
                <!-- dare-banner -->
                <div ng-if="card.feed_type === 'taken_dare'">
                    <admin-dare></admin-dare>
                </div>
                <div ng-if="card.feed_type === 'admin_dare'" style="margin-bottom:10px;overflow: hidden;">
                    <!--<div class="pattern dare-banner">-->
                        <!--<div class="ellipsis banner-text">{{card.dareText}}</div>-->
                    <!--</div>-->
                    <dare-suggestion></dare-suggestion>
                </div>
                <dare-feed style="margin-bottom: 10px;" ng-if="card.feed_type === 'dare'"></dare-feed>
            </div>
        </div>
    </div>
</div>

