<!DOCTYPE html>
<html lang="en">
<head>
	<title> STICHIO </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="description" content="Watch unlimited DARES on India’s only DARE network. Join 50,000+ people in viewing and taking DARES that are super fun, creative and adventurous!">
	<meta name="image" content="http://www.stichio.co.in/images/Meta_Tag_Pic1.png">
	<meta name="keywords" content = "DARE, Challenges, Fun, Social Media, Games">
	<meta name="url" content = "http://www.stichio.co.in">
	<meta property="og:title" content="STICHIO">
	<meta property="og:image" content="http://www.stichio.co.in/images/Meta_Tag_Pic1.png">
	<meta property="og:description" content="Watch unlimited DARES on India’s only DARE network. Join 40,000+ people in viewing and taking DARES that are super fun, creative and adventurous!">
	<meta property="og:url" content="http://www.stichio.co.in">
	<link rel="icon" type="image/png" href="images/stichio_icon_bluegreen_thick.png" />

	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
	<link rel="stylesheet" type="text/css" href="css/reset.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-headers.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-headers-mobile.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-common-layout.css?0.08">
	<link rel="stylesheet" type="text/css" href="css/sti-common-layout-mobile.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-components.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-components-mobile.css?0.02">
	<link rel="stylesheet" type="text/css" href="css/sti-popups.css?0.07">
	<link rel="stylesheet" type="text/css" href="css/sti-popups-mobile.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/ng-img-crop.css">
	<link rel="stylesheet" type="text/css" href="css/introPages.css">
	<link rel="stylesheet" type="text/css" href="css/contactPage.css">
	<link rel="stylesheet" type="text/css" href="css/angular-tooltips.css">
	<link rel="stylesheet" type="text/css" href="css/imageFullView.css">
	<link rel="stylesheet" type="text/css" href="js_external/videogular-themes-default/videogular.css">
	<style>
		#loading-container {
			width: 150px;
			text-align: center;
			margin: calc(40vh - 5px) auto;
		}

		#loading-container img{
			width: 50px;
			margin: 0 auto;
			border-radius: 5px;
		}
		.loading12 {
			background-color: lightgrey;
			height: 2px;
			margin: 1em;
			overflow: hidden;
			position: relative;
			width: 12em;
		}

		.loading-bar {
			animation: side2side 2s ease-in-out infinite;
			background-color: #005493;
			height: 100%;
			position: absolute;
			width: 50%;
		}

		@keyframes side2side {
			0%, 100% { transform: translateX(-50%);
				-webkit-transform:translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform:translateX(-50%);
				-o-transform: translateX(-50%);
			}
			50%      { transform: translateX(150%);
				-webkit-transform:translateX(150%);
				-moz-transform: translateX(150%);
				-ms-transform: translateX(150%);
				-o-transform: translateX(150%);}
		}

		.center1 {
			left: 50%;
			margin: 0;
			margin-top: 30px;
			position: absolute;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform:  translate(-50%, -50%);
			-ms-transform:  translate(-50%, -50%);
			-o-transform:  translate(-50%, -50%);
		}


	</style>
</head>
<body ontouchstart="" class="no-touch">

<div class="container">
	<div ui-view id="ng-view">
		<div style="width: 100%; height: 100%; background: #f0f0f0; position: fixed; top: 0; z-index: 999999;">
			<div id="header" style="display: flex;background: white;; height: 46px; border-bottom: 1px solid #ddd; z-index: 100; position: absolute; top: 0; width: 100%;">
				<p style="margin:auto;text-align:center;width:200px" class="header-title">Stichio</p>
			</div>
			<div id="loading-container">
				<img src="images/stichio_icon_bluegreen_thick.png" />
				<div class="loading12 center1">

					<div class="loading-bar"></div>
				</div>
			</div>
			<div id="footer" style="height: 46px; background: #fff; border: 1px solid #ddd; position: absolute; bottom: 0; width: 100%;"></div>
		</div>
	</div>
	<footer ng-show="::userLoggedIn"></footer>
	<!--<intro-popup ng-if="!appReady"></intro-popup>-->
	<important-alert></important-alert>
	<dare-responses></dare-responses>
	<dare-popup ></dare-popup>
	<admin-dare-popup ></admin-dare-popup>
	<login-popup id="login-index-popup"></login-popup>
	<chat-popup id="chat-popup" ></chat-popup>
	<create-dare ></create-dare>
	<dare-menu></dare-menu>
	<!--<take-dare ></take-dare>-->
	<chat-new> </chat-new>
	<referral-popup></referral-popup>
    <!--<take-dare ></take-dare>-->
	<logout-popup ng-if="userLoggedIn"></logout-popup>
	<menu-popup></menu-popup>
	<image-full-view></image-full-view>
	<error-popup></error-popup>
	<!--<truth-dare ></truth-dare>-->
	<share-dare ></share-dare>
	<user-likes-popup ></user-likes-popup>
	<video-player ng-if="::userLoggedIn"></video-player>
	<edit-profile ng-if="::userLoggedIn"></edit-profile>
	<div id="loadingTextPopup" style="display: none">
		<div class="body-overlay"></div>
		<div class="loadingPopup">
			<div style="margin-left:10px;height: 50px;width: 50px;display: inline-block" back-image="'images/ring.gif'"></div>
			<div style="height: 55px;width: calc(100% - 80px);margin-left: 5px;display: inline-block;vertical-align: top"><p style="font-size:15px;line-height:20px;" ng-bind="loadingText" class="vert-center"></p></div>
		</div>
	</div>
	<div  ng-include="'shared/templates/contactUsPopup.html?0.03'"></div>
	<follow-suggestion-popup></follow-suggestion-popup>

</div>
<div  id="openModal"  class="modalDialog intro-videos-popup sti-popup">
	<div ng-if="::!userLoggedIn" id="intro-video-bg" style="max-width: 600px; height: 100%;min-width: 100%;overflow-y: hidden;background-image: url('videos/3_snapshot.jpg');background-size: cover" class="noselect" ng-click="$event.stopPropagation()">

		<video id="introvideo"  ng-src="videos/3.mp4" poster='images/transparentbackground.png' style="width: 100%" loop webkit-playsinline requestFullScreen>
		</video>
		<div class="introVideoOverlayParent">
			<div class="introVideoOverlay" ng-click="$event.stopPropagation()">
				<p class="sti-name-logo" style="color:white;font-size: 50.75px !important;">
					STICHIO
				</p>
				<p style="font-size: 20px;color:white;margin-top: 10px;font-weight: bold;letter-spacing: .5px;">Real People. Real Dares.</p>
				<button tr-label="intro_login_button" style="width: 300px;height: 50px;font-size: 20px;margin-top: 40px;background: white;color:#002545;border-radius: 3px;box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);" class="exclude" ng-click="closeIntroPopup($event);$event.stopPropagation()">
					Sign Up / Log In
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js_external/jquery-1.11.0.min.js"></script>
<script src="lib/ionic/js/ionic.bundle.min.js"></script>
<script src="lib/ionic.native.min.js"></script>
<script>
	(function () {
		angular.element(document).ready(function() {
			angular.bootstrap(document, ['stichio']);
		});
	})();
</script>
<script src="js/app.js"></script>
<script src="js/conn.js"></script>

<script type="text/javascript" src="js_external/angular-cookies.min.js"></script>
<script src="js_external/angular-offline.min.js"></script>



<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
<script src="js_external/googlePlus.js"></script>
<!-- include: "type": "js", "files": "www/libs/**/*.js" -->
<script src="libs/angular-tooltips.js"></script>
<script src="libs/angular-inview.js"></script>
<script src="libs/autoGrow.js"></script>
<script src="libs/canvg.js"></script>
<script src="libs/clipboard.js"></script>
<script src="libs/enable-clipboard.js"></script>

<script src="libs/hammer.min.js"></script>
<script src="libs/jquery.clearsearch.js"></script>
<script src="libs/jquery.cookie.js"></script>
<script src="libs/lazyload.js"></script>
<script src="libs/mention.js"></script>
<script src="libs/ng-file-upload-shim.min.js"></script>
<script src="libs/ng-file-upload.min.js"></script>
<script src="libs/ng-img-crop.js"></script>
<script src="libs/ng-storage.min.js"></script>
<script src="libs/ngMeta.min.js"></script>
<script src="libs/oauth.min.js"></script>
<script src="libs/rgbcolor.js"></script>
<script src="libs/screenTime.js"></script>
<script src="libs/socket.io.js"></script>
<script src="libs/StackBlur.js"></script>
<script src="libs/underscore-min.js"></script>
<script src="libs/velocity.min.js"></script>
<script src="libs/vg-analytics.js"></script>
<script src="libs/vg-controls.js"></script>
<script src="libs/vg-overlay-play.js"></script>
<script src="libs/videogular.js"></script>
<script src="libs/CordovaFileCache.js"></script>
<script src="libs/CordovaPromiseFS.js"></script>
<script src="libs/angular-cache.min.js"></script>
<script src="libs/ionic-cache-src.js"></script>
<script type="text/javascript" src="js_external/angular-offline.min.js"></script>
<script src="libs/angular-inview.js"></script>
<!--<script src="lib/ionic-cache-src/ionic-cache-src.js"></script>-->
<!-- /include -->

<!--<script src="lib/ionic-cache/dist/index.js"></script>-->

<script src="shared/services/APIService.js"></script>
<script src="shared/services/commonService.js"></script>
<script src="shared/services/loginService.js"></script>
<script src="shared/services/PushProcessingService.js"></script>
<script src="shared/services/cacheService.js"></script>
<!-- include: "type": "js", "files": "www/shared/**/*.js" -->
<script src="shared/directives/admin-dare-popup.js"></script>
<script src="shared/directives/tagUsers.js?0.01"></script>
<script src="shared/directives/admin-dare.js"></script>
<script src="shared/directives/arrow.js"></script>
<script src="shared/directives/backImage.js"></script>
<script src="shared/directives/bookmark.js"></script>
<script src="shared/directives/chatPopup.js"></script>
<script src="shared/directives/create-dare.js"></script>
<script src="shared/directives/dare-suggestion.js"></script>
<script src="shared/directives/referralPopup.js"></script>
<script src="shared/directives/dareFeed.js"></script>
<script src="shared/directives/darePopup.js"></script>
<script src="shared/directives/dareResponses.js"></script>
<script src="shared/directives/dareMenu.js"></script>
<script src="shared/directives/editProfile.js"></script>
<script src="shared/directives/errorPopup.js"></script>
<script src="shared/directives/profileFollowers.js"></script>
<script src="shared/directives/eventFollow.js"></script>
<script src="shared/directives/facebookShare.js"></script>
<script src="shared/directives/fileCacheDirective.js"></script>
<script src="shared/directives/followSuggestionPopup.js"></script>
<script src="shared/directives/footer.js"></script>
<script src="shared/directives/header.js"></script>
<script src="shared/directives/chatNew.js"></script>
<script src="shared/directives/genre-box.js"></script>
<script src="shared/directives/imageFullView.js"></script>
<script src="shared/directives/ImportFriendsPopup.js"></script>
<script src="shared/directives/importantAlert.js"></script>
<script src="shared/directives/loadingIcon.js"></script>
<script src="shared/directives/loginPopup.js"></script>
<script src="shared/directives/menuPopup.js"></script>
<script src="shared/directives/newUserThumbnail.js"></script>
<script src="shared/directives/randomBgColor.js"></script>
<!--<script src="shared/directives/searchContacts.js"></script>-->
<script src="shared/directives/ShareDare.js"></script>
<!--<script src="shared/directives/take-dare.js"></script>-->
<script src="shared/directives/trendingDare.js"></script>
<script src="shared/directives/trackingLabel.js"></script>
<script src="shared/directives/userLikesPopup.js"></script>
<script src="shared/directives/videoPlayer.js"></script>
<script src="shared/directives/videoPlayerFeed.js"></script>

<!-- /include -->

<!-- include: "type": "js", "files": "www/components/**/*.js" -->
<script src="components/home/homeController.js"></script>
<script src="components/home/homeService.js"></script>
<script src="components/home/homeStichesController.js"></script>
<script src="components/contact/contactController.js"></script>
<script src="components/contact/contactService.js"></script>
<script src="components/dare/dareController.js"></script>
<script src="components/Events/eventController.js"></script>
<script src="components/ExplorePage/ExploreController.js"></script>
<script src="components/ExplorePage/searchSuggestionsController.js"></script>
<!--<script src="components/ExplorePage/popularDaresController.js"></script>-->
<script src="components/ExplorePage/ExploreDareSuggestionsController.js"></script>
<script src="components/policies/policyController.js"></script>
<script src="components/policies/policyPrivacyController.js"></script>
<script src="components/policies/policyTermsController.js"></script>
<script src="components/Popular/popularController.js"></script>
<script src="components/Popular/populardaresController.js"></script>
<script src="components/Popular/popularPeopleController.js"></script>
<script src="components/Search/searchController.js"></script>
<script src="components/Search/searchDaresController.js"></script>
<script src="components/Search/searchPeopleController.js"></script>
<script src="components/userProfile/userProfileController.js"></script>
<script src="components/userProfile/userProfileDaresController.js"></script>
<script src="components/userProfile/userProfileFollowersController.js"></script>
<script src="components/userProfile/userProfileFollowingController.js"></script>
<script src="components/verify/verifyController.js"></script>
<!-- /include -->
<!--<script type="text/javascript" src="components/verify/verifyController.js?0.01"></script>-->
<!--<script src="js_external/videogular-overlay-play/vg-overlay-play.min.js"></script>-->

<script src="js_external/videogular-poster/vg-poster.min.js"></script>
<script src="js_external/videogular-buffering/vg-buffering.min.js"></script>

<!--<script src="cordova.js"></script>-->
<script src="js_external/ng-cordova.min.js"></script>

<img style="width: 0; height: 0;" id="playIcon" src="images/Play_Button_Icon_White.png" crossorigin="anonymous">

<!-- Facebook Pixel Code -->
<!-- End Facebook Pixel Code -->

</body>
</html>