!DOCTYPE html>
<html lang="en">
<head>
	<title> STICHIO </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="description" content="Watch unlimited DARES on India’s only DARE network. Join 40,000+ people in viewing and taking DARES that are super fun, creative and adventurous!">
	<meta name="image" content="http://www.stichio.co.in/images/Meta_Tag_Pic.png">
	<meta name="keywords" content = "DARE, Challenges, Fun, Social Media, Games">
	<meta name="url" content = "http://www.stichio.co.in">
	<meta property="og:title" content="STICHIO">
	<meta property="og:image" content="http://www.stichio.co.in/images/Meta_Tag_Pic.png">
	<meta property="og:description" content="Watch unlimited DARES on India’s only DARE network. Join 30,000+ people in viewing and taking DARES that are super fun, creative and adventurous!">
	<meta property="og:url" content="http://www.stichio.co.in">
	<link rel="icon" type="image/png" href="http://www.stichio.co.in/images/Stichio_Logo_Icon_Red.png" />

	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
	<link rel="stylesheet" type="text/css" href="css/reset.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-headers.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-headers-mobile.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-common-layout.css?0.08">
	<link rel="stylesheet" type="text/css" href="css/sti-common-layout-mobile.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-components.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/sti-components-mobile.css?0.02">
	<link rel="stylesheet" type="text/css" href="css/sti-popups.css?0.07">
	<link rel="stylesheet" type="text/css" href="css/sti-popups-mobile.css?0.01">
	<link rel="stylesheet" type="text/css" href="css/ng-img-crop.css">
	<link rel="stylesheet" type="text/css" href="css/introPages.css">
	<link rel="stylesheet" type="text/css" href="css/contactPage.css">
	<link rel="stylesheet" type="text/css" href="css/angular-tooltips.css">
	<link rel="stylesheet" type="text/css" href="css/imageFullView.css">
	<link rel="stylesheet" type="text/css" href="js_external/videogular-themes-default/videogular.css">
<style>
	#loading-container {
  	width: 150px;
    text-align: center;
    margin: calc(40vh - 5px) auto;
	}

	#loading-container img{
		width: 50px;
    margin: 0 auto;
    border-radius: 5px;
	}
.loading12 {
    background-color: lightgrey;
    height: 2px;
    margin: 1em;
    overflow: hidden;
    position: relative;
    width: 12em;
}

.loading-bar {
    animation: side2side 2s ease-in-out infinite;
    background-color: #005493;
    height: 100%;
    position: absolute;
    width: 50%;
}

	@keyframes side2side {
		0%, 100% { transform: translateX(-50%);
			-webkit-transform:translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform:translateX(-50%);
			-o-transform: translateX(-50%);
		}
		50%      { transform: translateX(150%);
			-webkit-transform:translateX(150%);
			-moz-transform: translateX(150%);
			-ms-transform: translateX(150%);
			-o-transform: translateX(150%);}
	}

	.center1 {
		left: 50%;
		margin: 0;
		margin-top: 30px;
		position: absolute;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform:  translate(-50%, -50%);
		-ms-transform:  translate(-50%, -50%);
		-o-transform:  translate(-50%, -50%);
	}


</style>
</head>
<body ontouchstart="" class="no-touch">

<div class="container">
<div ui-view id="ng-view">
		<div style="width: 100%; height: 100%; background: #f0f0f0; position: fixed; top: 0; z-index: 999999;">
			<div id="header" style="display: flex; justify-content: space-between; padding: 0 10px; background: linear-gradient(#005493, #002545);; height: 46px; border-bottom: 1px solid #ddd; z-index: 100; position: absolute; top: 0; width: 100%;">
				<img style="height: 19px; margin: auto 0;" src="images/Stichio_Logo_Green_THICK.png">
				<img style="width: 20px; z-index: 99; cursor: pointer; margin: auto 0;" src="images/hamburger_icon_white.png">
			</div>
			<div id="loading-container">
				<img src="images/stichio_icon_bluegreen_thick.png" />
				<div class="loading12 center1">

					<div class="loading-bar"></div>
				</div>
			</div>
			<div id="footer" style="height: 46px; background: #fff; border: 1px solid #ddd; position: absolute; bottom: 0; width: 100%;"></div>
		</div>
	</div>
	<dare-popup></dare-popup>
	<admin-dare-popup></admin-dare-popup>
	<login-popup id="login-index-popup"></login-popup>
	<chat-popup id="chat-popup"></chat-popup>
	<create-dare></create-dare>
	<take-dare></take-dare>
	<logout-popup></logout-popup>
	<menu-popup></menu-popup>
	<image-full-view></image-full-view>
	<truth-dare></truth-dare>
	<share-dare></share-dare>
	<user-likes-popup></user-likes-popup>
	<video-player></video-player>
	<edit-profile></edit-profile>
	<video-player-feed ng-if="true"></video-player-feed>
	<div ng-include="'shared/templates/contactUsPopup.html?0.03'"></div>

</div>

<script type="text/javascript" src="js_external/jquery-1.11.0.min.js"></script>
<script>
	window.fbAsyncInit = function() {
		FB.init({
//			appId      : '1080223682052036', // live
			 appId      : '1201142676626802', // dev
			xfbml      : true,
			version    : 'v2.7'
		});
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "http://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>


<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window,document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '938894596210973');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" src="https://www.facebook.com/tr?id=938894596210973&ev=PageView&noscript=1">
	</noscript>
	<!-- End Facebook Pixel Code -->
<!--&lt;!&ndash; twitter script &ndash;&gt;-->
<script>
	window.twttr = (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0],
				t = window.twttr || {};
		if (d.getElementById(id)) return t;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);

		t._e = [];
		t.ready = function(f) {
			t._e.push(f);
		};

		return t;
	}(document, "script", "twitter-wjs"));
</script>

<!--<script>-->
	<!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
				<!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
			<!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
	<!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

	<!--ga('create', 'UA-84487207-1', 'auto');-->
	<!--ga('create', 'UA-88878307-1', 'auto', 'UsernameTracker');-->

<!--</script>-->


<!-- <script src="js_external/angular.min.js"></script> -->
<script src="lib/ionic/js/ionic.bundle.min.js"></script>
<script>
	(function () {
		angular.element(document).ready(function() {
			angular.bootstrap(document, ['stichio']);
		});
	})();
</script>

<script type="text/javascript" src="js_external/angular-cookies.min.js"></script>
<script src="js_external/angular-offline.min.js"></script>

<script src="cordova.js"></script>
<script src="js_external/ng-cordova.min.js"></script>

<script src="js/app.js"></script>
<script src="js/conn.js"></script>



<script src="js_external/googlePlus.js"></script>
<!-- include: "type": "js", "files": "www/libs/**/*.js" -->
<script src="dist/l.min.js"></script>
<!-- /include -->

<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.js"></script>

<script src="dist/s.min.js"></script>
<!-- include: "type": "js", "files": "www/shared/**/*.js" -->
<script src="dist/d.min.js"></script>
<!-- /include -->

<!-- include: "type": "js", "files": "www/components/**/*.js" -->
<script type="text/javascript" src="dist/u.min.js?0.15"></script>
<script type="text/javascript" src="dist/h.min.js?0.14"></script>
<script type="text/javascript" src="dist/c.min.js?0.05"></script>
<script type="text/javascript" src="dist/e.min.js?0.06"></script>
<script type="text/javascript" src="dist/ex.min.js?0.03"></script>
<script type="text/javascript" src="dist/p.min.js?0.01"></script>
<script src="components/verify/verifyController.js"></script>
<!-- /include -->
<!--<script type="text/javascript" src="components/verify/verifyController.js?0.01"></script>-->
<!--<script src="js_external/videogular-overlay-play/vg-overlay-play.min.js"></script>-->

<script src="js_external/videogular-poster/vg-poster.min.js"></script>
<script src="js_external/videogular-buffering/vg-buffering.min.js"></script>

<div style="position: fixed; top: 0; left: -300px; z-index: 101;">
	<div class="fb-page fb-layout" data-href="https://www.facebook.com/stichio" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-width="300" data-show-facepile="true"><blockquote cite="https://www.facebook.com/stichio" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/stichio"></a></blockquote></div>
	<div class="twitter-widget">
		<a class="twitter-follow-button" href="https://twitter.com/stichio_in" data-size="large" data-show-count="false" data-show-screen-name="true">Follow @stichio_in</a>
	</div>
	<span class="ig-follow" data-id="5479dee" data-handle="igfbdotcom" data-count="false" data-size="small" data-username="true"></span>
</div>
<img style="width: 0; height: 0;" id="playIcon" src="images/Play_Button_Icon_White.png" crossorigin="anonymous">

</body>
</html>