<!--<div class="hiring-details" style="margin-top: 55px;">-->

         <!--<div class="contact seperator-cnt">-->
         <!--<hr>-->
         <!--<span class="special" style="margin-left: -220px"> REQUIREMENTS ACROSS TECHNOLOGY ROLES </span>-->
     <!--</div>-->

    <!--<div class="about-stichio-box" >-->
        <!--<div class="about-box">-->
            <!--<div class="follower-cnt">-->
                <!--<div class="about-title">-->
                    <!--FRONT-END-->

                <!--</div>-->
                <!--<div class="about-text">-->
                  <!--Building a mobile responsive website suitable for devices of different form factors and  implementing sophisticated image processing and image handling techniques.-->
                <!--</div>-->
                <!--<p class="about-text">-->
                    <!--<span style="font-weight: bold">Technology :</span>-->
                    <!--<span>Angular JS</span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="about-box">-->
            <!--<div class="follower-cnt">-->
                                <!--<div class="about-title">-->
                    <!--BACK-END-->

                <!--</div>-->
                <!--<div class="about-text">-->
                <!--Writing RESTful APIs, designing search engine on Elastic Search, data analytics, socket based chat server, notification engines, scale up services, and improving processing time-->
                <!--</div>-->
                <!--<p class="about-text">-->
                    <!--<span style="font-weight: bold">Technology :</span>-->
                     <!--<span>Python, Django, Elastic search</span>-->
                <!--</p>-->


            <!--</div>-->
        <!--</div>-->
        <!--<div class="about-box">-->
            <!--<div class="follower-cnt">-->
                                <!--<div class="about-title">-->
                    <!--MOBILE-APP-->

                <!--</div>-->
                <!--<div class="about-text">-->
                    <!--Native apps on Android and iOS incorporating Stichio’s unique user interface covering all the features-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
    <!--<div class="clear-float"></div>-->

         <!--<div class="contact seperator-cnt">-->
         <!--<hr>-->
             <!--<span> MORE DETAILS </span>-->
     <!--</div>-->
         <!--<div class="doc-section">-->
        <!--<div class="stichio-video">-->
        <!--<iframe src="https://player.vimeo.com/video/160878510" width="300" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
        <!--</div>-->
            <!--<div class="stichio-video2">-->
    <!--<iframe src="https://drive.google.com/file/d/0BydeH3a22aNIVHJoR2l5TFItLWc/preview" width="300" height="200"></iframe>-->
        <!--</div>-->
            <!--</div>-->
    <!--<div class="clear-float"></div>-->
<!--</div>-->
<div class="hiring-details" style="margin-top: 55px;">

    <div class="contact seperator-cnt">
        <hr>
        <span class="special"> REQUIREMENTS ACROSS ROLES</span>

    </div>

    <!--<div class="about-stichio-box" >-->
        <!--<div class="about-box">-->
            <!--<div class="follower-cnt">-->
                <!--<div class="about-title">-->
                    <!--FRONT-END-->

                <!--</div>-->
                <!--<div class="about-text">-->
                  <!--Building a mobile responsive website suitable for devices of different form factors and  implementing sophisticated image processing and image handling techniques.-->
                <!--</div>-->
                <!--<p class="about-text">-->
                    <!--<span style="font-weight: bold">Technology :</span>-->
                    <!--<span>Angular JS</span>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="about-box">-->
            <!--<div class="follower-cnt">-->
                                <!--<div class="about-title">-->
                    <!--BACK-END-->

                <!--</div>-->
                <!--<div class="about-text">-->
                <!--Writing RESTful APIs, designing search engine on Elastic Search, data analytics, socket based chat server, notification engines, scale up services, and improving processing time-->
                <!--</div>-->
                <!--<p class="about-text">-->
                    <!--<span style="font-weight: bold">Technology :</span>-->
                     <!--<span>Python, Django, Elastic search</span>-->
                <!--</p>-->


            <!--</div>-->
        <!--</div>-->
        <!--<div class="about-box">-->
            <!--<div class="follower-cnt">-->
                                <!--<div class="about-title">-->
                    <!--MOBILE-APP-->

                <!--</div>-->
                <!--<div class="about-text">-->
                    <!--Native apps on Android and iOS incorporating Stichio’s unique user interface covering all the features-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
    <div class="main-content-wrap" style="display: table; width: 100%">
        <!--<div class="single-row">-->
            <!--<div class="single-column col1 col2">-->
                <!--&lt;!&ndash;<img src="../images/beard_man.jpg" width="100%">&ndash;&gt;-->
                <!--<div><p>Marketing Associate (Full-Time)</p></div>-->
                <!--<div>-->
                    <!--<ul>-->
                        <!--<li>Content Ideation & Editing</li>-->
                        <!--<li>Team Management</li>-->
                        <!--<li>Promotions & Social Media Marketing</li>-->
                        <!--<li>Formulation of Marketing Strategies</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="single-column col1">-->
                <!--<div><p>Marketing Associate Intern (Remote)</p></div>-->
                <!--<div>-->
                    <!--<ul>-->
                        <!--<li>Lead Campus Marketing Activities</li>-->
                        <!--<li>Sign Up New Users</li>-->
                        <!--<li>Ideate and Execute Promotion Campaigns</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="single-row">-->
            <!--<div class="single-column col1 col2">-->
                <!--&lt;!&ndash;<img src="../images/beard_man.jpg" width="100%">&ndash;&gt;-->
                <!--<div><p>Product Manager (Full-Time)</p></div>-->
                <!--<div>-->
                    <!--<ul>-->
                        <!--<li>Product Development & Workflow Management</li>-->
                        <!--<li>Quality Control</li>-->
                        <!--<li>Technical Requirement Documentation</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="single-column col1">-->
                <!--<div><p>Content Creator Intern (Remote)</p></div>-->
                <!--<div>-->
                    <!--<ul>-->
                        <!--<li>Creation of Visual Blogs on Topics such as Fashion, Politics, Bollywood, Sports, Travel, DIY etc.</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="single-row">-->
            <!--<div class="single-column col1 col2">-->
                <!--&lt;!&ndash;<img src="../images/beard_man.jpg" width="100%">&ndash;&gt;-->
                <!--<div><p>Full Stack Developer (Full-Time)</p></div>-->
                <!--<div>-->
                    <!--<ul>-->
                        <!--<li>Ownership of Backend (Django)</li>-->
                        <!--<li>Ownership of seamless frontend functioning</li>-->
                        <!--<li>Search & Reco Engine Management</li>-->
                        <!--<li>Analytics and SEO Implementation</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="single-column col1">-->
                <!--<div><p>Web Developer (Full-Time)</p></div>-->
                <!--<div>-->
                    <!--<ul>-->
                        <!--<li>Building a mobile first responsive website (AngularJS)</li>-->
                        <!--<li>Image and Video Processing Techniques</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                    Marketing Associate (Full-Time)
                </div>
                <div class="about-text">
                   <ul>
                        <li>Content Ideation & Editing</li>
                        <li>Team Management</li>
                        <li>Promotions & Social Media Marketing</li>
                        <li>Formulation of Marketing Strategies</li>
                    </ul>
                </div>
                <!--<p class="about-text">-->
                    <!--<span style="font-weight: bold">Technology :</span>-->
                    <!--<span>Angular JS</span>-->
                <!--</p>-->
            </div>
        </div>
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                    Marketing Associate Intern (Remote)

                </div>
                <div class="about-text">
                  <ul>
                        <li>Lead Campus Marketing Activities</li>
                        <li>Sign Up New Users</li>
                        <li>Ideate and Execute Promotion Campaigns</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                    Product Manager (Full-Time)

                </div>
                <div class="about-text">
                  <ul>
                        <li>Product Development & Workflow Management</li>
                        <li>Quality Control</li>
                        <li>Technical Requirement Documentation</li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                   Content Creator Intern (Remote)

                </div>
                <div class="about-text">
                 <ul>
                        <li>Creation of Visual Blogs on Topics such as Fashion, Politics, Bollywood, Sports, Travel, DIY etc.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                    Full Stack Developer (Full-Time)

                </div>
                <div class="about-text">
                    <ul>
                        <li>Ownership of Backend (Django)</li>
                        <li>Ownership of seamless frontend functioning</li>
                        <li>Search & Reco Engine Mgmt</li>
                        <li>Analytics & SEO Implementation</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title" style="padding-bottom: 22px;">
                    Web Developer (Full-Time)

                </div>
                <div class="about-text">
                    <ul>
                        <li>Building a mobile first responsive website (AngularJS)</li>
                        <li>Image and Video Processing Techniques</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-float"></div>

    <div class="contact seperator-cnt">
        <hr>
        <span style="width: 41%;font-size: 14.34px;">MORE DETAILS</span>
    </div>
    <div class="doc-section">
        <div class="stichio-video">
            <iframe src="https://player.vimeo.com/video/160878510" width="300" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="stichio-video2">
            <iframe src="https://drive.google.com/file/d/0BydeH3a22aNIVHJoR2l5TFItLWc/preview" width="300" height="200"></iframe>
        </div>
    </div>
    <div class="clear-float"></div>
</div>
<style>
    .about-text{
        padding: 5px 5px 5px 23px;
        text-align:left;
    }
    .contact.seperator-cnt span{  position: absolute;
    width: 77%;
    left: 0;
    margin: 0 auto;
    right: 0;
        padding: 0px;
        font-size: 14.34px;
    }
    .main-content-wrap{
        padding: 0 1%;
        color: #53585f;
        margin-top: 40px;
    }
    .main-content-wrap .single-row{
        width: 100%;
        display: flex;
        margin-bottom: 4%;
        height: 200px;
    }
    .single-row .single-column{
        width: 48.5%;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .single-column.col2{margin-right: 3%;}
    .single-column.col1{
         background-color: #fff;
    }
    .single-column.col1 div:first-child{
        font-weight: bold;
        height: 26%;
            width: 90%;
        display: table;
    margin: auto;
        font-size: 12.34px;
    }
   .single-column.col1 div:first-child p {
            display: table-cell;
    vertical-align: middle;line-height: 18px;
       text-align: center;
    }
    .single-column.col1 div:last-child{
        height: 74%;
    padding: 0 0 0 12px;
    width: 90%;
    font-size: 10.34px;
    display: table;
    margin: auto;
    }

    .single-column.col1 div:last-child ul{
           list-style-type: disc;
    width: 74%;
    margin: 0 auto;
        display: table-cell;
    vertical-align: middle;
        /*position: relative;*/
    /*top: 10px;*/
    /*left: 10px;*/
    }
    .about-text{
        display: table-cell;    vertical-align: middle;
    }
    .about-text ul{
    list-style-type: circle;
    width: 74%;
    margin: 0 auto;
        display: table-cell;
    vertical-align: middle;
    }
    .single-column.col1 div:last-child ul li{
           line-height: 16px;margin-bottom: 6px;
    }
  .about-text ul > li  {
         line-height: 17px;margin-bottom: 6px;
    }
    /*.single-column.col1 ul li ul{*/
        /*top: 14px;*/
        /*font-weight: normal !important;*/
        /*list-style-type: disc;*/
    /*}*/
</style>
