<div class="about-stichio-content">
    <div class="browser-button-cnt">
					<button class="button" ng-click="goToHiring();$event.stopPropagation();">WE ARE HIRING</button>

    </div>
     <div class="contact seperator-cnt">
         <hr>
         <span> ABOUT STICHIO </span>
     </div>

    <div class="about-stichio-box" >
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                    NEW AGE BROWSING EXPERIENCE

                </div>
                <div class="about-text">
                    An image based media platform poised to redefine the boundaries of digital interaction and expression powered by its unique design and content curation algorithms
                </div>
            </div>
        </div>
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                    RICH AND SMART MEDIA CONTENT

                </div>
                <div class="about-text">
                    User generated content or promoted content by Stichio’s retailer and service provider partners, smartly fed to users through continuous learning of their behaviour and interests
                </div>
            </div>
        </div>
        <div class="about-box">
            <div class="follower-cnt">
                <div class="about-title">
                    INTERACTIVE EXPRESSIONS

                </div>
                <div class="about-text">
                    User interactions through the platform include liking, sharing, commenting, chatting and connecting with other users on Stichio
                </div>
            </div>
        </div>

    </div>

    <div class="clear-float"></div>

         <div class="contact seperator-cnt">
         <hr>
         <span> FOUNDING TEAM </span>
     </div>

    <div class="about-founders-box" >
        <div class="user-box">
            <div class="follower-cnt founder">
                <img class="founder-pic"  src="https://s3-ap-southeast-1.amazonaws.com/eb-stichio/avatars/Swagatika1.jpg" >
                <p class="founder-name">SWAGATIKA DAS </p>
                <p class="founder-exp">Led Apples’s iPhone6 Launch Sales and Supply Strategy for all APAC countries</p>
                <p class="founder-exp">Led Deepwater Ops, India, for Schlumberger (global Oil & Gas major); led the most extensive exploration portfolio for large clients like ONGC and Reliance-BP</p>
                <p class="founder-exp">B.Tech, IIT Kharagpur and MBA, INSEAD</p>
            </div>
        </div>
        <div class="user-box">
            <div class="follower-cnt founder">
                 <img class="founder-pic" src="https://s3-ap-southeast-1.amazonaws.com/eb-stichio/avatars/Vivek.jpg" >
                 <p class="founder-name">VIVEK AALOK </p>
                <p class="founder-exp">Head of Strategy, APAC, at First Data (global major in payments), leading several global acquisitions and investments</p>
                <p class="founder-exp">Led deals at J.P. Morgan, NYC, for a portfolio of auto companies, incl. GM on its $23bn IPO</p>
                <p class="founder-exp">B.Tech, IIT Kanpur and MBA, INSEAD</p>
            </div>
        </div>
        <div class="user-box">
            <div class="follower-cnt founder">
                 <img class="founder-pic" src="https://s3-ap-southeast-1.amazonaws.com/eb-stichio/avatars/Ashish.jpg" >
                <p class="founder-name">ASHISH CHAWLA</p>





                <p class="founder-exp">Led project portfolio and investments structuring for Wenergy Global (a pan-ASEAN renewable energy company); has led multiple investor and government deals</p>
                <p class="founder-exp">Deep experience in strategy, finance and ops management in VC and Oil & Gas sectors</p>
                <p class="founder-exp">B.Tech, IIT Delhi and MBA, INSEAD</p>
            </div>
        </div>
        <div class="user-box">
            <div class="follower-cnt founder">
                 <img class="founder-pic" src="https://s3-ap-southeast-1.amazonaws.com/eb-stichio/avatars/Rajan.jpg" >
                <p class="founder-name">RAJAN BHUYAN</p>
                <p class="founder-exp">Technology master with experience across various domains of payments technology at Paypal</p>
                <p class="founder-exp">Leader in numerous hackathons unraveling new business opportunities for Paypal</p>
                <p class="founder-exp">B.Tech, Computer Science, BITS Pilani</p>
            </div>
        </div>

    </div>
    <div class="clear-float"></div>

    </div>