    <div class="sti-home-header">
	<div class="header-one">
		<!--<div class="header-one-contents-wrapper">-->
		<!--will have the search bar but hidden -->
		    <!--<div ng-click="goHome()" class="home-icon-full sti-cursor img-div home-icon-header" style="display:block !important;"></div>-->
		    <div style="width: 100px;"><div class="search-popup-back-contact"  ng-click="goHome()"><i class="left-arrow-contact"></i></div>
                    </div>
             <div style="top:0 ;width: 100%;height: 100%;float: left;position: absolute;z-index:-1;text-align: center;display: table;"><p style="display: table-cell;vertical-align: middle;font-weight: bold;color: #53585f;">CAREERS</p></div>
        <div><img style="border-radius: 3px;height: 31px;position: absolute;top: 13px;right: 18px;" src="images/stichio_icon_bluegreen_thick.png"></div>

        <!--<div style="position:absolute;width: 100%;text-align: center;left:0;right:0;">-->
            <!--<p>Careers</p>-->
        <!--</div>-->

        <div class="right-cntnr home-right-cntnr">
            <div class="options-cnt">
             <button id="btnHeaderLogin" class="sti-main-btn header-login-btn" ng-click="displayLoginPopup($event)" ng-show="!loggedin">Login / Sign Up</button>
			<a ui-sref="#" ng-if="loggedIn" style="display:none !important;"><div class="notification-img-cnt"><div class="option-icon message-icon img-div"></div><div class="notification-num-cnt"><p>3</p></div></div></a>
			<!--<a class="exclude" ng-click="openProfileAddPopup($event)" id="menu-button"><div class="option-icon hamburger-icon img-div"></div></a>-->
            <div class="home-menu-options">
                <p ng-click="logout()" class="sti-cursor">Logout</p>
            </div>
			<!--<div class="message-icon-num-cnt"><span class="message-icon-num">2</div></div>-->
    	    </div>
			<a href="#/profile/{{userLoggedInDetails.userId}}"  ng-if="loggedIn" style="display:none !important;"><div class="userInfo">
			<img class="user-image desk-user-image sti-cursor" data-ng-src="{{userLoggedInDetails.avatar}}"/><!--
    		--><div class="user-name-cnt"><p class="user-name sti-cursor">{{userLoggedInDetails.username}}</p></div>
				</div></a>

        </div>




  	</div>





</div>
    <div id="openModal" class="modalDialog ham-popup sti-popup">
	<div class="second-container">
		<div class="sti-pop-header left-title edit-profile-main">
			<h2 class="header">Options</h2>
			<button  title="Close" class="exclude close-popup cross-button close-popup-btn no-shadow-btn close-ham-popup"></button>
		</div>
        <hr style="margin-bottom:10px;"/>
        <div class="sti-pop-body ham-popup-body">
            <div>
                <ul class="ham-popup-menu">
                    <li ng-if="loggedIn" ng-click="openCatPopupHome($event)">Categories</li>
					<hr ng-if="loggedIn" />
                    <li><a class="exclude close-ham-popup" ui-sref="policy.terms">Terms</a> </li>
					<hr />
                    <li><a class="exclude close-ham-popup" ui-sref="policy.privacy">Privacy</a> </li>
					<hr />
                    <li><a class="exclude close-ham-popup" ui-sref="policy.privacy">Careers</a></li>
					<hr />
                    <li>Tips & FAQ</li>
					<hr />
                    <li><a class="exclude close-ham-popup" ui-sref="policy.privacy">Contact Us</a></li>
					<hr />
                    <li ng-if="loggedIn" ng-click="logout()">Logout</li>
                </ul>
            </div>
        </div>
	</div>
</div>
<!--<create-frame></create-frame>-->
<!--<restich-frameadded></restich-frameadded>-->
<!--<interests-popup></interests-popup>-->
<div ui-view>
</div>
 <div class="seperator-cnt">
         <hr>
 </div>
 <div id="stichioform" class="stichio-form">
            <form name="createFrameForm" novalidate>
    <div class="name-cnt">
        <input ng-click="$event.stopPropagation();" type="text" ng-pattern="emailRegEx" name="frameName" id="frameName" maxlength="100" placeholder="Your Email" ng-model="formEmail" required/>
    </div>
    <div class="desc-cnt padding-cnt" id="descr-cnt">
        <textarea ng-click="$event.stopPropagation();" rows="6" cols="" maxlength="500" placeholder="Write to us" ng-model="formMessage"></textarea>
    </div>
                <div class="contact-button-cnt">

            <button class="close-popup-btn button contact-us-form" ng-click="submitDetails();$event.stopPropagation();">CONTACT US</button>
                    <div class="contact loading-div"></div>
              </div>
            </form>
     <p class="submit-success-msg" ng-if="success_msg">Thank you for writing to us. We will connect with you shortly.</p>

    </div>
<!--<todays-picks></todays-picks>-->
<!--<footer ng-show="userLoggedIn"></footer>-->
    <style>
        .search-popup-back-contact{
            margin-top: 6px;
            color: #53585f;
            /* padding-left: 5px; */
            font-size: 19px;
            line-height: 45px;
            width: 44px;
            text-align: center;
            height: 45px;
            position: absolute;
        }
        .left-arrow-contact {
            border: solid currentColor;
            border-width: 0 .14em .14em 0;
            display: inline-block;
            padding: .30em;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }
    </style>

