<div id="stickyheader1" class="profile-header-top" style="width: 100%; z-index: 999; height: 46px !important;background:linear-gradient(#005493, #002545);padding: 5px 0;position: fixed; top: 0; display: flex;" class="sti-events">
    <img ui-sref="home.stiches" style="height: 30px;cursor: pointer;position: absolute;margin-top: 3px" src="images/stichio_icon_green_event.png">

    <div style="float: right;width: 100%;position: absolute;margin-top: 3px">
        <img tr-label="hamburger_menu"  class="exclude" style="height: 18.22px;width: 20.65px; float: right; z-index: 9999999; cursor: pointer; margin: 6px 10px" ng-click="toggleMenu()" src="images/hamburger_icon_white.png">
        <a tr-label="own_profile_header" ng-if="loggedIn" href="#/profile/{{userLoggedInDetails.userId}}"><div style="float: right;"><img ng-if="userLoggedInDetails.avatar"  class="user-image mob-user-image sti-cursor header-user-image" data-ng-src="{{userLoggedInDetails.avatar}}"/></div></a>
        <div tr-label="refresh_event" ng-show="loggedIn" ng-click="refreshEvent()" style="float: right;"><img src="images/refresh_icon_white.png" style="margin: 3px 10px; height: 24px; vertical-align: middle;"></div>
        <a tr-label="login_button_header" href="" class="equalize-width ng-scope" ng-click="displayLoginPopup($event)" ng-if="!loggedIn" style="width: auto;float: right;margin-top: 4px;">
            <button class="login-button">Login / Signup</button>
        </a>
    </div>
    <div style="color:#E6E6E6;width: 100%">
        <div style="text-align: center;margin-bottom: 4px;font-size: 16.34px;font-weight: bold;text-transform: uppercase"><p ng-bind="eventDetails.eventName"></p></div>

        <div style="text-align: center"><p style="font-size: 13.34px;vertical-align: middle;line-height: 16px;" ng-bind="eventDetails.brandName">  </p></div>

    </div>


</div>
<div id="stickyalias1" style="height: 46px;"></div>

<div class="progress loading-icon" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; background-color: white;"></div>

<div class="home-container" style="margin-bottom: 46px;">
    <div class="left-box" ng-show="!isMobile">
        <div class="box-ctx">
            <div tr-label="event_view_media" class="border-stc" style="background-color: #FFFFFF; padding: 5px; cursor: pointer;" ng-click="viewMedia()" ng-if="eventMedia.length > 0">
                <div style="margin-bottom: 10px;">
                    <img style="vertical-align: middle; margin-right: 10px; height: 30px;" lazy-src="images/photo_icon_yellow.png" alt="">
                    <span><b>Photos & Videos</b></span>
                    <span ng-show="dashboard_eventMedia.length > 0" style="color: rgba(0, 0, 0, 0.4);">&bull; {{ total_mediaCount }}</span>
                </div>
                <div style="margin: 0 -2px">
                    <div style="display: inline-block; vertical-align: top;" ng-repeat="media in dashboard_eventMedia">
                        <div style="width: 80px; height: 80px; margin: 3px;" ng-if="media.media_type === 'image'" random-bg-color back-image="{{ media.source }}"></div>
                        <div style="width: 80px; height: 80px; margin: 3px;" ng-if="media.media_type === 'video'" random-bg-color back-image="{{ media.source | videoPoster }}">
                            <div style="display: flex; height: 100%; width: 100%;">
                                <div class="play-icon-small" style="margin: auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center-box" style="max-width: 600px; float: left; margin: 5px auto 0;">
        <div class="main-event-dares-cnt">
            <div id="stickyheader2" style="display: flex; position: fixed; top: 46px; height: 45px; width: 100%; max-width: 600px; background: #fff; z-index:102; border: 1px solid #e6e9eb; border-top: 5px solid #f0f0f0;" class="sti-cursor">
                <div class="event-header-buttons">
                    <div class="event-header-button">
                        <div tr-label="event_like" ng-click="!loggedIn || likeEvent()">
                            <img ng-show="!eventDetails.like_status" lazy-src="images/heart_icon_black_boundary.png">
                            <img ng-show="eventDetails.like_status" lazy-src="images/Heart_Icon_REd_Filled.png">
                            <p><span ng-bind="eventDetails.likes"></span> Like<span ng-show="eventDetails.likes>1">s</span></p>
                        </div>
                    </div>
                </div>
                <div tr-label="event_view_dares" class="event-header-buttons highlighter" style="border-bottom: 2px solid #007ad5" ng-click="viewEventDares();">
                    <div class="event-header-button">
                        <div>
                            <img style="height: 18px;" lazy-src="images/DARE_Icon_STICH_TN_SS.png">
                            <p>DARES</p>
                        </div>
                    </div>
                </div>

                <div tr-label="event_view_media" ng-if="eventMedia.length > 0" class="event-header-buttons highlighter sti-cursor photos" ng-click="viewMedia()">
                    <div class="event-header-button">
                        <div>
                            <img style="height: 18px;" lazy-src="images/Camera_Icon_Filled_Grey.png">
                            <p >Photos</p>
                        </div>
                    </div>
                </div>
                <div ng-if="eventMedia.length <= 0" class="event-header-buttons highlighter sti-cursor">
                    <a class="exclude" ng-href="{{eventDetails.fbPageLink}}" target="_blank">
                        <div class="event-header-button">
                            <div>
                                <img  lazy-src="images/F_facebook_Icon_Grey.png">
                                <p>FB Page</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="event-header-buttons">
                    <div class="event-header-button" style="border: none">
                        <div tr-label="event_follow" class="sti-cursor" ng-click="!loggedIn || followEvent()">
                            <div ng-if="!loggedIn || !eventDetails.follow_status">
                                <img lazy-src="images/Follow_Page_Icon_Grey.png">
                                <p>Follow</p>
                            </div>
                            <div ng-if="loggedIn && eventDetails.follow_status">
                                <img lazy-src="images/follow_page_icon_blue.png">
                                <p style="color: #007adf;">Following</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="stickyalias2" style="height: 40px;"></div>
            <div ng-hide="showMedia">
                <div>
                    <div class="imageslide"  style="height:{{bannerHeight}}; background-color: #fff;" ng-animate="'animate'">
                        <div class="slider-content" style="position: relative;">
                            <div tr-label="event_banners_more" ng-if="bannersCount > 1" ng-click="prevSlide()" style="display: flex; width: 40px; height: 40px; position: absolute; top: 50%; left: 10px; margin-top: -20px; background-color: rgba(0,0,0,0.5); border-radius: 50%; cursor: pointer;">
                                <div style="width: 20px; height: 20px; margin: 10px 0 0 14px; border-top: 3px solid #fff; border-left: 3px solid #fff; border-bottom: 3px solid transparent; border-right: 3px solid transparent; transform: rotateZ(-45deg);"></div>
                            </div>
                            <div tr-label="event_banners_more" ng-if="bannersCount > 1" ng-click="nextSlide()" style="display: flex; width: 40px; height: 40px; position: absolute; top: 50%; right: 10px; margin-top: -20px; background-color: rgba(0,0,0,0.5); border-radius: 50%; cursor: pointer;">
                                <div style="width: 20px; height: 20px; margin: 10px 0 0 7px; border-top: 3px solid #fff; border-right: 3px solid #fff; border-bottom: 3px solid transparent; border-left: 3px solid transparent; transform: rotateZ(45deg);"></div>
                            </div>
                            <a ng-href="{{banner.banner_url}}" target="_blank"><div style="height: 100%" back-image="{{banner.image}}"></div></a>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
                <!--<div style="width:100%;background: #fff;text-align: center;height: 30px; margin-top: 20px; border: 1px solid #ddd;">-->
                <!--<p style="color:#ec5d57;line-height: 30px;font-weight: bold"> <span ng-bind="eventDetails.eventName"></span> DARE count: <span ng-bind="eventDetails.responses_count" ></span></p>-->
                <!--</div>-->
                <div ng-show="eventDetails.round > 1" class="border-stc event_dares" style="display: flex; text-align: center; background-color: white;">
                    <div tr-label="event_live_dares" class="highlighter liveDaresTab" style="cursor: pointer; border-bottom: 2px solid #007ad5" ng-click="viewLiveDares()">
                        <div class="tab" style="border-right: 1px solid #ddd">Live DARES</div>
                    </div>
                    <div tr-label="event_previous_dares" class="highlighter" style="cursor: pointer;" ng-click="viewPreviousDares()">
                        <div class="tab" style="border-right: 1px solid #ddd">Previous DARES</div>
                    </div>
                    <div tr-label="event_winning_dares" class="highlighter" style="cursor: pointer;" ng-click="viewWinningDares()">
                        <div class="tab" >Winners</div>
                    </div>
                </div>
                <div ng-show="viewingTab === 'liveDares'" style="margin: 5px 0;" class="event-banner">
                    <div class="pattern dare-banner" style="min-height: 40px; margin: 5px 0;padding: 10px 5px;text-align: center; border-radius: 0;background: #002545 !important">
                        <div ng-if="eventDetails.hashtags" style="vertical-align: middle; display: inline-block;text-align: center" class="banner-text">
                            <p style="line-height: 16px"> <span ng-bind="eventAdminDares.length"></span> DARE Challenge<span ng-if="eventAdminDares.length > 1">s</span>
                                  <!--and Share on Facebook with-->
                                <!--<span ng-repeat="hashtag in eventDetails.hashtags">{{hashtag}} </span>-->
                            </p>
                        </div>
                    </div>

                </div>
                <div ng-show="viewingTab === 'liveDares'" style="margin: 5px 0;">
                    <div ng-if="eventAdminDares.length > 1" style="background: white;display: flex;overflow-x: hidden;height: 30px;border: 1px solid #e6e9eb;">
                        <div class="dareSuggestionIndex">
                            <div ng-repeat="i in eventAdminDares" ng-class="{'selected-index':eventDetails.selectedTab === $index}" ng-click="showDareSuggestion($index)" class="dareSuggestionIndexButton">
                                <p ng-bind="$index+1" style="text-align: center;display: table-cell;vertical-align: middle"> </p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="pattern dare-banner" style="margin:5px">-->
                    <!--<img style="vertical-align: middle; width: 24px;" lazy-src="images/Dare_Icon_Green_HomePage.png" alt="">-->
                    <!--<div style="vertical-align: middle; width: calc(100% - 55px); display: inline-block;" class="ellipsis banner-text">{{card.dareText}}</div>-->
                    <!--</div>-->
                    <div style="margin: 5px;">

                        <dare-suggestion></dare-suggestion>
                    </div>
                </div>

                <div style="margin: 10px 5px;" ng-if="isMobile">
                    <event-follow ng-if="isMobile"></event-follow>
                </div>
                <div ng-if="!isMobile" style="height: 5px;"></div>
                <div ng-if="eventDetails.round === 1" ng-show="viewingTab === 'liveDares'" style="width:100%;background: #002545;text-align: center;height: 35px;padding: 5px 0; margin-top: 20px;">
                    <img style="height: 20px;display: inline-block;vertical-align: text-bottom" lazy-src="images/User_Activity_Icon_WHITE.png">
                    <p style="line-height: 30px;font-weight: bold;display: inline-block;margin-left: 3px;color: white"> DARE ACTIVITY COUNTER : <span ng-bind="eventDetails.responses_count" ></span></p>
                </div>

                <div style="margin: 5px;">
                    <div ng-show="viewingTab === 'liveDares' && eventDetails.round > 1" style="width:100%;background: #002545;text-align: center;height: 35px;padding: 9px 0; margin: 20px 0 5px;">
                        <img style="height: 20px;display: inline-block;vertical-align: middle;" src="images/lightning_icon_white.png">
                        <span style="font-weight: bold;margin-left: 3px;color: white">LIVE DARE Counter: {{ eventDetails.responses_count || 0}}</span>
                    </div>
                    <div ng-show="viewingTab === 'liveDares'">
                        <div style="margin-bottom: 10px;" ng-repeat="card in eventAdminDareResponses">
                            <!-- dare-banner -->
                            <div class="pattern dare-banner">
                                <div class="ellipsis banner-text">{{card.admin_dare.dareText}}</div>
                            </div>
                            <admin-dare></admin-dare>
                        </div>
                        <div ng-if="showPreviousDareBanner && showPreviousDare">
                            <div ng-show="viewingTab === 'liveDares'" style="display: flex; width:100%;background: #002545; height: 35px; margin: 20px 0 10px;">
                                <span style="font-weight: bold; margin: auto; color: white"> Previous DARES</span>
                            </div>
                            <div style="margin-bottom: 10px;" ng-repeat="card in appendedDaresInLive">
                                <!-- dare-banner -->
                                <div class="pattern dare-banner">
                                    <div  class="ellipsis banner-text">{{card.admin_dare.dareText}}</div>
                                </div>
                                <admin-dare></admin-dare>
                            </div>
                        </div>
                    </div>
                    <div ng-show="viewingTab === 'previousDares'">
                        <div style="margin-bottom: 10px;" ng-repeat="card in event_oldDareResponses">
                            <!-- dare-banner -->
                            <div class="pattern dare-banner">
                                <div  class="ellipsis banner-text">{{card.admin_dare.dareText}}</div>
                            </div>
                            <admin-dare></admin-dare>
                        </div>
                    </div>
                    <div ng-show="viewingTab === 'winningDares'">
                        <div style="margin-bottom: 10px;" ng-repeat="card in winningDares">
                            <!-- dare-banner -->
                            <div class="pattern dare-banner">
                                <div  class="ellipsis banner-text">{{card.admin_dare.dareText}}</div>
                            </div>
                            <admin-dare></admin-dare>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="showMedia" class="eventMediaCnt">
                <div style="margin: 10px 0;" ng-repeat="media in eventMedia">
                    <div ng-if="media.media_type === 'video'" class="dare-video-box" style="background-color: black;">
                        <div style="height: 100%;position: relative;" >
                            <div ng-if="media.source" back-image="{{ media.source | videoPoster }}" style="width: 100%;height: 100%;display: table;" ng-click="openVideo(media.source, '')">
                                <div style="display: table-cell;vertical-align: middle;height: 100px">
                                    <div class="play-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="media.media_type === 'image'" class="event-media-cnt" style="overflow: hidden; background-color: {{ media.container_background_color }}; height: {{ media.container_background_height }}">
                        <img style="width: 100%;" lazy-src="{{ media.source }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-box">
        <div ng-if="eventDetails.follows && !isMobile" style="margin-bottom: 10px;">
            <event-follow ng-if="eventDetails.follows && !isMobile"></event-follow>
        </div>
        <div ng-if="eventDetails.round > 1" ng-show="winningDares && !isMobile" style="margin-bottom: 10px;">
            <trending-dare ng-show="winningDares && !isMobile"></trending-dare>
        </div>
    </div>
</div>




<!--<chat-popup></chat-popup>-->
<!--<create-frame></create-frame>-->
<!--<footer ng-show="userLoggedIn"></footer>-->