<div class="policy-cnt">
    <div class="content">
        <p style="font-size: 10px;">Date: 18-July-2017</p>
        <h2 class="center">STICHIO’s Privacy Policy</h2>
        <p>STICHIO’s Services contain a treasure of carefully curated visual stories, on a varied range of topics, for its users. When you use or access these Services you share some
            information with us. Therefore, we want to be fully transparent with you about what information we collect, how we do it, how we use it, with whom it is shared and how you
            can control or manage what information we collect about you. </p>
        <p>Just as we are relentlessly trying to improve our Services for you, we have done our best to keep the Privacy Policy free of technical or legal jargon such that it can be easily
            understood. However, we do understand that this <a ui-sref="policy.privacy" class="exclude policy-link">Privacy Policy</a> might still contain some inconsistencies and hence we request you to provide any feedback that can help us refine
            and improve our <a ui-sref="policy.privacy" class="exclude policy-link">Privacy Policy</a>.
        </p>
        <p class="last">
            Please feel free to <a  ng-click="contactUs()" class="exclude policy-link">contact us</a> anytime, from anywhere and for anything.
        </p>
        <ol class="d">
            <li> <h2>Information We Collect</h2>
                <p><b>In a nutshell, we collect only relevant information that will enable us to improve and customize your experience!</b></p>
                <ol style="list-style-type: lower-roman;">
                    <li>
                        <p>
                            <u>What you choose to give us.</u> When you sign up or update your profile information on our website(s) or application(s)
                            or any other Service, you voluntarily provide us information such as your email address, gender, date of birth, location data
                            and any other information that you directly input about yourself while using our Services.
                        </p>
                        <p>
                            User Generated Content that you generate while using our Services including but not limited to communications between you and
                            other users, you and STICHIO and so on.
                        </p>
                        <p>
                            Moreover, when you access our Services using or linking other websites (for example Facebook or Google or any other that is linked
                            to access our Services), we can collect certain information about you from these accounts. The information we obtain from these
                            websites depends upon their respective <a ui-sref="policy.privacy" class="exclude policy-link">Privacy Policy</a> and your settings & preferences on these websites. We request you to check and
                            keep yourself aware of what these are.
                        </p>
                    </li>
                    <li>
                        <p><u>What we get automatically when you use or access our Services.</u> When you use or access our Services, we collect information about
                            your interactions with our Services. For example, a STICH that you liked or shared. Some example to explain in details:
                        </p>
                        <ol class="la">
                            <li>
                                <p>
                                    Cookies. When you use or access our Services, we may use cookies or similar technologies like tracking pixel or web beacons
                                    to collect information about how you use and interact with STICHIO’s Services. We use different kinds of cookies; “session
                                    cookies” or “stored cookies” that allow us to customize your experience and interactions with our Services. For example, we
                                    don’t want you to go through the hassle of informing us about your preferences every time you use our Services, so we may store
                                    this information in cookie on your device.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Usage or Log Data: when you use our Services, we may automatically record in our database including information send by browsers
                                    (google chrome, internet explorer, firefox, opera etc.) called “log data”. The log data may include the time you used our Services,
                                    the browser you used and its settings, the webpages you visited on our website, and how you reached these webpages and similar information.
                                </p>
                            </li>
                            <li>
                                <p>
                                    We also collect information about the devices you operate to use or access our Services. Device information includes and is not limited
                                    to types of device (desktop, laptop or mobile device), brand, make, operating system and other applicable settings.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            <u>What we get from our business partners, advertisers and other third parties.</u>
                        </p>
                        <ol class="la">
                            <li>
                                <p>
                                    Our business partners and online advertisers may share information with the us and other websites or apps or service providers where they
                                    run promotions, advertisements or any other relevant material or content to measure and/or improve those promotions or advertisements. An
                                    example of such information will be whether clicks on promotions led to redirection to a third party link.
                                </p>
                            </li>
                            <li>
                                <p class="last">
                                    We use third-party analytics tools to help us measure traffic and usage trends of our Services. These tools collect information sent by your
                                    device or our Service, add-ons, and other information that assists us in improving our Services. We collect and use this analytics information
                                    at an aggregate level i.e. with analytics information from other Users such that it cannot reasonably be used to identify you or any particular individual User.
                                </p>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li> <h2>How we use the information</h2>
                <p>
                    <b>In short, we use the information we collect to improve your experience, enhance or introduce new features and protect you, us and other users!</b>
                </p>
                <p>
                    We use the information to:
                </p>
                <ol class="lr">
                    <li>
                        <p>
                            Improve, deliver, operate, maintain and protect our Services to you.
                        </p>
                    </li>
                    <li>
                        <p>
                            Analyze, monitor and draw insights about trends and usage.
                        </p>
                    </li>
                    <li>
                        <p>
                            Provide personalized content and show relevant suggestions while you use our Services.
                        </p>
                    </li>
                    <li>
                        <p>
                            Research, develop and test new products and services after all we here to bring new,
                            exciting and useful features, content, products and services for you.
                        </p>
                    </li>
                    <li>
                        <p>
                            Send you frequent updates such that you do not miss anything important and are always connected to new and interesting content.
                        </p>
                    </li>
                    <li>
                        <p>
                            Help you find relevant content, connect with other users with similar interests, find your friends and family or help them find you.
                        </p>
                    </li>
                    <li>
                        <p class="last">Troubleshoot and fix technical glitches (no one likes a technical problem to cause a disruption and we are no different)</p>
                    </li>
                </ol>
            </li>
            <li> <h2>Sharing of Information</h2>
                <p><b>In brief, we never share your personal information with anyone!</b></p>
                <ol class="lr">
                    <li>
                        <p>We will not trade, sell or rent your personal information such as contact information with anyone.
                            If we ever need or want to, we will seek your consent to do so.
                        </p>
                    </li>
                    <li>
                        <p>
                            We will share your personal information, if and only if, we reasonably believe that disclosure is
                            required to comply with the law; legal or regulatory proceeding; investigate potential violation of
                            our <a ui-sref="policy.terms" class="exclude policy-link"></a>; detect or resolve fraud.
                        </p>
                    </li>
                    <li>
                        <p class="last">
                            We may share data we collect or insights we derive, on an aggregated basis and not linked to or leading
                            to identification of any user, with our business partners, affiliates, advertisers or subsidiaries.
                        </p>
                    </li>
                </ol>
            </li>
        </ol>
        <section>
            <h2>Feedback</h2>
            <p>
                We value hearing from you, our other users, partners, suppliers, and other stakeholders. We are tirelessly endeavoring to improve our Services
                and are always interested in learning about ways we can make STICHIO’s services better for you and the world. You can submit comments, suggestions,
                ideas or feedback to us anytime by contacting us.
            </p>
        </section>
    </div>
</div>