<div class="policy-cnt">
    <div class="content">
        <p style="font-size: 10px;">Date: 18-July-2017</p>
        <h2 class="center">Welcome to STICHIO!</h2>
        <p>STICHIO is a brand owned by Payquba Ind Pvt Ltd. The Terms of Service ("Terms") governs your “a user” access to and use of STICHIO’s website, applications, software(s),
            browser plugins, services, products, related services (collectively referred as "Services") and relevant upgrades of these Services. We request you to read these Terms
            carefully and <a ng-click="contactUs()"  class="exclude policy-link">contact us</a> if you have any questions, queries or suggestions for improvement. By using our Services, you agree to be bound by these <a ui-sref="policy.terms" class="exclude policy-link">Terms</a>, <a href="/#/policy/terms/#copyrightPolicy" class="exclude policy-link">Copyright Policy</a>,
            and <a ui-sref="policy.privacy" class="exclude policy-link">Privacy Policy</a>. </p>
        <p>We're continuously improving our Services and creating new ones all the time. Therefore we may add or remove features, products, functionalities, services or related services
            and we may also suspend or stop the Services altogether without any notice to you.
        </p>
        <p class="last">
            It should also be noted that we may modify, terminate or suspend these terms or part of these terms, with or without cause or notice to you. Upon modification, termination or
            suspension, you continue to be bound by Section 2 and Sections 4 to 8 of these Terms unless specifically specified by us through an official notice. The most current version
            will always be posted on our website.
        </p>
        <ol class="d">
            <li> <h2>Use of STICHIO’s Services</h2>
                <ol style="list-style-type: lower-roman;">
                    <li>
                        <p>
                            You can use our Services only in compliance with these Terms and all applicable laws. When you create a STICHIO account, you agree to provide us with accurate and
                            complete information. You here means:
                        </p>
                        <ol class="la">
                            <li><p>An individual acting on her/his own behalf.</p></li>
                            <li>
                                <p>
                                    An individual, representing or acting on behalf of a company, organization, government, agency or any other legal entity, who is fully authorized by the
                                    entity to bind the entity to permissions, conditions and licenses provided in these Terms.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p class="last">You agree to abide by these Terms as well as are fully aware of and accept our <a ui-sref="policy.privacy" class="exclude policy-link">Privacy Policy</a>.</p>
                    </li>
                </ol>
            </li>
            <li> <h2>Content</h2>
                <ol class="lr">
                    <li>
                        <p>
                            Text, Images, GIFs, videos, questions, answers, interactions, comments, weblinks and other materials present on the website or in relation to our Services, individually
                            and/or collectively, are called “Content”. We also allow you to post such Content and anything that you post or otherwise make available to us is referred to as "User Generated
                            Content." You are solely responsible for the Content “User Generated Content or UGC” you generate at STICHIO’s website or other portals. You also agree that you may be restricted
                            or fully barred by us, for any reason whatsoever that is deemed fit by us, to generate some portions or even the whole of Content. Should you face such a situation, you can always
                            <a ng-click="contactUs()"  class="exclude policy-link">contact us</a> for clarification.
                        </p>
                    </li>
                    <li>
                        <p>
                            STICHIO does NOT claim ANY ownership rights in the content posted on its website. However, you grant STICHIO, its business partners (as allowed by STICHIO under separate agreements)
                            and its users a non-exclusive, royalty-free, transferable, worldwide license to use, store, display, reproduce, modify, delete (in some special cases), create derivative works,
                            perform, and distribute your UGC. Nothing in these Terms shall restrict other legal rights STICHIO may have to UGC. We reserve the right to remove or modify UGC for any reason, including
                            UGC that we believe violates these Terms or any of its policies.
                        </p>
                    </li>
                    <li>
                        <p>
                            You agree that after termination or deactivation of your account or access to STICHIO’s Services, or if you yourself remove any UGC from STICHIO’s website or any other interface, STICHIO
                            may retain your UGC for any period of time for improvement of its Services, archiving, backup or audit purposes. Furthermore, STICHIO, its business partners specifically allowed under separate
                            agreements and its users may retain and continue to use, modify and distribute any of your UGC that they have stored or used before your UGC was removed by you.
                        </p>
                    </li>
                    <li>
                        <p>
                            You agree to abide by <a href="/#/policy/terms/#copyrightPolicy" class="exclude policy-link">Copyright Policy</a> of STICHIO. For more information, please read our <a href="/#/policy/terms/#copyrightPolicy" class="exclude policy-link">Copyright Policy</a>.
                        </p>
                    </li>
                    <li>
                        <p>You agree that:</p>
                        <ol class="la">
                            <li><p>You will not post any content or UGC that is culturally, regionally, nationally offensive.</p></li>
                            <li><p>You will respect all genders and will not abuse, harass, threaten, intimidate or impersonate
                                other users that use or access our Services.</p></li>
                            <li><p>You will not post nude, partially nude or sexually suggestive content.</p></li>
                            <li><p>You are fully responsible for any activity under your username.</p></li>
                            <li><p>You will not adapt, modify, hack our Services and/or modify any other website,
                                Services, Third Party links so as to falsely imply an association with STICHIO.</p>
                            </li>
                            <li><p>You will not transmit viruses, junk codes, worms, any kind of destructive & malicious
                                code or any undesirable code through our Services.</p></li>
                            <li><p>You will not crawl, scrape or cache any content from our Services unless explicitly allowed
                                by us.</p>
                            </li>
                            <li>
                                <p>You will not use our Services for any illegal activity or unauthorized purpose.</p>
                            </li>
                            <li><p>Not use our services to harass or malign anyone, whether or not a user of STICHIO’s Services.</p></li>
                            <li><p>STICHIO at its own discretion may remove any content from our Services.</p></li>
                            <li><p class="last">You will not directly misuse or adapt any content for misuse. Misuse includes & is not limited to using the content for anything that is personally, culturally, regionally, nationally offensive or sexually suggestive or illegal or destructive or causes harassment to anyone. STICHIO on its discretion may ban you from using its services and take necessary action such as a lawsuit.</p></li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li> <h2>Security</h2>
                <ol class="lr">
                    <li>
                        <p>We will ensure, to our best knowledge and capability, that all our data, storage and personal information
                            of the users are well-protected and safe against unauthorized access, alteration, disclosure or destruction.
                            You agree that we cannot guarantee that unauthorized third parties will not be able to break our security measures.
                            We request you to notify us immediately of any compromise or unauthorized use of your account such that we can take
                            corrective measures as soon as reasonably possible.</p>
                    </li>
                    <li>
                        <p>
                            STICHIO’s Services may contain weblinks to advertisers, other websites, content, blogs, social media sites,
                            offers, events, other services or activities (collectively referred as “Third Party Links”) that cannot be
                            controlled or are not owned Payquba Ind Pvt Ltd. Therefore, STICHIO or Payquba Ind Pvt Ltd. cannot be held liable
                            from any kind of damage to you arising from your access of these Third Party Links.
                        </p>
                    </li>
                    <li>
                        <p >
                           Using software such as a scraper or API caller to collect data from STICHIO is not allowed. Such activities will not be tolerated and STICHIO will take necessary action including legal action should such an activity be detected.
                        </p>
                    </li>
                    <li>
                        <p class="last">
                            STICHIO or Payquba Ind Pvt Ltd. cannot be held responsible for failure of users or third parties, such as facebook, google, whatsapp or other third parties who are integrated with STICHIO’s services without a direct business relationship, to protect user’s non-STICHIO data including but not limited to email, passwords, contact details, authentication parameters belonging to these third parties.
                        </p>
                    </li>
                </ol>
            </li>
            <li> <h2>Indemnity</h2>
                <p class="last">You agree to indemnify and hold harmless STICHIO (or Payquba Ind Pvt Ltd.) and its officers, directors, employees,
                    interns, business partners, suppliers, shareholders, licensors, affiliates, joint venture companies, subsidiaries,
                    representatives, consultants and agents, from and against any claims, suits, proceedings, disputes, demands, liabilities,
                    damages, losses, costs and expenses, including, without limitation, reasonable legal and accounting fees (including costs
                    of defense of claims, suits or proceedings brought by third parties), in any way related to
                        <u>a) your use of our Services
                        including features such as Truth and Dare. You agree that you will not use these features or any other feature in our
                        Services in such a way that can emotionally, mentally or physically harm anyone,
                        </u>
                    (b) your User Generated Content, or (c) your breach of any of these Terms including but not limited to our <a ui-sref="policy.privacy" class="exclude policy-link">Privacy Policy</a>.
                </p>
            </li>
            <li> <h2>Disclaimers</h2>
                <p class="last">THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" AND TO THE EXTENT PERMITTED BY APPLICABLE LAW WITHOUT WARRANTIES OF ANY
                    KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
                    PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. IN ADDITION, WE DO NOT REPRESENT OR WARRANT THAT: (A) THE SERVICES WILL
                    ALWAYS BE SECURE, ERROR-FREE, OR TIMELY; (B) THE SERVICES WILL ALWAYS FUNCTION WITHOUT DELAYS, DISRUPTIONS, OR IMPERFECTIONS;
                    OR (C) THAT ANY CONTENT YOU OBTAIN ON OR THROUGH THE SERVICES WILL BE TIMELY OR ACCURATE.
                    STICHIO takes no responsibility and assumes no liability for any Content that is transmitted using our Services. You understand
                    and agree that you may be exposed to Content that is inaccurate, copyrighted, illegal, offensive, misleading, objectionable,
                    inappropriate for children, or otherwise unsuited to your purpose.
                </p>
            </li>
            <li> <h2>Limitation of Liability</h2>
                <p class="last">
                    IN ANY EVENT, STICHIO OR PAYQUBA IND PVT LTD., OUR MANAGING MEMBERS, SHAREHOLDERS, DIRECTORS, OFFICERS, AGENTS, EMPLOYEES,
                    AFFILIATES, LICENSORS, AND SUPPLIERS SHALL NOT BE LIABLE, TO YOU OR ANY THIRD PARTY, FOR ANY INDIRECT, INCIDENTAL, SPECIAL,
                    CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS
                    OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR
                    USE THE SERVICES; (B) ANY CONDUCT OR CONTENT OF ANY PARTY ON THE PRODUCTS, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY,
                    OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS
                    OR CONTENT.
                </p>
            </li>
            <li> <h2>Governing Law and Arbitration</h2>
                <ol class="lr" >
                    <li>
                        <p>
                            Our Services can be accessed from anywhere in the world, however our Services except Third Party Links are controlled
                            by us from India. Applicable laws and regulations may differ from one place to another; therefore by using or accessing
                            our Services, you agree that the statutes and laws of India will be applicable for these Terms.
                        </p>
                    </li>
                    <li>
                        <p class="last">
                            For any dispute you have with STICHIO, you agree to <a ng-click="contactUs()"  class="exclude policy-link">contact us</a> to attempt to amicably resolve the dispute with us.
                            If we (You and us) are not able to mutually resolve the dispute, we each agree to resolve any claim, dispute, or
                            controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or
                            relating to these Terms by binding arbitration by any court of competent jurisdiction or arbitrator as selected by STICHIO.
                        </p>
                    </li>
                </ol>
            </li>
            <li> <h2>Miscellaneous</h2>
                <ol class="lr">
                    <li>
                        <p>
                            STICHIO reserves the right to determine the form and means of providing notifications to you, and you agree to receive legal
                            notices electronically if we choose to do so.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Assignment.</b> These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you to any party,
                            but may be assigned by STICHIO without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Entire Agreement/Severability.</b> These Terms, together with the <a ui-sref="policy.privacy" class="exclude policy-link">Privacy Policy</a> and any amendments and any additional agreements you may
                            enter into with STICHIO in connection with the Services, shall constitute the entire agreement between you and STICHIO concerning the
                            Services. If any part of these Terms is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law
                            to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>No Waiver.</b> No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and STICHIO’s
                            failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision.
                        </p>
                    </li>
                    <li>
                        <p>
                            STICHIO does not voluntarily or involuntarily creates user accounts. STICHIO only seeks real people to use & interact with its services. A user account on STICHIO can be created using only standard signup procedure on the app or website. However, it may happen that some people or third parties may create non-real user accounts. If & when such cases are discovered STICHIO will perform its own internal investigation & take necessary steps including but not limited to account closure, account block, warning message or legal action.
                        </p>
                    </li>
                    <li>
                        <p class="last">
                            <b>Promotions</b> : STICHIO from time to time may organize promotional programs such as referral programs, advertisements, competitions etc. STICHIO’s management will hold full rights to amend such programs without prior notice to its users and/or participants. Rewards or benefits related to these programs may be revoked under circumstances deemed fit by the management.
                        </p>
                    </li>
                </ol>
            </li>
        </ol>
        <section id="copyrightPolicy">
            <h2>COPYRIGHT POLICY</h2>
            <p>
                STICHIO and Payquba Ind Pvt Ltd are law-abiding entities and we fully respect the intellectual property rights of others. We do also expect you, our users,
                business partners, affiliates, employees, directors, shareholders and all other stakeholders to do the same. We at our own discretion may disable and/or
                terminate use or access of our Services to a stakeholder who infringes copyrights or other intellectual property rights.
            </p>
            <p>
                On one hand, we understand that some Content present on our website, applications or in other Services might be Copyrighted. And on the other, we consider
                removal or deletion of Content from our Services as a drastic measure. Therefore, If you are a copyright owner, or are authorized to act on behalf of one,
                or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through our Services by
                contacting us (we will designate a representative from our team to directly coordinate with you).
            </p>
            <p>
                For efficient and speedy remedy we would require the following information in a notice duly signed by you and, if required, by the copyright owner:
                <ol class="lr">
                    <li>
                        <p>Detailed information of the copyrighted work that is allegedly infringed.</p>
                    </li>
                    <li>
                        <p>Your and Copyright owner’s full contact details including email, mailing address and mobile or landline number.</p>
                    </li>
                    <li><p>Identification of Content present on our website or in our Services.</p></li>
                    <li><p>Any other information as required by law or deemed necessary by us to fully authenticate the infringement.</p></li>
                </ol>
            </p>
            <p>
                Upon receipt of all required information and successful establishment of validity of the infringement, we can proceed to removal of copyrighted
                content from our Services. Please note that despite our best efforts we may not be able to remove copyrighted content that has been modified,
                altered and content derived from the alleged copyrighted content.
            </p>
            <p class="last">To inform our stakeholders about the alleged copyright infringement, we may notify the relevant stakeholder(s) with details about the Notice so
                that they can submit a counter-notice.  We may also send a complete copy of the Notice to stakeholders where appropriate.
            </p>
        </section>
        <section>
            <h2>Feedback</h2>
            <p>
                We value hearing from you, our other users, partners, suppliers, and other stakeholders. We are tirelessly endeavoring to improve our Services
                and are always interested in learning about ways we can make STICHIO’s services better for you and the world. You can submit comments, suggestions,
                ideas or feedback to us anytime by contacting us.
            </p>
            <p>
                You agree that we can use comments, suggestions, ideas, feedback or derivatives of the same without any restriction or compensation to you.
                By accepting your submission, STICHIO does not waive any rights to use similar or related Feedback previously known to us, or developed by our
                employees, or obtained from other sources.
            </p>
        </section>
    </div>
</div>