<style>
    .sti-home-header .header-one{
        max-height: 60px;
        height: 60px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 0;
        position: relative;
    }
    .terms-nav{
        position: absolute;
        width: 100%;
        top: 21px;
        visibility: hidden;
    }
    .terms-nav .nav-wrapper{
        width: 165px;
        margin : 0 auto;
        visibility: visible;
    }
    .terms-nav .nav-wrapper li.policyBotton{
        width: 77px;
        display: inline-block;
        padding: 7px 0px;
        border: 1px solid #002545;
        border-radius: 4px;
        font-size: 10.3px;
        font-family: Helvetica;
        color : #53585f;
        text-align: center;
    }
    .terms-nav .nav-wrapper li.active{
        background: #002545;
        color: rgb(255, 221, 255);
    }
    .home-icon-wrapper .home-icon-header{
        margin-left: 10px !important;
        margin-top: 7px !important;
        width: 30px !important;
        height: 30px !important;
        background-image: url('images/Stichio_DS_Icon_Red_SS.png');
    }
    .policy-cnt{
        padding-top: 32px;
        color : #53585f;
        margin-bottom: 60px;
    }
    .policy-cnt .content{
        padding: 0px 10px 10px 10px;
        text-align: justify;
    }
    .policy-cnt .content h2{
        color : #2f3237;
        font-weight: 700;
        font-size: 16px;
        /*text-align: center;*/
        margin-bottom: 7px;
    }
    .policy-cnt .content p{
        margin-bottom: 7px;
        font-size: 11px;
    }
    .policy-cnt .content p.last{
        margin-bottom: 15px;
    }
    .policy-cnt .content h2.center{
        text-align : center;
    }
    .policy-link{
        color:#12A5F4 ;
    }
    ol > li {
        margin-left: 10px;
        font-size: 10px;
    }
    ol.lr{
        list-style-type: lower-roman;
    }
    ol.la{
        list-style-type: lower-alpha;
    }
    ol.d{
        list-style-type: decimal;
    }
     .Bottom-Border{
        border-bottom:2px solid black;
    }
</style>
<div class="sti-home-header">
    <!--<div class="header-one">-->
        <!--&lt;!&ndash;<div class="header-one-contents-wrapper">&ndash;&gt;-->
        <!--&lt;!&ndash;will have the search bar but hidden &ndash;&gt;-->

            <!--<div class="home-icon-wrapper">-->
                <!--<div id="search-popup-back-terms"  ng-click="goHome()"><i class="left-arrow-contact"></i></div>-->
            <!--</div>-->
        <!--<div class="terms-nav">-->
            <!--<ul class="nav-wrapper">-->
                <!--<a ui-sref="policy.terms">-->
                    <!--<li class="policyBotton" ng-class="parentObj.termsButtonState" style="margin-right: 10px;">-->
                        <!--Terms-->
                    <!--</li>-->
                <!--</a>-->
                <!--<a ui-sref="policy.privacy">-->
                    <!--<li class="policyBotton" ng-class="parentObj.privacyButtonSate" >-->
                        <!--Privacy Policy-->
                    <!--</li>-->
                <!--</a>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="new-header-cnt-parent">
            <div class="sti-home-header new-header-cnt">
                <div class="new-header grey" style="display: block !important;">
                    <div style="position:relative;height:100%">
                        <div tr-label="followers"  ng-class="{ 'Bottom-Border' : parentObj.termsButtonState}"  style="height: 26px; width: 100px;text-align:center ;position: absolute;left: 20%;bottom:-1px;font-weight: bold;color: black;" ui-sref="policy.terms"><p>Terms</p></div>
                        <div tr-label="following"   ng-class="{ 'Bottom-Border' : parentObj.privacyButtonSate}" style="height: 26px; width: 140px;text-align:center ;position: absolute;left: 54%;bottom:-1px;font-weight: bold;color: black;" ui-sref="policy.privacy"><p>Privacy Policy</p></div>
                        <div class="header-new-back" ng-click="goHome()"><img src="images/left_arrow_thin_black.png"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-cntnr home-right-cntnr">
            <div class="options-cnt">
                <a ui-sref="#" ng-if="loggedIn" style="display:none !important;">
                    <div class="notification-img-cnt">
                        <div class="option-icon message-icon img-div"></div>
                        <div class="notification-num-cnt">
                            <p>3</p>
                        </div>
                    </div>
                </a>
                <!--<a class="exclude" ng-click="openProfileAddPopup($event)" id="menu-button">-->
                    <!--<div class="option-icon hamburger-icon img-div"></div>-->
                <!--</a>-->
                <div class="home-menu-options">
                    <p ng-click="logout()" class="sti-cursor">Logout</p>
                </div>
                <!--<div class="message-icon-num-cnt"><span class="message-icon-num">2</div></div>-->
            </div>
            <a href="#/profile/{{::userLoggedInDetails.userId}}" ng-if="::loggedIn" style="display:none !important;">
                <div class="userInfo">
                    <img class="user-image desk-user-image sti-cursor" data-ng-src="{{userLoggedInDetails.avatar}}" />
                    <!--
    		-->
                    <div class="user-name-cnt">
                        <p class="user-name sti-cursor">{{userLoggedInDetails.username}}</p>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>
<!--<div id="openModal" class="modalDialog ham-popup sti-popup">-->
    <!--<div class="second-container">-->
        <!--<div class="sti-pop-header left-title edit-profile-main">-->
            <!--<h2 class="header">Options</h2>-->
            <!--<button title="Close" class="exclude close-popup cross-button close-popup-btn no-shadow-btn close-ham-popup"></button>-->
        <!--</div>-->
        <!--<hr style="margin-bottom:10px;" />-->
        <!--<div class="sti-pop-body ham-popup-body">-->
            <!--<div>-->
                <!--<ul class="ham-popup-menu">-->
                    <!--<li ng-if="loggedIn" ng-click="openCatPopupHome($event)">Categories</li>-->
					<!--<hr ng-if="loggedIn" />-->
                    <!--<li><a class="exclude close-ham-popup" ui-sref="policy.terms">Terms</a> </li>-->
					<!--<hr />-->
                    <!--<li><a class="exclude close-ham-popup" ui-sref="policy.privacy">Privacy</a> </li>-->
					<!--<hr />-->
                    <!--<li><a class="exclude close-ham-popup" ui-sref="policy.privacy">Careers</a></li>-->
					<!--<hr />-->
                    <!--<li>Tips & FAQ</li>-->
					<!--<hr />-->
                    <!--<li><a class="exclude close-ham-popup" ui-sref="policy.privacy">Contact Us</a></li>-->
					<!--<hr />-->
                    <!--<li ng-if="loggedIn" ng-click="logout()">Logout</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<create-frame></create-frame>-->
<!--<restich-frameadded></restich-frameadded>-->
<div ui-view>
</div>
<!--<footer ng-show="userLoggedIn"></footer>-->
<style>
    #search-popup-back-terms{
        color: #53585f;
        /* padding-left: 5px; */
        font-size: 19px;
        line-height: 45px;
        width: 44px;
        text-align: center;
        height: 45px;
        position: absolute;
    }
    .left-arrow-contact {
        border: solid currentColor;
        border-width: 0 .14em .14em 0;
        display: inline-block;
        padding: .30em;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
</style>
