 .sti-home-header .header-one{
    max-height: 60px;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 0;
    position: relative;
}
.contact-us button{
    width: 120px;
    height: 25px;
}
.sti-profile-body {
    padding-top: 150px;
}
.browser-button-cnt button {
    width: 200px;
    height: 33px;
    font-weight: normal;
    font-size: 15.88px;
}
.browser-button-cnt {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}
.hiring-page .home-icon-full {
    margin-top: 20px;
    width: 170.22px;
    height: 40.22px;
}
.browser-button-cnt button.hiring-button {
    display: none;
    position: absolute;
    float: right;
    top: 25px;
    right: 20px;
    width: 145px;
}
.contact.seperator-cnt span {
    padding: 0 50px;
    position: absolute;
    top: -1.5vw;
    left: 50%;
    display: inline-block;
    text-align: center;
    margin-left: -107.44px;
    background: #F0F0F0;
    /* font-weight: bold; */
    font-size: 3.5vw;
    color: #53585f;
    width: auto;
}
.about-stichio-box {
    width: 100%;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 41px;
}
.about-box{
 height: 100%;
 width: 50%;
 text-align: center;
 margin-bottom: 15px;
 float: left;
}
.follower-cnt {
    position: relative;
    height: 270px;
    width: 95%;
    background: #fff;
    box-shadow: 0px 1px 5px -1px gray;
    display: inline-block;
}
.about-title {
    font-size: 15px !important;
    color: #53585f;
    font-weight: bold;
    padding: 10px 10px;
    padding-bottom: 4px;
    line-height: 17px;
}
.about-text {
    font-weight: normal;
    font-size: 13.5px !important;
    color: #53585f;
    padding: 21px;
}
.about-founders-box {
    margin-top: 41px;
    margin-bottom: 41px;
}
.user-box {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.follower-cnt.founder {
    position: relative;
    height: 492px;
    width: 217px;
}
.founder-pic {
    width: 217px;
    height: 217px;
}
.founder-name {
    margin-top: 10px;
    color: #cb0000;
    font-weight: bold;
}
.founder-exp {
    font-weight: 100;
    font-size: 13px;
    color: #53585f;
    padding: 15px 15px;
    text-align: left;
}
.founder-exp {
    font-weight: 100;
    font-size: 13px;
    color: #53585f;
    padding: 15px 15px;
    text-align: left;
}
.doc-section {
    position: relative;
    height: 100%;
    margin-bottom: 48px;
}
.stichio-video {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.stichio-video2 {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.contact.loading-div {
    display: none;
    margin: 0 auto;
    margin-bottom: -70px;
    position: relative;
    top: -27px;
    left: 0px;
}
.stichio-form {
    /*margin-top: 50px;*/
    text-align: center;
    margin-bottom: 80px;
    /*height: calc(100% - 50px);*/
}
.stichio-form input {
    height: 34.66px;
    /*width: 250px;*/
    line-height: normal;
    max-height: 45px;
    min-height: 36px;
}
.stichio-form .desc-cnt {
    height: 100%;
    width: 100%;
}
.stichio-form .desc-cnt textarea{
    /*width: 250px;*/
}
.contact-button-cnt {
    width: 100px;
    margin: 0 auto;
}
.stichio-form button {
    margin-top: 30px;
    width: 100px;
}
.submit-success-msg {
    color: #009051;
    font-size: 12px;
    font-weight: bold;
    /* margin-top: 30px; */
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 15px;
}

@media only screen and (min-device-width: 350px) and (max-device-height: 740px) and (orientation : landscape) {
    /* Styles */
    .clear-float {
        clear : both;
    }

    .about-box {
        height: 100%;
        width: 33.33%;
        text-align: center;
        margin-bottom: 15px;
        float: left;
    }
    .about-title{
       padding: 20px 10px;
   }
   .follower-cnt{
       width: 170px;
   }
   .about-text{
       font-size: 12px;
   }
   .stichio-video , .stichio-video2{
       width: 50%;
       float: left;
   }
   .user-box {
       width:50%;
       float: left;
   }
   .follower-cnt.founder{
       width: 275px;
       height: 550px;
   }
   .follower-cnt.founder .founder-pic{
       width: 275px;
       height: 275px;
   }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation : landscape) {
    /* Styles */
    .follower-cnt{
       width: 300px;
   }
   .follower-cnt.founder{
       width: 300px;
       height: 500px;
   }
   .follower-cnt.founder .founder-pic{
       width: 300px;
       height: 300px;
   }
   .stichio-form .name-cnt input , .stichio-form .desc-cnt textarea{
       width:300px;
   }
   .contact-button-cnt , .contact-button-cnt button{
       width: 170px;
   }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) and (orientation : portrait) {
    /* Styles */
    /*.c ontact.seperator-cnt span.special{*/
        /*margin-left: 0 !important;*/
        /*left : 0% !important;*/
        /*}*/
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        /* Styles */

        .clear-float{
           clear: both;
       }
       .user-box{
           width: 50%;
           float: left;
       }
       .about-box{
           width: 33.33%;
           float: left;
       }
       .follower-cnt.founder {
           height: 595px;
           width: 365px;
       }
       .follower-cnt .founder-pic{
           width: 365px;
           height: 365px;
       }

       .stichio-form .name-cnt input , .stichio-form .desc-cnt textarea{
           width:75%;
       }
       .contact-button-cnt , .contact-button-cnt button{
           width: 50%;
       }
       .stichio-video , .stichio-video2 {
           float: left;
           width: 50%;
       }

   }

   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */

    .clear-float{
       clear: both;
   }
   .user-box{
       width: 50%;
       float: left;
       margin-bottom: 35px;
   }
   .about-box{
       width: 33.33%;
       float: left;
   }
   .follower-cnt.founder {
       height: 595px;
       width: 365px;
   }
   .follower-cnt .founder-pic{
       width: 365px;
       height: 365px;
   }

   .stichio-form .name-cnt input , .stichio-form .desc-cnt textarea{
       width:75%;
   }
   .contact-button-cnt , .contact-button-cnt button{
       width: 50%;
   }
   .stichio-video , .stichio-video2 {
       float: left;
       width: 50%;
   }
}