.imagePopup {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
}

#popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  /*height: auto;*/
  max-width: 600px;
  width: 100%;
  transform: translate(-50%, -50%);
}

#popupImage {
  width: 100%;
  max-width: 600px;
  display: block;
}

.blur{
	filter : blur(5px);
	-webkit-filter: blur(5px);
}

#weblink {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
  overflow: hidden;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.5);
}

#weblink ul {
  font-size: 18px;
  list-style-position: inside;
  list-style-type: disc;
  color: #cb0000;
  display: inline-flex;
}

#weblink ul li {
  width: 18px;
  line-height: 25px;
  padding-left: 8px;
}

#actionIcons {
  position: fixed;
  top: 0;
  right: 0;
  width: 35px;
  margin: 10px;
}

#actionIcons > img {
  height: 35px;
  width: 35px;
  margin-bottom:10px;
}
