.main-header-cnt{
    width: 100%;
    height: auto;
    /*font-family: inherit;*/
    color: #53585f;
    font-family: Helevitica;
}
.main-header-cnt .header-top{
    width: 94%;
    height: 50px;
    padding-top: 20px;
    font-size: 14.34px;
    margin: 0 3%;
}
.header-top .header-top-left{
    float: left;
}
.header-top .header-top-right{
    float: right;
}
.header-mid{
    width: 100%;
    height: 65px;
    text-align: center;
    margin-bottom: 4%;
}
.header-mid img{
    margin-bottom: 10px ;
}
.header-bottom{
    text-align: center;
    padding: 0 15px;
    margin-bottom: 5%;
    line-height: 18px;
}
.main-content-wrapper{
    width: 100%;
    padding: 0px 3%;
    /*background-color: #fff;*/
    /*text-align: center;*/
}
.main-content-wrapper .main-content-row{
    display: inline-flex;
    width: 100%;
    margin-bottom: 4%;
    /*height: 180px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}
.main-content-row .icon-cnt-block{

    margin: auto 0;
    margin-right: 3%;
}
.main-content-row .icon-descrption{
    width: 80%;
    /*margin: auto 0;*/
    /*padding: 8px 0;*/
    background-color: #DDDDDD;
    border-radius: 5px;
}
.icon-descrption p{
    display: block;
    letter-spacing: 0.2px;
    line-height: 16px;
    font-size: 14.34px;
    /* margin: auto 0; */
    margin-bottom: 3px;
    /* margin-left: 10px; */
    color: #53585f;
}
.icon-descrption-clone{
    display: block;
    letter-spacing: 0.2px;
    line-height: 16px;
    font-size: 11.34px;
    font-weight: bold;
    /* margin: auto 0; */
    margin-bottom: 3px;
    /* margin-left: 10px; */
    color: #53585f;
}
.icon-descrption div
{margin: 3% 0 3% 8px;}
.footer-content-cnt{
    position: absolute;
    width: 94%;
    bottom: 2%;
    margin: 0 3%;
}
.footer-content-cnt .footer-nav-cnt {
    position: absolute;
    z-index: 9999999;
}
.footer-content-cnt div {
    /*width: 94%;*/
    /*position: fixed;*/
    /*bottom: 2%;*/
}
/*.footer-content-cnt div{*/
/*text-align: center;*/
/*}*/
/*.footer-content-cnt div:first-child{*/
/*text-align: left;*/
/*} .footer-content-cnt div:last-child{*/
/*text-align: right;*/
/*}*/
.footer-content-cnt div ul{
    list-style-type: circle;
    list-style-position: inside;
    display: inline-flex;
    color: #cb0000;
}
.footer-content-cnt div ul li{
    /*display: inline-block;*/
    width: 17px;
    height: 0px;

}
.footer-content-cnt div ul li{
    font-size: 25px;
}
.list-style-type-disk{
    list-style-type: disc;color: #cb0000;
}
.image-top-wrapper,.image-bottom-wrapper{
    display: inline-flex;
    width: 100%;
}
.image-top-wrapper > div,.image-bottom-wrapper > div{
    /*width: 155px;*/
    width: 50%;
    /*box-shadow: 0.5px 0px 3px rgba(0,0,0,0.5);*/
}
.image-top-wrapper div > div,.image-bottom-wrapper div > div{
    width: 90%;
    margin: 0 auto;
}
.image-top-wrapper div img,.image-bottom-wrapper div img{
    /*height:155px;*/
    /*width:155px;*/
    width: 100%;
    height: 100%;
}
.top-image-description{
    height: 50px;
    width: auto;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
    display: table;
}
.top-image-description p{
    width: 100%;
    /*height: 100%;*/
    display: table-cell;
    vertical-align: middle;
    /*height: 40px;*/
    text-align: center;
    line-height: 16px;
    padding: 0% 0;
    margin: 0 auto;
    font-size: 12.34px;
    color: #53585f;
}
.stich-box-details.stich1{
    width: 85%;
    margin: 0 auto;
}
.intro-bigger-icon{
    height: 50px;
    width: 50px;
}
.blue-button{
    background-color: #0085EF;
}
.red-button{
    background-color: #cb0000;
}
.pink-button{
    background-color:#EA0F6B;
}
.image-top-wrapper .search-popup-img > div,.image-bottom-wrapper .search-popup-img > div{
    width: 70%;
}
.icon-descrption > div .category-descrption{
    font-size: 12.34px;
    line-height: 14px;
}
.icon-descrption div .intro-category-name{
    font-size: 12.34px;
    margin-bottom: 2px;
}
.truthintro.stich-icon-popup:after, .truthintro.stich-icon-popup:before{

    left: 19px !important;
}
.dareintro.stich-icon-popup:after, .dareintro.stich-icon-popup:before{

    left: 84px !important;
}
.search-input-box{
    margin: auto 7px;
    padding-top: 5px;
}
.search-input-box  div{
    width: calc(100% - 44px);
    height: 34px;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    position: relative;
    display: inline-block;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
}
.search-input-box input{
    border: none;
    height: 99%;
    display: inline-block;
    width: 100%;
}
.give-dare-box.fixed {
    display: none;
    position: fixed;
    top: 0;
    z-index: 99999;
    /*max-width: 590px;*/
    margin:auto;
    width: 100%;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: #f0f0f0;
    /*box-shadow: 0px 3px 5px -2px gray;*/
    box-shadow: none;
}
.give-dare-box h1.abc {
    font-size: 14.34px;
}
@media screen and (max-width: 340px) {
    .give-dare-box h1.abc {
        font-size: 13.34px;
    }
}
.home-search-cnt{
    line-height: 25px;
    display: inline;
    float: right;
    height: 30px
}
.new-home-header{
    display: block !important;
    padding-top: 7px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
}
.nav-top{
    top: -60px;
}
.nav-top1{
    top: 45px;
}
.selected-icon{
    border-bottom: 1px solid #cb0000;
}

.share-dare-cnt{
    /*position: absolute;*/
    /*top: 100px;*/
    /* bottom: 0; */
    /*left: 0;*/
    /*right: 0;*/
    height: auto;
    padding: 10px;
    /*display: none;*/
}
.dare-cross-icon{
    position: absolute;
    right: 10px;
    top: 10px;
}
.share-dare-cnt h1,.weblink-cnt p{
    color:#53585f;
    font-size: 14.34px;
    text-align:center;
    line-height: 20px;
}
.upvote-arrow-icon{
    width: 15px;
    padding: 8px 5px;
    vertical-align: middle;
}

.selected-icon{
    border-bottom: 1px solid #cb0000;
}


.home-container{
    max-width: 1162px;
    margin: 0 auto;
    overflow: hidden;
}
@media only screen and (max-width: 1177px) {
    .home-container { width: 881px; }
    .left-box { display: none; }
}
@media only screen and (max-width: 881px) {
    .home-container { width: 600px;}
    .right-box { display: none; }
}
@media only screen and (max-width: 600px) {
    .home-container { width: 100%;}
}
.middle-top-cnt{

}
.find-friends{
    max-width: 600px;width:calc(100% - 10px);margin: 10px auto;display: flex;margin-top: 0;
}
.friends-header-icon > div:first-child{
    width:34px;display: inline-block;
}
.friends-header-icon > div:nth-child(2){
    display: inline-block;width: calc(100% - 107px);padding: 0 4px;padding-right: 0;
}
.friends-header-icon > div:nth-child(2) h1{
    font-size: 14.34px;text-align: left;color:#cb0000;font-weight: bold;line-height: 32px;
}
.friends-header-icon > div:nth-child(3){
    width:84px;position: relative;
}

.dt-hover:hover {
    color: #3987CC;
}

.left-box {
    width: 266px;
    float: left;
    /*height:500px;*/
    margin: 5px 10px 5px 5px;;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 5;
}

.fb-layout {
    background: white;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 266px;
    float: left;
    height: 154px;
}
.fb-layout-clone {
    background: white;
    width: 266px;
    height: 154px;
    margin-bottom: 10px;
    overflow: hidden;
}
.center-box {
    width: 100%;
    max-width: 600px;
    /*min-height: 400px;*/
    float: left;
}

.center-box-wide {
    width: 600px;
}
.right-box {
    width: 266px;
    float: left;
    margin: 5px 5px 5px 10px;
    z-index: 5;
}
.dare-header-cnt {
    border: 1px solid #e6e9eb;
    padding-top: 0;
    min-height: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.middle-top-cnt {
    float: left;
    /*width: calc(100% - 286px);*/
}
.middle-top-l {
    float: left;
    width: 600px;
}
.middle-top-r {
    width: 266px;
    margin-bottom: 10px;
}
.main-stiches-cont {
    /*width: 600px;*/
    /* margin-left: 286px; */
    margin-top: 154px;
    position: relative;
}
.find-friends {
    width: 100%;
    font-size: 13.34px;
}
.friends-header-icon div:first-child {
    display: none;
}
.friends-header-icon > div:nth-child(2) {
    width: calc(100% - 77px);
}
.friends-header-icon > div:nth-child(2) h1 {
    font-size: 13.34px;
}
.friends-header-icon > div:nth-child(3) {
    width: 75px;
}
.td-cnt {
    width: 266px;
    background: white;
    border: 1px solid #e6e9eb;
    border-radius: 3px;
    padding: 5px;
}
.td-header {
    padding: 8px 5px;
    display: flex;
}
.td-header h1 {
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13.34px;

}
.td-main-cnt{}
.td-user-pic {
    height: 25px;
    width: 25px;
    -webkit-border-radius: 50%;;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.single-td {
    padding: 3px 0px;
    font-size: 12px;
    color: #53585f;
    line-height: 14px;
}

.dropdown-wrapper{
    display: flex;
    background: #fff;
    padding: 2.5px 0;
    margin: 5px 0;
    line-height: 25px;
    font-size: 14.34px;
    text-align: center;
}
.dropdown-box{
    text-align: center;
    /* width: 50%; */
    display: inline-block;
    /* width: 113px; */
    margin: auto;
    color:#ec5d57;
    font-size: 12.34px;
    position: relative;
    left: -8px;
}
.dropdown-box > p{
    display: inline-block;
}
.dropdown-items,.dropdown-items1{
    border-radius: 3px;
    background: #fff;
    margin-left: 13px;
    margin-top: 10px;
    z-index: 9999999;
    min-width: 80px;
    padding: 4px 0px;
    top: 17px;
    right: -28px;
    width: 120px;
    outline: 0;
    display: none;
    -webkit-box-shadow: 3px 3px 10px -1px gray;
    -moz-box-shadow: 3px 3px 10px -1px gray;
    box-shadow: 3px 3px 10px -1px gray;
}

.dropdown-items:before,.dropdown-items1:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 9px solid;
    border-color: transparent;
    border-bottom-color: #ddd;
    top: -18px;
    right: 18px;
}.dropdown-items:after,.dropdown-items1:after{
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     border: 7px solid;
     border-color: transparent;
     border-bottom-color: #fff;
     top: -14px;
     right: 20px;
 }
.dropdown-items-style{

    color: #53585f;
    width: 100%;
    line-height: 15px;
    font-size: 12.34px;
    font-weight: normal;
    padding: 1px 8px;
}
.dropdown-items-style:hover{
    background:  #ec5d57;
    color: white;
}

.userprofile-darebox::-webkit-input-placeholder {
    font-size: 12.34px;
    color: #7d7d7d !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 0;
}
.userprofile-darebox:-moz-placeholder { /* Firefox 18- */
    color: #7d7d7d !important;
    font-size: 12.34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   padding: 10px 0;
}

.userprofile-darebox::-moz-placeholder {  /* Firefox 19+ */
    color: #7d7d7d !important;
    font-size: 12.34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 0;
}

.userprofile-darebox:-ms-input-placeholder {
    color: #7d7d7d !important;
    font-size: 12.34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 5px;
}

.home-search-cnt img
{
    height: 20px;
    vertical-align: bottom;
}

.btn-border{
    border-radius: 3px;
}
/*@media screen and (min-width: 415px){
    .user-name-cntnew{
        width: 71.8%;
    }
}*/

.give-dare-box h1.abc {
    font-size: 14.34px;
}

@media screen and (max-width: 340px){
    .give-dare-box h1.abc {
        font-size: 13.34px;
    }
}

.tw-widget-clone-cnt, .ig-follow-btn{
    width: 100%;
    height:30px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 3px;
    display: flex;
}

.tw-widget-clone-cnt {
    background: -webkit-radial-gradient(#48a6ea, #1b95e0); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#48a6ea, #1b95e0); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#48a6ea, #1b95e0); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#48a6ea, #1b95e0); /* Standard syntax (must be last) */
}

.tw-widget-clone-cnt:hover{
    background: -webkit-radial-gradient(#0e8ede, #0c7abf); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#0e8ede, #0c7abf); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#0e8ede, #0c7abf); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#0e8ede, #0c7abf); /* Standard syntax (must be last) */
}

.ig-follow-btn {
    background: -webkit-radial-gradient(#6688a9, #55718D); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#6688a9, #55718D); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#6688a9, #55718D); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#6688a9, #55718D); /* Standard syntax (must be last) */
}

.ig-follow-btn:hover {
    background: -webkit-radial-gradient(#436a92, #304d6a); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#436a92, #304d6a); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#436a92, #304d6a); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#436a92, #304d6a); /* Standard syntax (must be last) */
}

.login-button{
    height: 25px;
    font-size: 11px;
    padding: 0 10px;
    border-radius: 3px;

}