.create-frame-popup > div {
    width: 100%;
    max-width: none;
    min-width: 0;
    max-height: none;
    margin-top: 0;
    height: 100%;
    margin-bottom: 0;
    background: #fff !important;
    border: none;
	overflow: auto;
}
.create-frame-popup > div::-webkit-scrollbar-track{
	background-color: transparent;
}
.create-frame-popup > div::-webkit-scrollbar{
	background-color: transparent;
}
.create-frame-popup > div::-webkit-scrollbar-thumb{
	background-color: transparent;
}
.create-frame-popup .search-cnt, .create-frame-popup .add-stichers-cnt {
	display: none;
}

.create-frame-btn {
	background: linear-gradient(#e20000, #cb0000);
    border: none;
    color: #fff;
    box-shadow: 0 2.5px 2px -2px gray;
    float: none !important;
    font-size: 11px;
    height: 25px;
    width: 30%;
	max-width: 150px;
}

.create-frame-btn:hover {
	-webkit-box-shadow: inset 0 0 18px #860A0A;
	       -moz-box-shadow: inset 0 0 18px #860A0A;
	            box-shadow: inset 0 0 18px #860A0A;
}
.create-frame-header {
	background: #fff;
	height: 45.5px;
}

.create-frame-body {
	padding-top: 17.5px;
	border-top: 1px solid #c7c7c7;
}

.create-frame-header h2 {
	margin-top: 18.5px;
	font-size: 11px;
}

.close-popup {
	margin: 17.5px 0 0 0;
}

.popup-back {
	float: left;
}

.create-frame-popup .dropdown-cnt > div{
	background: #fff
}

.sti-popup input[type="text"], .sti-popup select, .desc-cnt textarea {
	font-size: 14.34px;
	border-color: #9e9e9f;
}
.create-frame-popup .padding-cnt {
	margin-top: 15px;
}

.create-frame-btn-cnt.padding-cnt {
	text-align: center;
	margin-top: 25.5px;
}

.dropdown-cnt.padding-cnt {
	margin-top: 12px;
}

.loading-div {
	right: auto;
	margin-left: 20px;
	width: 22.55px;
    height: 22.55px;
}

.popup-back {
	display: inline-block;
}
.added-frame-msg{
	width: 100% !important;
	position: relative;
}
.added-frame-msg p {
	font-size: 10px;
	color: #53585f;
}

.added-frame-add-stich-cnt button {
	font-size: 10px;
	float: none;
	/*position: absolute;*/
}

.categoryDropdown option:first-child {
	font-size: 9px;
}

.sti-pop-header {
	padding: 0 21.33px 0 21.33px;
}

.dropdown-cnt select {
	height: 34.66px;
}




.login-popup > div > div{
	position:relative;
	margin: 0 auto;
	top: 0;
	right: 0;
	min-height:352px !important;
}
.login-popup .sign-in-cnt{
	padding-top: 10px;
}
.login-popup > div{
	min-width: 100%;
	max-width:100%;
	height:100%;
	margin-top:0px !important;
}
.login-popup .sign-in-cnt, .login-popup .sign-up-cnt, .login-popup .forgot-pass-cnt, .login-popup .reset-pass-cnt{
	padding-top: 10px;
	border-radius: 3px;
}
@media screen and (max-width : 640px){
	.login-popup > div > div{
		width: 70%;
		min-width: 247.5px !important;
	}
}
@media screen and (min-width: 640px){
	.login-popup > div > div{
		width: 422.4px !important;
	}
	.login-popup .sign-in-cnt{
		padding-top: 10px;

	}
	.login-popup .sign-up-cnt{
		padding-top: 10px;

	}
	.action-btns-cnt > div {
		width: 45%;
	}

}

.modalDialog > div{
	border:none;
}
.sti-pop-header.left-title.edit-profile-main h2{
	float:none;
	margin-left:0px;
	margin-top:20px;

}
.edit-profile-body{
	background-color:#fff;
	-webkit-appearance: none;
}
.edit-profile-body .user-name{
	line-height: 13px !important;
	font-size: 13px !important;
}
.edit-profile-body hr{
	margin-top: 15px;
	margin-bottom: 15px;
}
.edit-profile-popup > div {
    width: 100%;
    margin-top: 0px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}



.second-container::-webkit-scrollbar{
	width: 0px;
}
.edit-profile-popup .info-value.gender{
	font-size: 11px;
}
.edit-email-cnt .info-value{
	font-size: 13px;
}
.edit-email-cnt .email-error {
	font-size: 12px;
	color: red;
}
.edit-gender-cnt .info-value label:last-child{
	margin-left:20px;
}
.info-value.gender input{
	vertical-align: middle;
	display: inline-block;
}
.info-value.gender span{
	vertical-align: sub;
	vertical-align: -webkit-baseline-middle;
	display: inline-block;
}
.edit-password-cnt .info-value{
	margin-top: -5px;
	float: none;
}
.edit-selection-cnt .user-email-cnt .info-label{
	width:100% !important;
}
.edit-selection-cnt .user-email-cnt .info-value{
	width:100% !important;
	margin-top:6px;
	/*max-width: 490px;*/

}
.email-ellipsis{
	max-width: 120px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

}
@media screen and (min-width: 360px){
	.email-ellipsis {
		max-width: calc(100% - 100px);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
@media (min-width: 500px) {
	.email-ellipsis {
		max-width:60%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
.save-profile-btn{
	position: absolute;
    top: 15px;
    left: 20px;
    width: 50px;
    height: 24px;
}
.edit-selection-cnt .user-email-cnt .info-value input{
	margin-bottom: 2px;
	box-sizing: content-box !important;
	width: 100%;
	height: 27px;
}
.input-grp-cp{
	width:80%;
	margin-bottom: 10px;
	margin-left:20px;
	max-width: 500px;
}
.input-grp-cp table{
	width: 100%;
	max-width: 500px !important;
}
.input-grp-cp input{
	/*height:27px;*/
	padding:5px;
	margin:10px;
	width: 100%;
	-webkit-appearance: none !important;
	/*text-align: center;*/
}
.button-grp-cp{
	margin-left: 22px;
	margin-right: 20px;
	margin-top:36px;
	padding:0 38px;
	max-width: 500px !important;
	position: relative;
}
@media screen and (min-width:414px){
	.button-grp-cp{
		padding:0 100px;
	}
}
.button-grp-cp button{
	width: 55px !important;
	padding: 5px;
	margin-right:10px;
}
.button-grp-cp button:first-child{
	float:left !important;
}
.button-grp-cp button:last-child{
	float:right !important;
}
.password-loading-div .spinner{
	margin-top: 2px;
}
.error-msg-cp{
	font-family: Helvetica;
	font-size: 11px;
	margin-left: 12px;
}
.change-pass-btn {
	width: auto !important;
}
.password-words {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 10px;
}

.password-words p {
	font-size: 9.88px;
	font-family: Helvetica;
	width: 33.33%;
	float: left;
}
.password-words p i{
	color: grey;
}
.select-topics-cnt{
	height:250px;
	overflow: auto;
	margin-top: 10px;
	position: relative;
	overflow-x: hidden;
}
@media screen and (min-width:480px){
	.select-topics-cnt{
		height: 300px;
	}
}
@media screen and (min-width:640px){
	.select-topics-cnt{
		height: 400px;
	}
}
@media screen and (min-width:720px){
	.select-topics-cnt{
		height: 500px;
	}
}
.single-topic{
	display:inline-block;
	width:98px;
	position: absolute;
	margin-top:5px;
}
.single-topic img{
	width: 88px;
	height: 80px;

}
.single-topic-name{
	width: 100%;
	text-align:center;
	background: rgba(0,0,0,0.7);
	color: white;
	font-family: Helvetica;
	margin: 0px 0px 5px 0px;
	padding: 2px 0px;
	font-size: 13.34px;
	position: absolute;
	top: 76%;
}
.hover-tick{
	background: rgba(0,0,0,0.5);
	width : 100%;
	height: 100%;
	margin-right:5px;
	margin-bottom:5px;
	position: absolute;
}
.hover-tick img{
	width: 26.37px;
	height:20px;
	position: absolute;
	top: 28%;
	left: 35%;

}
.error-message{
	color: red !important;
	font-family: Helvetica;
	font-size: 11px;
}
.edit-info-cnt .user-name-cnt {
	display: inline-block;
}

.edit-info-cnt .user-name-cnt {
	margin-left: 48px;
}


.edit-profile-popup .info-label, .edit-profile-popup .info-value {
	display: inline-block;
}

.edit-profile-popup .info-label {
	width: 89.77px;
}

.select-frames-cnt {
	height: 155.55px;
	overflow: auto;
}

.single-frame-cnt {
	display: inline-block;
	width: 106px;
	font-size: 12.34px;
}

.edit-profile-popup .delete-frame-btn {
	float: right;
}

.edit-profile-popup span, .edit-profile-popup p {
	color: #53585f;
	font-size: 13px
}


.edit-info-cnt span {
	font-size: 12.34px;
    display: inline-block;
    margin-left: 8px;
}

.edit-profile-popup .info-label {
	color: #53585f;
    font-weight: bold;
    font-size: 13.34px;
}
@media screen and (min-width: 414px){
	.edit-profile-popup .info-label {
	color: #53585f;
    font-weight: bold;
    font-size: 13.34px;
	}
	.edit-profile-body .user-name{
		line-height: 13px !important;
    	font-size: 10px !important;
	}
	.edit-profile-popup span, .edit-profile-popup p {
	color: #53585f;
	font-size: 11px;
}
}

.edit-pic-cnt {
	height: 17.77px;
	padding-bottom: 20px;
	width:50px;
}
.edit-pic-cnt span{
	-webkit-tap-highlight-color: rgba(255,255,255,0) !important;
}
.sti-main-btn{
	width: 50px;
	height: 25px;
	font-size: 10px;
	/*float:right;*/
	margin: 0 auto;
}
.edit-profile-verify-msg {
	margin-top: 100px;
	text-align: center;
	font-size: 15px;
}
.edit-email-button{
	float:right;
	margin-top: -4px;
	width: 50px !important;
}
@media screen and (max-width: 319px){
	.edit-email-button{
		float:none;
	}
}
.change-email-form{
	width:100%;
	margin-top:20px;
	margin-bottom: 30px;
}
.change-email-btn{
	float: right;
	width: 60px !important;
}
.close-email-btn{
	width: 60px !important;
}
.change-email-form table{
	width: 100%;
}
.change-email-form table tr input{
	width: 70%;
	/*text-align: center;*/
}
@media screen and (min-width: 700px){
	.change-email-form table tr input{
		width: 490px;
	}

}
.change-email-form table tr td label{
	font-size: 12px;
	font-family: Helevitica;
}
.change-email-form table tr td input{
	height:27px;
	margin:5px;
	padding:0px;
	-webkit-appearance: none;
}
.change-email-form table tr:last-child td{
	padding-top:15px;
	padding-bottom:15px;
}
.email-error-msg {
	color : rgb(255, 0, 0) !important;
	font-size: 11px;
	font-family: Helvetica;
}
.email-loading-div{
	/*float: right;*/
	top: 2px;
	right: 17px !important;
}
.input-grp-cp table tr td label{
	font-size:11px;
	font-family: Helvetica;
}
.upload-pic-cnt{
	width: auto;
	max-width: 500px;
	margin: 10px auto;
	margin-bottom:0px;
	text-align: center;
}
.upload-pic-cnt input{
	height: 27px !important;
	margin-right: 10px;
	/*text-align: center;*/
	line-height: normal !important;
}
.upload-pic-cnt button{
	width:auto !important;
	height: 27px;
}
.upload-pic-cnt-bottom{
	width: 100%;
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
}

.upload-pic-cnt-bottom button{
	margin-left: 20px;
	width:50px;
	height: 25px;
	padding: 6px;
	border-radius:3px;
}
.upload-pic-cnt-bottom button:first-child{
	margin-left:0px;
}
.cropArea {
  background: #E4E4E4;
  margin: auto;
  overflow: hidden;
  /*margin-bottom: 58.66px;*/
  margin-top: 20px;
}
.cropArea.big {
  width:800px;
  height:600px;
}
.cropArea.medium {
  width:500px;
  height:350px;
}
.cropArea.small {
  width:231.11px;
  height:256.88px;
}

/*Edit  Profile End*/
/*todays picks popup*/
.todays-picks-popup > div{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.todays-picks-popup-body{
	margin-bottom: 30px;
}
.todays-picks-popup > div::-webkit-scrollbar{
	background-color: transparent;
}
.todays-picks-popup > div::-webkit-scrollbar-track{
	background-color: transparent;
}
.todays-picks-popup > div::-webkit-scrollbar-thumb{
	background-color: transparent;
}
.subheading{
	text-align: center;
}
.subheading p{
	color: #53585f;
	font-family: Helvetica;
	font-size: 13px;
}
.subheading button{
	float: none !important;
	width: 100px;
	height: 25px;
	margin-top: 30px;
}
.picks-loading-div{
	margin-top: 30px;
}
.subscribe-success-message{
	color: green !important;
	font-size: 11px !important;
	font-family: Helvetica !important;
	display: none;
	margin-top: 30px !important;
}
.unsubscribe-message{
	color: red !important;
	font-size: 11px !important;
	font-family: Helvetica !important;
	margin-top: 50px !important;
	text-decoration: underline;
}
.slider{
	display: flex;
	overflow-x: scroll;
	margin-top: 40px;
	-webkit-overflow-scrolling: touch;
}
.slider > div{
	margin-left: 3px;
	margin-right: 3px;
}

.slider::-webkit-scrollbar-thumb{
	background-color: transparent;
}
.slider::-webkit-scrollbar-track{
	background-color: transparent;
}
.slider *::-webkit-scrollbar-thumb{
	background-color: transparent;
}
.slider *::-webkit-scrollbar-track{
	background-color: transparent;
}
@media screen and (orientation:landscape){
	.second-container2{
		height: 100%;
	}
}
@media screen and (orientation:portrait){
	.second-container2{
		height: 100%;
	}
}
/*todays picks popup*/

/*Ham popup starts*/

.ham-popup > div{
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.ham-popup-body{
	background-color: #fff;
}
@media screen and (orientation: landscape){
	.ham-popup-body{
		padding-top: 0px;
	}
	.ham-popup-body > div{
		margin-top: 0px;
	}
}
.ham-popup-body > div{
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.ham-popup-menu{
	list-style: none;
}
.ham-popup-menu li{
	font-family: Helvetica;
	font-size: 14.34px !important;
	/*margin:10px 0px;*/
	/*padding: 10px 0px;*/
	/*border-bottom: 1px solid grey;*/
	color: #53585f;
	line-height: 26px !important;
}
.ham-popup-menu li:hover{
	color: #cb0000;
}
.ham-popup-menu li:last-child{
	border-bottom: none;
}
.interests-popup > div{
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 20px;
}
.interests-popup-header{
	position: fixed;
	width: 100%;
	z-index: 9999999;
	background: #fff;
}
.interests-popup h2{
	margin-left: 20px !important;
}
.interests-popup-body{
	background-color: #fff;
	padding-top: 5px;
}
.clear_input_div input{
	font-size:15px;
}
.topics-wrapper{
	width: 100%;
	text-align: center;
	height: auto;
}
.single-topic{

}
.single-topic-image{

}
.topics-wrapper .search-topics{
	width: 100%;
	margin-top: 70px;
	height: 27px !important;
	line-height: normal !important;
}
.topics-wrapper .clear_input{
	top: 76px !important;
}

.follow-btn{
	float: none;
	position: absolute;
	left: 15px;
	top: 15px;
	width: 50px !important;
}
.topics-message{
	font-family: Helvetica;
	color: red;
	font-size: 12px;
	margin-bottom: 5px;
}
.hover-tick2{
	background: rgba(0,0,0,0.5);
	width : 100%;
	height: 100%;
	position: absolute;
}
.hover-tick2 img{
	width: 26.37px;
	height:20px;
	position: absolute;
	top: 39%;
	left: 39%;

}
.interests-loading-div{
	top: 15px;
	left: 10px;
	z-index: 1;
}

.recommended-frames-cnt.new-frame-page{
	margin-top: 380px;
}
.new-frame-page .load-more-cnt p{
	border-top: 1px solid #53585f;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 80%;
	margin: 0 auto;

 }
.recommended-frame-wrapper{
	display: inline-block;
	width:20%;
	margin-right: 20px;
}
.recommended-frame-wrapper img{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.recommended-frames{
	padding-top:30px;
	margin: 0 auto;
}
.recommended-frame-wrapper .img1{
	width: 50px;
	height: auto;
	float:left;
}
.recommended-frame-wrapper .img2{
	width: 25px;
	height: auto;
	float:left;
}
.recommended-frame-wrapper .img3{
	width: 25px;
	height: auto;
	float:left;
}
/*Profile Add Popup*/
.profile-add-popup{
	top:0;
	height: 100%;
}
.profile-add-popup > div{
	width: 100%;
}
@media screen and (orientation: portrait){
	.profile-add-popup > div{
		height: 100%;
	}
}
@media screen and (orientation: landscape){
	.profile-add-popup > div{
		height: 100%;
	}
}
.profile-add-popup-body{
	padding-bottom: 50px;
}
.profile-add-popup-body ul li{
	font-weight: normal;
	font-size: 12.34px;
	line-height: 26px !important;
	color: #53585f;
}
.profile-add-popup-body ul li:hover{
	color: #cb0000;
}
.profile-add-popup-body img{
	width: 25px;
    height: 25px;
    margin-left: 35px;
    float: right;
}
.close-profile-add-popup{
	margin-right: -10px;
}
.header-tags.slider::-webkit-scrollbar-thumb{
	background-color: transparent;
}
.header-tags.slider::-webkit-scrollbar-track{
	background-color: transparent;
}
.top-stichers-cnt{
	margin-top:0px !important;
	height:100%;
	background: #ffffff;
	position:fixed;
}
/**/

/*Open Stich View*/
.stich-view-popup > div{
	width: 100%;
	min-width: 100%;
	background: rgba(0,0,0,0.8);
	height: 100%;
	overflow: auto;
	/*-webkit-overflow-scrolling: touch;*/
}
.stich-view-popup > div::-webkit-scrollbar-thumb{
	background-color: transparent;
	width: 0px !important;
}
.stich-view-popup > div::-webkit-scrollbar-track{
	background-color: transparent;
	width: 0px !important;
}
.stich-view-popup > div::-webkit-scrollbar{
	background-color: transparent;
	width: 0px !important;
}
.stich-image-wrapper{
	position: relative;
}
.stich-image-wrapper .top-strip{
	width: 100%;
	background: rgba(0,0,0,0.7);
	position: relative;
	height: 40px;
}
.top-strip .stich-button-cnt{
	position: relative;
	float: left;
}
.top-strip .stich-button-cnt button{
	width: 50px;
	height: 25px;
	margin-top: 7.5px;
	margin-left: 5px;
	box-shadow: none;
}
.top-strip .action-icons{
	position: relative;
	float: right;
}
.top-strip .action-icons img{
	width: 20px;
	height: auto;
	margin: 6px 12px;
}
.floating-cross-cnt{
	position: absolute;
	right: 6px;
	top: 46px;
	z-index: 9999;
}
.go-up{
	position: fixed;
	display: none;
	z-index: 9999999;
	right: 25px;
}
.floating-cross-cnt img{
	width: auto;
	height: 25px;
	/*color: white;*/
	background: grey;
	border-radius: 50%;
	box-shadow: 0px 2px 3px black;
}
.stich-image-cnt{
	width: 100%;
	max-width: 100%;
	overflow-x:hidden !important;
	overflow-y: auto !important;
	position: absolute;
}
.stich-image-cnt::-webkit-scrollbar-thumb{
	background-color: transparent;
	width: 0px;
}
.stich-image-cnt::-webkit-scrollbar{
	background-color: transparent;
	width: 0px;
}
.stich-image-cnt::-webkit-scrollbar-track{
	background-color: transparent;
	width: 0px;
}
.main-stich-image{
	width: 100%;
	max-width: 100%;
}
.stich-description-cnt{
	width:100%;
}
.stich-description-top > div{
	display: inline-block;
}
.stich-brand{
	margin: 5px;
	width: 75%;
}
.stich-brand p{
	font-family: Helvetica;
	font-size: 11px;
	color: white;
}
.description-toggler{
	transition: rotate 500ms linear;
	-webkit-transition: rotate 500ms linear;
	position: absolute;
	display: none;
	top: 5px;
	height: 20px;
	width: 80px;
	text-align: center;
}
.description-toggler img{
	width: 15px;
	height: auto;
}
.stich-more-link{
	width: 20%;
	text-align: right;
	padding-right: 10px;
}
.stich-more-link i{
	color: white;
}
.stich-mini-menu{
	height: 100px;
	width: 131px;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	display: none;
	right: 0px;
	margin-top: -117px;
	text-align: left;
	z-index: 9999;
}
.stich-mini-menu ul{
	margin: 10px;
	list-style: none;
}
.stich-mini-menu ul li{
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 10px;
	line-height: 40px;
}
.stich-description-middle{
	width: 100%;
}
.stich-description-middle .title p{
	color: white;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 12px;
	margin: 5px;
	-ms-word-break: break-all;
	word-break: break-all;
}
.stich-description-middle .admin-desc p{
	color: white;
	font-family: Helvetica;
	font-size: 11px;
	margin: 0px 5px;
}
.stich-description-middle .admin-desc{
	max-height: 33px;
	overflow: hidden;
	transition: max-height 500ms linear;
	-webkit-transition: max-height 500ms linear;
	-moz-transition: max-height 500ms linear;
	-o-transition: max-height 500ms linear;
}
.stich-description-middle .more-link{
	float: right;
	margin-right: 15px;
	color: white;
	font-size: 10px;
	font-family: Helvetica;
	display: block;
}
.stich-stats-list{
	width: 100%;
}
.stich-stats-list ul{
	list-type: none;
	margin: 5px;
}
.stich-stats-list ul li{
	display:  inline-block;
	margin: 0px 5px;
}
.stich-stats-list ul li img{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}
.stich-stats-list ul li span{
	color: white;
	font-family: Helvetica;
	font-size: 11px;
	padding-left: 2px;
	vertical-align: baseline;
}
.frame-details{
	width: 100%;
}
.frame-details .frame-image{
	width: 30%;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}
.frame-details .frame-details-sub{
	width: 50%;
	display: inline-block;
	margin-top: 12px;
	float: left;
	margin-left: 2%;
}
.frame-details .frame-details-sub p{
	color: white;
	font-family: Helvetica;
	font-size: 11px;
	margin-top: 5px;
	word-break: break-all;
}
#tab-nav{
	height: 40px;
	z-index: 999999;
	background: #fff;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	border-bottom: 1px solid #53585f;
}
#tab-nav > div{
	text-align: center;
	display: inline-block;
	border-right: 1px solid #53585f;
	height: 100%;
	float:left;
}
#tab-nav div:first-child{
	width: 33%;
}
#tab-nav div:nth-child(2){
	width: 34%;
}
#tab-nav div:last-child{
	width: 33%;
}
#tab-nav div p{
	font-size: 11px;
	font-weight: bold;
	font-family: Helvetica;
	color: #53585f;
	padding-top: 14px;
}
#tab-nav div:nth-child(3){
	border: none !important;
}
.selected-tab{
	background-color: #cb0000 !important;
}
.selected-tab p{
	color: #fff !important;
}
.tab-container{
	position: absolute;
	width: 100%;
	background-color: #fff;
}
.tab-container > div{
	display: none;
}
.tab-container .active-cnt{
	display: block !important;
}
.tags-slider{
	width: 100%;
	height: 40px;
	background: #fff;
	overflow-y: hidden;
	overflow-x: auto;
}
.tags-slider::-webkit-scrollbar-thumb{
	background: transparent;
	width: 0px;
}
.tags-slider::-webkit-scrollbar{
	background: transparent;
	width: 0px;
}
.tags-slider::-webkit-scrollbar-track{
	background: transparent;
	width: 0px;
}
.tags-slider #tags-slider-sub{
	text-align: center;
	display: table;
	margin-top: 6px;
}
.tags-slider #tags-slider-sub div{
	width: auto;
	min-width: 100px;
	max-width: 150px;
	border: 1.5px solid #cb0000;
	border-radius: 17.5px;
	margin-left: 6px;
	margin-top: 6px;
	display: table-cell;
	vertical-align: middle;
}
.tags-slider #tags-slider-sub div:hover{
	background-color: #cb0000;
}
.tags-slider #tags-slider-sub div p{
	color:#cb0000;
	font-size: 11px;
	font-family: Helvetica;
}
.tags-slider #tags-slider-sub div p:hover{
	color: white;
}
.explore-stiches-cnt{
	background-color: #f0f0f0;
}
.search-loading-div.explore-more-ld{
	position: absolute;
}
.questions-cnt{
	background: #fff;
	padding-bottom: 50px;
}
.questions-cnt .ask-ques{
	width: 100%;
	padding: 10px 0px;
}
.questions-cnt .ask-ques > div{
	display: inline-block;
	float:left
}
.questions-cnt .user-details{
	width: 20%;
	text-align: center;
}
.questions-cnt .question-form{
	width: 70%;
}
.questions-cnt .user-details img{
	width: 35px;
	height: auto;
	border-radius: 50%;
	margin: 3px 0px;
}
.questions-cnt .user-details p{
	color: grey;
	font-family: Helvetica;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
}
.questions-cnt .question-form textarea{
	height: 36px;
	padding: 10px;
	width: 88%;
	line-height:normal;
	vertical-align: middle;
	padding-top: 12px;
}
.questions-cnt .question-form p{
	color: grey;
	font-family: Helvetica;
	font-size: 9px;
	margin-top: 8px;
	line-height: normal;
	margin-left: 20px;
}
.go-button{
    display: inline-block;
    margin-left: 7px !important;
    background: grey;
    padding: 5px;
    color: white !important;
    border-radius: 50%;
    height: 22px;
    padding-top: 6px;
	position: absolute;
	right: 10px;
	top: 7px;
}
.question-error-message{
	color: #cb0000 !important;
	font-size: 10px;
	font-weight: normal !important;
	font-family: Helvetica;
}
.questions-cnt hr{
	width: 100%;
	margin-top: 70px;
}
.question-template{
	width: 100%;
}
.question-template > div{
	float: left;
	display: inline-block;
}
.question-template .ques-user-details{
	width: 20%;
	text-align: center;
}
.question-template .ques-user-details img{
	width: 35px;
	height: auto;
	margin: 3px 0px;
	border-radius: 50%;
}
.question-template .ques-user-details p{
	color: grey;
	font-family: Helvetica;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
}
.question-template .ques-user-details .date{
	font-weight: normal !important;
	font-size: 9px;
}
.question-template .ques-details{
	width: 75%;
	height: auto;
}
.reply-div{
	margin-top: 5px;
	height: 55px;
}
.ques-details .question,.ques-details .reply-div p{
	color: grey;
	font-family: Helvetica;
	font-size: 11px;
	font-weight: bold !important;
	margin-top: 3px;
}
.ques-details .reply-div .reply-small,.ques-details .reply-div span{
	color: grey;
	font-size: 9px;
	display: inline-block;
	margin-left: 5px;
}
.ques-details .reply-div span{
	margin-left: 0px !important;
}
.ques-details .reply-div p{
	font-weight: normal !important;
	display: inline-block;
	margin-left: 5px;
}
.reply-div .answer{
	display: none;
	height: 50px;
	width: 80%;
}
.reply-div .reply-btn{
	color: white !important;
	background: grey !important;
	padding: 6px !important;
	border-radius: 50% !important;
	box-shadow: 0px 2px 2px grey !important;
	position: absolute !important;
	right: 10px !important;
	display: none;
	font-size: 9px;
}
.top-answer-template{
	width: 100%;
}
.top-answer-template > div{
	display: inline-block;
	float:left;
}
.top-answer-template .user-likes-dislikes{
	width: 17%;
	text-align: right;
	margin: 5px;
	margin-top: 20px;
	font-size:  11px;
}
.top-answer-template .top-answer-cnt{
	width: 77%;
	margin-top: -30px;
}
.user-likes-dislikes > p{
	color: grey;
	display: inline-block;
}
.top-answer-cnt .top-answer{
	width: 95%;
}
.top-answer-cnt > span{
	font-size: 11px;
	color: grey;
	font-family: Helvetica;
	margin: 5px;
}
.top-answer-cnt .top-answer > div{
	display: inline-block;
	float: left;
}
.top-answer-cnt .top-answer .top-answerer-details{
	margin: 5px;
	text-align: center;
	width: 20%;
}
.top-answer-cnt .top-answer .top-answerer-answer{
	width: 70%;
}
.top-answerer-details img{
	width: 35px;
	height: auto;
	border-radius: 50%;
}
.top-answerer-details p,.top-answerer-answer p{
	color: grey;
	font-size: 10px;
	font-family: Helvetica;
	font-weight: bold;
}
.top-answerer-details p{
	margin-top: 3px;
}
.top-answerer-answer p{
	font-weight: normal;
	font-size: 11px !important;
	margin-top: 10px;
	word-break: break-all;
}
.comment-template{
	width: 100%;
	min-height: 60px;
}
.comment-template > div{
	display: inline-block;
	float: left;
}
.comment-template .commenter-details{
	width: 30%;
	text-align: center;
	margin: 5px;
}
.comment-template .comment-cnt{
	width: 65%;
	padding-top: 10px;
	padding-bottom: 50px;
}
.comment-template .comment-cnt p{
	color: grey;
	font-family: Helvetica;
	font-size: 11px !important;
	padding: 5px;
}
.comment-template .commenter-details img{
	width: 30px;
	height: auto;
	margin: 5px;
	border-radius: 50%;
	display: inline-block;
	float: left;
}
.comment-template .commenter-details > div{
	display: inline-block;
	float: left;
	width: 50%;
	text-align: center;
}
.comment-template .commenter-details > div p{
	color: grey;
	font-family: Helvetica;
	margin-top: 1px;
}
.comment-template .commenter-details > div p:last-child{
	font-weight: normal;
	font-size: 10px;
	width: 70px;
	margin-top: 6px;
}
.comment-template .commenter-details > div p:first-child{
	font-weight: bold;
	font-size: 11px;
	position: relative;
	padding-top: 15px;
	padding-left: 10px;
}
.post-comment-btn{
	position: absolute;
	right: 5px;
	font-size: 9px;
	background-color: grey;
	color: white !important;
	padding-left: 5px;
	padding-top: 6px !important;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-weight: bold;
	margin-top: 7px !important;
}
.stich-user-comment{
	width: 86% !important;
	height: auto;
	float: left;
}
.other-comments .comment-template{
	overflow: hidden;
}
.other-comments .comment-cnt p{
	word-break: break-all;
	max-height: 50px;
	overflow: hidden;
	-webkit-transition: max-height 500ms linear;
	-moz-transition: max-height 500ms linear;
	-ms-transition: max-height 500ms linear;
	-o-transition: max-height 500ms linear;
	transition: max-height 500ms linear;
}
.other-comments .comment-template .more-link{
	display: none;
	color:red;
	background-color: white;
	font-size:10px;
	font-family:Helvetica;
	/*position: absolute;*/
	/*right: 15px;*/
	/*margin-top: 50px;*/
	float: right;
	margin-right: 15px;
	margin-top:5px;
}
.comment-action-div,.question-action-div,.answer-action-div{
	position: absolute;
	display: block !important;
	right: 10px;

}
.question-action-div{
	margin-top: -69px;
}
.comment-action-div img,.question-action-div img,.answer-action-div img{
	display: none;
	width: 9px;
	height: 9px;
}
.see-all-answers{
	color: red;
	font-size: 9px;
	font-family: Helvetica;
	position: relative;
	float: right;
	margin-right: 20px;
	margin-bottom: 5px;
}
.all-answers .top-answer-template .top-answer-cnt{
	margin-top: 0px;
}
.all-answers{
	padding-bottom: 50px;
}
.questions-loading-div,.comments-loading-div{
	display: block;
	text-align: center;
}
.questions-loading-div img,.comments-loading-div img{
	width: 40px;
	position: relative;
}
.stich-nav-cnt{
	position: absolute;
	width: 100%;
	z-index: 999;
}
.stich-nav-cnt > div{
	width: 50px;
	height: 50px;

}
.stich-nav-cnt img{
	width: 10px;
	height: auto;
	margin: 0px 10px;
}
.stich-nav-cnt div:first-child{
	float: left;
}
.stich-nav-cnt div:last-child{
	float: right;
}
.stich-nav-cnt div:last-child img{
	margin-right: 0px;
	margin-left: 30px;
}
.web-link{
	color: white;
	font-family: Helvetica;
	font-size: 10px;
	text-decoration: underline;
}


/*LOGOUT POPUP*/
.logout-popup > div{
	width: 250px;
	height:  200px;
	margin-top: 80px;
	padding-top: 80px;
	border: 1px solid #cb0000 !important;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.logout-popup > div p{
	color: grey;
	font-size: 11px;
	font-family: Helvetica;
}
/**/

.restich-frame-select-loading-div{
	width: 22.5px !important;
	height: 22.5px !important;
}
.restich-frame-added-header{
	background: #fff;
}

/*REACTIVATE POPUP*/

.reactivate-popup > div{
	width: 250px;
	height: 200px;
	margin-top: 80px;
	padding-top: 80px;
	border: 1px solid #cb0000 !important;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.reactivate-message{
	color: #53585f;
	font-family: Helvetica;
	font-size: 11px;
	font-weight: bold;
}
.reactivate-buttons{
	margin-top: 25px;
}
.reactivate-buttons button{
	width: 80px;
	height: 25px;
	margin: 0px 10px;
}

.blank-frame-added-popup > div {
    width: 100%;
    max-width: none;
    min-width: 0;
    max-height: none;
    margin-top: 0;
    height: 100%;
    margin-bottom: 0;
    background: #f0f0f0 !important;
    border: none;
	overflow: auto;
}
.blank-frame-added-popup > div::-webkit-scrollbar-track{
	background-color: transparent;
	width: 0px;
}
.blank-frame-added-popup > div::-webkit-scrollbar{
	width: 0px;
	background-color: transparent;
}
.blank-frame-added-popup > div::-webkit-scrollbar-thumb{
	width: 0px;
	background-color: transparent;
}
.blank-frame-added-popup-header{
	height: 46px !important;
}
.blank-frame-added-popup .stich-number{
	display: none !important;
}
.blank-frame-added-popup .main-frames-cnt{
	height: 0px !important;
}
.blank-frame-success-message{
	width: 100%;
	text-align: center;
}
.blank-frame-success-message p{
	color: #53585f;
	font-size: 11px;
	font-family: Helvetica;
}
.blank-frame-success-message button{
	width: 30%;
	height: 25px;
	font-size: 10px;
	margin-top: 25px;
	max-width: 135px;
}

.search-user-input-box{
    height: 50px !important;
    margin-left: 10px;
    border: 1px solid #cb0000 !important;
    border-bottom: none !important;
    font-size: 14px !important;
}


.dare-view-popup {
	/*background: white;*/
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.intro-videos-popup {
	/*background: white;*/
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.dare-view-popup .add-chat-img{
	width:35px!important;
	height: auto !important;
}


.dare-comments-box {
    /* max-height: 350px; */
    /* overflow-y: scroll; */
    padding-bottom: 70px;
    min-height: 300px;
    position: relative;
}

.dare-body .more-text{
	position: absolute;
    right: 15px;
    margin-top: -17px;
    color: #ec5d57 !important;
    font-size: 12px;
}

.dare-view-popup .cross-icon{
	width: 25px;
    position: absolute;
    /* float: right; */
    margin: 10px;
    right: 0;
}

.dare-view-popup textarea{
	box-shadow: none !important;
}

.note-text-cnt{
	display: table;
	width: calc(100% - 60px);
	min-height: 40px;

}

.note-text-cnt1{
	display: inline-block;
	width: calc(100% - 50px);
	/*min-height: 40px;*/

}

.note-action-para{
	display: table-cell;
	vertical-align: middle;
}

.note-status, .note-status1{
	min-height: 30px;
	display: table;
}

.dare-status-para{
	display: table-cell;
	vertical-align: middle;
}

.note-text-cnt > div{
	display: table-cell;
	vertical-align: middle;
}

.dare-view-popup .note-box{
	display: none;
}

.admin-dare-popup .note-box{
	display: none;
}

.status-text{
	display: table-cell;
	vertical-align: middle;
}

 .import-friends-search::-webkit-input-placeholder {
        color: #7d7d7d !important;
        font-size: 13px !important;
        padding: 0 2px 0 4px !important;
    }
    .import-friends-search:-moz-placeholder { /* Firefox 18- */
        color: #7d7d7d !important;
        padding: 0 2px 0 4px !important;
        font-size: 13px !important;
    }
    .unfilled-btn{
        border-radius: 3px;
        height: 25px;
        position: absolute;
        display: inline-block;
        right: 0;
        bottom: 0;
        top: 11px;
        width: 92px;
        padding: 0 !important;
        cursor: pointer;
    }
    .unfilled-enabled-btn{
        border: 1px solid #EC5D57;
        color: #EC5D57;
        background: #fff;
        width: 92px;
    }
    .unfilled-disabled-btn{
        height: 25px;
        border: 1px solid #53585f;
        color: #53585f;
        background: #fff;
    }
    .confirmation-text{
        color: #53585f;
        font-size:14.34px;
        font-family:inherit;
        text-align:center ;
        line-height: 20px;
    }

.loadingPopup{
    z-index: 9999999999;
    margin: 0 auto;
    border-radius: 3px;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	background: #fff;
    min-height: 50px;
    width: 70%;
	min-width: 200px;
	padding: 10px;
}