.fixed-comment-box {
	position: fixed;
	left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 0;
	padding: 5px;
    width: 100%;
	max-width: 600px;
	background-color: white;
}

.pink-bold {
	color: #ec5d57; 
	font-weight: bold;
}
.black-bold {
	color: black;
	font-weight: bold;
}

.comment-image-loading {
    background-image: url("../images/ring.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    text-align: center;
    width: 125px;
    height: 150px;
    margin-top: 10px;
    border: 1px solid #DDDDDD;
}

select{
	background-position: right 10px top 14px;
}

.disabled {
	opacity: 0.6;
}

.sti-profile-body {
	background: #f0f0f0;
}

/*.frame-content {*/
	/*width: 147px;*/
	/*height: 154px;*/
	/*background-repeat: round;*/
	/*background-image: url('../images/frame-outline-mobile.png');*/
/*}*/

.frame-content .details {
	width: 100%;
	height: 35.5px;
	line-height: 35.5px;
}

.frame-details-img-cnt {
	margin-right: 7.14%;
	width: 34.92%;
}

.main-content .details img {
	width: 100%;
	height: auto;
}

.main-image-wrapper {
	width: 100%;
	height: 97px;
}

.main-image-wrapper img {
	width: 100%;
	min-height: 97px;
}

.main-content, .hover-content {
	margin-top: 6.56%;
	margin-left: 7.45%;
	margin-right: 7.45%;
	box-shadow: 0 3px 2px -2px gray;
	width: 85.4%;
}

.frame-details-img-cnt img {
	padding-top: 0;
}

.frame-content .stich-number p {
	height: 17.5px;
	width: auto;
	padding: 0 4px 0 4px;
	display: table;
	border-radius: 8.8px;
	text-align: center;
	margin: 0 auto;
}

.frame-content .stich-number p span {
	margin-top: 0;
	display: table-cell;
	vertical-align: middle;
}

.container {
	min-width: 100%;
}

.frames-stiches-hover {
	width: 100%;
	height: 97px;
}

.frame-name {
	font-size: 10.5px;
}

.hover-content {
}

.action-icons > div {
}

.action-icons > div:nth-child(2) {
	height: 15.11px;
	width: 11.95px;
	margin-top: 9px;
}

/*for displaying follow btn
/*.action-icons div:first-child {
	display: none;
}*/

.mob-user-image {
	display: table-cell;
	height: 31px;
	width: 31px;
	margin-left: 12.5px;
}

.create-frame-cnt {
	display: none;
}

.user-name {
	height: auto;
	font-size: 12px;
	line-height: 19px;
}

.load-more-cnt span, .load-more-cnt p {
	font-size: 9px;
}

.frame-add-success-cnt {
	text-align: center;
}

/* followers */
.follower-frames-cnt {
	padding-top: 0;
	height: 48.98%;
}

.follower-name-cnt p {
	font-size: 9px;
}

.follower-frames-cnt .frame-img-cnt {
	width: 82.3%;
	overflow: hidden;
}

.follower-frames-cnt img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.follower-detail-cnt {
	/*height: 21.30%;*/
	height: 50%;
	min-height: 110px;
	margin-top: 7.21%;
}

.follower-image-cnt {
	/*height: 42.46%;*/
	margin-top: 0;
}

.follower-name-cnt {
	margin-top: 4.81%;
}

.follower-follow-btn-cnt {
	top: 100%;
}

.follower-frames-cnt .frame-name {
	vertical-align: top;
    margin-top: 4.46%;
    height: 20px;
    line-height: 10px;
}

.follower-share-img-cnt {
	display: none;
}
/*followers ends*/

/*following*/

/*following ends*/

/* footer */
.sti-profile-footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	/*overflow: hidden;*/
	background: #fff;
	display: block;
	height: 46px;
}
.options-cnt {
	/*margin-left: 5px;*/
	/*margin-right: 5px;*/
	/*text-align: justify;*/
	height: 46px;
	/*-ms-text-justify: distribute-all-lines;*/
	/*text-justify: distribute-all-lines;*/
}

.equalize-width {
	text-align: center;
	display: inline-block;
	/*display: inline;*/
	zoom: 1;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}


.options-cnt a {
    display: inline-block;
    letter-spacing: 0.2px;
    vertical-align: top;
    font-family: helvetica;
    color: #53585f;
    white-space: nowrap;
	width: 55px;
    /*width: 20%;*/
    /*padding: 4px;*/
    height: 46px;

}

.options-cnt>div{
	width: 20%;
}

.selected-page{
	background: lightgrey;
}

.search-icon {
	background-image: url('../images/Search_Icon_Red.png');
	width: 21px;
	height: 21px;
	background-position: center;
}

.search-icon-footer {
	background-image: url('../images/Search_Icon_Outline_Footer.png');
	width: 23px;
	height: 23px;
	background-position: center;
}

.search-icon-footer.selected-page {
	background-image: url('../images/Search_Icon_Footer.png');
}

.browse-icon-footer {
	background-image: url(../images/hot_dares_green.png);
    width: 100%;
    height: 100%;
    background-position: center;
}




.equalize-width > .house-icon{
	margin-bottom: 2px;
}

.equalize-width > p {
	margin-top: 3px;
}

/*.profile-icon {*/
	/*background-image: url('../images/profileIcon.png');*/
	/*width: 21px;*/
	/*height: 21px;*/
/*}*/

.chat-icon-footer {
    background-image: url('../images/chat_light_grey.png');
    width: 27px;
    height: 100%;
}

.selected-page .activity-icon-footer {
	background-image: url('../images/activity_icon_footer_dark.png');
}


.more-icon {
	background-image: url('../images/three-dots.png');
	height: 6px;
	width: 32px;
	background-position: center;
}

.message-icon {
	/*width: 26.20px;
    height: 20.5px;*/
	background-image: url('../images/Message_Icon_Red.png');
	background-position: center;
	margin-top:3px;
}

/*.message-icon:hover {
	background-image: url('../images/Message_Icon_Da_k_Red.png');
}*/

.pencil-icon {
	width: 24.44px;
	height: 24px;
	background-image: url('../images/Pencil_Icon_Red.png');
}

.pencil-icon:hover {
	background-image: url('../images/Pencil_Icon_Dark_Red.png');
}

/*.friends-icon {*/
	/*width: 24px;*/
	/*height: 19.5px;*/
	/*background-image: url('../images/Friends_Icon_Red.png');*/
/*}*/

/*.friends-icon:hover {*/
	/*background-image: url('../images/Friends_Icon_Dark_Red.png');*/
/*}*/


.search-icon-footer {
	width: 27px;
	height: 100%;
	background-image: url('../images/search_icon_light.png');
}

.selected-page .search-icon-footer {
	background-image: url('../images/search_icon_dark.png');
}

.share-icon {
	width: 20px;
	height: 23px;
	background-image: url('../images/Share_Icon_Grey.png');
	background-position: center;
	margin-bottom: 1px;
}

.share-icon:hover {
	background-image: url('../images/Share_Icon_Grey.png');
}

.option-icon {
	margin-right: 0;
	display: inline-block;
}

.notification-img-cnt {
	margin-right: 0;
}

.notification-num-cnt {
	top: -4px;
	right: 4px;
}

.message-icon-num-cnt {
}

.message-icon-num {
	display: inline-block;
	margin-top: 3px;
	font-size: 10px;
}

.added-frame-msg {
	margin-top: 20px;
}

.added-frame-msg p {
	font-size: 9px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
}

.added-frame-add-stich-cnt {
	margin-top: 25px;
}

.added-frame-add-stich-cnt button {

	width: 100px;
	height: 21px;
	font-size: 10px;
}

.icon-info {
	font-size: 10px;
}

.more-popup {
	height: auto;
	position: fixed;
	background: #fff;
	bottom: 45px;
	right: 0px;
	border: 1px solid rgba(203, 0, 0, 0.7);
	display: none;
	z-index: 999999999;

}

@media only screen and (max-width: 700px) {
	.more-popup {
		width: 100px;
	}
	.message > .notification-num-cnt {
		right: 25px !important;
	}
}

@media only screen and (min-width: 700px) {
	.more-popup {
		width: 120px;
	}
	.message > .notification-num-cnt {
		right: 43px !important;
	}
}


.more-options {
	height: 100%;
	width: 100%;
}

.more-options > li {
	font-size: 10px;
	text-align: center;
	font-family: Helvetica;
	letter-spacing: 0.2px;
	color: #53585f;
	height: 40px;
	width: 100px;
}

.more-options > li > a > div >p {
	line-height: 40px;
	text-align: left;
}

.more-options > li > a > div {
	padding-left: 15px;
}

.message > p {
	padding-top:2px;
	padding-right: 4px;
}

.message > .notification-num-cnt {
	top: 9px;
	right: 25px;
}

.pad-wrapper {
	padding-left: 25px;
	padding-right: 25px;
	position: static !important;
	display: block !important;
	margin: 0 auto !important;
	width: 220px;
}

.similar-frames {
	margin-right: -13px;
	margin-top: 5px;
	top:0px;
	width: 50px;
}

.mobile-vertical-dots {
	position: absolute;
	top: -7px;
	left: 33px;
}

.frame-name-header-mobile {
	display: none;
	text-align: justify;
	color: #cb0000;
	font-weight: bold;
	font-size: 10px;
}

.frame-name-header-mobile > p {
	margin-top: 15px;
	margin-left: 12.5px;
	white-space: nowrap;
	overflow: hidden;
	width: 19vw;
	text-overflow: ellipsis;
}

.sti-profile-footer {
	-webkit-box-shadow: 0px 0px 3px -1px #53585f;
}

.more-icon {
	margin-top: 10px;
}
.message > .notification-num-cnt {
	min-width: 11px;
	height: 11px;
	font-size: 8px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1);

}

.sti-profile-header > .logo-cnt > .profile-info-cntnr > .user-name-cnt > p {
	max-width: 50vw;
}

.notif-cnt-mobile {
	min-width: 10px !important;
	font-size: 8px !important;
}


/* unvisited link */
.more-options > li > a:link {
	color:  #53585f;
}

/* visited link */
.more-options > li > a:visited {
	color:  #53585f;
}

/* mouse over link */
.more-options > li > a:hover {
	color:  #cb0000;
}

/* selected link */
.more-options > li > a:active {
	color:  #cb0000;
}

.similar-frames-mobile-popup, .contributors-popup {
	position: fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	background: #f0f0f0;
	display: none;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.similar-frames-mobile-popup {
	top: 50px;
}

.contributors-popup {
	top: 0px;
	z-index: 99999;
	bottom: -130px !important;
}

.header-contributors-popup {
	height: 55px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	/*line-height: 47px;*/
	font-weight: bold;
	font-family: helvetica;
	color: #53585f;
	/*position: fixed;*/
	position: relative;
	/*max-width: 600px;*/
    background: white;
    z-index: 10;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.close-contributor {
	position: absolute;
	top: 0px;
	right: 0px;
	background-repeat: no-repeat;
	margin-right: 15px !important;
}


.contributors-popup > hr {
	width: 100%;
	margin-top: 0px;
}

.contributors-list {
	overflow-y: scroll;
	position: fixed;
	top: 55px;
	bottom: 12px;
	left: 0px;
	right: 0px;
	-webkit-overflow-scrolling: touch;
	padding-top: 10px;
}

.contributor-mobile >div {
	display: flex;
	width: 90%;
	margin: 0 auto;
}

.contributor-mobile > hr {
	width: 90%;
}

.contributor-mobile-name {
	line-height: 42px;
	font-size: 12px;
	padding-left: 10px;
	font-weight: normal;
	width: 60vw;
	max-width: none;
}

.frame-name-spam {
	position: absolute;
	height: 30px;
	width: auto;
	top: 2px;
	left: 46%;
}

.mobile-vertical-dots {
	margin-left: 0px;
	margin-top: 0px;
	position: absolute;
	top: 3px;
	left: 43px;
	z-index: 9999999;
	width: 28px;
	height: 30px;
}

.mobile-vertical-dots > .vertical-dots{
	display: block;
	margin: 0 auto;
}

.similar-frame-mobile-header {
	text-align: center;
	margin-top: 45px;
	font-size: 12.81px;
	font-weight: bold;
	color: #53585f;
}
/* footer ends */

@media screen and (max-width: 1920px){

	.topic-select-cnt img{
		display: none;
	}

    .big-tick img{
        position: absolute;
		top: 0;
		width: 20%;
		left: 0;
		right:0;
    	bottom:0;
		margin: auto auto;
	}

}
@media screen and (max-width: 640px){

}
.notif-home-num{
	font-size: 9px;
	position: absolute;
	margin-left: 29.5px;
	margin-top: -27px;
	border: 1px solid red;
	border-radius: 50%;
	padding: 2px;
	width: 15px;
	background-color: #fff;
}
.interests-error-message{
	font-size: 12px;
	font-family: Helvetica;
	color: red !important;
	margin-right: 10px;
	margin-top: 5px;
}
.todayspicks-content{
	display: inline;
	float:left;
	position: relative !important;
}
.main-todayspicks-cnt-wrapper{
	/*height: 189px;*/
	display: flex;
	overflow-x: hidden;
	/*background: white;*
	/*margin-top:-75px;*/
	/*display: -webkit-flex;*/
}
.main-todayspicks-cnt{
	overflow-x: scroll;
	display: inherit;
	-webkit-overflow-scrolling: touch;

}
.main-todayspicks-cnt::-webkit-scrollbar-thumb
{
	background-color: transparent !important;
}
.main-todayspicks-cnt::-webkit-scrollbar-track
{
	background-color: transparent !important;
}
.main-todayspicks-cnt::-webkit-scrollbar
{
	width: 0px !important;
}

.dareSuggestionIndex::-webkit-scrollbar-thumb
{
	background-color: transparent !important;
}
.dareSuggestionIndex::-webkit-scrollbar-track
{
	background-color: transparent !important;
}
.dareSuggestionIndex::-webkit-scrollbar
{
	width: 0px !important;
	display: none;
}

.dareSuggestionIndex{
	overflow-y: hidden;
	overflow-x: scroll;
	display: inherit;
	-webkit-overflow-scrolling: touch;
	min-width: 100%;
}

.dareSuggestionIndex p{
	color: #53585f;
	margin: 7px auto;
}

.selected-index{
	background: #005493;
}

.selected-index p{
	color: #ffffff;
	margin: 7px auto;
}

.dareSuggestionIndexButton{
	min-width: 108px;
	display: flex;
	height: 100%;
	border-right: 1px solid #ddd;
}

.notif-home-num{
	font-size: 9px;
	position: absolute;
	margin-left: 29.5px;
	margin-top: -27px;
	border: 1px solid red;
	border-radius: 50%;
	padding: 2px;
	width: 15px;
	background-color: #fff;
}

/* chat-popup css*/

.chat-popup{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 999999;
}

.nav-close{
	margin: 21px 5vw 0 0 !important;
}

.chat-nav-cnt {
	margin-left: 5vw;
	margin-right: 18vw;
}

.chat-nav-cnt > a {
	width: auto;
	position: relative;
	height: 40px;
}

.chat-nav-cnt > a > span {
	height: 5px;
	width: 5px;
	background-color: #cb0000;
	position: absolute;
	border-radius: 2.5px;
	top: 14px;
	right: -2px;
}

.chat-nav-cnt > .nav-selected {
	border-bottom: 2.5px solid #007ad5!important;
}


.chat-img-avatar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-left: 10px;
}

/*.chat-window-header > .chat-img-avatar {
	margin-left: 3vw;
}*/

.chat-user-name {
	margin-left: 64px;
}

.chat-mob-cnt {
	display: block;
	margin: 0 auto;
	min-width: initial;
	width: 96%;
	margin-bottom: 10px;
	position: absolute;
	top: 40px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-y: scroll !important;
	-webkit-overflow-scrolling: touch;
	outline: none;
	/*padding-top:19px;*/
}

.chat-mob-cnt::-webkit-scrollbar{
 	display: none;
}

.chat-mob-cnt.nav2 {
	top: 70px;
}

.chat-sticher-cnt {
	/*height: 70px !important;*/
	width: 93% !important;
	margin: 0px auto;
	/*margin-left: 7px;*/
	margin-bottom: 0px !important;
	position: relative;
}
.chat-sticher-cnt > div {
	/*height: 72px !important;*/
	min-height: 65px;
}

.chat-sticher-cnt > hr {
	margin: 0px;
	border-bottom-width: 0px;
}

.chat-user-name > p {
	line-height: 70px !important;
}

.chat-window-header > .chat-user-name > p {
	line-height: 60px !important;
	font-size: 13.34px;
	font-weight: bold;
}

.alert-time {
	position: absolute;
	top: 16px;
	right: 20px;
	color: rgba(0,0,0,0.5);
	margin: auto;
	font-size: 10px;
	/*line-height: 70px;*/
}

.chat-mob-cnt.nav2 {
	top: 100px;
}

.nav2 > div > .search-share-cnt {
	display: block;
	margin: 0 auto;
	width: 90% !important;
	float: none;
	margin-top: 8px;
}

.chat-user-name.nav2 > .share-name, .chat-user-name.nav3 > .share-name {
	line-height: 40px !important;
}

.chat-msg {
	line-height: 15px;
	height: 40px;
	font-size: 11px;
	font-family: helvetica;
	letter-spacing: 0.2px;
	color: #53585f;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	padding: 21px 70px;
}

.chat-msg > p {
	overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    /* word-break: normal; */
    /* white-space: pre-wrap; */
    line-height: 15px;
    /* overflow: hidden; */
    height: 30px;
    overflow: hidden;
	text-overflow: ellipsis;
}

.chat-window-header {
	height: 60px;
	position: relative;
}

.delete-full-chat {
	font-size: 10.5px;
	position: absolute;
	right: 15px;
	top: 5px;
	padding: 5px;
	color:#53585f
}

.chat-window-body {
	position: absolute;
	top: 117px;
	bottom: 70px;
	left: 0px;
	right: 0px;
	background-color: #eff1f3;
	padding: 10px;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

.chat-window-footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 70px;
	background: white;
}

.blue-text{
	color:#007ad5;
}

.dare-view-popup .chat-window-footer{
	border-top:1px solid #eee;
	position: fixed;
	z-index: 999999;
	max-width: 600px;
	margin: 0 auto;
}


.comment-send-button{
	margin: 0; 
	padding: 0 10px;
	height: 30px;
	margin-top: 12px;
	border-radius: 3px;
}
.fix-position{
	position: fixed ;
}
.footer-inner-cnt {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
}

.add-chat-img, .chat-input, .send-chat, .dare-comment-input {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	height: 30px;
}


.dare-comment-input::-webkit-input-placeholder{
    font-size: 14.34px !important;
}

.send-chat {
	margin-right: 13px;
	width: 50px !important;
	top:0px;
	margin-right: 10px;
}

.chat-input, .dare-comment-input {
	resize: none;
	font-size: 14.34px;
	padding: 5px;
	/*box-shadow: 1px 0px 1px 1px #888;*/
}

.add-chat-img {
	margin-left: 13px;
	width: 30px;
}

.chat-window-avatar {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	height: 30px;
	width: 30px;
}

.chat-bubble {
	margin-top:12px;
}

.chat-bubble-me, .chat-bubble-other {
	padding: 8px;
	font-size: 15px;
	color: #53585f;
	line-height: 1.2;
	display: inline-block;
	border-radius: 8px;
	word-break: break-all;
	white-space: pre-wrap;
	text-align: left;
	position: relative;
}

.chat-bubble-me {
	background-color: #fff;
}

.chat-bubble-other {
	background-color: #d7d8da;
}

.timeStamp {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 7px;
}

.clubdem {
	margin-top: -13px !important;
}

.chat-img {
	width: 60vw;
	margin-top: 4px;
}

.nav3-header {
	height: 82px;
	position: relative;
}

.nav3-header > button {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	width: 40vw;
	height: 30px;
	font-size: 11px;
	font-weight: bold;
}
.nav3 > .chat-mob-cnt {
	top: 140px;
}

.redbg {
	padding-right: 35px;
	/*transition: padding 0.05s ease-in-out;*/
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

/* for css ripple effect */
/*
.wave-btn {
  position: relative;
  overflow: hidden;
  border-width: 0;
  outline: none;
  transition: background-color .3s;
}

.btn > * {
  position: relative;
}

.wave-btn span {
  display: block;
  padding: 12px 24px;
}

.wave-btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(0,0,0,0.1);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wave-btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}
*/

.chat-ellipsis{
	text-align: left;
    vertical-align: middle;
	max-height:36px;
	overflow: hidden;
	line-height: 18px;
    margin-left: 5px;
    font-size:85%;
	letter-spacing: 0.2px
}

.delete-chat {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	margin-right: 12px;
	/* margin: 24.22px 20.77px 0 0; */
	text-decoration: none;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	color: #53585f;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-size: 13px;
	box-shadow: none;
	width: 12.88px;
	display: none;
}
.delete-chat-msg{
	position: absolute;
	right: -10px;
	top: 0px;
	height:8px;
}

.delete-chat-image {
	position: absolute;
	right: -27px;
	top: -10px;
	text-decoration: none;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	color: #53585f;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-size: 13px;
	box-shadow: none;
	width: 12.88px;
	display: none;
}

.notif-timestamp{
	text-align: center;
    color: #53585f;
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    left: 0px;
    right: 0px;
    background: #D3EDFF;
    top: -7px;
    width: 90px;
    padding: 4px;
    height: 19px;
    /* line-height: 14px; */
    margin: auto;
    z-index: 1;
    border-radius: 7px
}

.mark-all-read{
    /* float: right; */
    height: 20px;
    font-size: 10px;
    padding: 0px 19px 0px 0px;
    /* margin-bottom: 5px; */
    line-height: 26px;
    position: absolute;
    right: 0;
    top: 80px; }


.showCross {
	display: block;
}

.notif-img {
	height: 42px;
	width: 42px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	margin-right: 10px;
}

.dual-notif-pic {
	display: flex;
}

.dual-notif-pic > img {
	height: inherit;
	overflow: hidden;
	position: absolute;
	border-radius: 50%;
}

.notifnameslist{
	display: none;
}

.notifnameslist-header{
	display: none;
	text-align: center;
}

.select-frame-cnt .clear_input{
	font-size: 25px !important;
	top: 6.5px !important;
	left: initial !important;
	right: 10px !important;
}


.floating-icon-stich {
	margin: auto;
	width: 20px !important;
	/* vertical-align: middle; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.dare-box{
	border: 1px solid #ddd;
	margin-bottom: 5px;
	border-radius: 5px;
	background: white;
	padding: 5px;
	/* min-height: 40px; */
	width: 182px;
	/* display: inline-block; */
	max-height: 48px;
	overflow: hidden;
	margin-left: 5px;
	display: inline-block;
	height: auto;
	margin-top: -5px;
}

.dare-box p{
	font-size: 11.34px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
	line-height: 13px;
	text-overflow: ellipsis;
	/* width: 100%; */
	overflow: hidden;
	color: #53585f;
	-webkit-box-orient: vertical;
	/* font-weight: normal; */
	padding: 4px 4.77px;
	display: inline-block;
}

.dare-box h1{
	font-size: 11.34px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
	line-height: 3px;
	text-overflow: ellipsis;
	color: #53585f;
	font-weight: bold;
	text-align: center;
	-webkit-box-orient: vertical;
	/* font-weight: normal; */
	padding: 4px 9.77px;
}

.action-cnt{
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
}

.icon-cnt{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: white;
	float: right;
	border: 1px solid #ddd;
	position: relative;
}

.truth-dare-box{
	background: white;
	border: 1px solid #ddd;
	cursor: initial;
	position: relative;
	min-height:100%;
}

.truth-dare-box .cross-icon{
    margin: 10px;
    width: 25px !important;
    float: right;
	margin-bottom: 0;
	margin-right:2%;
}
.truth-dare-box .back-icon{
    margin: 10px;
    width: 25px !important;
    float: left;
	margin-bottom: 0;
}


.truth-dare-header{
	border-bottom: 1px solid #ddd;
	height: 40px;
	display: flex;
	width:100%;
	position: fixed;
	z-index: 9999;
	max-width: 598px !important;
	/*text-align: center;*/
}

/*.truth-dare-header p {*/
/*font-size: 12.34px;*/
/*font-family: Helvetica;*/
/*letter-spacing: 0.2px;*/
/*line-height: 13px;*/
/*text-overflow: ellipsis;*/
/*!* width: 100%; *!*/
/*overflow: hidden;*/
/*color: #53585f;*/
/*display: -webkit-box;*/
/*-webkit-box-orient: vertical;*/
/*font-weight: normal;*/
/*padding: 4px 9.77px;*/
/*display: inline-block;*/
/*}*/

.truth-dare-header-box{
	width: 33%;
	padding: 0px;
	background: white;
	height: 39px;
	padding-left: 5px;
	border-right: 1px solid #ddd;

}

.selected-box{
	background: #cb0000;
}

.selected-box.truth{
	background: #F1307E;
}
.selected-box.dare{
	background: #00bb5f;
}

.selected-box-grey{
	background: #a0a0a0;
}

.selected-box p, .selected-box-grey p {
	color: white !important;
	font-weight: bold;
}

.truth-dare-header-box img{
	width: 24px !important;
	display: inline-block;
	margin-top: 9px;
	margin-right: 5px;
}


.truth-dare-text-box{
	display: flex;
	height: auto;
	margin-bottom: 5px;
	background: white;
	padding: 5px;
	min-height: 45px;
	padding-bottom: 0px;

}

.truth-dare-text-box textarea, .create-new-dare-popup textarea{
	width: 65%;
	height: 80px;
	/*margin: 0 10px;*/
	border: 1px solid #ddd;
	resize: none;
	overflow: hidden;
	font-size: 14.34px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
	line-height: 18px;
	color: #53585f;
	resize: none;
    overflow-y: scroll;
}
.create-new-dare-popup textarea{
	margin-top: 20px;
}

.selected-user {
	background: rgba(0,0,0,0.5);
	height: 50px;
	border-radius: 50%;
	position: relative;
}
.selected-user img{
	width: 17px !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.truth-dare-text-wrapper{
	position: relative;
	width: 70%;
	padding: 0 10px;
	/*display: table;*/
	/*height: 80px;*/
}

.truth-dare-text{
	/*vertical-align: middle;*/
	/*display: table-cell !important;*/
	word-break: break-word;

}

.truth-dare-box img{
	width : 50px;
}

.truth-dare-box .button-cnt{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.truth-dare-box button, .create-new-dare-popup button {
	padding: 5px 20px;
	height:30px;
}

.dare-friend-box{
	text-align: center;
	position: relative;
	margin-bottom: 25px;
}

.dare-friend-box h1{
	font-weight: bold;
	width: 100%;
}

.button-left-dare-icon{
	/*position: absolute;*/
	/*left: 32px;*/
	width: 20px !important;
}
.truth-dare-box p, .truth-dare-box h1, .truth-dare-box span{
	white-space: normal !important;
	font-size: 14.34px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
	line-height: 18px;
	text-overflow: ellipsis;
	/* width: 100%; */
	overflow: hidden;
	color: #53585f;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	padding: 4px 9.77px;
	display: inline-block;
}

/*.truth-dare-text > a.link, .dare-str > a.link {*/
	/*color: blue;*/
    /*text-decoration: underline;*/
/*}*/

.container {
  position: relative;
}
#clip {
	position: absolute;
	clip: rect(0, 100px, 200px, 0);
}

.truth-dare-box span{
	padding: 0px ;
}

.truth-dare-box .seperator-cnt{
	margin-top: 14.44px;
}

.truth-dare-box .seperator-cnt span{
	font-size: 11px;
}

.truth-dare-header-box p{
	padding: 0px;
	/*line-height: 25px;*/
	font-size: 11px;
	vertical-align: top;
	margin-top: 14px;
}

.dare-confirmation-box .truth-dare-text-box{
	min-height:40px;
	border: none;
	margin:0px;
}

.dare-confirmation-box .truth-dare-text-wrapper{
	width: 80%;
	height: 40px;
	text-align: left;
}

.dare-confirmation-box .button-cnt{
	margin:10px;
}

.dare-confirmation-box .button-left-dare-icon {
	left:20px;
}

.truth-dare-box .search-box input{
	height: 50px;
	border-left: 1px solid #cb0000;
	border-bottom: none;
	border-top: 1px solid #cb0000;
	border-right: none;
}

.truth-dare-box .search-icon{
	display: inline-block;
	position: absolute;
	top: 24px;
	right: 20px;
}

.dare-friend-box .user-name-cnt .user-name{
	margin-left: 0px;
	margin-top: 5px;
	font-size: 11.50px;
	font-weight: bold;
}

.dare-friend-box .chat-user-image{
	height: 50px;
}

.dare-friend-box .suggested-user-cnt{
	display: flex;
}

.dare-friend-box .suggested-users{
position: absolute;
    width: 100%;
    margin-left: 10px;
    background: white;
    z-index: 111;
    border: 1px solid #cb0000;
    border-top: none;
}

.dare-friend-box .suggested-users-inner{
	padding: 10px;
}

.dare-friend-box .truth-dare-box .seperator-cnt{
	margin-top: 5px;
}

.note-box .user-image-note{
	width: 35px;
	height:35px;
}

.truth-dare-box button {
	height: 30px;
	vertical-align: top;
	/*margin-left: 10px;*/
}

.truth-dare-popup > div, .create-new-dare-popup > div, .dare-view-popup > div{
	max-width:600px;
	height:100%;
	/*max-height: 800px;*/
	overflow-x: hidden;
	background: white;
}

.search-icon-clicked{
	display: inline-block;
    /* position: absolute; */
    /* top: 29px; */
    margin-left: 20px;
    /* right: 25px; */
    height: 50px;
}

.truth-dare-box .suggested-user-cnt img{
	width: 31px;
	height:31px;
}

.sti-popup .truth-dare-box input[type="text"]{
	border-bottom: none !important;
}

.truth-box .truth-dare-text-box{
	border-bottom: none !important;
}


.truth-box .truth-dare-text{
	padding-bottom: 0px;
	padding-left: 0;

}

.truth-box .truth-dare-text-wrapper span{
	margin-right: 14px;
	padding: 0;
	font-size: 10.34px;
}

.stich-comment .truth-dare-text-box{
	/*border-style: dashed;*/
	/*border-color: #a0a0a0;*/
	/*border-bottom: 1px dashed #a0a0a0*/
}

.dare-action-box {
	width: 40px;
	text-align: right;
}

.dare-action-box span{
	display: table-footer-group;
}
.dare-actions-box {
	display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    /* float: right; */
    position: absolute;
    right: 20px;
}

.dare-actions-box img{
	width: auto !important;
	height: 30px;
}

.dare-image-box{
	width: 40%;
	height: 175px;
	border: 1px solid #ddd;
	position: relative;
}

.dare-image-box1{
    width: 125px;
    height: 150px;
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 10px;
}

.dare-video-box{
    width: 100%;
    height: 320px;
    /*border: 1px solid #ddd;*/
    position: relative;
    /*margin-bottom: 10px;*/
}

.dare-image-box .dare-action-box{
	margin: auto auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.dare-image-box.small-dare-image-box{
	min-width:30%;
	height:130px;
}

.dare-response-box{
	position: relative;
	display: table;
	min-height: 40px;
	text-align: left;
}

.dare-response-box p{
	font-size: 14.34px !important;
	line-height: 18px !important;
	display: table-cell;
	vertical-align: middle;
	text-align:left;
	word-break: break-word;
}

.dare-response-box img{
	width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.truth-dare-box hr{
	margin: 0px 11px;
}

.search-user-area{
	position: fixed;
	top: 0;
	background: white;
	height: 100%;
	width: 100%;
	background: white !important;
	z-index: 999999;
	max-width: 600px;
}



/* STICH THUMBNAIL NEW */

.stich-thumbnail-img-wrapper {
	min-width: 58%;
	width: 58%;
	position: relative;
	border-top-left-radius:5px
}

.truth-dare-icons-cnt {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    height: 50px;
    float: right;
}

.truth-dare-text-box-stich{
	border: 1px solid #d0cbcb;
	background: white;
	border-radius: 5px;
	width: 95%;
	margin: 0 auto;
	padding: 10px;
	height: auto;
	float: right;
	margin-top:10px;
	color: #53585f;
	font-size: 11.34px;
	position: relative;
}

.comments-popup h1{
	font-weight: bold;
	text-align: center;
	font-size: 12.34px;
	margin-bottom: 5px
}

.truth-dare-icons-cnt img{
	width: 40px;
}

.stich-action-icons-cnt{
	display: flex;
	text-align: center;
	margin-top: 10px;
}
.stich-action-icons-cnt img {
	height: 25px;
	vertical-align: middle;
	cursor: pointer;
}

.stich-icon-cnt{
	width: 25%;
}

.dare-body .stich-icon-cnt{
	width: 33%;
}
.dare-body .stich-action-icons-cnt{
	width: 300px;
	margin: 25px auto;
}

.stich-thumbnail {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
	/*background: white;*/
}

.stich-icon-cnt span{
	color: #53585f;
	font-size: 14.34px;
	font-weight: 300;
	line-height: 28px;
}

.stich-thumbnail .dash{
	height: 4px;
	margin-top: 10px;
	width: 95%;
}

.truth-dare-popup p{
	white-space: pre-wrap !important;
}

.message-box p{
	white-space: pre-wrap;
}
.truth-dare-icon-cnt{
	position: relative;
	height: 40px;
}

/*.talkbubble {*/
	/*width: 120px;*/
	/*height: 80px;*/
	/*background: red;*/
	/*position: relative;*/
	/*-moz-border-radius:    10px;*/
	/*-webkit-border-radius: 10px;*/
	/*border-radius:         10px;*/
/*}*/
/*.talkbubble:before {*/
	/*content:"";*/
	/*position: absolute;*/
	/*right: 100%;*/
	/*top: 26px;*/
	/*width: 0;*/
	/*height: 0;*/
	/*border-top: 13px solid transparent;*/
	/*border-right: 26px solid red;*/
	/*border-bottom: 13px solid transparent;*/
/*}*/


/*.truth-dare-text-box-stich:after,*/
/*.truth-dare-text-box-stich:before {*/
	/*content: '';*/
	/*display: block;*/
	/*position: absolute;*/
	/*left: 100%;*/
	/*width: 0;*/
	/*height: 0;*/
	/*border-style: solid;*/
/*}*/

/*.truth-dare-text-box-stich:before {*/
	/*border-color: rgba(203, 0, 0, 0);*/
	/*border-bottom-color: #cb0000;*/
	/*border-width: 10px;*/
	/*border-left-width: 14px;*/
	/*border-right-width: 15px;*/
/*}*/

/*.truth-dare-text-box-stich:after{*/
	/*border-color: rgba(226, 226, 226, 0);*/
	/*border-bottom-color: #f0f0f0;*/
	/*border-width: 8px;*/
	/*border-left-width: 12px;*/
	/*border-right-width: 12px;*/
	/*margin-left: 2px;*/
/*}*/


.restichers-popup, .likes-popup,.questions-popup, .comments-popup{
    position: absolute;
    border: solid 1px #d0cbcb;
    border-radius: 5px;
    padding: 5px;
    width: 92%;
    margin-top: 62px;
    float: right;
    left: 4%;
    background: white;
    font-size: 11.34px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    line-height: 13px;
    color: #53585f;
}

.comments-popup p{
	overflow: hidden;
    max-height: 64px;
	line-height: 13px;
}
.stich-icon-popup:after, .stich-icon-popup:before{
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.stich-thumbnail .stich-icon-popup:after{
	border-color: rgba(226, 226, 226, 0);
    border-bottom-color: white;
    border-width: 13px;
    border-left-width: 9px;
    border-right-width: 9px;

}
.stich-thumbnail .stich-icon-popup:before{
	border-color: rgba(203, 0, 0, 0);
    border-bottom-color: #d0cbcb;
    border-width: 14px;
    border-left-width: 10px;
    border-right-width: 10px;
}

.stich-thumbnail .stich-icon-popup.more:after{
    border-bottom-color: #f0f0f0;
	margin-right: 1px

}
.stich-thumbnail .stich-icon-popup.more:before{
    border-bottom-color: #cb0000;
}


.truth.stich-icon-popup:after, .truth.stich-icon-popup:before{
	left: 9px;
}

.truth.stich-icon-popup:after{
	margin-left: 1px;
}


.dare.stich-icon-popup:after, .dare.stich-icon-popup:before{
	left:72px;
}

.dare.stich-icon-popup:after{
	margin-left: 1px;
}

.stich-frame-cover-pic{
	min-width: 50px;
    height: 40px;
    padding-left: 10px

}

.stich-box{
	display: flex;
}

.stich-box-details{
	border: 1px solid #ddd;
    border-radius: 5px;
    background: white

}

.stich-footer-details{
	line-height: 13px;
    width: 100%;
    /*margin: auto auto;*/
    margin-left: 5px
}
.normal-stich-footer-details{
	line-height: 13px;
    /*width: 100%;*/
    margin-left: 0px;
	display: inline-block;
	width: calc(100% - 70px);
}

.category-cnt{
	position: absolute;
    bottom: 5px;
    margin-left: 10px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    line-height: 13px;
    color: #53585f;
    font-size: 12.34px;
}

.category-cnt span{
	font-weight: bold;
    /*text-decoration: underline*/
}

.stich_comment_time{
	font-size: 9.34px !important;
    /*text-align: right;*/
    width: 100%;
	line-height: 10px !important;
	color: #9b9a9a !important;
}

.stich-comment .truth-dare-text-box{
	padding-top: 0px;
}

.truth-dare-box .profile-pic, .create-new-dare-popup .profile-pic{
	width: 35px !important;
	height:auto;
	margin-left: 7.5px;
}

.stich-mini-view .desk-user-image{
	height: 60px;
    width: 50px;
	margin: auto auto;
	margin-right:8%;
}

.truth-dare-box .user-wrapper{
	position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    /*height: 50px;*/
    width: 50px;
}

.user-name-tdc{
	vertical-align:top;
	padding: 0 !important;
    text-align: center;
    font-size: 9.34px !important;
    line-height: 10px !important;
}

.truth-dare-text.other-truth{
	display: table-cell;
    vertical-align: middle
	/*max-height: 51px;*/
}

.truths-box{
	overflow-y: scroll;
}

.back-cross-icon-cnt{
	position: relative;
    height: 30px;
    margin-top: 40px;
    width: 100%;
}

.back-cross-icon-cnt img{
	width: 25px;
	margin:10px;
 }

.create-new-dare-header {
	height:45px;
	width:100%;
	max-width: 600px;
	border-bottom: 1px solid #ddd;
}


.create-new-dare-header .back-cross-icon-cnt .back-icon{
	position: absolute;
    left: 0;
}

.create-new-dare-header .back-cross-icon-cnt .cross-icon{
	position: absolute;
    right: 0;
}

.create-new-dare-popup .create-new-dare-header .back-cross-icon-cnt{
	margin-top: 0px;
}

.create-new-dare-popup p, .create-new-dare-popup span{
	font-family: Helvetica;
    letter-spacing: 0.2px;
    line-height: 18px;
    color: #53585f;
    font-size: 14.34px;
}

.create-new-dare-header span{
	font-weight: bold;
	vertical-align: middle;
    display: table-cell;
	font-size: 13.34px;
}

.create-new-dare-header-text-box{
	text-align: center;
    height: 100%;
    display: table;
    margin: 0 auto;
    position: relative;
}

.create-new-dare-header .back-cross-icon-cnt{
	height:0px;
}

.create-new-dare-header .button-left-dare-icon{
	position: absolute;
    /* margin: auto 0; */
    /* margin-top: 11px; */
    padding-top: 7px;
    left: -33px;
	width:22px !important;
}

.create-dare-progress-bar{
	display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.create-dare-step{
	height:25px;
	width: 33%;
	border-right: 1px solid #ddd;
	display: table;
    text-align: center;
}

.create-dare-step p{
	display: table-cell;
    vertical-align: middle;
	font-size: 11.34px;
}

.create-new-dare-popup .dare-image-box{
	width: 107px;
    height: 128px;
    margin: 0 auto;
    margin-top: 10px;
}

.dare-image-box-center{
	font-size: 9.34px;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    width: 84px;
    height: 57px;
    text-align: center;
}

.selected-image{
	background: rgba(0,0,0,0.2);
    height: 66px;
    width: 55px;
    position: absolute;
    bottom: 0;
}

/*.create-new-dare-popup .user-image-cnt{*/
	/*width:50px;*/
	/*margin-left:0px;*/
	/*margin-right: 15px;*/
/*}*/

.create-new-dare-popup .button-cnt{
	margin-top: 40px;
	text-align: center;
}

.dare-share-icon{
    position: absolute;
    right: -35px;
    bottom: 5px;
	width: 35px !important;
}

.suggested-users-inner .user-name{
	max-width: 150px;
	font-weight: normal !important;
	font-size: 14px !important;
	margin-top: 0px !important;
}



/* ------------------------ Profile Activity ---------------------------- */

.dare-body{
	background: white;
	min-height: 100px;
	width: 100%;
	/*border-bottom: 1px solid #ddd;*/
	position: relative;
	word-break: break-word;
	/*border-radius: 3px;*/
	/*border:1px solid #e6e9eb;*/
}

.home-feed-dare{
	max-width: 600px;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid #e6e9eb;
	border-left:none;
	border-right:none;
    background: white;
}

.dare-view-popup .home-feed-dare{
	border:none;
}

.dare-thumbnail{
	display: flex;
    position: relative;
	word-break: normal;
}

.dare-thumbnail > div{
	display: inline-block;
}

.dare-thumbnail .profile-pic{
	width: 40px;
    height: 40px;
    border-radius: 50%
}

.dareText{
	font-weight: bold;
	line-height: 20px;
	color: black;
}


.dare-thumbnail-dare-text{
	position: relative;
    padding: 0 10px;
    /*display: table;*/
    height: 40px;
}

.dare-thumbnail-dare-text > p{
	font-weight: bold;
    height: 10px;
    line-height: 40px !important;
	font-size: 14px !important;
}

.dares-header-box p{
	font-size: 10px;
    color: #53585f;
}

.dare-text-box{
	/*position: relative;*/
    width: 82%;
    padding: 0 10px;
}

.dare-text-box .truth-dare-text{
	font-size: 14.34px !important;
    line-height: 18px !important;
}

.creator_avatar{
    width: 21px;
    vertical-align: top;
    border-radius: 50%;
    /*margin-top: -2px;*/
    margin-left: 2px;
	height:21px;
}

.dares-header-box{
	border: 1px solid #e6e9eb;
    min-height: 100px;
	text-align: center;
    padding-top: 25px;
	background: white;
}

.dares-header-box1{
	border-bottom: 1px solid #ddd;
    min-height: 25px;
	text-align: center;
	padding-top: 15px;
}

.dares-header-box .stich-action-icons-cnt{
	width: 220px;
    margin: 20px auto;

}

.dares-header-box .stich-action-icons-cnt .stich-icon-cnt{
	width: 33%;
}

.dares-header-box button{
	height: 30px !important;
    padding: 5px 30px !important;
	margin-bottom: 5px;

}

.dare-body .stich_comment_time{
	width: auto;
    position: absolute;
    top: 27px;
    right: 12px;
}

.dare-status-text{
	font-size: 14.34px!important;
	line-height: 18px!important;
	padding: 0 15px;
}

.dare-body-profile-pic{
	width: 40px!important;
	height: 40px!important;
	border-radius: 50%;
}

.stars-cnt{
	display: inline-flex;
    justify-content: space-between;
    width: 120px;
    vertical-align: middle;
}

.stars-cnt > div{
	padding : 5px;
}

.stars-cnt img{
	width : 15px;
}

.dare-body .confirmation-text p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14.34px !important;
}

.dare-view-popup .stich_comment_time{
	/*top: 57px;*/
}

.dare-view-popup .dare-body{
	border: none;
}

.note-message{
	/*margin-top: 10px !important;*/
    margin-left: 5px !important;
	line-height: 32px;
}

.name-color{
	color: black;
}

.message-box{
	display: flex;
	position: relative;
}
.search-contacts-body{
	/*position: fixed;*/
    margin-top: 10px;
    /* height: 55px; */
    width: 100%;
    max-width: 600px;
    background: white;
    z-index: 10;
}
.loading-div.upload-dare-response-image{
	width: 35px;
    margin-top: 10px;
    right: 0;
	display:block;
}

.dareFeedStichBox{
	display: inline-block;
    width: 40%;
    /* text-align: center; */
    padding: 5px;
    vertical-align: top;
}

.dareFeedStichBox p{
	line-height: 18px !important;
	font-size: 14.34px !important;
	color: #53585f;
	word-break: break-word;
}

.dareFeedProfilePic{
	    position: relative;
    width: 60px;
    display: inline-block;
    margin-left: 10px;
}

.dareFeedProfilePic .user-wrapper{
	text-align: center;
}

.dareResponseHeader{
	font-weight: bold;
    font-size: 14.34px !important;
    vertical-align: top;
	margin-top: 9px;
    text-align: left;
    line-height: 18px !important;
}

.dare-image-box2{
	/*margin-left: 9px;*/
    width: 100%;
    /* width: 52%; */
    height: 200px;
    /*border: 1px solid #ddd;*/
    position: relative;
    margin: 10px 0;
    display: inline-block;
}

.dareResponseWithImage{
	width: calc(100% - 190px) !important;
    padding: 5px !important;
    border-color: #00bb5f !important;
    display: inline-block !important;
    vertical-align: top !important;
    height: 200px !important;
	max-height: 100%;
    overflow: scroll;
}

.dareResponseWithImage p{

}

.dare-body .dash{
	    margin-bottom: 10px;
    height: 4px;
    margin-top: 10px;
    width: 95%;
}

.main-truths-cnt{
	border: 1px solid #ddd;
    border-top: none;
	margin-bottom: 35px;
}

.hyperlink{
	text-decoration: underline;
}

.videogular-container {
	width: 100%;
	/*height: 320px;*/
	margin: auto;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
}

.icon-label{
	color: black !important;
    font-size: 12px !important;
    margin-top: 4px !important;
}


.comment-box-dummy{
	border-top: 1px solid #eee;
    margin: 10px;
	line-height: 40px;
	font-size: 14.34px;
}

.dare-smiley{
	height: 25px;
    float: right;
    margin-right: 15px;
    position: absolute;
    right: 5px;
    margin-top: 5px;
}

.main-event-dares-cnt .admindare-buttons-cnt{
	display: none !important;
}


.play-icon {
	width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 60px solid #fff;
    border-bottom: 40px solid transparent;
    margin: 0 auto;
	opacity: .7;
}

.small_repsonse_text{
	font-size: 14.34px !important;
	font-weight: normal;
	line-height: 20px;
}