.home-icon {
	width: 35.55px;
	height: 35.55px;
	margin-left: 36px;
	margin-top: 3.55px;
	margin-right: 12.88px;
	vertical-align: top;
	background-image: url('../images/Stichio_Logo_Icon_Red.png');
}

.home-icon:hover {
	background-image: url('../images/Stichio_Logo_Icon_DARK_RED.png');
}


/*.scroll-down-icon {*/
	/*width: 24.5px;*/
    /*height: 21.5px;*/
	/*background-image: url('../images/arrows_down_icon_red.png');*/
/*}*/

/*.scroll-down-icon:hover {*/
	/*background-image: url('../images/Arrows_Down_Icon_Dark_Red.png');*/
/*}*/

/*.scroll-up-icon {*/
	/*width: 24.5px;*/
    /*height: 21.5px;*/
	/*background-image: url('../images/arrows_inverted_red.png');*/
/*}*/



.home-icon-full {
	width: 125.22px;
	height: 30.22px;
	margin-left: 36px;
	margin-top: 12.88px;
	margin-right: 12.88px;
	background-image: url('../images/Stichio_Full_Logo_DARK_RED.png');
	background-image: url('../images/Stichio_Full_Logo_Red.png');
}
.home-icon-header{
	margin-left:10px !important;
	margin-top: 10px !important;
	width: 103.59px !important;
	height:25px !important;
}
.home-right-cntnr{
	padding-top: 8px !important;
}
.home-icon-full-hidden {
	display: none;
	background-image: url('../images/Stichio_Full_Logo_DARK_RED.png');
}

.home-icon-full:hover {
	background-image: url('../images/Stichio_Full_Logo_DARK_RED.png');

}

.header-details-cnt {
	position: relative;
}

.user-name {
	display: table-cell;
    vertical-align: middle;
    height: 42px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 107px;
    letter-spacing: 0.2px;
}
.frame-name-style{
	    display: table-cell;
    /* height: 42px; */
    vertical-align: middle;
    width: 45%;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    text-overflow: ellipsis;
    letter-spacing: 0.2px;
    margin: auto;
/*}*/
/*@media screen and( min-width: 415px){*/
	/*.frame-name-style{*/
	/*display: flex;*/
    /*height: 60%;*/
	/*vertical-align: middle;*/
    /*width: 70%;*/
	/*font-weight: bold;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*letter-spacing: 0.2px;*/
/*}*/
}

.mob-user-image {
	display: none;
}

/* Navigation menus */
.nav-wrapper {
	text-align: justify;
	height: 42px;
	padding-top: 5px;
}

.nav-wrapper li {
	display: inline-block;
	padding: 3px;
	padding-bottom: 10px;
	cursor: pointer;
	vertical-align: top;
}

.likes-nav a {
	display: inline-block;
}

.likes-link {
	display: inline-block;
}
.two-dots{
	margin-top:10px;
}
.nav-wrapper li:hover span {
	border-bottom: 1.5px solid #cb0000;
	padding-bottom: 5px;
}

.nav-wrapper li:hover span.nav-selected {
	border-bottom: 1.5px solid #fff;
}

/* Navigation menus end */

/* options icon */

.message-icon {
	width: 25.33px;
	height: 18.22px;
	background-image: url('../images/Message_Icon_Red.png');
}

.message-icon:hover {
	background-image: url('../images/Message_Icon_Da_k_Red.png');
}

.pencil-icon {
	width: 24.44px;
	height: 24px;
	background-image: url('../images/Pencil_Icon_Red.png');
}

.pencil-icon:hover {
	background-image: url('../images/Pencil_Icon_Dark_Red.png');
}


.hamburger-icon {
	width: 20.65px;
	height: 18.22px;
	background-image: url('../images/Hamburger_Icon_Red.png');
}
.white-hamburger-icon {
	width: 20.65px;
	height: 18.22px;
	background-image: url('../images/Hamburger_Icon_White_SS.png');
}

.hamburger-icon:hover {
	background-image: url('../images/Hamburger_Icon_Dark_Red.png');
}

/*.header-down-icon {*/
	/*width: 24.44px;*/
	/*height: 24px;*/
	/*background-image: url('../images/arrows_down_icon_red.png');*/
/*}*/

/*.header-down-icon:hover {*/
	/*background-image: url('../images/Arrows_Down_Icon_Dark_Red.png');*/
/*}*/


.friends-icon {
	width: 28.44px;
	height: 24px;
	background-image: url('../images/Friends_Icon_Red.png');
}

.friends-icon:hover {
	background-image: url('../images/Friends_Icon_Dark_Red.png');
}


.share-icon {
	width: 18.66px;
	height: 23.5px;
	background-image: url('../images/Share_Icon_Red.png');
}

.share-icon.disabled{
	width: 18.66px;
	height: 23.5px;
	background-image: url('../images/Share_Icon_Grey.png');
}
.share-icon.disabled :hover{
	background-image: url('../images/Share_Icon_Grey.png');
}

.share-icon:hover {
	background-image: url('../images/Share_Icon_Dark_Red.png');
}

.option-icon {
	margin-right: 35.55px;
}

.message-icon-num-cnt {
	display: inline-block;
    position: absolute;
    margin-right: 30px;
    margin-top: 9.33px;
    height: 14.22px;
    width: auto;
    border: 1px solid #000;
    min-width: 14.22px;
    border-radius: 50%;
    text-align: center;
}

.message-icon-num {
	display: inline-block;
	margin-top: 3px;
	font-size: 10px;
}

/* options icon end */

.create-frame-cnt, .following-header-btns-cnt, .add-stich-cnt {
	text-align: center;
	margin-top: -12.94px;
}

.following-header-mob-btns-cnt {
	display: none;
}

.header-seperator hr {
	margin-top: 0;
	margin-bottom: 0;
}

/* sti-profile-header */

.sti-profile-header {
	position: fixed;
    z-index: 1000;
    width: 100%;
    /*background: #f9fbfd;*/
	background : #ffffff;
    /*height: 143px;*/
    min-width: 960px;
		box-shadow: 0px 0px 3px -1px #53585f;
	-webkit-box-shadow: 0px 0px 3px -1px #53585f;
	-moz-box-shadow: 0px 0px 3px -1px #53585f;

}

.sti-profile-body {
	padding-top: 167.58px;
}

.sti-profile-header .header-details-cnt > div {
	position: absolute;
}

.sti-profile-header .header-details-cnt {
	height: 42.66px;
	margin-top: 11.11px;
}

.sti-profile-header .profile-info-cntnr {
	width: 244.66px;
}

.sti-profile-header .profile-info-cntnr {
	width: auto;
}

.sti-profile-header .logo-cnt {
	text-align: center;
	margin-top: 11.55px;
}

.sti-profile-header .profile-info-cntnr .user-image {
	margin-right: 11.5px;
}

.sti-profile-header .profile-info-cntnr .user-name-cnt {
	display: inline-block;
    width: 107px;
    white-space: nowrap;
}

.sti-profile-header .header-details-cnt .desk-user-image, .sti-profile-header .header-details-cnt .user-name-cnt {
	display: none;
}

.sti-profile-header .profile-info-cntnr .home-icon {
	visibility: hidden;
}

.sti-profile-header .options-cnt {
	right: 0;
	height: 42px;
	display: table-cell;
    vertical-align: middle;
}

.sti-profile-header .mob-options-cnt {
	display: none;
}

.sti-profile-header .options-cnt .message-icon {
	margin-right: 30.22px;
}

.sti-profile-header .options-cnt .option-icon {
	margin-right: 30.22px;
	margin-top: 11.33px;
}

.sti-profile-header .header-seperator {
	margin-top: 30.22px;
	height: 24.88px;
}

.sti-profile-header .header-seperator hr {
}

.create-frame-cnt button, .add-stich-cnt button {
	width: 100px;
}

.nav-cntnr {
    width: 46%;
    max-width: 100%;
    color: #313131;
    left: 50%;
    margin-left: -22%;
    text-align: justify;
}

.sti-frame-header .nav-cntnr{
    width: 26.7%;
    max-width: 341.7px;
    margin-left: -13.35%;
}

.sti-addstich-header .nav-cntnr{
	margin: 0;
	text-align: none;
}

.nav-wrapper li {
	display: inline-block;
}

.left-nav-load, .right-nav-load {
	display: none;
}

.nav-wrapper p {
	text-align: center;
	font-size: 12.34px;
	font-weight: normal;
	letter-spacing: 0.2px;
	color: #313131;
}

.nav-wrapper p:first-child {
	margin-bottom: 5px;
}

.nav-selected {
	/*padding-bottom: 5px;*/
	border-bottom: 1.5px solid #007ad5;
}

/* sti-profile-header end */

/* my profile following */

.frames-header-buttons-cnt {
	text-align: center;
	margin-top: -14px;
}
.following-header-btns-cnt .action-btns {
	width: 246.66px;
	padding: 0 13.33px;
	/*background-color: #f9fbfd;*/
	background-color : #ffffff;
	margin-right: 56.88px;
	height: 10px;

}

.following-header-btns-cnt .action-btns button:first-child {
	float: left;
}

.following-header-btns-cnt .action-btns button:last-child {
	float: right;
}

.following-header-btns-cnt > div {
	display: inline-block;
	vertical-align: top;
}

.following-header-btns-cnt .add-action-btns button {
	display: inline-block;
	vertical-align: top;
	height: 30.22px;
    width: 33.22px;
    margin-right: 7px;
    background: none;
    padding-left: 0;
}

.following-header-btns-cnt .add-action-btns {
	padding: 0;
	width: 312.66px;
	/*background-color: #f9fbfd;*/
	background : #ffffff;
	font-size: 11.5px;
	margin-top: -3px; /* To cover image icon padding */
	height: 19px;
}

.following-header-btns-cnt .add-action-btns > div {
	display: table;
}

.following-header-btns-cnt .add-action-btns > div:first-child {
	float: left;
}

.following-header-btns-cnt .add-action-btns > div:last-child {
	float: right;
}

.following-header-btns-cnt .add-action-btns  span {
	display: table-cell;
    vertical-align: middle;
    color: #313131;

}


.frames-header-buttons-cnt {
	text-align: center;
    margin-top: -14px;
}

.frames-header-buttons-cnt.action-btns button:first-child {
	float: left;
}
.frames-header-buttons-cnt .action-btns button:last-child {
	float: right;
}

.action-btns.button-manage-stiches{
	margin-left: 33px;
}

.frames-header-buttons-cnt > div {
	display: inline-block;
	vertical-align: top;
}

.frames-header-buttons-cnt img {
	display: inline-block;
	vertical-align: top;
	height: 30.22px;
    width: 30.22px;
}

.frames-header-buttons-cnt .add-action-btns {
	padding: 0 0px;
	width: 298.66px;
	/*background-color: #f9fbfd;*/
	background : #ffffff;
	font-size: 11.5px;
	margin-top: -3px; /* To cover image icon padding */
}

.frames-header-buttons-cnt .add-action-btns > div {
	display: table;
}

.frames-header-buttons-cnt .add-action-btns > div:first-child {
	float: left;
}

.frames-header-buttons-cnt .add-action-btns > div:last-child {
	float: right;
}

.frames-header-buttons-cnt .add-action-btns  span {
	display: table-cell;
    vertical-align: middle;
    color: #313131;

}


.following-header-btns-cnt .add-action-btns  .add-icon {
	margin-top: 1.5px;
}

/* my profile following end */



/* sti-frame-header */

.sti-frame-header {
	position: fixed;
    z-index: 1000;
    width: 100%;
    /*background: #f9fbfd;*/
    background : #ffffff;
	height: 139px;
    min-width: 960px;
		box-shadow: 0px 0px 3px -1px #53585f;
	-webkit-box-shadow: 0px 0px 3px -1px #53585f;
	-moz-box-shadow: 0px 0px 3px -1px #53585f;
}


.sti-frame-header .header-details-cnt > div {
	position: absolute;
}

.sti-frame-header .header-details-cnt {
	height: 42.66px;
	margin-top: 11.11px;
}

.sti-frame-header .profile-info-cntnr {
	width: 244.66px;
}

.sti-frame-header .profile-info-cntnr {
	width: auto;
}

.sti-frame-header .logo-cnt {
	text-align: left;
	margin-top: 11.55px;
}



.sti-frame-header .profile-info-cntnr .user-name-cnt {
	display: inline-block;
    width: 107px;
    white-space: nowrap;
}


.sti-frame-header .header-details-cnt .profile-info-cntnr {
	visibility: hidden;
}


.sti-todayspicks .header-details-cnt .profile-info-cntnr{
	visibility: visible;
}

.sti-todayspicks .logo-cnt .home-icon-wrapper{
	visibility: hidden;
}
.sti-todayspicks{
	min-width:200px !important;
}
.sti-frame-header .header-details-cnt .profile-image {
	margin-left: 44.44px;
	display: inline-block;
}

.sti-frame-header .header-details-cnt .desk-user-image {
	margin-left: 12px;
	display: inline-block;
}

.sti-frame-header .options-cnt {
	right: 0;
	height: 42px;
	display: table-cell;
    vertical-align: middle;
}

.sti-frame-header .mob-options-cnt {
	display: none;
}

.sti-frame-header .options-cnt .message-icon {
	margin-right: 30.22px;
}

.sti-frame-header .options-cnt .option-icon {
	margin-right: 30.22px;
	margin-top: 11.33px;
}

.sti-frame-header .header-seperator {
	margin-top: 30.22px;
	height: 24.88px;
}

.sti-frame-header .header-seperator hr {
}



.sti-frame-header .nav-cntnr{
    width: 26.7%;
    max-width: 628px;
    margin-left: -13.35%;
}

.sti-frame-header .header-frame-name-cnt {
	font-family: "Helvetica";
	font-weight: bold;
	color: #cb0000;
	font-size: 14.22px;
	text-align: center;
	overflow: hidden;
}

.sti-frame-header .home-icon-full{
	margin-top: 0px;
}

.home-icon-wrapper{
	float: left;
    width: 200px;
    height: 50px;
}

.header-frame-name-cnt .header-frame-name{

	width: 100%;
	vertical-align: middle;
	height : 40px;
	text-transform: uppercase;
	float: none;
	text-align: center;
	padding-top: 10px;
	display: table-cell;
}

.sti-todayspicks .header-frame-name{
	text-transform: none;
	color : #53585f;
}

.sti-frame-header .logo-cnt .header-frame-name {
	display: block;
	margin-left: -110px;

}

.sti-addstich-header .header-frame-name{
	text-transform: none;
}
.header-details-cnt .header-frame-name {


	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 150px;
}
.vertical-dots-cnt{
	display: inline-block;
	vertical-align: top;
	margin-left: 21.33px;
	margin-top: 9px;
}

.vertical-dots{
	width: 3px;
  height: 3px;
  border-radius: 50%;
    background-color: black;
  box-shadow: 0px 24px 0px black, 0px 12px 0px black;

  }

/* sti-frame-header end */

/* my profile following */

/* my profile following end */

/* home */



.sti-home-header .search-box-wrapper{


	visibility: hidden;
}

.sti-search-header .search-box-wrapper{


	visibility: visible;
}
 .search-box-wrapper{
	overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
	 width:100%;

}
.sti-search-header .search-box{
	display: block;
	margin: 0 10px;
	width:95%;
	height: 35px;
	overflow: hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
	border: 1px solid #ddd;
	/*margin-left: 188.88px;*/
}

.search-box input{
	 box-sizing:border-box;
    -moz-box-sizing:border-box;
	min-width: 100px;
	height: 100%;
	display: inline-block;
    width: 100%;
    /* margin-top: -55px; */
    border: 0;
    vertical-align: top
}

.search-box input:focus {
    outline-width: 0;
	outline: none;
}

.sti-home-header .home-icon-wrapper, .sti-search-header .home-icon-wrapper{
	/*position: fixed;*/
	margin-top: 10px;
	float: left;
	height : 50px;
	width : 200px;
}

/*.home-icon-full.img-div{*/

	/*display: table-cell;*/
	/*vertical-align: middle;*/
/*}*/



.header-one{
	max-height: 84.44px;
	white-space: nowrap;
}
.header-one .options-cnt {
	position: absolute;
	top: 7px;
	right: 0;
}
.header-one .options-cnt button{
	display: none;
}
.header-one-contents-wrapper {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.sti-home-header .header-one{
	max-height:85px;
    z-index: 1000;
    width: 100%;
    /*background: #f9fbfd;*/
    background: white;
    height: 58px;
}

.sti-search-header .header-one{
	max-height:170px;
	position: fixed;
    z-index: 1000;
    width: 100%;
    /*background: #f9fbfd;*/
    background: white;
    height: 85px;
	box-shadow: 0px 0px 3px -1px #53585f;
	-webkit-box-shadow: 0px 0px 3px -1px #53585f;
	-moz-box-shadow: 0px 0px 3px -1px #53585f;
}

.sti-search-header .action-btns {
	text-align: center;
    position: absolute;
    width: 100%;
    bottom: -15px;
}

.sti-home-header .header-two{
	width: 100%;
}

.sti-home-header .desk-user-image, .sti-search-header .desk-user-image{
	display: inline-block;
}

.sti-home-header .user-name-cnt, .sti-search-header .user-name-cnt{
	display: inline-block;
	margin-left: 5px;

}

.sti-home-header .userInfo, .sti-search-header .userInfo {
	margin-left: 24px;
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-right: 10px;
}

.sti-home-header .options-cnt, .sti-search-header .options-cnt {
	display: inline-block;
	float: right;
	margin-top :12.44px
}
.sti-home-header .options-cnt{
	width: 40px !important;
}


.sti-home-header .options-cnt .notification-img-cnt, .sti-search-header .options-cnt .notification-img-cnt {
	margin-top: -6px;
}

.sti-home-header .options-cnt .option-icon, .sti-search-header .options-cnt .option-icon {
	margin-right: 0px;
	margin-left: 10.22px;
}

.sti-home-header .notification-num-cnt, .sti-search-header .notification-num-cnt{
	right: -12px;
	top : -6px;
}

.right-cntnr{
	float: right;
	height: 84.44px;
	width : auto;
	padding-top: 20px;
}


.sti-home-header .sections-seperator.header-seperator{
	height: 1px;
}

.sti-home-header  hr, .sti-search-header  hr{
	width : 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	top: 58px;
	z-index: 99999;
}

/* for suggested results*/
.suggested-results {
	width: 100%;
	position: fixed;
	height: auto;
	background-color: #f6f6f6;
	/*margin-top: 46px;*/
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
}

.suggested-results-home {
	margin-top: 40px;
}

.suggested-results hr {
	margin: 5px !important;
	position:static;
}

.suggested-results h1 {
	color: #53525f;
	padding: 5px;
	font-weight: bold;
	font-size: 12.81px;
}

.suggested-users-inner{
	padding: 5px;
}

.suggested-users-inner:hover {
	background-color: #f0f0f0;
}

.suggested-user-cnt > img {
	height: 25px !important;
	width: 25px !important;
	margin-right: 10px;
}

.suggested-user-cnt .user-name {
	height: 25px !important;
	font-size: 12.81px;
	font-weight: normal;
}

.suggested-user-cnt .user-name-cnt {
	margin-left: -3px;
}

.suggested-results p {
	color: #53525f;
	padding: 5px;
	font-size: 12.81px;
}

.suggest-tag {
	padding-left: 10px !important;
}

.suggest-tag:hover {
	background-color: #f0f0f0;
	border-radius: 6px;
}

/*end for suggested results*/

.todayspicks-cnt{
	width : 100%;
	/*height: 232px;*/
}

.search-box-wrapper2{
	width: 100%;
	text-align: center;
}
 .search-box-wrapper2 .search-box{
	width: 67.5%;
	height: 0px;
	line-height: 0px;
}

.search-box-wrapper .search-box{
	margin-top: 5px;
}

.sti-home-header .search-box input[type="text"], .sti-search-header .search-box input[type="text"]{
	border : 1px solid #ddd;
}
.sti-home-header .header-two .search-box-wrapper2{
	display: none;
}
.todayspicks-cnt-name{
	text-align: center;
	font-family: "Helvetica";
	font-weight: bold;
	color: #cb0000;
	font-size: 13.22px;
	text-align: center;
	overflow: hidden;
	height: 15px;
	margin-top: 10px;

}
@media screen and (min-width: 700px){
	.todayspicks-cnt-name{
		font-size: 12.22px;
	}
}
.arrow-icons-cnt{
	width: 100%;
	height: 194px;
	display: table;
	margin-top: -30px;
	background: white;
    box-shadow: 0px 1px 3px -2px gray;

}

/*.arrow-icons-cnt .left-arrow{*/
	/*float: left;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	/*width: 13.33px;*/
	/*height: 22.41px;*/
	/*background-image: url('../images/Left_Arrow_Icon_Grey.png');*/
	/*background-size: cover;*/
	/*margin-left: 66.66px;*/
    /*margin-top: 120px;*/
	/*display: none;*/
/*}*/

/*.arrow-icons-cnt .right-arrow{*/
	/*float: right;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	/*width: 13.33px;*/
	/*height: 22.41px;*/
	/*background-image: url('../images/Right_Arrow_Icon_Grey.png');*/
	/*background-size: cover;*/
	/*margin-right: 66.66px;*/
    /*margin-top: 120px;*/
	/*display: none*/
/*}*/

.sti-addstich-header .domain-name, .sti-frame-header .domain-name{
	left: 50%;
    width: 30%;
    margin-left: -16%;
	top :10px;
    text-align: center;

	letter-spacing: 0.2px;

	font-family: "Helvetica";
	font-weight: bold;

	font-size: 14.22px;
}

.sti-frame-header .domain-name{
	color: #cb0000;
}

.sti-frame-header.sti-addstich-header .domain-name{
		color: #53585f;
}


.sti-addstich-header .popup-back, .sti-addstich-header .cross-button{
	display: inline-block;
	height: 20px;
	width:20px
}

.sti-addstich-header .profile-info-cntnr1 .user-name-cnt {
	display: inline-block;
}


/*login*/
button.header-login-btn {
	width: 102.66px;
	vertical-align: top;
	margin-right: 20px;
	margin-top: -3px;
}

/*login ends*/

/* topics  */

.sti-topics-header {
	height: 77.77px;
}

.sti-topics-header .nav-cntnr {
	text-align: center;
	margin-top:10px;
}

.sti-topics-header .nav-cntnr p:first-child {
	color: #cb0000;
}

.sti-topics-header .nav-cntnr p:last-child {
	color: #53585f;
	margin-top: 11.55px;
}
@media screen and (min-width:640px) and (max-width:1800px){
	.sti-topics-header .nav-cntnr p:first-child{
		font-size:1.9vw;
	}
	.sti-topics-header .nav-cntnr p:last-child{
		font-size: 1.4vw;
	}
}
@media screen and (max-width:400px){
            .frame-name-style{
                line-height: 14px !important;
            }
        }
@media screen and (min-width:320px) and (max-width:640px){
	.sti-topics-header .nav-cntnr p:first-child{
		font-size:2.9vw;
	}
	.sti-topics-header .nav-cntnr p:last-child{
		font-size: 2vw;
	}
}
@media screen and (max-width:320px){
	.sti-topics-header .nav-cntnr p:first-child{
		font-size: 4vw;
	}
	.sti-topics-header .nav-cntnr p:last-child{
		font-size: 3vw;
	}
}
.sti-topics-header .options-cnt {
	right: 36.44px;
}

.sti-topics-header .home-icon-full {
	margin-top: 8px;
}

.topics-submit-btn {
	margin-top: 10px;
}

/* topics ends */


.search-tags-cnt{
	height: 35px;
    overflow: hidden;
    white-space: normal;
    width: 90%;
    /*position: absolute;*/
    left: 0px;
    right: 0px;
    margin: auto;
}

.searched-tags-cnt{
	height: 100%;
	overflow: hidden;
	white-space: normal;
	display: inline-block;
    padding-top: 0px;
	margin-left: 10px;
	margin-top: 2px;
}





.search-tag-box{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    /*border: 1.5px solid #cb0000;
    border-radius: 17px;*/
    display: inline-block;
    font-size: 9.81px;
    color: #cb0000;
    height: 24px;
    display: table-cell;
    vertical-align: middle;

}

.search-tag-box-cnt{
	width: auto;
    display: inline-block;
    height: 24px;
    margin: 5px 5px 5px 0px;
    border: 1px solid #cb0000;
    border-radius: 12px;
}

.search-tag-box-cnt p{
	line-height: 12px;
}
.searched-tag-box-cnt{
	width: auto;
	display: inline-block;
	height:100%;
	margin-right: 5px;
}

.selected .search-tag-box-cnt{
	width: 100px;
	display: inline-block;
	height:40px;
	margin-right: 15px;
}

.search-box input{
	border:0
}

.searched-tag-box{
	width: auto;
	padding-left:10px;
	padding-right: 10px;
	text-align: center;

	border-radius: 12.5px;
	display: inline-block;
	font-size: 12.81px;

	background: linear-gradient(#c8c8c8, #a0a0a0);
	color: #53585f;
	height:25px;
	padding-top: 7px;


}

.searched-tag-box.odd{
	width: auto;
	padding-left:10px;
	padding-right: 10px;
	text-align: center;

	border-radius: 12.5px;
	display: inline-block;
	font-size: 12.81px;

	background: linear-gradient(#bababa, #575757);
	color: white;
	height:25px;
	padding-top: 7px;


}



.searched-tag-box.odd-box{
	background: linear-gradient(#c8c8c8, #a0a0a0);
	color: white

}

.searched-tag-box.even-box{
	background: linear-gradient(#c8c8c8, #a0a0a0);
	color: black

}
.sti-home-header .search-box-wrapper2{
	width:70%;
	margin: 0 auto;
}

.sti-home-header .search-box-wrapper2 .search-box{
	width:100%;
}

.sti-search-header .clear-search-input{
	position: absolute;
    width: 10px;
    top: 13px;
    right: 60px;
}

.sti-search-header .grey-search-icon{
	width: 42px;
    position: absolute;
    top: 0px;
	height:100%;
    right: 0px;
}

.frames-header-buttons-cnt.manage-stiches-button{
	display: none;
}
.frames-header-buttons-cnt.manage-stiches-button .optionbutton {
	background: white;
	border: 1.5px solid #cb0000;
	color: #cb0000;;
}
.frames-header-buttons-cnt.manage-stiches-button .stiches-delete-button{
	margin-left: 30px;
}

.home-menu-options{
    position: absolute;
    top: 26.66px;
    right: 19.66px;
    width: 87px;
    height: auto;
    border: 1px solid #cb0000;
	display: none;
    font-size: 12px;
    color: #53585f;
    padding: 8px;
    background: white;
	z-index: 999999999;
}


.home-menu-options p{
	text-align: center;
}
.home-menu-options p:hover{
	background-color: #c8c8c8;
}


.rem-tag-icon{
	width: 12px;
	height:12px;
	margin-left:-13px;
	margin-bottom: 7px;
}

.options-cnt .option-icon.add-icon{
    vertical-align: top;
    margin-top: 7px;
    width: 33px;
    height:33px;
}

/*.spam-icon {*/
    /*width: 23px;*/
    /*height: 23px;*/
    /*margin-top: 13px;*/
    /*margin-right: 9.5px;*/
    /*background-image: url("../images/Spam_Icon_Red.png");*/
/*}*/

/*.spam-icon:hover {*/
    /*background-image: url('../images/Spam_Icon_Dark_Red.png');*/
/*}*/

.sti-frame-header.sti-addstich-header{
	width:99%;
}
.todays-pick-heading{
	display: inline-block !important;
	margin: 0 auto !important;
}
.todayspick-cnt{
	width:100% !important;
	left:0% !important;
	margin-left:0% !important;
}
.left_button{
	width: 10px;
	height: 15px;
	left: 0px;
	position: absolute;
	margin-left:3%
}
.right_button{
	width: 10px;
	height: 15px;
	right: 0px ;
	top:0px;
	position: absolute ;
	margin-right:3%
}
.header-category{
	height:50px !important;
}
.category-name{
	text-align: center;
    padding-top: 17px;
}
.category-follow-cnt{
	position: absolute;
    top: 15px;
    right: 10px;
}
/*.stichio-logo{*/
	/*background-image: url('../images/Stichio_Double_Logo_Icon_Red.png');*/
	/*width:25px;*/
	/*height:25px;*/
	/*background-size: cover;*/
    /*position: absolute;*/
    /*top: 12.5px;*/
    /*left: 10px;*/
/*}*/
.header-tabs{
	height:30px !important;
	padding-top:1.25px;
}
.category-tab{
	font-size: 12.33px;
	width:33.33%;
	display:inline-block;
	height:95%;
	text-align: center;
	padding-top: 8px;
	/*color:#ffffff;*/
	color:#58535f;
	/*border-top: 1px solid #E3E3E3;*/
	/*border-bottom: 1px solid #E3E3E3;*/
}
.tabs-selected{
	background-color: #cb0000;
	color:#fff;
	border-top: none;
	border-bottom: none;
}
.header-tags{
	height:50px !important;
}
.tags-cntnr{
padding-top: 10px;
min-width: 100px;
}
.explore-tag-box{
	width: 100px;
	min-width: 110px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 17px;
    font-size: 10px;
	font-weight: bold;
    color: #ffffff;
    height: 30px;
	display: inline-block;
    vertical-align: middle;
	line-height: 30px;
	margin-left:1px;
}
.search-tag{

}
.frames-tab{
    border-right: 1px solid;
    border-right-color: #E3E3E3;
    border-left: 1px solid;
    margin-left: -5px;
    border-left-color: #E3E3E3;
}
.remove-border-right{
	border-right: none;
}
.remove-border-left{
	border-left: none;
}

.stichers-tab{
    margin-left: -5px;
}

.sti-events p{
	color: #ffffff !important;
}

.event-header-buttons{
	flex: 1;
	text-align: center;
	padding: 10px 0;
	display: inline-block;
	height:100%;
}

.event-header-button{
	display: table;
	height: 100%;
	width: 100%;
	border-right:1px solid #ddd;
	text-align: center;
}

.event-header-button > div{
	display: table-cell;
	vertical-align: middle;
}

.event-header-button p{
	font-size: 13.34px;
	color: #53525f;
	display: inline-block;
	line-height: 17px;
    margin-left: 3px;
}

@media screen and ( max-width: 330px) {
	.event-header-button p {
		font-size: 11.34px;
	}
}

.event-header-button img{
	display: inline-block;
	height: 17px;
	vertical-align: text-bottom;
}


.slideshow {
  font-family: "Arial", sans-serif;
  text-align: center;
  position:relative;
  width:100%;
  overflow:hidden;
  background: #1a1a1a;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-radius: .3em;
  margin-top: 30px;
}


.imageslide{
	width:100%;
	margin: 10px auto;
	overflow:hidden;
	position:relative;
	text-align: center;
	height: 250px;
}

.imageslide .slider-content {
  position: absolute;
  width:100%;
	height: 100%;

}

.animate-enter,.animate-leave {
	-webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
	left:100%;
}

.animate-enter.animate-enter-active {
	left:0;
}

.animate-leave {
	left:0;
}

.animate-leave.animate-leave-active {
	margin-left:-100%;
}
