body {
	background-color: #f0f0f0;
    font-size: 14.34px;
    color: #53585f;
}

.modal {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 9999998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
}


.modal-content {
    text-align: left;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 600px;
    min-height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    outline: none;
}

.modal::-webkit-scrollbar, .modal-content::-webkit-scrollbar {
  display: none;
}

.close-icon {
  z-index: 1000000000;
}

.ta_disabled {
  pointer-events: none;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dare-banner {
    border-radius: 3px;
    padding: 3px 10px;
    margin-bottom: 5px;
    background-color: #82b661;
}

.event-banner .dare-banner{
    background-color: rgba(0, 0, 0, 0.65);
}

.event-banner .dare-banner p{
    color: white !important;
    font-size: 17.34px !important;
    line-height: 21px !important;
}
.banner-text {
    color: white;
    /* text-shadow: 1px -1px 1px black; */
    font-size: 13.34px;
    line-height: 18px;
    font-weight: bold;
}
.ellipsis.banner-text{
    vertical-align: middle;
    width: calc(100% - 20px);
    display: inline-block;
}

.pattern {
    /*background-image: radial-gradient(closest-side, transparent 50%, rgba(0,0,0,.3) 99%),*/
    /*radial-gradient(closest-side, transparent 70%, rgba(0,0,0,.3) 99%);*/
    /*background-size:40px 40px;*/
    /*background-position:0 0, 20px 20px;*/
}

img.small-avatar {
    height: 25px !important;
    width: 25px !important;
    border-radius: 50%;
    vertical-align: middle;
}

img.chat-small-avatar {
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
    vertical-align: middle;
}

hr.full-width-hr {
	margin: 0;
}

.sti-profile-footer hr {
	margin-top: 0;
	margin-bottom: 0;
}

button:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.sti-main-btn {
	width: 60.5px;
	font-size: 8px;
	line-height: 15px;
}

.sti-disabled-btn:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.btn-follow {
    display: inline-block;
}

/*::-webkit-input-placeholder {*/
    /*font-size: 12px;*/
/*}*/
 /**/
/*:-moz-placeholder { !* Firefox 18- *!*/
    /*font-size: 12px;*/

/*}*/
 /**/
/*::-moz-placeholder {  !* Firefox 19+ *! */
    /*font-size: 12px;*/
/*}*/
 /**/
/*:-ms-input-placeholder {  */
    /*font-size: 12px;*/
/*}*/
@media screen and (min-width:900px) and (max-width:1200px){
 .header-frame-name ,.create-frame-header h2,.blank-frame-success-message p{
   font-size:1.3vw;
 }
 .frame-name-mobile {
 font-size: 1.3vw;
 }
 .nav-wrapper > li > a > p{
 font-size: 1vw;
 }

}
@media screen and (min-width:720px) and (max-width:900px){
 .sti-profile-header > .logo-cnt > .profile-info-cntnr > .user-name-cnt > p  ,.create-frame-header h2,.blank-frame-success-message p{
   font-size:1.8vw !important;
 }
 .frame-name-header-mobile {
 font-size: 1.8vw !important;
 }
 .nav-wrapper > li > a > p{
 font-size: 1.3vw !important;
 }

}
@media screen and (min-width:480px) and (max-width:720px){
 .sti-profile-header > .logo-cnt > .profile-info-cntnr > .user-name-cnt > p ,.create-frame-header h2,.blank-frame-success-message p{
   font-size:2.3vw !important;
 }
 .frame-name-header-mobile {
 font-size: 2.3vw !important;
 }
 .nav-wrapper > li > a > p {
 font-size: 1.8vw !important;
 }

}
@media screen and (min-width:320px) and (max-width:480px){
 .sti-profile-header > .logo-cnt > .profile-info-cntnr > .user-name-cnt > p ,.create-frame-header h2,.blank-frame-success-message p{
   font-size:3.2vw !important;
 }
 .frame-name-header-mobile {
 font-size: 3.2vw !important;
 }
 .nav-wrapper > li > a > p{
 font-size: 2.4vw !important;
 }

}
@media screen and (min-width:720px) and (max-width:900px){
 .header-frame-name{
  	font-size:1.8vw !important;
 }
 .frame-name-header-mobile {
	font-size: 1.8vw !important;
 }
 .nav-wrapper > li > a > p {
	font-size: 1.3vw !important;
 }

}
@media screen and (min-width:480px) and (max-width:720px){
 .header-frame-name{
  	font-size:2.3vw !important;
 }
 .frame-name-header-mobile {
	font-size: 2.3vw !important;
 }
 .nav-wrapper > li > a > p {
	font-size: 1.8vw !important;
 }

}
@media screen and (min-width:320px) and (max-width:480px){
 .header-frame-name{
  	font-size:3.2vw !important;
 }
 .frame-name-header-mobile {
	font-size: 3.2vw !important;
 }
 .nav-wrapper > li > a > p {
	font-size: 2.4vw !important;
 }

}
@media screen and (max-width:320px){
 .header-frame-name{
  font-size:1.9vw;
 }
 .frame-name-mobile {
	font-size: 4vw;
 }
 .nav-wrapper > li > a > p {
	font-size: 3vw;
 }

}

.loading-div-small{
	height: 40px !important;
	width: 40px !important;
	margin: 0 auto !important;
	position: static !important;
	display:none;
	margin-top: 10px !important;
}

.introVideoOverlay{
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.introVideoOverlayParent{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

.intro-videos-popup videogular, [videogular]{
    background-color: transparent !important;
}
    .spinner {
  margin: 30px auto 0;
  width: 50px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.text a{
    text-decoration: underline;
}

.crop-top-bottom{
    width: 100%;
    height: auto;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.dare-view-popup .dare-comments{
    display: none;
}

.back-image-center{
    background-size : cover;
    background-position : center center;
    background-repeat: no-repeat;
}