.sti-profile-body .main-frames-cnt .main-stiches-cnt .home-stiches-cnt .sti-profile-body .rec-frames-cnt .main-todayspicks-cnt{
    width: 100%;
    /*-webkit-overflow-scrolling: touch;*/
}
.main-stiches-cnt{
    /*overflow-y: scroll;*/
    /*padding: 0 5px;*/
    /*-webkit-overflow-scrolling:touch;*/
    position: relative;
}
.overflow-scroll {
overflow: scroll !important;
overflow-x: hidden !important;
overflow-y: scroll !important;
}

/*.frame-content {*/
    /*width: 236.44px;*/
    /*height: 247.57px;*/
    /*background-image: url('../images/frame-outline-mobile.png');*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
    /**display: inline;*/
    /*zoom: 1;*/
/*}*/

.frame-follow-btn-cnt {
    display: none;
}

.a-card {
	height: 100%;
	position: relative;
}

/*.a-card:hover .hover-content {
	background: #fff;
	opacity: 1;
}*/

.show-hover-cnt {
    background: #fff;
	opacity: 1 !important;
}

.main-content, .hover-content {
	margin-left: 17.21px;
	margin-right: 17.21px;
	margin-top: 14.21px;
	position: absolute;
	text-align: center;
	box-shadow: 0px 1.5px 2px gray;
}

.frame-content .details {
	height: 56.82px;
	width: 202px;
	background-color: #fff;
}

.frameName-wrapper {
	text-align: left;
    /*width: 50%;*/
    overflow: hidden;
    height: 100%;
    float: left;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
        margin-left: 5px;
    margin-right: 5px;
}

.frameName-wrapper > div {
    display:table;
    height: 100%;
}

.frameName-wrapper > div > div {
    display:table-cell;
    /*vertical-align:middle;*/
}

.frameName-wrapper .frame-user-name {
    margin-top:5.77px;
    max-width: 100px;
    font-size:9.87px;
    font-weight: normal;
    line-height: 10px;
}


.frame-name {
	display: inline-block;
    font-weight: bold;
    font-size: 11.34px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    float: left;
    /*text-overflow: ellipsis;*/
    width: 100%;
    overflow: hidden;
    padding-left: 5px;
    color: #53585f;
    max-width: 100%;
    height:30px;
    line-height: 14px;
    margin-top: 3px
}

.main-image-wrapper {
	height: 155.38px;
	width: 202px;
	overflow: hidden;
}

.main-image-wrapper img {
	width: 202px;
	min-height: 155.38px;
}

.main-content .frames-stiches-wrapper {
	height: 35.55px;
    display: inline-block;
}

.frame-content .details > div {
	display: inline-block;;
	/*width: 50%;*/
	height: 100%;
}

.main-content .details img {
    width: 35.55px;
    min-height: 35.55px;
}

.back-image-cnt {
    background-size : cover;
    background-position : center center;
}

.frame-details-img-cnt {
	display: inline-block;
	width: 35.55px;
    height: 35.55px;
    margin-right: 8.88px;
    float: right;
    margin-top: 7px;
}

.frame-details-img-cnt img {
	min-height: 35.55px;
	width: 100%;
	padding-top: 6.56px;
}

.hover-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.hover-content .details {
	background: linear-gradient(#eff1f2, #efd0cc);
}

.frames-stiches-hover {
	width: 202px;
	height: 155.38px;
}

.frame-stich-hover {
	display: inline-block;
	width: 50%;
	height: 100%;
}

.frames-stiches-hover img {
	width: 100%;
	min-height: 100%;
}

.frame-stiches-up, .frame-stiches-down{
	height: 50%;
}

/*for displaying the follow btn corectly*/
/*.action-icons > div > div > div{
	width: 17.17px;
    height: 17.87px;
    margin-right: 15.55px;
    float: right;
}*/

.action-icons > div > div > div:nth-child(2) {
    width: 14.01px;
}

/*.entity-pencil-icon {*/
    /*background-image: url('../images/Pencil_Icon.png');*/
/*}*/

/*.entity-pencil-icon:hover {*/
    /*background-image: url('../images/Pencil_Icon_Red.png');*/
/*}*/
.entity-share-icon-red {
    height : 18px;
    width : 14px;
    background-image: url('../images/Share_Icon_Red.png');
}

.entity-share-icon {
    height : 15.11px;
    width : 11.95px;
    background-image: url('../images/Share_Icon.png');
}

.entity-share-icon:hover {
    background-image: url('../images/Share_Icon_Red.png');
}

.frame-content .stich-number {
	position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    bottom: 0;
}

.frame-content .stich-number p {
	min-width: 28.54px;
    width: auto;
    padding-left: 6px;
    padding-right: 6px;
    height: 28.54px;
    font-size: 9.88px;
    font-weight: normal;
    display: inline-block;
    background: linear-gradient(#e20000, #cb0000);
    border-radius: 14.27px;
    box-shadow: 0 3.5px 2px -2px gray;
}

.frame-content .stich-number p span {
	display: inline-block;
    color: #fff;
    margin-top: 10px;
    font-size: 9.88px;
    font-family: Helvetica;
    font-weight: normal;
}

.frames-type-seperator-cnt {
    text-align: center;
    width: 100%;
}

.load-more-cnt span, .load-more-cnt p {
    color: #53585f;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 12.81px;
}



/* myprofile follower */

.follower-cnt {
    position: relative;
    height: 253.77px;
    width: 202.22px;
    background: #fff;
    box-shadow: 0px 1px 5px -1px gray;
}
.parent {
  text-align: center;
}

.parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
 }

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
 }

.follower-frames-main {
    display: flex;
    min-height: 110px;
    height:50%;
}

.follower-detail-cnt {
    width: 50%;
    height: 108.77px;
    display: inline-block;
}

.follower-image-cnt {
    margin-top: 13.33px;
    text-align: center;
}

.follower-name-cnt {
    margin-top: 11.55px;
    text-align: center;
}

.follower-name-cnt p {
    font-size: 12.34px;
    line-height: 15px;
}

.follower-frames-cnt {
    width: 100%;
    height: 132.44px;
    padding-top: 15.55px;
}

.follower-frames-cnt .frame-img-cnt {
    display: inline-block;
}
.follower-frames-cnt > div {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.follower-frames-cnt .frame-img-cnt {
    height: 75.55px;
    width: 75.55px;
}

.follower-frames-cnt p {
    margin-top: 8px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    font-size: 12px;
    font-weight: normal;
}

.follower-share-img-cnt, .follower-share-img-cnt {
    position: absolute;
}

.follower-user-name {
    display: inline-block;

}

.follower-user-image {
    height: 71.11px;
    width: 71.11px;
}

.follower-follow-btn-cnt {
    position: absolute;
    /*text-align: center;*/
    display: inline-block;
    width: 100%;
    top: 242.89px;
}

.follower-share-img-cnt {
    top: 8.88px;
    right: 10.22px;
}


.follower-follow-btn-cnt .sti-disabled-btn {
    font-weight: normal;
    letter-spacing: 0.4px;
}

.follower-frames-cnt > div > div {
    width: 100%;
    text-align: left;
    margin-left: 7px;
    display: inline-block;
}

.follower-frames-cnt .frame-name{
    width: 85%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    float: none;
    font-size: 8px;
    font-weight: normal;
    text-transform: uppercase;
}

.topPick {
    text-align: center;
    padding: 4px 2px;
    border: 0.5px solid #cb0000;
    font-size: 10px;
    border-radius:10px;
    margin-top:8px;
    margin-bottom: 8px;
    overflow: hidden;
    height: 20px;
    line-height: 12px;
}
/* myprofile follower end */


/* footer */
.sti-profile-footer {
    display: none;
}


/* footer ends */

/*stiches*/

.stich-content {
    width: 100%;
    height: auto;
    position: relative;
    left: -9999px;
    /*background-image: url('../images/frame-outline.png');*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
    /**display: inline;*/
    /*zoom: 1;*/
}

.main-todayspicks-image{
    object-fit: cover;
    overflow: hidden;
    /*overflow: hidden;*/
    outline: none;
    display: inline-block;
}

.main-todayspicks-image img{
    max-width: 200px;
    height: auto;
    outline:none;
    display:block;
}

.main-stich-image-wrapper{
	width: 100%;
    outline: none;
	/*overflow: hidden;*/
}

.main-stich-image-wrapper img {
	width: 100%;
    outline:none;
    display:block;
}

.main-stich-image-wrapper img:hover {
}

.stich-description-wrapper {
	text-align: left;
    width: 100%;
    overflow: hidden;
    max-height : 85px;
    /*text-overflow: ellipsis;*/
    padding-top: 3px;
    -webkit-transition: max-height 500ms linear;
    transition: max-height 500ms linear;

}

.stich-description{
    font-size: 11.34px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    float: left;
    line-height: 13px;
    width: 100%;
    padding-left: 9.77px;
    padding-right: 9.77px;
    color: #53585f;
    font-weight: normal;
    max-height: 46.5px;
    position: relative;
}

.stich-thumbnail .stich-description{
    font-size: 12.34px;
    line-height: 15px;

}

.stich-thumbnail .stich-brand-name{
    font-size: 12.34px;
}
.stich-details {
    background: white;
	height: auto;
	line-height: 20.82px;
	width: 100%;
    box-shadow: 0px 3px 5px -2px gray;
}

.stich-thumbnail .stich-details{
    border:none;
    box-shadow: none;
    position: relative;
}

.stich-thumbnail .more-description-popup{
    width: 98%;
}
/*.stich-content:hover .stich-details{
	background: linear-gradient(#eff1f2, #efd0cc);
}*/

.stich-thumbnail .morelink{
    font-size: 12.34px;
}

.show-stich-hover-cnt {
    opacity:1 !important;
    background-color: rgba(0,0,0,0.1) !important;
 }

.show-stich-btns {
    display: inline-block !important;
}

.hide-frame-details {
    display: none !important;
}

.stich-icons-cnt  {
    width: 90%;
    display: inline-block;
    height : 22px;
    margin-top : 8px;
    margin-bottom : 8px;
    margin-left: 15.88px;
    /*margin-left: 10.55px;*/
    /*float: left;*/
}
.stiches-count-cnt  {
    width: 30%;
    display: inline-block;
    float: left;
}
.likes-count-cnt  {
    width: 30%;
    display: inline-block;
}
.questions-count-cnt  {
    width: 30%;
    display: inline-block;
}
.dare-count-cnt{
    width: 30%;
    display: inline-block;
}
.stich-icons-cnt .stiches-count-cnt img{
    width : 17px;
    height : 17px;
    vertical-align: middle;
}

.stich-icons-cnt .likes-count-cnt img{
    width : 20px;
    height : 20px;
    vertical-align: middle;
}
.stich-icons-cnt .questions-count-cnt img{
    width : 20px;
    height : 20px;
    vertical-align: middle;
}
.stich-icons-cnt .dare-count-cnt img{
    width : 20px;
    height : 20px;
    vertical-align: middle;
}
.stich-icons-cnt span {
    font-size: 12.34px;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #53585f;
}


.dash{
    width: 91.6%;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.stich-frame-details-cnt{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 11.11px;
    padding-bottom: 8.33px;
}

.stich-frame-details-cnt .frame-details-img-cnt {
    float:none;
    display: inline-block;
    margin-left: 5px;
}

.stich-frame-details-cnt .frameName-wrapper {
    display: inline-block;
    float:none;
    max-width : 80%;
    margin-left: 6.11px;
    width : auto;
    overflow: hidden;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    line-height: 28px;

}

.stich-frame-details-cnt .frame-name {
    float:none;
    padding-left: 0px;
    vertical-align: middle;

}

.stich-frame-img-cnt {
    width: 25px;
    height: 25px;
    display: inline-block;
}
.normal-stich-frame-img-cnt{
     width: 39px;
    height: 57px;
    display: inline-block;
}
.normal-stich-frame-img-cnt img{
    width: 100%;
    min-height: 25px;
    height: 39px;
}
.stich-frame-details-cnt img {
    width: 100%;
    min-height: 25px;
    height: auto;
}

.stich-username{
    display: inline-block;
}
.stich-username span{
    display: inline-block;
    font-size: 12.34px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    float: left;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding-left: 5.5px;
    font-weight: normal;
    color: #53585f;
}

.stich-hover-cnt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/*.stich-content:hover .stich-hover-cnt {
    opacity: 1;
    background-color: rgba(0,0,0,0.3);
}*/


.stich-hover-cnt .bottom-cnt {
    bottom: 0;
}

.stich-hover-cnt .upper-cnt, .stich-hover-cnt .bottom-cnt {
    /*width: 100%;*/
    /*height: 36.44px;*/
    /*position: absolute;*/
    /*!*background-color: rgba(255,255,255,0.5);*!*/
    /*display: inline-block;*/

    width: 21%;
    right: 4px;
    top: 4px;
    margin-top: 12px;
    margin: 12px -4px;
    height: auto;
    position: absolute;
    /* background-color: rgba(255,255,255,0.5); */
    display: block;
}

.main-stich-image-wrapper {
    position: relative;
}

.stich-button {
    height : 19.55px;
    width : 45.33px;
    margin-left : 11.11px;
    margin-top: 8px;
}

.stich-hover-cnt .upper-cnt img{
    width : 17.37px;
    display: inline-block;
}
.main-stich-image-wrapper.select-stiches .stich-hover-cnt .upper-cnt img{
     float: left;
    margin-left:15.92px;
    width: 14.22px;
    margin-top: 10.22px;
     height: 14.22px;
}

.main-stich-image-wrapper.select-stiches .stich-hover-cnt .upper-cnt{
    background-color: rgba(0,0,0,0.3);
}


.stich-hover-cnt .bottom-cnt .share-icon{
    position: absolute;
    bottom: 10.66px;
    right: 10.66px;
    height : 15.11px;
    width : 11.95px;
    background-image: url('../images/Share_Icon.png');
}

.stich-hover-cnt .bottom-cnt .share-icon:hover{
    position: absolute;
    bottom: 10.66px;
    right: 10.66px;
    height : 15.11px;
    width : 11.95px;
    background-image: url('../images/Share_Icon_Red.png');
}

.stich-hover-cnt .bottom-cnt  .url-wrapper{
	text-align: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12.44px;
    margin-left: 9.33px;
    display: inline-block;
}

.stich-hover-cnt .bottom-cnt  .url-wrapper .url{
    font-size: 9.87px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding-right: 5.5px;
    color: #313131;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;

}

.stich-hover-cnt .bottom-cnt  .entity-share-icon{
    position: absolute;
    bottom: 10.66px;
    right: 10.66px;
}

/* topics */

.all-topics-cnt {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.topic-select-cnt {
    position: absolute;
    top: 82.93%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    height: 21.55px;
    line-height: 21.55px;
}


.topic-select-cnt input {
    background: rgba(0,0,0,0);
    border: 1px solid #fff;
}

.topic-select-cnt .unchecked {
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-top: 4px;
}

.topic-select-cnt .checked {
    width: 13.33px;
    height: 12.88px;
    vertical-align: top;
    margin-top: 4px;
}

.topic-select-cnt span {
    font-size: 14px;
    vertical-align: top;
}

.topic-content {
    position: relative;
    height: 234.22px;
    width: 234.22px;
    overflow: hidden;
}

.topic-content .hover-screen {
    background: rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    visibility : hidden;

}

.topic-content:hover .hover-screen {
    display: inline-block;
}

.topic-name-cnt {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: auto;
    white-space: nowrap;
}

.topics-loading-div {
    top: 9px;
    left: 36px;
}
/* topics end */

.main-images-cnt .main-stich-image-wrapper .stich-hover-cnt .upper-cnt img{
    float: left;
    margin-left:15.92px;
    width: 14.22px;
    margin-top: 10.22px;
    height: 14.22px;
}

.main-images-cnt .stich-hover-cnt .upper-cnt {
    background-color: rgba(0,0,0,0.3);

}

.stich-description:focus {
    outline: 0;
}

.desc-edit-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 6.67px;
    margin-right : 6.67px;
    width:13.33px;
    height:13.33px
}

.stich-hover-cnt .rem-img-icon {
    float: right;
    position: absolute;
    right: 0;
    top:0;
    margin-right: 10px;
    margin-top: 10px;
    width:15px;
    height:15px;
}

.hover-stich-icons {
    /*width: 93%;*/
    /*height: auto;*/
    /*display: none;*/
    /*text-align: justify;*/
    /*margin-top: 8px;*/
    /*margin-left:5px;*/
    /*margin-right: 5px;*/
    /*width: 45%;*/

    height: auto;
    display: block;
    text-align: justify;
}

a#menu-button{
    /*width: 45px;*/
}

.more {
    line-height: 14px;
}

.morelink{
    color: #cb0000 !important;
    font-size: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 9.77px;
    background: #fff;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
    padding-left: 35px;
}

.truth-dare-box .morelink{
    font-size: 12.34px !important;
    bottom: 0px;
    right: 5px;
}
restich-view .morelink{
    font-weight: normal !important;
}

.more-description-popup{
    display:none;
    position: absolute;
    font-size: 11.34px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    float: left;
    line-height: normal;
    color: #53585f;
    background: #f0f0f0;
    border: solid 1px #cb0000;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: 5px;
    margin-top: 10px;
    z-index: 999999;
}

.more-description-popup:after, .more-description-popup:before{
    right:5px
}

.show-more-des{
    display: block !important;
}

.stich-icon-popup:after, .stich-icon-popup:before{
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.stich-icon-popup:after{
	border-color: rgba(226, 226, 226, 0);
	border-bottom-color: #f0f0f0;
	border-width: 8px;
    border-left-width: 12px;
    border-right-width: 12px;
    margin-left: 2px;
}
.stich-icon-popup:before{
	border-color: rgba(203, 0, 0, 0);
	border-bottom-color: #cb0000;
	border-width: 10px;
    border-left-width: 14px;
    border-right-width: 15px;
}

/*.stich-frame-name, .stich-username {*/
    /*font-size: 10px;*/
    /*color: #53585f;*/
    /*!*max-width: 24vw;*!*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*line-height: 10px;*/
    /*margin-top: 2px;*/
/*}*/

@media screen and (max-width: 600px) and (min-width: 320px) {
    .stich-frame-name, .stich-username {
        /*max-width: 33vw;*/
    }
}

@media screen and (min-width: 600px) {
    .stich-frame-name, .stich-username {
        /*max-width: 22vw;*/
    }
}


.stich-frame-name, .stich-username {
    font-size: 11px;
    color: #53585f;
    /* max-width: 24vw;
    / overflow: hidden; */
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    line-height: 12px;
    margin-top: 2px;
    overflow-y: hidden;
    height: auto;
    max-height: 25px;
    overflow: hidden;
}
.normal-stich-username {
    font-size: 9.34px;
    color: #53585f;
    max-width: 30vw;
    overflow-wrap: break-word;
    margin-top: 0px;
    overflow-y: hidden;
    height: auto;
    max-height: 25px;
    overflow: hidden;
}
.stich-frame-name{
    font-weight: bold;
}

.stich-brand-name {
    font-size: 11.34px;
    padding-left: 9.77px;
    padding-right: 9.77px;
    padding-top:3px;
    font-weight: bold;
    color: #53585f;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 232px;
}

.stich-brand-name > p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


a{
   color:inherit;
}

.add-tags {
   height: 220px;
    width: 87%;
    position: absolute;
    z-index: 999;
    top: 38px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    max-width: 155px;
    display:none;
}

.note-box {
    /*width:233px;*/
    height:auto;
    /*border: 1px solid #e6e9eb;*/
    /*margin-bottom: 5px;*/
    /*border-radius: 3px;*/
    background: white;
    padding: 10px;
    padding-bottom: 0px;
    padding-top:5px;
    /*min-height: 40px;*/
    /* border-bottom: none; */
    /*border-bottom-left-radius: 0px;*/
    /*border-bottom-right-radius: 0px;*/
}

.activity-log-box p{
    font-size: 13.34px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    line-height: 17px;
    text-overflow: ellipsis;
    /*width: 100%;*/
    overflow: hidden;
    color: #53585f;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: normal;
    padding: 4px 0px;
}

.activity-log-box .action-icon {
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.activity-log-box {
        border-bottom: 1px solid #e6e9eb;
    /*min-height: 40px;*/
}

.activity-action-box{
    text-align: center;
    margin-top: 10px;
}

.activity-action-box button{
    margin-left: 5px;
    width: 56px;
    height: 22px;

}

.tags{
    /*border: solid #fff 2px;*/
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px;
}

.add-tags-inner-cnt > p, .tags {
   font-size: 9px;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.add-tags-inner-cnt  > p{
    color: #f0f0f0;
}

.add-tags-inner-cnt {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px;
}

.add-tags-close {
    display: block;
    margin: 0 auto;
    height: 15px;
    position: absolute;
    top: 7px;
    right: 7px;
}

.tag-selected {
    border: solid #fff 2px;
    color: #fff;
}

.tag-unselected {
    border: solid transparent 2px;
    color: #fff;
}
.prevent-scroll{
    overflow: hidden !important;
    height: 100%;
    padding-right: 15px;
    /*position: fixed;*/
}

.user-image-note {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto !important;
}

.truth-dare-box .user-image-cnt span, .create-new-dare-popup .user-image-cnt span{
    font-size: 10px !important;
    white-space: nowrap !important;
}

.admin-dare-popup .adminDareFeed{
    border: none;
}

.indiv_response_container{
    color: white;
    display: flex;
    position: relative;
    /*padding:20px 24px;*/
    height: 195px;
}

.indiv_response_container .response_text{
    font-weight: bold !important;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

.indiv_response_container p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.response_container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    padding:30px 40px;
    margin-top: 5px;
}

.response_container p{
    text-align: center;
}
.response_text{
    font-size: 26px;
    line-height: 32px;
    font-weight: 300
}

.response_container .response_text{
    font-weight: bold !important;
}