.home-icon-full {
	display: none !important;
}
.home-icon-mini {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-right: 12.88px;
	background-image: url('../images/Stichio_Double_Logo_Icon_Red.png');
}

li.right-nav-load {
	display: inline-block;
}

li.followers-nav {
	display: none;
}

.sti-profile-header .options-cnt {
	display: none;
}

.sti-profile-header .mob-options-cnt {
	right: 0;
	height: 42px;
	display: table-cell;
    vertical-align: middle;
}

.sti-profile-header {
	min-width: 100%;
	/*height: 70px;*/
	background: #fff;
}

.logo-cnt .user-image {
	display: none;
}

.logo-cnt .profile-info-cntnr {
	height: 10px;
}

.nav-cntnr {
	width: 55%;
	/*to center it more*/
    margin-left: -24%;
}

.nav-wrapper {
	padding-top: 0;
	height: 28px;
}

.nav-wrapper p {
	font-size: 10px;
}

.nav-wrapper li:hover span {
	/*border-bottom: 1.5px solid #fff;*/
	padding-bottom: 5px;
}

.nav-wrapper li:hover span.nav-selected {
	border-bottom: 1.5px solid #cb0000;
}

.likes-nav > div {
	display: inline-block;
}

div.left-nav-load {
	display: none;
}

div.right-nav-load {
	display: inline-block;
}

div.right-nav-load {
	padding-left: 14.5px;
    font-weight: bolder;
    font-size: 18px;
}

div.left-nav-load {
	padding-right: 14.5px;
    font-weight: bolder;
    font-size: 18px;
}

.sti-profile-header .header-details-cnt {
	margin-top: 6px;
	height: 31px;
}
.sti-profile-header .logo-cnt {
	margin-top: 7px;
}

.sti-profile-header .header-seperator {
	margin-top: 25px;
	height: auto;
}

.sti-profile-header .logo-cnt .user-name-cnt {
	width: auto;
}

.sti-profile-body {
	padding-top: 73px;
}

/* options icon */

.message-icon {
	width: 25.33px;
	height: 18.22px;
	background-image: url('../images/Message_Icon_Red.png');
}

.message-icon-footer {
	width: 22px;
	height: 100%;
	background-image: url('../images/notification_icon_light.png');
}

.selected-page .message-icon-footer {
	background-image: url('../images/notification_icon_dark.png');
}

.message-icon:hover {
	background-image: url('../images/Message_Icon_Da_k_Red.png');
}

/*.pencil-icon {*/
	/*width: 24.44px;*/
	/*height: 24px;*/
	/*background-image: url('../images/Pencil_Icon_Red.png');*/
/*}*/

/*.pencil-icon:hover {*/
	/*background-image: url('../images/Pencil_Icon_Dark_Red.png');*/
/*}*/

/*.friends-icon {*/
	/*width: 28.44px;*/
	/*height: 24px;*/
	/*background-image: url('../images/Friends_Icon_Red.png');*/
/*}*/

/*.friends-icon:hover {*/
	/*background-image: url('../images/Friends_Icon_Dark_Red.png');*/
/*}*/


.share-icon {
	width: 14.5px;
	height: 24px;
	background-image: url('../images/Share_Icon_Red.png');
}

.share-icon:hover {
	background-image: url('../images/Share_Icon_Dark_Red.png');
}



.house-icon {
	width: 20.6px;
	height: 100%;
	background-image: url('../images/home_icon_light.png');
	background-position: center;
}

.selected-page .house-icon {
	background-image: url('../images/home_icon_dark.png');
}

.house-icon:hover {

}

.following-header-mob-btns-cnt {
	margin-top: -10px;
	text-align: center;
}
.following-header-mob-btns-cnt .following-stichers {
	display: none;
}

.following-header-mob-btns-cnt button {
	/*see frames btn was getting messed up*/
	width: 77.5px;
	position: relative;
	z-index: 999;
}

/*implementing sliding header*/
.slider-header-gp{
	display: -webkit-flex !important;
	display: flex !important;
	overflow: hidden !important;
	height: 35px !important;
	width: 50% !important;
	padding-top: 3px;
    margin-left: -27% !important;
	/*box-shadow: inset -25px 0 30px -15px rgba(0,0,0,0.2);*/
}

.slider-header-p {
	display: inherit !important;
	overflow-x: hidden !important;
	height: 100% !important;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;
}

.slider-header-c {
	display: inline !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}



.home-icons-box{
	width: 100%;
    display: flex;
    min-height: 43px;
    font-size: 9.34px;
    font-family: Helvetica;
    letter-spacing: 0.2px;
    line-height: 13px;
    color: #53585f;
    padding: 5px;
	top:0;
	z-index: 999;
	background: #f0f0f0;
    /*background: white;*/
}

.home-icons-box.fixed{
	display: none;
	position: fixed;
}

.home-icons-box img{
	width: 25px !important;
	height:25px !important;
	margin: auto 2px;
}


.home-icon-box{
	display: flex;
    background: white;
    border: 1px solid #d0cbcb;
    border-radius: 5px;
    width: 24.5%;
    margin-right: 0.66%;
    padding: 0px;
}

.home-icon-box p{
	font-weight: bold;
	margin: auto 3px;
	margin-left: 3px;
	white-space: initial;
}

.profile-header-menu{
	/*border: 1px solid #ddd;*/
    height: 40px;
    display: flex;
    /* border-top: 1px solid #ddd; */
}

.profile-header-menu-box{
	width: 33%;
    padding: 0px;
    background: white;
    height: 39px;
    padding-left: 5px;
    display: flex;
}

.profile-header-menu-box > div{
	display: flex;
    margin: auto auto;
}
.profile-header-menu-box-td{
	width: 50%;
    padding: 0px;
    background: white;
    height: 39px;
    padding-left: 5px;
    border: 1px solid #ddd;
    display: flex;
}

.profile-header-menu-box.two{
	width: 50%;
}


.profile-header-menu img{
	width: 24px !important;
    height: 24px !important;
    display: inline-block;
    margin: auto 0;
    /* margin-top: 9px; */
    margin-right: 5px;
}

.profile-header-menu p{
	padding: 0px;
    /* line-height: 25px; */
    font-size: 11.5px;
    /* vertical-align: top; */
    /* margin-top: 14px; */
    margin: auto 0;
}

.profile-header-top{
	display: flex;
	height: 45px;
	background: linear-gradient(#005493, #002545);
	/*background: white;*/
}

.new-header{
	display: flex;
	height: 45px;
	background:white
}

.new-header.grey{
	background:#f5f5f5
}

.new-header .header-user-image{
	width:30px;
	height:30px;
	border: 1px solid black;
    border-radius: 50%;
}
.header-user-image-cnt{
	position:absolute;
	left:10px;
	top:0px;
	height:100%
}

.new-header .login-button{
	position: absolute;
    right: 20px;
    top: 12px;
    background: #53585f;
	font-size:10px;
	height:23px;

}

.header-new-back {
	position: absolute;
	top: 2px;
    padding:10px
}

.header-new-back img{
	height: 23px;
}

.refresh-icon-new-cnt{
	position:absolute;
	right:35px;
	height:100%;
	top:0px;
}
.refresh-icon-new{
	/*top:13px*/
}
.header-title{
	text-align:center;
	color:black;
	font-size: 19.34px;
}
.popup-header-title{
    text-align:center;
	color:black;
	font-size: 15.34px;
    font-weight:bold
}

.header-hamburger{
	/*height: 18.22px;*/
	width: 23px;
	cursor: pointer;
	position:absolute;
	right:10px;
	height:100%;
	top:0px
}

.header-hamburger img{
	width: 23px;
}

.new-header-cnt{
	height: 46px;
	border-bottom: 1px solid #ddd;
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
}

.profile-header-top img{
	height:30px;
}
.profile-share-icon{
	height: 25px !important;
    width: auto;
    margin-left: 2px;
}


.profile-header-top .user-name{
	margin: auto auto;
	text-align: center;
	font-size: 14px;
}


.search-tags-cnt.fixed{
	position: fixed;
	top: 0px;
    width: 100%;
	background: white;
	display: none;
}

.selected-option{
	color: #cb0000;
}

.refresh-icon-cnt{
	    width: 30px;
    display: table;
	margin:auto;
    margin-right: 10px;
}

.refresh-icon-cnt > img{
	margin: auto 0;
    height: auto;
	width: 22px;
    vertical-align: middle;
    display: table-cell;
}

.profile-header-top .user-image{
	border: 1px solid white;
}
.user-name {
	color: #53585f;
	font-weight: bold;
    font-size: 14.81px;
}

button {
	font-size: 11.88px;
}

.new-header-cnt-parent{
	height: 45px;
	position:relative;
    margin-bottom:2px;
}

.modal .new-header-cnt-parent, .modalDialog .new-header-cnt-parent{
	margin-bottom:0px
}

.numberCircle {
		position: absolute;
		top:5px;
		right:-10px;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		padding: 2px 1px 2px 1px;
		background:#59f90e;
		border: 1px solid white;
		color: black;
		text-align: center;
		font: 12px Arial, sans-serif;
	}

.search-box-cnt{
	width: calc(100% - 110px);
	height: 32px;
	margin: 0 auto;
	position: relative;
	/*top: 6px;*/

}