.container {
	width: 100%;
	/*min-width: 960px;*/
    padding: 0;
}

* {
    font-family: Helvetica;
    box-sizing: border-box;
}

#my-activity-tab-cnt1 .ma-header {
    display: inline-block;
    vertical-align: middle;
}

#my-activity-tab-cnt1 .ma-tabs {
    display: inline-flex;
    width: calc(100% - 100px);
}

.ma-tabs {
    width: 100%;
}

.ma-tabs .type {
    margin-top: 5px;
}
.block {
	position: absolute;
}

.bookmark-icon-wrapper {
	width: 36px;
	height: 34px;
    display: flex;
    position: relative;
    cursor: pointer;
    z-index: 4;
    padding: 0 10px 10px;
}

.modal .dareSug, .modalDialog .dareSug {
    border: none;
}

.dareSugGradientBg {
    background-image: -webkit-linear-gradient(top, #fff8dc, #ffe4b5);
    background-image: -moz-linear-gradient(top, #fff8dc, #ffe4b5);
    background-image: -ms-linear-gradient(top, #fff8dc, #ffe4b5); 
    background-image: -o-linear-gradient(top, #fff8dc, #ffe4b5);
}

.no-touch .bookmark-icon:hover {
    background-image: url('../images/bookmark_hover.png');
}

.no-touch .bookmark-icon-wrapper:hover > .bookmark-tooltip {
    display: block;
}

.bookmark-tooltip {
    display: none;
    background: #777;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    top: 2px;
    right: 36px;
    white-space: nowrap;
}

.bookmarked .bookmark-icon {
    background-image: url('../images/bookmark_selected.png') !important;
}

.bookmark-icon {
	background-image: url('../images/bookmark_default.png');
    background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 330px) {
    .user-follow {
        padding: 0 15px !important;
    }
}

.accept-button, .reject-button {
    text-align: center;
    border-radius: 3px;
    background: #fff;
    width: 130px;
    height: 30px;
}

.search-contact-input::-webkit-input-placeholder {
    font-size: 13px !important;
    color: rgba(230, 229, 229, 0.85) !important;
}

.highlighter {
    flex: 1;
    min-height: 53px;
}
.highlighter .tab {
    padding: 5px;
    color: #9e9999;
}

.user-follow-btn {
    font-weight: bold;
    padding: 6px;
    width: 100px;
    text-align: center;
    color: #ec5d57;
    border: 1px solid #ec5d57;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.menu-nav::-webkit-scrollbar {
    display: none;
}

.contact_us_widget:hover {
	box-shadow: inset 0 0 6px #ddd;
}

.contact_us_widget {
	box-shadow: 0 0 6px #ddd;
}

ul.menu > li, ul.menu2 > li {
	text-align: left;
    padding: 10px;
    cursor: pointer;
	font-size: 12px;
}

ul.menu2 > li:active, ul.menu2 > li:hover {
	color: #007adf;
}

ul.menu > li:active, ul.menu > li:hover {
	color: #fff;
    background-color: #005493;
}

.tw-widget-clone {
    /*color: white;*/
    /*display: flex;*/
    width: 100%;
    /*height: 40px;*/
    /*cursor: pointer;*/
    /*background-color: #1b95e0;*/
    /*border-radius: 3px;*/
    /*margin-bottom: 10px;*/
    text-align: center;
    margin-bottom: 10px;
}

.cd-friend-search::-webkit-input-placeholder {
    font-size: 13.34px;
}


.play-icon-small {
    border-left: 15px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: none;
    opacity: 0.7;
}

.refresh-button {
    background: radial-gradient(#EC5D57, #e45650);
    border-radius: 3px;
    padding: 4px 7px;
    color: white;
    cursor: pointer;
    height: 24px;
    /*margin: auto 0;*/
}

.refresh-button:hover {
    background: radial-gradient(#e45650, #d24f49);
}

@media screen and (max-width: 330px) {
    .event_dares .tab {
        font-size: 11.34px;
    }
}

.give-dare-expand {
    width: 100% !important;
}

.highlighter {
    flex: 1;
}

.btn-active {
    height: 30px;
    width: 90px;
    color: #fff;
    font-weight: normal;
    background-color: #EC5D57;
	padding: 0;
}

.btn-normal {
    height: 30px;
    width: 90px;
    color: #EC5D57;
    font-weight: normal;
    border: 1px solid #EC5D57;
    background-color: #fff;
    box-sizing: border-box;
	padding: 0;
}
.border-stc {
    /*border-radius: 3px;*/
    border: 1px solid #e6e9eb;
    border-left:none;
    border-right:none;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.expand, .collapse {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #EC5D57;
    display: none;
    background-color: white;
}

.adminDareFeed {
    /*background-color: white;*/
    background-color: white;
    position: relative;
    border: 1px solid #e6e9eb;
    border-left:none;
	border-right:none;
    /*border-radius: 3px;*/
    margin-bottom: 5px
}

.admin-dare-boundary {
    /*overflow: hidden;*/
    /*padding: 15px;*/
    margin-bottom: 10px;
    background-color: #fff;
    /*border: 1px solid #e6e9eb;*/
    /*border-radius: 3px;*/
    position: relative;
}

.admin-dare-popup .admin-dare-boundary{
    padding: 0px;
    margin-bottom: 0px;
    border: none;

}
.text {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 18px;
}

.comment-box-cnt {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-top: 1px solid #eee;
    display: flex;
    z-index: 5;
}

.comment-box {
    flex: 1;
    line-height: 18px;
    margin: 5px 0 5px 10px;
    height: 60px;
}

.comment-box .ta {
  width: 100%;
  height: 100%;
  resize: none;
  line-height: 18px;
  border: none;
  font-size: 14.34px;
}

.comment-box .ta::-webkit-input-placeholder{
    font-size: 14.34px !important;
}

.cu_input::-webkit-input-placeholder {
	font-size: 14.34px;
}

.dare_ta {
    line-height: 18px;
    flex: 1; height: 31px;
    border: none;
    resize: none;
    font-size: 14px;
    overflow: hidden;
    background: inherit;
}

.dare_ta::-webkit-input-placeholder {
    font-size: 14.34px;
    white-space: nowrap;
}

.cd_ta::-webkit-input-placeholder {
    font-size: 14.34px;
    position: relative;
    left: -3px;
}

.progress {
    background-image: url("../images/ring.gif");
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    text-align: center;
}

.comment-loading-icon, .loading-icon {
    width: 110px;
    height: 110px;
    border-radius: 20px;
    background-size: 80px 80px;
}

.comment-image-loading, .image-loading {
    width: 125px;
    height: 150px;
    border: 1px solid #DDDDDD;
}

select{
     -webkit-appearance: none;
    -webkit-border-radius: 0px;
     -moz-appearance: none;
     appearance: none;
     /* Adding a dropdown icon  */
    background: url('../images/Scroll_Down_Arrow_Icon_Grey.png')  no-repeat;
    background-position: right 10px top 10px;
    background-size: 14px 7.5px;
    width: 40px;
    height: 20px;


}

select.mod {
    -webkit-appearance: initial;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    background-position: right 4px top 6px;
    padding-right: 24px;
    width: auto;
}

input[type="text"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    appearance:none;
}

.button, button {
	/*background: linear-gradient(#e20000, #cb0000);*/
    background: linear-gradient(#006fca, #005493);
    border: none;
    color: #fff;
    height: 24.88px;
    /*box-shadow: 0 2.5px 2px -2px gray;*/
    font-family: Helvetica;
    font-weight: bold;
    cursor: pointer;
    border: none;
    letter-spacing: 0.2px;
    text-align:center;
}

button:hover, .button:hover {
    -webkit-box-shadow: inset 0 0 18px #860A0A;
       -moz-box-shadow: inset 0 0 18px #860A0A;
            box-shadow: inset 0 0 18px #860A0A;
}

.profile-header-top button, .profile-header-top .button{
    background: white;
    color: #002545;
}

button:focus, .button:focus {outline:0;}

.sti-main-btn {

}

.sti-img-btn, .sti-img-btn:hover {
    background: #f9fbfd;
    height: auto;
    box-shadow: none;
}

.cross-button {
    background: #ffffff url("../images/Cross_X_Icon_Grey.png");
    background-size: contain;
    height: 16.88px;
}
.cross-circle-button {
    background: #ffffff url("../images/Cross_White_X_Grey_Circle_Icon.png");
    background-size: contain;
    height: 16.88px;
}
.cross-button1 {
    background: #ffffff url("../images/Cross_X_Icon_Grey.png");
    background-size: contain;
    height: 16.88px;
}

.popup-back {
    background: #ffffff url("../images/Back_Icon_Grey.png");
    background-size: contain;
}

/*.add-icon {*/
    /*width: 31px;*/
    /*height: 31px;*/
    /*margin-right: 9.5px;*/
    /*background-image: url('../images/Add_Button.png');*/
/*}*/



.options-cnt .share-icon{
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat
}



.loading-div {
    background-image: url("../images/ring.gif");
    font-size:0;
    width: 27.55px;
    height: 27.55px;
    background-size: cover;
    position: absolute;
    display: none;
    right: 20.39px;
}

.select-frame-popup .loading-div {
    background-image: url("../images/ring.gif");
    font-size:0;
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    display: none;
}


.search-loading-div, .import-loading-div, .loading-contributors,.friends-loading{
    background-image: url("../images/ring.gif");
    background-color: #ffffff;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    font-size:0;
    position: fixed;
    width: 114.55px;
    height: 114.55px;
    top: 220.39px;
    left : 50%;
    border-radius:20px;
    margin-left:-57px;
    z-index: 999999;
}
/*for testing chat*/
.search-loading-div {
    display: none;
}

.search-loading-div.home-body{
    top : 400px;
}

.loading-contributors {
    display: block;
}

.sti-disabled-btn {
    background: #c7c7c7;
    background: linear-gradient(#c8c8c8, #a0a0a0);
    color: #2e2e2e;
    box-shadow: none;
    font-weight: normal;
}

.sti-disabled-btn:hover {
    -webkit-box-shadow: inset 0 0 18px grey;
       -moz-box-shadow: inset 0 0 18px grey;
            box-shadow: inset 0 0 18px grey;
}

.no-shadow-btn:hover {
    /*-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;*/
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.chat-popup hr{
    border-top: 1px solid #e6e9eb;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    height: auto;
    border: 0;
    width: 100%;
}

.img-div {
    display: inline-block;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sti-cursor {
    cursor: pointer;
}

.sections-seperator hr {
    margin-left: 17.77px;
    margin-right: 17.77px;
}

.user-image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

img {
    border: none;
    outline: none;
}

::-webkit-input-placeholder {
    color: #7d7d7d !important;
    font-size: 12px;
    padding: 0 2px 0 4px !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #7d7d7d !important;
    padding: 0 2px 0 4px !important;
    font-size: 11.34px;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #7d7d7d !important;
    font-size: 11.34px;
    padding: 0 2px 0 4px !important;
}

:-ms-input-placeholder {
    color: #7d7d7d !important;
    font-size: 11.34px;
    padding: 0 2px 0 4px !important;
}

.select-option {
    color: #7d7d7d !important;
}

.notification-img-cnt {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 30px;
    top: 6px;
}

.notification-img-cnt img {
    margin-right: 0;
    position: absolute;
}

.notification-img-cnt p{
    margin-top: 1.5px;
}

.notification-num-cnt {
    position: absolute;
    border-radius: 50%;
    width: auto;
    height: 15px;
    right: 0;
    top: 3px;
    color: red;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}
.more-popup .more-options li a  .message .notification-num-cnt{
    font-size: 10px;
    min-width: 10px;
}
.follower-share-icon {
    width: 10.66px;
    height: 14.33px;
    background-image: url('../images/Share_Icon.png');
    background-size: contain;
    background-repeat: no-repeat
}

.follower-share-icon:hover {
    background-image: url('../images/Share_Icon_Red.png');
    background-size: contain;
    background-repeat: no-repeat
}

.clear_input {
    color: #a0a0a0;
}

input[type="text"], select, textarea {
	color: #53585f;
    letter-spacing: 0.2px;
    border: 1px solid #797979;
}
.frames-type-seperator-cnt {
    display: none;
}

.sti-popup ::-webkit-scrollbar {
    width: 0px !important;
}

.sti-popup ::-webkit-scrollbar-track {
    background-color: #8c8b8b;
    border-left: 2.45px solid #fff;
    border-right: 2.45px solid #fff;
}

.sti-popup ::-webkit-scrollbar-thumb {
    background-color: #8c8b8b;
}

.sti-popup ::-webkit-scrollbar-thumb:hover {
    background-color: #8c8b8b;
}


@font-face {
  font-family: MyHelvetica;
  src: url("../fonts/ufonts.com_american-typewriter.ttf");
}

.password-info-msg {
    display: none;
    position: absolute;
    background: #fff;
    color: #313131;
    z-index: 100000;
    font-size: 12px;
    line-height: 15px;
}

.user-image-note {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.stich-mini-view {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 5px;
}

.user-image-cnt {
    position: relative;
    width: 54px;
    display: inline-block;
    margin: 0 3px;
    /*height:50px;*/
    vertical-align: top;
}

.small-triangle{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    left: 10px;
    bottom: 0;
    position: absolute;

}

.camera-icon{
    cursor: pointer;
    height: 25px;
    /*width: 42.35px !important;*/
    /*margin-left: 10px;*/
    /*margin: auto auto; */
    margin-top: 11px;
}

.green-button{
    /*background: linear-gradient(#00BB5F, #009a58);*/
    background: #00bb5f;
    border-radius: 3px;
}

.pink-button{
    /*background: linear-gradient(#F1307E, #bf2f60);*/
    background: #F1307E;

}

body.modal-open {
    overflow: hidden;
}

* {
	box-sizing: border-box;
}

.block {
	position: absolute;
	/*border-right: 1px solid #ddd;*/
	/*border: 1px solid #ddd;*/
}

.vert-center{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
    -webkit-transform: translate(0,-50%);
  /*position: absolute;*/
  /*top: 50%;*/
}

.play-icon-dummy-ds{
    width: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    bottom: 43px;
    left: 7px;
    height: 13px !important;
    opacity: 0.8;
}

.ds-down-arrow {
    border-top: 4px solid lightgrey;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    height: 0;
    width: 0;
    margin-left: 3px;
}

.text_response {
    width: 80%;
}
.media_response {
    width: 40vw;
    max-width: 240px;
}
.ds_responses_text {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 230px;
    -webkit-overflow-scrolling:touch;
}

.ds_responses_media {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 285px;
    height: calc(40vw + 45px);
    -webkit-overflow-scrolling:touch;
}

.ds_responses_outer_text {
    overflow:hidden;
    width: 100%;
    height: 220px;
    max-width: 600px;
    margin-bottom: 10px;
}

.ds_responses_outer_media {
    overflow:hidden;
    width: 100%;
    max-height: 270px;
    margin-bottom: 10px;
    height: calc(40vw + 30px)
}

.genresContainerOuter{
        z-index: 100;
        max-width: 600px;
        overflow: hidden;
        padding-bottom: 5px;
        height: 105px;
        background: #f0f0f0
    }
    #dummygenresContainerOuter{
        height: 130px;
        display: none;
    }
    .genresContainer {
        width:100%;
        height: 100px;
        overflow: hidden;
        background: white;
        max-width: 600px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 3px -1px #53585f;
	-webkit-box-shadow: 0px 0px 3px -1px #53585f;
	-moz-box-shadow: 0px 0px 3px -1px #53585f;
    }
    .genresList {
        height:120px; /* 40px - more place for scrollbar, is hidden under parent box */
        padding:5px;
        white-space:nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling:touch;
        position: relative;
    }
    .genreItem {
        display:inline-block;
        width:90px;
        height:50px;
        line-height:50px;
        text-align:center;
    }
    .genreItemImage {
        margin: 0 auto;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        padding: 2px;
        border: 1px solid #00ff00;
    }
    .selectedGenre{
        border: 2.5px solid #005493 !important;
    }
    .genreItemImage:hover{
        border: 2.5px solid #005493 !important;
    }
    .genreItemImage > div{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .genresContainer p{
        line-height: 23px;
        font-size: 12px;
        font-weight: bold;
        color:black
    }
    .genreBox .genreItem{
        width: 25%;
    }
    .genresContainer.genreBox {
        height: 130px;
        border: 1px solid #e6e9eb;
        box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
        margin-bottom: 0px;
    }

    #top_genre_box .genreBox{
        margin-bottom: 10px!important;
        margin-top: 0px!important;
    }

    #header_genre_box .genreBox{
        margin-top: 0px!important;
        height: 135px!important;
        padding-top: 5px !important;
        max-width: 590px;
        margin: 0 auto;
        border-top:none;
    }


        .arrow-icon-cnt{
        width: 32px;
        height: 100%;
        border-radius: 50%;
        text-align: center;
        padding: 5px;
    }
    .dare-icons-cnt{
        padding: 5px;
        font-size: 14px;
        color: black;
    }

    @media screen and (min-width: 640px) {
        .genresContainerOuter{
            height: 113px;
        }
        #dummygenresContainerOuter{
            height: 138px;
        }
        .genresContainer {
            height: 108px;
        }
        .genresList {
            height:128px;
        }
        .genreItem {
            width:107px;
            height:58px;
            line-height:58px;
        }
        .genreItemImage {
            width: 72px;
            height: 72px;
        }
        .genreBox .genreItem{
            width: 20% !important;
        }


    }
    @media screen and (max-width: 640px) {
        .genreItem {
            width: 23%;
        }
        .user-suggestion-card{
            padding: 10px 20px !important;
            padding-bottom: 15px;
        }
        .genreBox .genreItem{
             width: 18% !important;
         }
    }
     @media screen and (min-width: 360px) and (max-width: 410px){
         .genreItem {
             width: 23%
         }
         .popular .genreItem{
             width:19%;
         }
         .genreItemImage {
            width: 68px;
            height: 68px;
        }
         .popular .genreItemImage{
             width:60px;
             height:60px;
         }
         .dare-icons-cnt{
             font-size: 12px;
         }
          .genreBox .genreItem{
             width: 18% !important;
         }
         .genreBox .genreItemImage{
             width: 62px;
             height: 62px;
         }
    }
    @media screen and (min-width: 411px) and (max-width: 480px){
        .genreItem {
             width: 22%;
         }
         .genreItemImage {
            width: 72px;
            height: 72px;
        }
         .genreBox .genreItem{
             width: 18% !important;
         }

          .popular .genreItemImage{
             width:64px;
             height:64px;
         }
           .popular .genreItem{
               width:19%
         }
    }

sup{
    vertical-align: super;
    font-size: smaller;
}

    .explore-header-bottom{
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        width: 100%;
        padding: 5px;
        background-color: #f0f0f0;
        z-index: 100;
    }
    .explore-header-bottom div > div{
        width: 49.5%;
        display: inline-block;
        margin: auto;
        text-align: center;
    }
    .explore-header-top > div:first-child{
        width: 70%;
    }
    .explore-header-top > div:last-child{
        width:30%;
        text-align: right;

    }

    .explore-header-bottom p{
        font-size: 11.5px;
        margin: auto;
    }
    .explore-btn {
        /*border: 1px solid #007ad5;*/
        color: #007ad5;
        font-weight: bold;
        background-color: #FFFFFF;
        width: calc(50% - 3px);
    }
    .explore-btn.active {
        color: #fff;
        background-color: #005493;
        /*background: -webkit-radial-gradient(#ec5d57, #e45650); !* Safari 5.1 to 6.0 *!*/
        /*background: -o-radial-gradient(#ec5d57, #e45650); !* For Opera 11.6 to 12.0 *!*/
        /*background: -moz-radial-gradient(#ec5d57, #e45650); !* For Firefox 3.6 to 15 *!*/
        /*background: radial-gradient(#ec5d57, #e45650); !* Standard syntax (must be last) *!*/
    }


.source-list {
    border-radius: 3px;
    background: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: auto;
    width: 300px;
    display: inline-flex;
    padding: 10px;
}

.source-list li {
    border-left: 1px solid #ddd;
    flex: 1;
    text-align: center;
}

.source-list li:nth-child(1) {
    border-left: none;
}

.source-list li img {
    height: 20px;
    vertical-align: middle;
    display: block;
    margin: 2px auto;
}

.source-list li span {
    font-size: 12px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.chat-border {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 }

@keyframes blinker {
  50% { opacity: 0; }
}

    .user-suggestion-card{
        width: 100%;
        background-color: #fff;
        margin-bottom: 3px;
        /*border-radius: 2px;*/
        padding: 10px 30px;
        padding-bottom: 15px;
    }

    .wrapper {
        width: 33%;
        max-width: 120px;
        border-radius: 5px;
        /* whatever width you want */
        display: inline-block;
        position: relative;
    }
    .wrapper:after {
        padding-top: 100%;
        /* 16:9 ratio */
        display: block;
        content: '';
    }
    .imageCover {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        /* fill parent */
        background-color: deepskyblue;
        /* let's see it! */
        color: white;
    }

    .left-arrow {
        border: solid currentColor;
        border-width: 0 .2em .2em 0;
        display: inline-block;
        padding: .30em;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        font-size: 17px;
    }

    .message-body {
        max-width: 600px;
        width: 100%;
        /*height: 100%;*/
        /*margin-top: 45px;*/
        /*position: absolute;*/
        overflow-y: scroll;
        position: absolute;
        top: 55px;
        bottom: 45px;
    }

    .chat-user-avatar-small{
       width:30px;
       height: 30px;
       border-radius: 50%
    }

    .indiv-msg {
        width:calc(100% - 120px);
        min-height: 30px;
        /*-webkit-box-shadow: inset 0 0 1px #000000;*/
        /*-moz-box-shadow: inset 0 0 1px #000000;*/
        /*box-shadow: inset 0 0 1px #000000;*/
        border-radius: 3px;
        padding: 6px 10px;
        color: black;
        /*overflow:none;*/
        /*display: inline-block;*/
    }



    /*Ionic Grid Classes*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%; }

.row-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row + .row {
  padding-top: 0; }

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%; }

/* Vertically Align Columns */
/* .row-* vertically aligns every .col in the .row */
.row-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.row-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.row-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.row-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }

.row-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline; }

/* .col-* vertically aligns an individual .col */
.col-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.col-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

/* Column Offsets */
.col-offset-10 {
  margin-left: 10%; }

.col-offset-20 {
  margin-left: 20%; }

.col-offset-25 {
  margin-left: 25%; }

.col-offset-33, .col-offset-34 {
  margin-left: 33.3333%; }

.col-offset-50 {
  margin-left: 50%; }

.col-offset-66, .col-offset-67 {
  margin-left: 66.6666%; }

.col-offset-75 {
  margin-left: 75%; }

.col-offset-80 {
  margin-left: 80%; }

.col-offset-90 {
  margin-left: 90%; }

/* Explicit Column Percent Sizes */
/* By default each grid column will evenly distribute */
/* across the grid. However, you can specify individual */
/* columns to take up a certain size of the available area */
.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%; }

.col-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-33, .col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }

.col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-66, .col-67 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.6666%;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }

.col-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%; }

.col-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%; }

/* Responsive Grid Classes */
/* Adding a class of responsive-X to a row */
/* will trigger the flex-direction to */
/* change to column and add some margin */
/* to any columns in the row for clearity */
@media (max-width: 567px) {
  .responsive-sm {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .responsive-sm .col, .responsive-sm .col-10, .responsive-sm .col-20, .responsive-sm .col-25, .responsive-sm .col-33, .responsive-sm .col-34, .responsive-sm .col-50, .responsive-sm .col-66, .responsive-sm .col-67, .responsive-sm .col-75, .responsive-sm .col-80, .responsive-sm .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 15px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

@media (max-width: 767px) {
  .responsive-md {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .responsive-md .col, .responsive-md .col-10, .responsive-md .col-20, .responsive-md .col-25, .responsive-md .col-33, .responsive-md .col-34, .responsive-md .col-50, .responsive-md .col-66, .responsive-md .col-67, .responsive-md .col-75, .responsive-md .col-80, .responsive-md .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 15px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

@media (max-width: 1023px) {
  .responsive-lg {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .responsive-lg .col, .responsive-lg .col-10, .responsive-lg .col-20, .responsive-lg .col-25, .responsive-lg .col-33, .responsive-lg .col-34, .responsive-lg .col-50, .responsive-lg .col-66, .responsive-lg .col-67, .responsive-lg .col-75, .responsive-lg .col-80, .responsive-lg .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 15px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

.speaker {
  height: 30px;
  width: 30px;
  /*position: relative;*/
  overflow: hidden;
  display: inline-block;
    opacity: .9;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.speaker span {
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 11px 0 0 2px;
}
.speaker span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}
.speaker span:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-style: double;
  border-color: #fff;
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 9px;
  transition: all 0.2s ease-out;
}
.speaker:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.speaker.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}
    .right-arrow{
    border: solid currentColor;
    border-width: 0 .3em .3em 0;
    display: inline-block;
    padding: .70em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }

    .help-card{
        background: #FFFEDC;
        padding: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .help-card > p{
        line-height: 18px;
        margin-top: 10px;
        color : #009193;
        margin-bottom: 3px;
    }



    .swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height; }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px; }

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

/* Cube */
.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1; }


.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

ion-slides {
  width: 100%;
  height: 100%;
  display: block; }

.slide-zoom {
  display: block;
  width: 100%;
  text-align: center; }

.swiper-container {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden; }

.swiper-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0; }

.swiper-slide {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* Center slide text vertically */ }
  .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

  .scroll-refresher {
  position: absolute;
  top: -60px;
  right: 0;
  left: 0;
  overflow: hidden;
  margin: auto;
  height: 60px; }
  .scroll-refresher .ionic-refresher-content {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    color: #666666;
    text-align: center;
    font-size: 30px; }
    .scroll-refresher .ionic-refresher-content .text-refreshing,
    .scroll-refresher .ionic-refresher-content .text-pulling {
      font-size: 16px;
      line-height: 16px; }
    .scroll-refresher .ionic-refresher-content.ionic-refresher-with-text {
      bottom: 10px; }
  .scroll-refresher .icon-refreshing,
  .scroll-refresher .icon-pulling {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .scroll-refresher .icon-pulling {
    -webkit-animation-name: refresh-spin-back;
    animation-name: refresh-spin-back;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg); }
  .scroll-refresher .icon-refreshing,
  .scroll-refresher .text-refreshing {
    display: none; }
  .scroll-refresher .icon-refreshing {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s; }
  .scroll-refresher.active .icon-pulling:not(.pulling-rotation-disabled) {
    -webkit-animation-name: refresh-spin;
    animation-name: refresh-spin;
    -webkit-transform: translate3d(0, 0, 0) rotate(-180deg);
    transform: translate3d(0, 0, 0) rotate(-180deg); }
  .scroll-refresher.active.refreshing {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
    .scroll-refresher.active.refreshing .icon-pulling,
    .scroll-refresher.active.refreshing .text-pulling {
      display: none; }
    .scroll-refresher.active.refreshing .icon-refreshing,
    .scroll-refresher.active.refreshing .text-refreshing {
      display: block; }
    .scroll-refresher.active.refreshing.refreshing-tail {
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0); }

.overflow-scroll > .scroll {
  -webkit-overflow-scrolling: touch;
  width: 100%; }
  .overflow-scroll > .scroll.overscroll {
    position: fixed;
    right: 0;
    left: 0; }

  /*.scroll-content {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*overflow: hidden;*/
  /*margin-top: -1px;*/
  /*padding-top: 1px;*/
  /*margin-bottom: -1px;*/
  /*width: auto;*/
  /*height: auto; }*/

.disable-user-behavior {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -ms-touch-action: none;
  -ms-content-zooming: none; }
  .overflow-scroll .scroll {
    position: static;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0); }

  .list {
      position: relative;
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 0;
      margin-bottom: 20px;
  }

.overflow-scroll.padding > .scroll.overscroll {
  padding: 10px; }




.scroll {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

@-webkit-keyframes refresh-spin {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg); } }

@keyframes refresh-spin {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(180deg); } }

@-webkit-keyframes refresh-spin-back {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg); }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0); } }

@keyframes refresh-spin-back {
  0% {
    transform: translate3d(0, 0, 0) rotate(180deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(0); } }

/*!***/
 /** Spinners*/
 /** --------------------------------------------------*/
 /**!*/
/*.spinner {*/
  /*stroke: #444;*/
  /*fill: #444; }*/
  /*.spinner svg {*/
    /*width: 28px;*/
    /*height: 28px; }*/
  /*.spinner.spinner-light {*/
    /*stroke: #fff;*/
    /*fill: #fff; }*/
  /*.spinner.spinner-stable {*/
    /*stroke: #f8f8f8;*/
    /*fill: #f8f8f8; }*/
  /*.spinner.spinner-positive {*/
    /*stroke: #387ef5;*/
    /*fill: #387ef5; }*/
  /*.spinner.spinner-calm {*/
    /*stroke: #11c1f3;*/
    /*fill: #11c1f3; }*/
  /*.spinner.spinner-balanced {*/
    /*stroke: #33cd5f;*/
    /*fill: #33cd5f; }*/
  /*.spinner.spinner-assertive {*/
    /*stroke: #ef473a;*/
    /*fill: #ef473a; }*/
  /*.spinner.spinner-energized {*/
    /*stroke: #ffc900;*/
    /*fill: #ffc900; }*/
  /*.spinner.spinner-royal {*/
    /*stroke: #886aea;*/
    /*fill: #886aea; }*/
  /*.spinner.spinner-dark {*/
    /*stroke: #444;*/
    /*fill: #444; }*/

/*.spinner-android {*/
  /*stroke: #4b8bf4; }*/

/*.spinner-ios,*/
/*.spinner-ios-small {*/
  /*stroke: #69717d; }*/

/*.spinner-spiral .stop1 {*/
  /*stop-color: #fff;*/
  /*stop-opacity: 0; }*/

/*.spinner-spiral.spinner-light .stop1 {*/
  /*stop-color: #444; }*/

/*.spinner-spiral.spinner-light .stop2 {*/
  /*stop-color: #fff; }*/

/*.spinner-spiral.spinner-stable .stop2 {*/
  /*stop-color: #f8f8f8; }*/

/*.spinner-spiral.spinner-positive .stop2 {*/
  /*stop-color: #387ef5; }*/

/*.spinner-spiral.spinner-calm .stop2 {*/
  /*stop-color: #11c1f3; }*/

/*.spinner-spiral.spinner-balanced .stop2 {*/
  /*stop-color: #33cd5f; }*/

/*.spinner-spiral.spinner-assertive .stop2 {*/
  /*stop-color: #ef473a; }*/

/*.spinner-spiral.spinner-energized .stop2 {*/
  /*stop-color: #ffc900; }*/

/*.spinner-spiral.spinner-royal .stop2 {*/
  /*stop-color: #886aea; }*/

/*.spinner-spiral.spinner-dark .stop2 {*/
  /*stop-color: #444; }*/


.invisible{
    visibility: hidden;
}

.ion-android-arrow-down:before {
  content: "\2193"; }

.taggedUser{
    font-weight: normal !important;
        color: #0365C0 !important;
    text-decoration: none !important;
}

.popup-header{
    background: white;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid darkgray;
}
.popup-back-arrow{
    color: grey;
    /* padding-left: 5px; */
    font-size: 17px;
    line-height: 45px;
    width: 44px;
    text-align: center;
    height: 45px;
    position: absolute;
    z-index: 1;
}

.user-info textarea{
		height: 50px;
		padding: 3px;
		border-color: rgb(221, 221, 221);
		border-radius: 2px;
		font-size: 12.34px;
		resize: none;
		width: 100%;
	}
	.user-info textarea::-webkit-input-placeholder{
        color:#A6AAA9 !important;
    }
	.user-bio-text{
		color: #666666;
    font-size: 12.34px;
    line-height: 17px;
    margin-top: 5px;
    padding-right: 5px;
		max-height: 51px;
		overflow: hidden;
	}

    .popup-header-new{
        width: 100%;
        height: 45px;
        text-align: center;
        position: fixed;
        z-index: 999999;
    }
    .popup-header-new.white{
        background-color: white;
        border-bottom: 1px solid darkgray;
    }

    .popup-header-new.blue{
        background: linear-gradient(#005493, #002545);
    }

    .popup-header-new.grey{
       background:#f0f0f0;
    }

    .popup-back-new{
		font-size: 17px;
		line-height: 45px;
		width: 44px;
		text-align: center;
		height: 45px;
		position: absolute;
		z-index: 1;
    }
    .popup-header-new.blue .popup-back-new{
         color: white;
    }
    .popup-header-new.white .popup-back-new{
         color: grey;
    }
    .popup-header-new p{
        font-weight: bold;
        font-size: 16px;
    }
    .popup-header-new.blue p{
        color: white;
    }
    .popup-header-new.white p{
        color:black;
    }


    @keyframes fadein{
        0% { opacity:0; }
        66% { opacity:0; }
        100% { opacity:1;}
    }

    @-webkit-keyframes fadein{
        0% { opacity:0;}
        66% { opacity:0; }
        100% { opacity:1;}
    }
    .help-text{
        color: #E4FDC2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 23px;
        /* min-height: 250px; */
        /* padding: 30px 40px; */
        line-height: 27px;
        /* margin-top: 5px; */
        width: 250px;
        margin: 0 auto;
        font-weight: 500;
    }
    .okay-btn{
        width: 62px;
        height: 30px;
        font-size: 17px;
        background: #E4FDC2;
        color: black;
        border-radius: 3px;
    }
    .curv-arrow{
        margin: 24px 0;
        font-weight: 500;
        font-size: 84px;
        font-size: 8.25rem;
        color: #E4FDC2;
    }
    .pointing-top{
        position: absolute;
        left: 25px;
        top: 20px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .pointing-down{
        position: absolute;
        left: 20px;
        top:20px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .help-text-box{
        -webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
        animation: 0.5s ease 0s normal forwards 1 fadein;
        width: 100%;
        padding: 0 5px;
        position: absolute;

        z-index: 999;
    }
        .follow-button{
        width: 90px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        border-radius: 3px;
        position: absolute;
        right: 0;
        top: 5px;
    }
    .follow-button.following{
        border: none;
        font-size: 12px;
        color:#90949c;
    }
    .follow-button p{
        line-height: 30px;
    }


    .profile-header-top input, .new-header input{
        height: 32px;
        border: none !important;
        border-radius: 3px !important;
        font-size: 14px;
        padding: 10px;
        width: calc(100% - 38px);
        background-color:rgb(240,240,240);
        color:black;
    }



    .cross-cnt{
    padding: 10px;
    position: absolute;
    right: 50px;
    top: -2px;
    text-align: center;
    padding-right: 0;
    }
    .cross-cnt .cross-icon{
    background: lightgrey;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    }

    .user-search-input::-webkit-input-placeholder{
        color:grey !important;
    }
    .dare-search-input::-webkit-input-placeholder{
        color:grey !important;
    }

    .search-button{
        width: 40px;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #f0f0f0;
        padding: 3px 0;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        /*border-left: 1px solid #ddd;*/
    }
    .search-option{
        width: 120px;
        text-align: center;
        padding: 13px;
        /*height: calc(100% + 1px);*/
    }

    .search-option.selected{
        color:black;
        border-bottom: 2px solid black;
    }
    .search-option.selected p{
        /*font-weight: bold;*/
    }

    .search-option p{

    }
    .play-icon-dummy-chat{
        width: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 9px solid white;
        position: absolute;
        bottom: 7px;
        left: 7px;
        height: 10px !important;
        opacity: 0.8;
    }
    @keyframes placeHolderShimmer{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }

    .animated-background {
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #f0f0f0 8%, #dddddd 18%, #f0f0f0 33%);
        position: relative;
    }
    .template-line{
        height: 6px;
        border-radius:3px;
        background-color: #f0f0f0;
    }
    .template-box{
        background-color: #f0f0f0;
    }