.sti-pop-header h2 {
}

.create-frame-popup .padding-cnt {
	margin-top: 22.22px;
}

.create-frame-popup input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.add-stich-popup .padding-cnt {
	margin-top: 22.22px;
}

.create-frame-popup .dropdown-cnt > div, .search-cnt > div{
	display: inline-block;
}

.create-frame-btn-cnt {
	position: relative;
	height: 27.55px;
	margin-bottom: 16.88px;
}

.add-stich-popup .padding-cnt {
	margin-top: 22.22px;
}

.add-stich-popup .dropdown-cnt > div, .search-cnt > div {
	display: inline-block;
}

.search-cnt{
	height: 42px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 9999999;
    opacity:1;
	display: none;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow-y: auto;
}

.body-overlay{
	font-size: 15px;
    line-height: 1.4;
    -webkit-animation: fadeIn 180ms ease-out 0s 1 normal;
    -o-animation: fadeIn 180ms ease-out 0s 1 normal;
    animation: fadeIn 180ms ease-out 0s 1 normal;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    opacity: 0.75;
    bottom: 0%;
}

.modalDialog.target, .modal.target  {
    /*opacity:1;*/
	display: block;
    pointer-events: auto;
}

.modalDialog > div:not(.exclude) {
	position: relative;
    margin: 0 auto;
    background: #fff;
    /*border: 1px solid #cb0000;*/
    outline: none !important; 
}

.create-frame-success-error-cnt > div {
	height: 100%;
	width: 100%;
	background-color: #f0f0f0;
	overflow: auto;
}
.create-frame-success-error-cnt > div::-webkit-scrollbar{
	width: 0px;
	background-color: transparent;
}
.create-frame-success-error-cnt > div::-webkit-scrollbar-thumb{
	width: 0px;
	background-color: transparent;
}
.create-frame-success-error-cnt > div::-webkit-scrollbar-track{
	width: 0px;
	background-color: transparent;
}
.create-frame-success-error-cnt .or-seperator{

}
.create-frame-success-error-cnt .or-seperator p{
	font-size: 11px;
}
.create-frame-success-error-cnt .recommended-frames-cnt{
	margin: 0 auto;
	width: 300px;
}
@media screen and (max-width: 480px){
	.create-frame-success-error-cnt .recommended-frames-cnt{
		margin: 0 auto;
		width: 240px;
	}
}
.create-frame-success-error-cnt .add-stich-cnt {
	float: right;
}

.create-frame-success-error-cnt .add-stich-cnt button {
	width: 99.55px;
}

.create-frame-success-error-cnt > div > * {
	/*display: table-cell;*/
	vertical-align: middle;
}

.create-frame-success-error-cnt p {
	padding-left: 13.77px;
    font-size: 12.34px;
    letter-spacing: 0.2px;
    color: #53585f;
    word-break: break-all;
}

.create-frame-success-error-cnt .add-stich-cnt {
	margin: 13.77px;
}

.success-message-cnt {
	height: 10px;
	overflow: hidden;
}

.success-message span {
	font-weight: bold;
}

.error {
	border: 1px solid red !important;
}

.frame-stich-cnt {
	display: none;
}

.create-frame-popup > div {
    width: 51.06%;
    max-width: 653px;
    min-width: 490px;
    margin-top: 70px;
    height: auto;
    margin-bottom: 50px;
}
.add-stich-popup > div {
    width: 29.86%;
    max-width: 382px;
    min-width: 300px;
    margin-top: 133px;
    height: auto;
    margin-bottom: 50px;
}

.select-frame-popup > div {
    width: 27.22%;
    max-width: 347px;
    min-width: 300px;
    margin-top: 77px;
    height: auto;
    margin-bottom: 50px;
}

.select-frame-popup.restich > div, .select-frame-popup.addstich > div {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin : 0px !important;
    height: 100%;
	background: #fff;
	overflow: auto;
}
.select-frame-popup.restich > div::-webkit-scrollbar-thumb{
	width: 0px !important;
}
.select-frame-popup.restich > div::-webkit-scrollbar-thumb{
	background-color: transparent;
	border: none !important;
}
.select-frame-popup.restich > div::-webkit-scrollbar-track{
	background-color: transparent;
	border: none !important;
}
.restich-view-header{
	background-color: #fff;
}
.restich-view-header .popup-title{
	float: none;
	margin-left: 0px !important;
}
.restich-view-header .close-popup{
	margin-top: 24.5px !important;
}
.select-frame-popup-body{
	height:auto;
	background-color: #f0f0f0;
}
.select-frame-body #frameNameSearch{
	border: 1px solid rgba(0,0,0,0.2) !important;
}
/*.search-contacts-popup > div{*/
	/*width: 341.33px;*/
    /*margin-top: 133px;*/
    /*height: 532.88px;*/
/*}*/

.pending-dot{
	position: absolute;
	top: 12px;
	right: -8px;
	width:5px;
	height:5px;
	border-radius: 2.5px;
	background-color: #cb0000;
}
.header-search-contacts{
	margin: 0 auto;
}
/*.stich-view-popup>div{*/
	/*width: 79.78%;*/
	/*max-width: 1020px ;*/
	/*min-width: 940px;*/
    /*!*margin-top: 40px;*!*/
    /*!*margin-bottom:40px;*!*/
    /*min-height: 550px;*/
	/*max-height:550px;*/
	/*height:550px;*/
	/*border:0;*/
	/*background: #ffffff;*/
/*}*/
.desc-cnt textarea, .search-input-cnt input, .name-cnt input, .mode-dropdown-cnt select, .cat-dropdown-cnt select {
	width: 100%;
}

.sti-popup input[type="text"], .sti-popup select {
	line-height: 34.66px;
}

.search-sticher-input {
	color: #53585f;
	letter-spacing: 0.2px;
	border: 1px solid #797979;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
}

.sti-popup input[type="text"] {
	height: 34.66px;
}

.sti-popup select, .search-input-cnt input[type="text"] {
	height: 26.66px;
	line-height: 26.66px;
}

.sti-popup input[type], .sti-popup select, .desc-cnt textarea {
	color: #53585f;
    letter-spacing: 0.2px;
    border: 1px solid #797979 !important;
    font-size: 14.34px;
    padding-left: 8px !important;
    padding-right: 8px !important;
}


.desc-cnt {
	height: 20.92%;
}

.desc-cnt textarea {
	height: 100%;
	resize: none;
	padding-top: 5px;
}

.cat-dropdown-cnt {
	width: 60.48%;
}

.mode-dropdown-cnt {
	width: 34.7%;
	float: right;
}

.search-input-cnt {
	float: left;
	width: 100%;
}

.add-stichers-cnt {
	height: 118px;
    overflow-y: auto;
    margin-top: 29.77px;
    min-width: 100%;
}

.added-stichers-cnt-var {
	float: right;
}

.added-stichers-cnt-var > div {
	float: right;
	display: inline-block;
}

div.first-added-sticher-cnt {
	display: inline-block;
	float: left;
}

.added-sticher-cnt {
	display: inline-block;
	margin-right: 16.44px;
	width: 40px;
}

.search-cnt .user-name {
	height: 0;
	max-width: 40px;
	white-space: nowrap;
	font-size: 9.87px;
	font-weight: normal;
}

.added-stichers-cnt-fixed .user-image, .added-stichers-cnt-var .user-image {
	width: 30.22px;
	height: 30.22px;
}

.add-stichers-cnt .user-image {
	float: left;
	margin-left: 4.88px;
}

.added-stichers-cnt-fixed {
	float: right;
}

.added-stichers-overflow {
	line-height: 100%;
	height: 100%;
	display: none;
	padding-top: 26px;
	padding-left: 4px;
	color: #53585f;
}

.add-sticher-cnt {
	width: 50%;
	display: inline-block;
	white-space: nowrap;
	margin-bottom: 10px;
}

.add-sticher-cnt .select-sticher-btn-cnt {
	position: absolute;
    right: 5%;
    top: 7px;
    padding-left: 5px;
}

.create-frame-popup .user-name-cnt  {
	width: 45.8%;
	display: inline-block;
	padding-left: 15.55px;
	height: 100%;
}

.sti-pop-header {
	height: 52.88px;
	text-align: center;
}

.sti-pop-header h2 {
	display: inline-block;
	margin-top: 25.77px;
	color: #53585f;
    font-weight: bold;
    font-size: 15.81px;
    letter-spacing: 0.2px;
}


.sti-pop-header.left-title h2 {
	float: left;
	margin-left: 25px;
}

.sti-pop-body {
	height: auto;
	padding: 0 21.33px 0 21.33px;
}

.sti-pop-body .horiz-wrapper{
	height: 40px;
    position: absolute;
    border-top-color: rgba(0,0,0,0.01);
    left: 1px;
    right: 1px;
    bottom: 10px;
	font-size:8px;
}
.horiz-wrapper li{
	display:inline-block;
	position: absolute;
	top:20%;
	margin-top: 9px;
}
.horiz-wrapper .terms-cnt{
	left: 20px;
	font-size: 13.34px;
}
.horiz-wrapper .privacy-cnt{
	left: 44%;font-size: 13.34px;
}
.horiz-wrapper .career-cnt{
	right: 18px;font-size: 13.34px;
}
.create-frame-btn {
	float: right;
	background: #c7c7c7;
	background: linear-gradient(#c8c8c8, #a0a0a0);
	color: #2e2e2e;
    font-weight: bold;
    font-size: 12.81px;
    letter-spacing: 0.2px;
    width: 67.55px;
    height: 27.55px;
}

.add-sticher-cnt {
	height: 51.11px;
	-webkit-overflow-scrolling: touch;
}

.add-sticher-cnt > div {
	height: 100%;
    padding-top: 5px;
    width: 100%;
}

.add-sticher-cnt > div:hover {
    /*background-color: #c8c8c8;*/
}

.add-sticher-cnt > div:hover .select-sticher-btn-cnt {
	display: block;
}

.add-sticher-cnt .user-name {
	width: 100%;
	font-weight: normal;
	font-size: 12.34px;
}

.select-sticher-btn-cnt {
	float: right;
	width: auto;
	display: none;
}

.select-sticher-btn {
	margin-top: 9.22px;
	width: 53.33px;
	height: 22.66px;
}

.close-popup {
	float: right;
    margin: 24.22px 20.77px 0 0;
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: #53585f;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 13px;
    box-shadow: none;
    width: 16.88px;
}

.popup-back {
	display: none;
}

.select-choice-dropdown > option:first-child {
	display: none;
	font-size: 9.87px;
}

span.deleteicon {
    position: absolute;
  height:200px
}
span.deleteicon span {
    position: absolute;
    display: block;
    top: 5px;
  	right: 6px;
    width: 16px;
    height: 15px;
    background: url('http://www.pramodandpreeya.com/guestbook/imgs/del.gif') 0 -6px;
    cursor: pointer;
}

/*find stichers*/
.add-stichers-popup > div {
	width: 52%;
    max-width: 671px;
    min-width: 490px;
    max-height: 628px;
    margin-top: 70px;
    height: auto;
    margin-bottom: 50px;
}

.sticher-details div {
	display: inline-block;
	vertical-align: top;
}

.sticher-details p {
	display: table-cell;
	vertical-align: middle;
}

.add-stichers-popup .user-frames {
	width: 47%;
	text-align: justify;
	margin-left: 32.40%;
}

.add-stichers-popup .user-frame {
	font-size: 8.65px;
}

.add-stichers-popup .user-image {
	height: 56.88px;
	width: 56.88px;
	/*margin-left: 9.33px;*/
	margin-right: 6.33px;
}

.add-stichers-popup .user-name-cnt {
	width: 78.66px;
	overflow: hidden;
}

.add-stichers-popup .user-name {
	height: 56px;
	font-size: 11.11px;
}

.add-stichers-popup .frame-img-cnt {
	width: 45.77px;
	height: 45.77px;
}

.search-sticher-input {
	width: 100%;
	height: 25.33px;
}

.sticher-details .user-frame-cnt span {
	display: block;
	font-size: 8.64px;
	margin-top: 6.44px;
	text-align: center;
	font-weight: bold;
	color: #53585f;
	width: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.add-stichers-popup .user-details-cnt {
	width: 87%;
	position: relative;
	height: 70.66px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.add-stichers-popup .rec-stichers {
	height: 83.66px;
	padding-top: 13.33px;
}

.add-stichers-popup div.rec-stichers:hover {
    background-color: #c8c8c8;
}

.add-stichers-popup .sticher-details {
	height: 56.875px;
    padding-bottom: 13.77px;
    box-sizing: content-box;
}

.add-stichers-popup .follow-button-cnt {
	margin-top: 16.77px;
}

.add-stichers-popup .follow-button-cnt button {
	width: 50.66px;
}

.add-stichers-popup button.following-btn {
	width: 60.66px;
}

.recommended-stichers-cnt, .matching-stichers-cnt {
	overflow: auto;
	height: auto;
	margin-top: 3.11px;
}

.recommended-stichers-cnt {
	margin-top: 16.11px;
}

.matching-stichers-cnt {
	max-height: 251.97px;
}

.add-stichers-body {
	height: 487px;
}

.add-stichers-body h2, .find-stichers-body h2{
	margin-top: 42.77px;
	font-size: 12.34px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
	font-weight: bold;
	color: #53585f;
}

/*find stichers end*/


/*find frames*/
.find-frames-popup > div {
	width: 52%;
    max-width: 671px;
    min-width: 490px;
    max-height: 628px;
    margin-top: 70px;
    height: 628px;
    margin-bottom: 50px;
}

.find-frames-popup  .main-image-wrapper {
	width: 100%;
}

.find-frames-popup  .main-image-wrapper img {
	width: 100%;
    min-height: 112.44px;
}

.find-frames-popup .a-card:hover .hover-content {
	opacity: 0;
}

.find-frames-popup .main-content, .find-frames-popup .hover-content {
	margin-right: 12.44px;
	margin-left: 12.44px;
	margin-top: 11.11px;
}

.find-frames-popup .frame-content .stich-number p {
    width: auto;
    padding: 0 4px 0 4px;
    display: table;
    text-align: center;
    margin: 0 auto;
}

/*.find-frames-popup .popup-frames-cnt {*/
	/*overflow: auto;*/
	/*overflow-x: hidden;*/
    /*position: relative;*/
/*}*/

/*.find-frames-popup .frame-content {*/
	/*height: 179.11px;*/
    /*width: 170.66px;*/
    /*background-image: url('../images/frame-outline-white.png');*/
/*}*/

.find-frames-popup .matching-frames-cnt {
	height: 214.55px;
	margin-top: 32.88px;
}

.find-frames-popup .recommended-frames-cnt {
    height: 471.55px;
    margin-top: 28.88px;
}

.find-frames-popup div.frameName-wrapper {
	text-align: center;
	width: 100%;
}

.find-frames-popup div.frames-stiches-wrapper {
	display: none;
}

.find-frames-popup .frame-name {
	font-size: 9.88px;
}

.find-frames-popup .follow-btn {
	width: 50.66px;
	height: 19.11px;
}

.find-frames-popup .following-btn {
	height: 19.11px;
}

.sti-pop-body .following-btn {
	width: 60.66px;
}

.find-frames-popup div.frame-content .stich-number p span {
	    margin-top: 6px;
}

.find-frames-popup .header {
	font-size: 14.66px;
}

/*find frames end*/


/*find contacts*/
.add-contact-cnt {
    width: 90%;
    display: block;
    white-space: nowrap;
    margin: 0 auto;
    height: 72px;
}

.add-contact-cnt > div {
	height: 100%;
    padding-top: 15px;
    width: 100%;
}

.add-contact-cnt > div:hover {
    /*background-color: #c8c8c8;*/
}

.add-contact-cnt > div:hover .search-contacts-btn-cnt {
	display: block;
}

.add-contact-cnt .user-name {
	width: 100%;
	font-weight: normal;
	font-size: 12.34px;
}

.add-contact-cnt .search-contacts-btn-cnt {
	position: absolute;
    right: 5%;
    top: 7px;
    padding-left: 5px;
}

.add-contact-cnt .user-name-cnt  {
	width: 53.8%;
	display: inline-block;
	padding-left: 15.55px;
	height: 100%;
	margin-top: 15px;
	outline: none;
}

.search-contacts-popup .contacts-cnt {
	height: 77%;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 25px;
	margin-bottom: 80px;
	outline: none;
}

.request-sent-btn{
	display: none;
}

.search-contact-input {
	width: 100%;
	height: 3vh;
	min-height:28px
}

.search-contacts-header h2 {
	padding: 0 3px 3px 3px;
    border-bottom: 1px solid red;
}
/*find contacts end*/

.popup-title {
	float: left;
	margin-left: 21.33px;
}

.flexible-input{
	overflow: hidden;
}
/*login*/
.login-popup p, .login-popup span {
	color: #313131;
	font-size: 14.81px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
}

p.already-registered {
	color: rgb(255,0,0);
	font-size: 13px;
	letter-spacing: 0.2px;
}

p.error-msg {
	padding: 3px;
	text-align: left;
	height: 24px;
	font-size: 13px;
	color: rgb(255,0,0);
}

p.error-msg span{
	font-size: 13px;
	color: rgb(255,0,0);
}

.login-popup {
	text-align: center;
}

.login-popup button {
	height: 32px;
	border-radius: 3px;
}

.login-popup input[type="text"], .login-popup input[type="password"], .login-popup input[type="email"] {
	width: 100%;
	height: 26.22px;
	line-height: 26.22px;
	border-radius: 3px !important;
	-webkit-appearance: none !important;
}

.login-popup > div {
	width: 70.97%;
    max-width: 908.44px;
    min-width: 681px;
    height: 550px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    border: none;
}

.login-popup > div > div {
	background: #fff;
	opacity: 0.9;
	padding:0 19.11px 0 19.11px;
	position: absolute;
    top: 50%;
    width: 31.55%;
	right: 6.36%;
	display: none;
}

.login-popup .sign-in-cnt {
    height: auto;
    /*margin-top: -166.67px;*/
    display: none;
}

.actions-cnt {
	margin-top: 25px;
}

.sign-in-cnt .actions-cnt {

}

.sti-name-logo {
	font-size: 35.75px !important;
	font-family: MyHelvetica !important;
	font-weight: bolder !important;
	letter-spacing: 5.2px !important;
}

.login-popup .sti-name-logo{
	color: #024177 !important;
}
.login-popup .info-text {
	margin-top: 3px;
    font-size: 13px;
    color: #024177 !important;
}

.seperator-cnt {
	position: relative;
	text-align: left;
	margin-top: 28.44px;
}

.seperator-cnt span {
	position: absolute;
    top: -7px;
    width: 58.88px;
    left: 50%;
    display: inline-block;
    text-align: center;
    margin-left: -29.44px;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
	color : #53585f;
}

.sign-in-cnt {

}

.intro-text-cnt {
	margin-top: 21.33px;
}

.fields-cnt {
	margin-top: 30.66px;
}

.additional-actions-cnt {
	margin-bottom: 26.66px;
}

.additional-actions-cnt span {
	font-size: 8.64px;
}

.additional-actions-cnt .forgot-pass {
	float: left;
}

.additional-actions-cnt .keep-logged {
	float: right;
}

.additional-actions-cnt input[type="checkbox"] {
	float: right;
	margin-top: -2px;
	margin-bottom: 0;
	margin-right: 4px;
}

.external-login-cnt {
	text-align: center;
}

.external-login-cnt > div {
	min-width: 102.65px;
	max-width: 170.47px;
	/*width: 102.65px;*/
	text-align: justify;
	display: inline-block;
}

.external-login-cnt img {
	min-height: 39.55px !important;
	min-width: 39.55px !important;
	max-height: 60px !important;
	max-width: 60px !important;
	/*height: 39.55px;
	width:39.55px;*/
	display: inline-block;
}

.external-login-cnt img:first-child {
	float: left;
}

.external-login-cnt img:last-child {
	float: right;
}

.action-btns-cnt {
	clear: both;
    bottom: -12px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

p.terms-and-conditions {
	margin-top: 28.44px;
	color: #313131;
	font-size: 7.40px;
	margin-bottom: 17.33px;
}

p.terms-and-conditions a{
	color: #313131;
	text-decoration: underline;
}

.password-bar-cnt {
	clear: both;
	height: 5px;
	position: relative;
	border: 1px solid #000;
}

.password-bar {
	position: absolute;
    height: 100%;
    background-color: #53585f;
}

.password-words {
	margin-top: 4.88px;
	margin-bottom: 14px;
}

.password-words p {
	font-size: 7.11px;
}

.password-words p:first-child {
	float: left;
}
.password-words p:nth-child(2) {
	padding-left: 8px;
}

.password-words p:last-child {
	float: right;
}

.password-cnt {
	border: 1px solid #797979;
	position: relative;
    height: 28.22px;
	border-radius: 3px !important;
}

.password-cnt .password-info {
	display: inline-block;
	padding-top: 0px;
	position: absolute;
	top: 4.5px;
}

/*sign up*/
.sign-up-gender{
	text-align:left;
	margin-bottom:15px;
}
.sign-up-gender span{
	font-size: 9.88px;
	font-family: Helvetica;
}
.login-popup .sign-up-cnt {
    height: 448.44px;
    margin-top: -224.22px;
    display: none;
}

.login-popup .sign-up-cnt .actions-cnt {
	margin-top: 40px;
}

.login-popup .sign-up-cnt .input-password {
	/*margin-top: 7.11px;*/
}

.login-popup .password-cnt .input-password {
	/*width: 89%;*/
    border: none !important;
    padding-left: 0;
    outline: none;
    margin-top: 0;
    /* float: left; */
    /*margin-left: -14px;*/
}

.login-popup .password-cnt button {
	background: none;
    background: url("../images/i_icon_login_grey.png") 0px 0px no-repeat;
    color: #000;
    height: 18px;
    width: 18px;
    box-shadow: none;
    background-size: contain;
}

.sign-up-success-cnt {
	display: none;
	margin-top: 82.22px;
}

.sign-up-success-cnt span {
	font-size: 17.44px;
	color: #cb0000;
}

.sign-up-success-cnt >div:last-child{
	margin-top: 23.11px;
}

.login-popup .forgot-pass-cnt, .login-popup .reset-pass-cnt {
	height: 332px;
    margin-top: -166px;
    display: inline-block;
}

.forgot-pass-cnt .fields-cnt {
	text-align: left;
}

.forgot-pass-cnt .fields-cnt p:first-child {
	margin-bottom: 10.66px;
	font-size: 12.34px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
}

.forgot-pass-cnt .action-btns-cnt, .reset-pass-cnt .action-btns-cnt {
	margin-top: 20.44px;
}

.reset-link-cnt, .reset-success-cnt {
	display: none;
	margin-top: 44.44px;
}

.reset-link-cnt span, .reset-success-cnt span {
	font-size: 12.34px;
}
/*login end*/



.add-stich-body input[type="text"] {

	line-height: 27.55px;
	width: 100%;
	height: 27.55px;
}

.select-frame-body input[type="text"] {

	line-height: 26.22px;
	width: 100%;
	height: 35px;
}

.upload-cnt button, .weblink-cnt button {
	width: 70.22px;
	float:right;
	margin-left: 21.33px;
}

.browser-button-cnt{
	width: 100%;
	text-align: center;
	margin-bottom: 102.22px;
}

.browser-button-cnt button {
	width: 74.17%;
}

.add-stich-popup hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

.add-stich-body {
	margin-top: 35px;
}


.scrape-images-popup.modalDialog{

}

.modalDialog.login-popup{
	z-index: 9999999999;
}

.scrape-images-popup.modalDialog > div {
	border:0;
}

.scrape-images-popup{
	background: #f0f0f0;
}

/*.login-popup .loading-div {
	right: 55px;
}*/


.success-message {
	-webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 16px;
    height: auto;
    max-height: 35px;
}

.scrape-images-popup.modalDialog > div{
	background: #f0f0f0;
}

.createNewFrameText{
	color: #c82506;
	font-size: 13px;
	font-family: Helvetica;
	letter-spacing: 0.2px;
	font-weight: bold;
	margin-top: 20px;
	width:156px;
	margin-bottom: 20px;
}

.frame-list-body{
	height: 338px;
	/*margin-bottom: 29.77px;*/
	overflow: auto;
	overflow-x: hidden;
    position: relative;
	padding-right: 5px;
	-webkit-overflow-scrolling: touch;
}
.frame-list-body .frame-name{
	max-width: none !important;
}
.frame-list-body::-webkit-scrollbar-track{
	border-left: 2.45px solid #f0f0f0;
	border-right: 2.45px solid #f0f0f0;
}
.select-frame-body .frame-info{
	/*height : 84.88px;*/
}

.frame-images-cnt{
	margin-top:7.11px;
	/*width:100px;*/
	/*height:67.66px;*/
	overflow-y:hidden;
	display: inline-block;
	float: left;
	margin-right: 30px;
}
.rec-frame-name-cnt{
	position: absolute;
	margin-top: 83px;
}
.rec-frame-name{
	font-size: 13px !important;
	font-weight: bold;
	padding: 0px !important;
	margin: 0px !important;
	word-break: normal !important;
	max-width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media screen and (max-width: 480px){
	.create-frame-success-error-cnt .frame-images-cnt{
		width:60px;
		height:40px;
		margin-left: 19.55px;
		margin-bottom: 7.11px;
	}
	.rec-frame-name-cnt {
		position: absolute;
		margin-top: 45px;
	}

	.rec-frame-name {
		font-size: 11px !important;
		font-weight: bold;
	}
}
.bottom-cnt .frame-images-cnt{
	width:66px;
	height:44px;
	margin-left: 19.55px;
	margin-bottom: 7.11px;
}

.create-frame-success-error-cnt.stich-added-cnt p{
	/*padding-left: 31.55px;*/
	/*padding-right: 31.55px;*/
}

.frame-images-cnt img{
	height: auto;
}


.frame-images-cnt .main-img{
	/*width:66.66px;*/
	height:auto;
	float: left;
	/*min-height: 100%; !* streching the image, to be removed *!*/
}

@media screen and (max-width: 480px){
	.create-frame-success-error-cnt .frame-images-cnt .main-img{
		width:40px;
	}
	.create-frame-success-error-cnt .frame-images-cnt .small-img-cnt{
		width:20px;
		height:20px;
	}
}
@media screen and (min-width: 481px){
	.create-frame-success-error-cnt .frame-images-cnt .main-img{
		width:66.66px;
	}
	.create-frame-success-error-cnt .frame-images-cnt .small-img-cnt{
		width:33.33px;
		height:33.33px;
	}
}
.stich-view-popup .bottom-cnt .frame-images-cnt .main-img{
	width:44px
}

.frame-images-cnt .small-img-cnt{
	float: right;
	overflow: hidden;
	padding-left: 1px;
}

.after-stich-added{
	width : auto;
	display: inline-block;
	float: right;
	margin-bottom:20px;
}

.frame-cover-image-wrapper{
	width:223.11px;
	overflow: hidden;
	display: inline-block;
	float: left;
	margin-bottom:20px;

}

.frame-cover-image{
	width: 243px;
	height: auto;
}

.stich-view-popup .bottom-cnt .frame-images-cnt .small-img-cnt{
	width:22px;
	height:22px;
}

.small-img{
	width:100%;
	height: auto;
	min-height: 100%; /* streching the image, to be removed */
}

.create-frame-success-error-cnt .small-img{
	width: 20px;
}

.select-frame-body .frame-name{
    /* display: inline-block; */
    float: none;
    /*margin-top: 21px;*/
    /* height: 100%; */
    vertical-align: top;
    white-space: nowrap;
	padding-left: 0px;
	line-height: 14.34px;
}
.select-frame-body hr{
	margin : 0;
	width: 100%;
}

.select-frame-body .frame-name-cnt{
	width : 52%;
	float: left;
	text-align: left;
	height: 82px;
	padding-right: 5px;

}
.frame-name-cnt{
	margin-top: -9px;
}


.frame-name-cnt{
	/*margin-top: -9px;*/
}
@media screen and (orientation: landscape){
	.select-frame-body .frame-name-cnt{
		width: 60%;
	}
}
.select-frame-body{
	margin-top: 15px;
	padding: 0px 20px;
}
@media screen and (orientation: landscape){
	.select-frame-body{
		padding-right: 40px;
	}
}
.select-frame-popup .popup-title{
	margin-left : 32.44px;
}

/*.select-frame-body .frame-info:hover {*/
    /*background-color: #c8c8c8;*/
/*}*/

.stich-btn-cnt{
	/*position: absolute;*/
	width : 100%;
	float: right;
	/*bottom:30px;*/
	display: block;
	padding-top: 15px;
}
/*.select-frame-body .frame-info:hover .stich-btn-cnt {*/
	/*display: block;*/

/*}*/

/*.select-frame-body .frame-info:hover .frame-name {*/
	/*margin-top : 22px;*/

/*}*/

.select-frame-body button{
	height:24.44px;
	width :64.88px;
}

.create-frame-popup.after-stiching .create-frame-header{
	float : right;
}

.create-frame-popup.after-stiching h2{
	float:left;
}

.after-stiching .search-input-cnt{
	margin-bottom: 20px;
}

.scrape-images-popup .stich-description-wrapper{
	max-height: 100px;
}

.scrape-images-popup .stich-description{
	min-height: 43.5px;
	max-height: 86px;
	height: auto;
	margin-bottom: 5px;
	overflow: auto;

}

.stich-view-popup .main-img-wrapper{
	width :50%;
	height : 100%;
	overflow:hidden;
	float: left;
	background: white;
	position: relative;
	display: table;
}
.stich-view-popup .main-image-cnt{
	display: table-cell;
	vertical-align: middle;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -10px;
	height: auto;

}

.stich-view-popup .main-img-wrapper .main-image{
	width: 100%;
	height: auto;
	display: block;
}

.stich-view-popup .stich-info-cnt{
	width:50%;
	float: right;
	height: 550px;
	background: white;
	padding-left: 46.22px;
	padding-right: 46.22px;
	padding-top:5px
}


/*.stich-view-popup .stich-hover-cnt{*/
	/*opacity: 1;*/
	/*width : 100%;*/
	/*height:auto;*/
/*}*/

.stich-view-popup .upper-cnt{
	height: 48.88px;

}

.stich-view-popup .user-image{
	margin-top: 5px;
    width: 36.11px;
    height: 36.11px;
	display: inline-block;
}

.stich-view-popup .bottom-cnt{
	height: 72.88px;
	top : 444px;
}

.stich-view-popup .frame-images-cnt {
	margin-top: 14.66px;
}
.stich-view-popup .user-name{
	display: inline-block;


}

.stich-view-popup .upper-cnt button{
	width:74.22px;
	height:31.11px;
	font-size:14px;
}


.stich-view-popup .stich-hover-cnt .upper-cnt .like-img{
	width: 31.11px;
	height:auto;
}

.stich-view-popup .stich-hover-cnt .upper-cnt .share-icon{
    float: right;
    width: 24.44px;
    height: 31px;
    margin-top: 10px;
    margin-right: 26.66px;
}


.stich-view-popup .user-name-cnt {
	display: inline-block;

}

.stich-view-popup .userInfo{
	height:47px;
}

.stich-view-popup .user-name{
	padding-left: 10px;
	height:47px;
	font-size: 12.81px;
	margin-top: 10px;
}

/*.stich-view-popup .stich-description-wrapper {*/
	/*padding-left: 0;*/
	/*padding-right: 0;*/
	/*max-height: 42px;*/
/*}*/

/*.stich-view-popup .stich-description{*/
	/*padding: 0;*/
	/*-webkit-line-clamp: 2;*/
	/*word-break: normal;*/
	/*padding-right: 10px;*/
/*}*/

/*.stich-view-popup .stich-icons-cnt{*/
	/*margin-left: 0;*/
	/*margin-top: 10px;*/
	/*margin-bottom: 0;*/
	/*height: 15px;*/
/*}*/

.stich-view-popup .own-comment-section{
	height :58px;
	padding-left: 10px;
}

.stich-view-popup .own-comment-section .user-image{
	width: 33.11px;
	height: 33.11px;
	float: left;
}

.stich-view-popup .own-comment-section .comment-box{
	width:100%;
	margin-left: 64px;
}

.stich-view-popup .search-box-wrapper{
	height: 40.44px;

}
.stich-view-popup .comment-list-body .frame-info{
	height: 62.88px;
}

.stich-view-popup .search-box {
		padding-left: 10px;
	margin-top: 5px;
}

.stich-view-popup .comment-list-body{
	height: 130px;
	/*overflow: auto;*/
	overflow: hidden;
	overflow-x: hidden;
    position: relative;
	margin-top: 10px;
}

.stich-view-popup .stich-frame-info{
	display: inline-block;
	margin-left: 20px;

}

.stich-view-popup .bottom-cnt .user-name {
	vertical-align: middle;
    font-weight: normal;
    font-size: 12px;
	display: block;
	text-overflow: ellipsis;
	max-width: 100%;
	margin-top: 30px;

}

.stich-view-popup .bottom-cnt .user-name span {
	font-weight: bold;
	color : #53585f;

}
.stich-view-popup .bottom-cnt .user-name-cnt{
	width: 50%;
	white-space: nowrap;
	overflow: hidden;

}

.stich-view-popup .bottom-cnt .url-wrapper{
	position: absolute;
    width: 31%;
    height: auto;
    padding-top: 49.44px;
    padding-right: 16px;
}

.stich-view-popup .select-options{
	position: absolute;
	top : 26.66px;
	right:26.66px;
	width: 14.66px;
}

.stich-view-popup .arrow-icon{
	position: absolute;
    width: 18.22px;
    top: 50%;
}

.stich-view-popup .arrow-icon.left-icon{
    left: -44.44px;
}

.stich-view-popup .arrow-icon.right-icon{
    right: -44.44px;

}

.stich-view-popup .cross-icon {
	position: absolute;
	width: 18px;
    top: -24px;
    right: -45px;
}

.stich-view-popup {
	background: rgba(0,0,0,0.7);
}

.stich-view-popup .main-img-wrapper{
	background: black;
}

.stich-view-popup .upper-cnt, .stich-view-popup .bottom-cnt{
	background-color: rgba(255,255,255,0.8);
}

.stich-view-popup .comment-list-body hr{
	margin-left: 65px;
}


.stich-view-popup .comment-list-body .user-image{
	float: left;
	margin-top: 10px;
	height: 0;
}

.stich-view-popup .comment-list-body .user-image img{
	margin-left: 10px;
	height: 33.11px;
	width: 33.11px;
}
.comment-list-body .frame-name-cnt{
	display: inline-block;
    margin-left: 10px;
	/*overflow-y: auto;*/
    overflow: hidden;
    /* height: 72.88px; */
    line-height: 19.8px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden !important;
	/*position: fixed;*/
	/*padding-right: 15px;*/
	/*width: 100%;*/
}


.media-selection-popup{
	height: 100vh!important;
}

.stop-scrolling1{
	position: fixed;
	width: 100%;
	  height: 100%;
  overflow: hidden !important;
}

.no-scroll{
	position: fixed !important;
	width: 100%;
}

.stich-view-popup textarea {
    width:100%;
    resize:none;
    overflow:hidden;
    font-size:12px;
	color: #53585f;
	/*height:30px;*/
	height:auto ;
    /*height:1.1em;*/
    padding:5px;
	height:auto;
	border:1px solid #CCCCCC
}

.stich-view-popup .search-box-wrapper, .stich-view-popup .search-box, .stich-view-popup .own-comment-section{
	height: auto;
}

.stich-view-popup .search-box {
	margin-top: 10px;
	line-height:normal;
}

.stich-view-popup .frame-name-cnt{
	width:100%;
	margin-left : 47px;
	overflow: hidden;
}

.frame-name-cnt .stich-description{
	margin-left: 10px;
	margin-top: 3px;
	word-break: normal;
}

.stich-view-popup .search-box {
	margin-top : 5px;
}

.stich-view-popup .frame-name.through{
	/*margin-top : 10px;*/
	padding-left: 0;
	line-height: normal;
	font-size: 10px;
}

.stich-view-popup .frame-name.rltdtext{
	margin-top : 8px;
	padding-left: 0;
	line-height: normal;
	font-size: 11px;
	position: absolute;
	bottom: 100px;
}


textarea:focus, input:focus{
    outline: none;
}

#commentbox{
	height: 26px;
}

.comments-section{
	overflow: hidden;
	height:auto;
}

.stich-view-popup .stich-info-cnt .frame-images-cnt {
	margin-top:5px;
}

.rel-stich-image-cnt{
	width : 88px;
	height: 88px;
	margin-right: 23px;
	overflow: hidden;
	display: inline-block;
}

.rel-stich-image-cnt img{
	width : 100%;
	height: auto;
	min-height: 100%;
}
.relStichesCnt-wrapper{
	margin-top: 25px;
	width: 110%;
}
.relStichesCnt {
	display: inline-block;
	margin-top: 10px;
}
.stich-view-popup .relStichesCnt-wrapper .arrow-icon.left-icon{
	left:51%;
	bottom:39px;
	width :12px;

}
.stich-view-popup .relStichesCnt-wrapper .arrow-icon.right-icon{
	right : 2%;
	bottom:39px;
	width :12px;

}
.stich-view-popup .user-name.see-all-comments{
	height:auto;
	width: 120px;
	display: inline-block;
	font-weight: normal;
	font-size: 9.81px;
	max-width: 200px;
	text-align: right;
	margin-top: 10px;
	float: right;
	margin-right: 5px;
}

.stich-view-popup .comment-list-body hr{
	    float: right;
	margin: 2px;
    /* margin-left: 65px; */
    width: 87%;
}

.options-menu{
	position: absolute;
		top : 36.66px;
	right:26.66px;
	width: 100px;
	height: auto;
	border: 1px solid #cb0000;
	display: none;
	font-size:12px;
	color: #53585f;
	padding: 5px;
	background: white;

}

.options-menu div{
	padding: 5px;
}

.options-menu div:hover{
	background-color: #c8c8c8;
}

.parent-frame-info{
	position: absolute;
    bottom: 94px;
}
.parent-frame-info .user-name-cnt{
	position: absolute;
	left:103px;
    margin-top: 22px;
	width: 100%;
	max-width: 300px;
}


.parent-frame-info .user-name-cnt .user-name{
	max-width: 300px;
	margin-top: 25px;
	font-size:12px;
	color: #53585f;
	font-weight: normal;
	width: 300px;
}

.parent-frame-info .user-name-cnt .user-name span {
	font-weight: bold;
	color: #53585f;
}

.comment-list-body .text-cnt{
	padding-right: 54px;
}

.comment-list-body .text-cnt .frame-name{
	font-size:11.34px;
    margin-right: 0px;
    padding-right: 10px;
}
.comment-list-body .frame-name span {


}


.comment_time {
	max-width: 65%;
	float: right;
	font-weight: normal;
	height:20px;
	font-size: 10.34px;
    font-family: Helvetica;
	color: #53585f;
	width: 17%;
    /*margin-top: 8px;*/
	text-align: right;
	/*margin-right: 5px*/
}

.delete-comment-cross{
    width: 10px;
    height: 10px;
    /* position: absolute; */
    /* margin-left: 135px; */
    margin-top: 6px;
	margin-left: 10px;
    /* display: none; */
	/*display: none;*/
	float: right;
	display: none;

}

.frame-info:hover .delete-comment-cross{
	display: block;

}

.frame-name.comment {
	max-width: 60%;
}

.confirm-delete > div {
	height: 52.88px;
    width: 40.51%;
    min-width: 467.3px;
    max-width: 500px;
    top: 183px;
    position: absolute;
    margin-left: 32.75%;
    display: table;
    padding-bottom: 0;
}

.confirm-delete .success-message p{
	padding-left: 21.55px;
    padding-right: 21.55px;
}

.confirm-delete button {
	    width: 70px;
    margin-left: 20px;
}

.modalDialog.confirm-delete {
	background: rgba(0,0,0,.3);
}

.select-image-link {
	text-align: center;
    width: 222px;
    color: white;
    position: absolute;
    top: 232px;
	font-size: 10.34px;
    font-family: Helvetica;
	background-color: 	rgba(0,0,0,0.5);
	height: 17px;
    padding: 3px;
}

.restich-image-description-cnt{
	width:100%;
	float:left;
	height: auto;
	display: inline-block;
	/*padding : 20px 35px 0px 35px;*/
	padding: 7% 15% 3px 15%;
	font-size: 11.34px;
    font-family: Helvetica;

}
/*@media screen and (min-width: 900px)*/
/*{*/
	/*.restich-image-description-cnt{*/
	    /*width: 100%;*/
    /*float: left;*/
    /*height: auto;*/
    /*display: inline-block;*/
    /*padding: 20px 35px 0px 35px;*/
    /*font-size: 11.34px;*/
    /*font-family: Helvetica;*/
    /*max-width: 50%;*/
    /*max-height: 50%;*/
		/*margin:0;*/
/*}*/
	/*.restich-text-area {*/
    /*padding: 0px 0px;*/
    /*margin-top: 10px;*/
    /*width: 100%;*/
    /*-webkit-transition: padding linear 100ms;*/
/*}*/
/*}*/
.restich-image-description-cnt::-webkit-scrollbar{
	width: 0px !important;
}
.restich-msg-cnt{
	text-align: center;
	display: block !important;
	position:relative;
	width: 64%;
	margin: 0 auto;
}
.restich-msg-cnt p{
	padding-left: 0px !important;
}
.restich-image-description-cnt p {
	/*font-weight: bold;*/
	/*margin-top:21px;*/
	/*margin-bottom: 10px;*/
	color: #53585f;

}
.restich-image-description-cnt .stich-description{
	font-size: 11px !important;
	padding: 0px !important;
	transition: max-height 500ms linear;
	-webkit-transition: max-height 500ms linear;
}
.restich-image-description-cnt .morelink{
	/*background-color: #f0f0f0;*/
}
.restich-image-description-cnt .more-description-popup{
	width: 85%;
	font-size: 11px;
}
.restich-image-description-cnt textarea {
	margin-top: 10px;
	padding-top: 5px;
}

.select-frame-cnt{
	width: 100%;
	height : auto;
	display: inline-block;
	overflow: hidden;
}

.restich-image-wrapper{
	width : 100%;
	height: auto;
	overflow: auto;
	margin-bottom: 5px;
	-webkit-overflow-scrolling: touch;

}
.restich-image-wrapper::-webkit-scrollbar-thumb{
	background-color: transparent;
	border: none !important;
}
.restich-image-wrapper::-webkit-scrollbar-track{
	background-color: transparent;
	border: none !important;
}


.restich-image-wrapper img{
	width:100%;
	height:auto;

}
.restich-main-btn-cnt{
	text-align: center;
}
@media screen and (orientation: landscape){
	.restich-main-btn-cnt{
		padding-bottom: 20px;
	}
}
.restich-main-btn-cnt button{
	width: auto;
	height: 25px;
	margin-bottom: 5px;
	padding: 0px 5px;
}



.restich-image-description-cnt textarea{
	height: 80px;
	width: 100%;
	resize: none;
	border : 1px solid #cbcbcb;
}
.restich-text-area{
	padding: 0px 35px;
	margin-top: 0px;
	-webkit-transition: padding linear 100ms;
}
.popup-back.go-back{
	position: absolute;
    width: 15px;
    height: 20px;
    top: 22px;
    right: 44px;
	background-repeat: no-repeat;
	display: block;
}
.normal-frame2 .frame-content .frameName-wrapper{
	width: 70%;
}
.normal-frame2 .frame-content .frames-stiches-wrapper{
	width: 23%;
}
.normal-frame2 .frame-content .frames-stiches-wrapper > div{
	display: block !important;
	margin-top: 25%;
	margin-left: 3px;
	width: 56%;
	height: 50%;
}
.frame-added-page .entity-share-icon-red{
	/*opacity: 0 !important;*/
	/*pointer-events: none !important;*/
}
.stich-view-popup .spam-icon{
	width: 29px;
    height: 29px;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 9.5px;
}
/*.stich-view-popup .spam-icon:hover{*/
	/*background-image: url("../images/Spam_Icon_Red.png");*/
/*}*/

.add-stich-body .flexible-input {
	height:27.55px;
}

/* Edit Profile */
.edit-profile-popup > div {
    width: 382.22px;
    height: 492.44px;
    margin-top: 75.77px;
}
.edit-profile-password{}
.edit-info-cnt .user-name-cnt {
	display: inline-block;
}

.edit-info-cnt .user-name-cnt {
	margin-left: 48px;
}


.edit-profile-popup .info-label, .edit-profile-popup .info-value {
	display: inline-block;
}

.edit-profile-popup .info-label {
	width: 89.77px;
}

.select-frames-cnt {
	height: 155.55px;
	overflow: auto;
}

.single-frame-cnt {
	display: inline-block;
	width: 106px;
	font-size: 12.34px;
}

.edit-profile-popup .delete-frame-btn {
	float: right;
}

.edit-profile-popup hr {
	margin: 0;
}

.edit-profile-popup span, .edit-profile-popup p {
	color: #53585f;
}

.edit-info-cnt span {
	font-size: 12.34px;
    display: inline-block;
    margin-left: 8px;
}

.edit-profile-popup .info-label {
	color: #53585f;
    font-weight: bold;
    font-size: 14.81px;
}

/* Edit Pofile End */
.search-contacts-popup{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999999;
	/*background: #fff;*/
	/*overflow-y: hidden;*/
	overflow-x: hidden;
	outline:none;
}
.share-popup {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
	z-index: 999999;
	background: #fff;
	overflow-y: scroll;
}



.share-popup > hr {
	margin-top: 0px;
	width: 95%;
	margin-bottom: 15px;
}

.share-popup > form {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 5vh;
	line-height: 32px;
}

.share-popup > form > div > .search-input-cnt {
	width: 100% !important;
}

.search-share-cnt {
	height: 40px;
}

.search-share-cnt > .clear_input_div > .clear_input {
	top: 6px !important;
	right: 10px;
    left: initial !important;
}

.send-share {
	text-align: right;
	width: 95%;
	height: 37px;
	margin-bottom: 5px;
}

.send-share > button {
	height: 24px;
	width: 69.5px;
}

.share-sticher-cnt {
	width: 100%;
	margin: 0px;
}
.share-confirm-emoticon {
    width: 20px;
    top: 0px;
}

.share-confirm-send {
    height: 20px;
    width: 80%;
    bottom: 0px;
}

.share-confirm-send, .share-confirm-emoticon {
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
}
/*@media screen and (min-width: 720px) {*/
    .share-sticher-cnt {
		height: 48px;
	}
	.share-name {
		line-height: 48px !important;
	}
/*}*/

/*@media screen and (max-width: 720px) and (min-width: 320px) {
    .share-sticher-cnt {
		height: 15vw;
	}
	.share-mob-cnt {
		height: 64vw;
	}
	.share-name {
		line-height: 15vw !important;
	}
}*/

.share-footer {
	    position: relative;
    left: 3%;
	margin: 8px;
}

.share-sticher-cnt > div:hover {
	background-color: #fff;
}
.share-mob-cnt {
    min-width: initial;
    width: 90%;
    margin-bottom: 30px;
    top: 153px;
    left: 0px;
    right: 0px;
	height: auto;
    margin: 0 auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	max-height: 60%;
}

@media (orientation: landscape) {
	.share-mob-cnt {
		width: 90%;
	}

	.send-share{
		margin-bottom: 20px;
	}
}

.share-sticher-cnt > hr {
	margin: 0px;
	margin-left: 30px;
	/*margin-right: 10px;*/
}

.inner-share-cnt{
	display: flex;
	position: relative;
	padding-top: 0px !important;
}

.share-img-avatar {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	margin-left: 35px !important;
}

.share-user-name {
	margin-left: 90px;
}

.share-checkbox {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	margin-left: 0px;
	height: 18px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*background-color: #fafafa;*/
	/*border: 1px solid #cacece;*/
	display: inline-block;
}


.or-seperator {
	margin-top: 0px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-weight: bold;
	font-size: 15px;
	font-family: Helvetica;
    letter-spacing: 0.2px;
    color: #53585f;
	margin-bottom: 30px;
}
.or-seperator > p {
	padding: 0px 10px 0px 10px;
	display: inline-block;
}

.strike {
	border-bottom: 0.5px solid #c5c9ce;
	height: 10px;
	width: 20%;
	display: inline-block;
	margin-bottom: 3px;
}

.share-btns {
	display: block;
	margin: 0 auto;
}

.share-btn-img {
	height: 40px;
}

.share-btns-wrapper{
	width: 130px;
	display: block;
	margin: 0 auto;
}

.shareweblink {
	height: 291.33px;
	display: block !important;
}

.weblink {
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-bottom: 15px;
}

.weblink input {
	width: 100%;
	height: 24px;
	margin-top: 60px;
	margin-bottom: 15px;
	padding: 15px;
}

.shareweblink .action-buttons {
	text-align: center;
}

.action-buttons button {
	width: 72px;
	height: 25px !important;
}

.back-btn {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 40px;
	margin-left: 15px !important;
	padding: 10px;
}

.header-contributors-popup > button {
	margin-top: 15px !important;
	margin-right: 5%;
}

.tooltip {
  position: relative;
}


.tooltip span {
  font-family: helvetica;
  background: #FFF;
  color: #000;
  font-size: .8em;
  bottom: 100%;
  display: block;
  left: -20px;
  opacity: 0;
  padding: 4px 10px;
  margin-bottom: 13px;
  margin-left: 30px;
  pointer-events: none;
  position: absolute;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #C5C5C5;
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
.search-contact-input-cnt{
	height:40px;
}
.search-contact-button {
	width:90px !important;
	right: 8px;
    position: absolute;
    top: 23px;
	margin-top:0px!important;
}
.search-contact-hr{
	margin-top: 0px;
	margin-bottom:0px
}
.rejectTick {
	margin-bottom: 10px;
	margin-left: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
    right: 5%;
	top:28px
}
.acceptTick{
	margin-bottom: 10px;
	margin-left: 10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
    right: 5%;
    margin-right: 55px;
	top:28px;
}
.loading-div-small{
	height: 40px !important;
	width: 40px !important;
	margin: 0 auto !important;
	position: static !important;
	display:none;
	margin-top: 10px !important;
}
.invite{
	padding-left: 10px;
}
.invite > button {
	position: absolute;
	margin-right: 10px;
	width : 50px;
	top : 12px;
	right: 10px;
	height:22.66px
}
.invite .invite-sent{
	width: 60px;
}
.invite > p{
	position: absolute;
	width: 100%;
    font-weight: normal;
    font-size: 13.34px;
	color: #53585f;
	padding-top: 6px;
	margin-left: 50px;
	padding-left: 10px;
	top:30px;
}
.comma-seperated{
	color:#cb0000;
	font-weight: bold;
}
.crossIcon{     /* crossIcon in contacts*/
	position: absolute;
    top: 16px;
    right: 6px;
	font-size: 10px;
    height: 45px;
    width: 37px;
    padding: 10px;
}
.contact-name{
	margin-top: 1px !important;
}
.categories_name{
	position: absolute;
    height: 19px;
    max-width: 50%;
    font-weight: normal;
    font-size: 11px;
    color: #58535f;
    top: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.categories_name p{
    float: left;
    font-size: 12px;
    max-width: 30%;
    overflow: hidden;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media screen and (min-width: 415px){
	.add-contact-cnt .user-name-cnt {
    width: 73.8%;
    display: inline-block;
    padding-left: 15.55px;
    height: 100%;
    margin-top: 15px;
}
	.categories_name{
	position: absolute;
    height: 15px;
    max-width: 62%;
    font-weight: normal;
    font-size: 11px;
    color: #58535f;
	top:45px;
		overflow: hidden;
		white-space: nowrap;
      text-overflow: ellipsis;
}
	.categories_name p{
	float:left;
	max-width: 30%;;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
}
@media screen and (min-width: 700px){
	.add-contact-cnt .user-name-cnt {
    width: 73.8%;
    display: inline-block;
    padding-left: 15.55px;
    height: 100%;
    margin-top: 15px;
}
	.categories_name{
	position: absolute;
    height: 15px;
    max-width: 70%;
    font-weight: normal;
    font-size: 11px;
    color: #58535f;
	top:45px;
		overflow: hidden;
		white-space: nowrap;
      text-overflow: ellipsis;
}.categories_name p{
	float:left;
	max-width: 150px;;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
}
.share_categories_name{
	position: absolute;
    height: 15px;
    width: 100%;
    font-weight: normal;
    font-size: 11px;
    color: #58535f;
	top:45px;
}
.share_categories_name p{
	float:left;
	max-width: 35%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.noCategory{
	padding-top: 10px !important;
}
.request-sent{
	color:#cb0000;
	font-size:11px;
	padding-top: 5px;
	padding-left: 10px;
}
.search-contact-name{
	font-weight:bold !important;
	font-size:13.34px !important;
}
.comma-seperated{
	float:left;
	margin-left:-3px;
	margin-right: 4px;
}

.chat-rejectTick {
	margin-bottom: 20px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 30px;

}

.chat-acceptTick {
	width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    margin-right: 30px;
    top: 30px;
}
.remove-from-share-list{
    height: 10px;
    width: 10px;
    top: -4px;
    position: absolute;
}
.remove-from-share-list1{
	height: 12px;
    width: 12px;
}

.share-confirm-popup {
    display: none;
}
.to-share-list{
    display: block;
    width: 86%;
    margin: 0 auto;
}

.to-share-list > p{
    display: inline-block;
    font-size: 10.81px;
    color: #53585f;
    padding: 5px;
    margin: 0px 4px 0px 4px;
    /*font-weight: bold;*/
    position:relative;
	    background-color: #f0f0f0;

}
.to-share-list1 > p{
	font-size: 12.81px;
	margin: 2px 5px;
}

.share-profile-cnt {
    width: 280px;
    margin: 50px auto;
    display:flex
}
.share-confirm-popup-footer {
    margin: 10px auto;
    width: 280px;
    margin-bottom: 20px;
}

.share-confirm-popup-footer > textarea{
    display: inline-block;
    resize: none;
    height: 50px;
    width: 75%;
}

.share-confirm-popup-footer > div {
    display: inline-block;
    height: 50px;
    width: 23%;
    position:relative;
}

.share-confirm-title {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 80%;
    margin: auto;
}
.share-link-title {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 80%;
    margin: auto;
}
.back-to-main-share{
    display:none;
    height: 15px;
    width: 15px;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}
.share-profile-img {
    display: inline-block;
    height: 80px;
    width: 80px;
}

.share-profile-details{
    display: inline-block;
    height: 80px;
    width: 190px;
    font-size: 10.34px;
    padding-left: 20px;
}
.frameShare {
	margin: 0 auto;
    width: 280px;
    height: 289px;
    margin-top: 10px;
}
.stichShare{
	margin: 0 auto;
    width: 280px;
    height: 289px;
    margin-top: 10px;
}
/*.share-frame-border {*/
    /*background-image: url(../images/frame-outline-white.png);*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*position: relative;*/
    /*margin-bottom: 10px !important;*/
/*}*/

.share-frame-border > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: 90%;
    width: 90%;
}
.share-stich-cnt > div {
    margin: 0 auto;
    width: 280px;
    height: 289px;
    margin-top: 10px;
}

.share-stich-cnt > p{
    margin: 0 auto;
    width: 280px;
    max-width: none;
    padding: 5px 0px 5px 0px;
    float: none;
	overflow: hidden;
}
.normal-frame2 .frame-name{
	font-size: 9px !important;
}
@media screen and (min-width: 414px){
	.edit-profile-popup .info-label {
		font-size: 5px;
	}
}
.notif-icon{
	position: absolute;
    top: 4px;
    /* right: 15px; */
    /* font-size: 24px; */
    background-color: #cb0000;
    width: 8px;
    height: 8px;
    /* border-radius: 1px; */
    /* border: 1px solid; */
    border-radius: 50%;
}
.notif-icon-friend{
	right: 25%;
}

#loadingicondareupload{
	top: -29px;
    width: 86px;
    position: absolute;
	    left: 0;
    margin-left: 0;
}

/*.video-slot{*/
	/*display: none;*/
/*}*/

.admin-dare-popup .video-slot{
	display: block;
}

.dare-view-popup .video-slot{
	display: block;
}